[2017-07-02 19:19] ffox77 opened #1 "Error during webpack build"
Module not found: Error: Cannot resolve module 'history/lib/createHashHistory' in Projects/neo-electron-wallet/app
 @ ./app/index.js 48:24-64

[2017-07-03 18:17] localhuman commented on #1
I ran into the same problem when running an older version of node, you'll need to upgrade!  We're currently running the LTS version 6.11.0

[2017-07-13 08:30] Ejhfast commented on #1
Closed on #2

[2017-07-13 08:30] #1 closed

[2017-07-25 18:38] canesin opened #9 "Contacts phone book"
We need a contacts list on the wallet (I need it, too many people with hash strings) ..

A MVP should support for "alias", "name", "email" and "accounts" (as one have multiple accounts) with tags for identifying usage of each contact account, like "new year party"  "COZ" or "work".

[2017-07-25 23:54] Ejhfast commented on #9
This can be the first thing we add after we give the wallet the ability to persist user state

[2017-07-25 23:56] Ejhfast opened #10 "Add multiple accounts"
Allow user account model with multiple addresses / private keys

[2017-07-27 18:36] canesin opened #11 "update ANS and ANC references"
Example:
https://github.com/CityOfZion/neon-wallet/blob/master/app/actions/index.js#L26

I see this in many places on the API for sending transactions itself, does this need the RCP nodes to adopt 2.0 before ? Low priority on this, as user facing can just show whatever you want.

[2017-07-27 20:15] Ejhfast commented on #11
yes, this is important to iron out. we are already showing Neo and Gas on the frontend, but making sure underlying API remains compatible is critical. most of the important bits are encapsulated in JS SDK component

[2017-07-31 11:11] j4zz opened #20 "test cases for primary functionality"
Is there a reason there are no test cases for this project yet? Especially since this project is a wallet, I would have expected to find some test cases to ensure its correct functionality, at least for `/wallet/index.js`. Not wanting to sound indignant, just asking for reasons.

[2017-07-31 15:12] canesin commented on #20
@j4zz you are right and wrong, all your comments would be right if the file was not pulled from: https://github.com/CityOfZion/neon-js .. that has the testing in place ;)

[2017-07-31 15:12] #20 closed

[2017-07-31 15:23] j4zz commented on #20
In that case, shouldn’t `neon-js` be packaged up and used here, instead of copying files? Sorry if I’m being obnoxious, just being inquisitive to understand the project’s choices.

[2017-07-31 15:31] canesin commented on #20
Now you can open another issue: It should, is just that things are moving really fast and development was done in one place and moved to other.. if you want to PR I`m sure Ethan is ok with receiving your help.

[2017-08-01 04:03] amazingandyyy opened #22 "hello, this Andy"
Hello this is Andy from Bay Area

As a decent React developer/Node/Daap Developer, I am wondering how can I start to contribute and be a part of members? Thanks.

[2017-08-01 04:04] amazingandyyy commented on #22
btw, I am also ANS early holder :p that's why I will continue support NEO. :) cheers

[2017-08-01 04:45] canesin commented on #22
[join us in slack](https://neoblockchainteam.slack.com/join/shared_invite/MjE3ODMxNDUzMDE1LTE1MDA4OTY3NDQtNTMwM2MyMTc2NA) .. there is not much secret, if the electron wallet is where you feel you can contribute most ping @Ejhfast there to familiarize with current needs and you can jump in, just fork and PR..

[2017-08-01 04:45] #22 closed

[2017-08-01 04:52] amazingandyyy commented on #22
thanks

[2017-08-02 22:24] golivera opened #27 "On 'Reload' user is logged out w/ no UI feedback"
When you are logged into the wallet and you `Reload` the wallet then you get logged out of your account.

The transaction history is wiped and there is no balance.

Possible Improvements
- Redirect back to the login screen
- Show user logout message

![screen shot 2017-08-02 at 3 22 42 pm](https://user-images.githubusercontent.com/1169005/28897640-77f586ec-7796-11e7-88f7-61b9bd6ef539.png)

[2017-08-03 13:38] flavoredtaco opened #29 "Have ability to save private key onto the wallet"
Instead of having to frequently import private key every time you open the wallet, implementing a way to save accounts associated with different private keys would be more efficient.

[2017-08-03 14:06] j4zz commented on #29
I’d like this, but I’d like it to be optional (not that taco implied otherwise, just to be explicit).

[2017-08-03 14:07] canesin commented on #29
The problem @flavoredtaco is to securely store the keys. The straight forward method is to encrypt a file using a password, but this is orders of magnitude (by common password standards approx 1000000000000000000000000000000000000000000000000000000000000) less safe, maybe if we use a very strong password we can do much better, but then what is the difference of using just the key ? The best second

[2017-08-04 16:03] dreamrulez07 opened #30 "I don't see my ANS coins on entering the private key"
I don't see my ANS coins on entering the private key. But if I check my public address on neotogas.com, it clearly shows them.

Why is this happening?

[2017-08-04 16:04] dreamrulez07 commented on #30
Shifted to MainNet and I found them. Thanks anyways.

[2017-08-04 16:04] #30 closed

[2017-08-05 16:41] coranos commented on #29
Could this be done the way the neo-gui does it?
They use AES Encryption to decrypt a file on disk, and use the password to unlock the file and read the private key.
A keylogger could get the password and send it to a remote location, where it would be useless without the file on disk.

You could also, if you wanted, add TOTP, like Google Authentication.
https://en.wikipedia.org/wiki/Time-based_One

[2017-08-05 19:32] canesin commented on #29
@coranos you are relying in a 3th party to hold the encryption keys... there must be better ways to do so.

[2017-08-05 19:51] Ejhfast commented on #27
@golivera can you give more steps to replicate? what is "reload"? the refresh button? is this version 0.0.3?

[2017-08-05 19:52] Ejhfast commented on #11
Fixed in https://github.com/CityOfZion/neon-wallet/commit/60e1a415dc2aba7bb69d872a5d9c329c059c935a

[2017-08-05 19:52] #11 closed

[2017-08-05 19:54] Ejhfast commented on #29
@coranos neo-gui does more or less what @canesin says, encrypting private key with user password and saving. TOTP requires unnecessary centralization

I am open to storing encrypted version of private key like neo-gui, but agree we should also keep old way of logging in for users who want to save private key in their own, secure way

[2017-08-05 19:58] coranos commented on #29
I think you have what I said backwards. We all know how neo-gui works, I'm asking for the neon wallet to work the same.

TOTP doesn't rely on a third party to hold encryption keys, you can implement it all yourself. It's literally "I sent a number to your phone, tell me what the number is, you have 30 seconds".

[2017-08-05 20:01] Ejhfast commented on #29
@coranos i understood what you meant about neo-gui

i didn't understand what you meant by TOTP (now I do), that could make sense but is unrelated to this issue (saving accounts)

[2017-08-05 20:06] Ejhfast opened #32 "Replace Bittrex API method ANS => BTC => USD with single Coinmarketcap query"
Single query is better than the two we have now: https://api.coinmarketcap.com/v1/ticker/NEO/?convert=USD

[2017-08-05 20:07] Ejhfast opened #33 "Update neon-js with libraries in neon-wallet, and have wallet import neon-js"
No need to have code duplication

[2017-08-05 20:10] Ejhfast opened #34 "Add unit tests"
Neon-js has tests, but the wallet does not. Should be easy enough to add tests for the reducer logic and helper methods. UI/DOM oriented tests would be great, but maybe next step

[2017-08-06 10:47] wouterbruinings opened #38 "Wallet "freezes" in dock after being closed"
OS: macOS Sierra 10.12.6

After closing the wallet window, clicking on the icon in my dock no longer opens the wallet.

Currently I need to "Quit" the application and restart the wallet in order to use it again.

[2017-08-06 17:22] Ejhfast commented on #38
I think this is default electron behavior, will fix in next release

[2017-08-06 18:32] coopsscoop opened #39 "let me create wallet but not log back in"
app let me create a wallet I transferred a few shares over logged out now won't let me log back in...seems like a scam to me

[2017-08-06 19:09] Ejhfast commented on #39
This is how you generate a wallet, look at what it says!

<img width="738" alt="screen shot 2017-08-06 at 12 08 17 pm" src="https://user-images.githubusercontent.com/89618/29006195-f646905c-7a9f-11e7-99d1-5874118a4964.png">

You need to save the private key to log back in

[2017-08-06 19:09] #39 closed

[2017-08-06 19:56] coopsscoop commented on #39
Wasn't born yesterday bud I did that still won't let me log in

On Aug 6, 2017 12:09 PM, "Ethan Fast" <notifications@github.com> wrote:

[2017-08-06 19:57] coopsscoop commented on #39
I could show you the multiple ways I chose to save that information so I
wouldn't lose it

On Aug 6, 2017 12:56 PM, "Cooper Best" <cooperlbest@gmail.com> wrote:

[2017-08-06 19:58] Ejhfast commented on #39
You are probably typing the key wrong (this has happened to others), we are
happy to help in slack -- contact us before posting about scam

On Sun, Aug 6, 2017 at 12:56 PM coopsscoop <notifications@github.com> wrote:

[2017-08-06 20:00] Ejhfast commented on #39
Also what version of wallet are you using, version 0.0.1 had a login button
that was hard to click (had to click on text in center)

On Sun, Aug 6, 2017 at 12:58 PM Ethan Fast <ejhfast@gmail.com> wrote:

[2017-08-06 20:24] coopsscoop commented on #39
Okay apologize for post frustrating losing any amount of money sure you can
understand

On Aug 6, 2017 12:58 PM, "Ethan Fast" <notifications@github.com> wrote:

[2017-08-06 20:29] Ejhfast commented on #39
Yes, I understand, and it is 100% safe as long as you are still holding the private key. (Even if you don't want to use Neon, you can import that to a different wallet).

[2017-08-07 07:18] raulcug08 opened #42 "Wallet does not show assets."
After restarting the wallet app, it shows 0 balance even though the blockchain/ledger shows the exact amount there should be. It is also synced.
![image](https://user-images.githubusercontent.com/30792686/29017182-11f30414-7b56-11e7-8e4c-0118aca11f88.png)

[2017-08-07 07:28] jaminNZx opened #43 "use english blockchain tracker"
Hi
Just wondering if you could use the english blockchain explorer as an option?
The one I'd prefer is : https://neotracker.io
Thank you for your hard work!
J

[2017-08-07 07:30] jaminNZx commented on #42
using mainnet?

[2017-08-07 07:48] cpascariello commented on #42
Hi, there!

First of all great job guy's, the wallet looks fantastic.
But I'm running into a little problem now. Yesterday I transferred my NEO coins from app.antshares.org to the NEON wallet and after updating to version 3 I'm was seeing my coins and als got to claim GAS.

But today, running on mainnet and the blockcount is updated, my NEO and GAS amount says 0. The only value that's updated is d

[2017-08-07 08:00] Ejhfast commented on #42
@raulcug08 @cpascariello The Bittrex API change today broke Neon. Fix here! https://github.com/CityOfZion/neon-wallet/releases/tag/0.0.3c

[2017-08-07 08:03] Ejhfast commented on #42
Leaving open for now so that others can see this

[2017-08-07 08:08] ethanonfire opened #44 "should also have a chinese yuan(RMB) ticker from yunbi"
thank you Ethan!

[2017-08-07 11:55] blockbird commented on #42
Perfect! Thanks for your work on this man, it's coming along great :)

[2017-08-07 16:59] #32 closed

[2017-08-07 16:59] Ejhfast commented on #33
Done in pull above

[2017-08-07 16:59] #33 closed

[2017-08-07 17:03] jaronfitz opened #46 "Can't copy/paste the addresses on Ubuntu Linux."
I can click the copy buttons and highlight/use copy shortcuts, but it doesnt actually capture.

[2017-08-07 21:12] Ejhfast commented on #46
also, would be great to allow right click copy/paste on windows/mac

[2017-08-07 22:01] Ejhfast commented on #44
good idea, we can integrate this one we have a settings pace, other currencies as well

[2017-08-08 01:46] bouncyenemy opened #47 "Total NEO not showing correctly"
I transferred 3.0 NEO from my Bittrex account to my NEON wallet. After the Bittrex fee, what shows is that 2.9 NEO was sent to my wallet, but in my NEON wallet only 2 NEO show.

Does this wallet round up or something? Where did the other 0.9 NEO go?

Thanks for your help. I hope this question makes sense.

[2017-08-08 02:24] Ejhfast commented on #47
This is not a problem with Neon. Unfortunately, Bittrex took your Neo. Their policy on fees is horrible terrible. See: https://www.reddit.com/r/NEO/comments/6s2ttd/bittrex_transfer_fee_is_now_01_ans/dl9q4oy/

[2017-08-08 02:24] #47 closed

[2017-08-08 05:53] geraldhorn opened #49 "Neon processes still running in the background after app closes"
When Neon (Win) starts, 2 processes appear to be running in the background and persist even after the app has been closed.

The processes stack indefinitely every time the app is opened, using roughly ~50mb of memory per instance.

[2017-08-08 07:19] dvdschwrtz commented on #34
going to start looking though the code and plan on writing some additional tests later this week or next.

[2017-08-08 08:43] dop89 commented on #46
Hi,

I have experienced the same issue. The reason is the second parameter of the `clipboard.writeText()` function. Without this "type" parameter, everything works fine on Arch Linux. I can create a PR for this fix.

[2017-08-08 09:06] martythekid commented on #42
Hey! First, thanks for making this app. Simple and easy to use.

I am running version 3, and I just ran a test withdraw to my wallet which is on MainNet. The total withdraw was 1.9 NEO after bittrex fees, yet only 1 NEO is showing up in my wallet. I've refreshed and restarted and it is still only showing 1 NEO. Any idea what could be happening?

[2017-08-08 09:06] fransyozef commented on #42
Ah .. that explains I don't see my neon

[2017-08-08 10:21] dennish007 opened #52 "enhancement: login with encrypted keyfile."
I generated a wallet with former web wallet interface which created a password encrypted key file.
Login with key file makes it more secure.

[2017-08-08 10:24] dennish007 opened #53 "Enhancement: Hide private key string when login."
for security reasons the private key is in fact a password like string. better hide it as it is copied from clipboard most of the time.
Make it an option to show private key.

[2017-08-08 10:30] dennish007 commented on #29
I would strongly advise against storing private keys on a desktop client. You need to have a very secure wallet database for this. This option is already available on the thick NEO client. I like the use case now by login, claiming GAS and make a transaction on the blockchain and exit. Using this feature on a mobile device for small amounts of NEO on that account is more appropriate.

[2017-08-08 10:44] coranos commented on #29
Where do you store the private key then? On the clipboard? The clipboard is not secure.

The neo-gui is not an option for all users. For example, it did not synch for all of yesterday, and it does not work on a mac.

[2017-08-08 15:03] canesin commented on #29
@coranos clipboard is not secure, you are right. NEP-2 has a standard for encrypting keys that was discussed.. people can implement that neon.

[2017-08-08 15:05] canesin commented on #52
see #29

[2017-08-08 15:07] canesin commented on #42
@martythekid this is because NEO can be only transact in integers, your 0.9 NEO never leaved bittrex, that is not related to neon.

[2017-08-08 15:13] canesin commented on #49
electron (the framework used) starts two processes, one nodejs and one blink .. blink grabs ~35mb ram just to start... that is the price for multi platform and other niceties .. The issue here is only killing the process correctly on window close.

[2017-08-08 18:24] Trauzki commented on #42
It is unfortunate that Bittrex allows you to buy/sell fractions of NEO that you can't withdraw.
You should calculate for whole numbers only.
![untitled](https://user-images.githubusercontent.com/30841863/29087650-fa59c70a-7c4c-11e7-836a-b5ef57a575a6.jpg)

[2017-08-08 21:16] teovmy opened #55 "Miss NEO currency with transfer"
I transfer 7 NEO from Bittrex to NEON. It shows me only a transfer of 6. The fee for for this transfer on Bittrex is 0.1. In the order it shows 6.9. But as mentioned NEON shows me 6. This can't be happening right, losing money this way?!?!

[2017-08-08 21:26] Ejhfast commented on #55
This is not a problem with Neon. Unfortunately, Bittrex took your Neo. Their policy on fees is terrible.

See: https://www.reddit.com/r/NEO/comments/6s2ttd/bittrex_transfer_fee_is_now_01_ans/dl9q4oy/

[2017-08-08 21:26] #55 closed

[2017-08-08 21:47] teovmy commented on #55
Wow is this for real?!?! Still, why is it that I can see 6.9 transferred

[2017-08-08 21:50] Ejhfast commented on #55
It is for real, unfortunately. Happened to me as well, long, long ago, when 1 ANS was worth much less than it is now. I recommend sending angry emails to Bittrex. Their policy is unacceptable.

[2017-08-08 21:55] teovmy commented on #55
Thanks for the quick info. And thanks for the wallet on OSX. Any roadmap?

[2017-08-08 22:04] anfn101 commented on #55
For the wallet we are planning many new features. For NEO, read the whitepaper. Also be reminded that Github is a place to open technical issues related to code. This is not a support channel. For that, please visit Reddit or our support channel on Slack. Thanks.

[2017-08-08 22:09] flavoredtaco commented on #53
I agree with this. Although minor, you can never be too secure with security.

[2017-08-09 00:23] dennish007 commented on #52
That is not why I intended. I was not suggesting saving the private key file in the NEON app so that NEON is responsible for storing (issue #29). NEON just should support opening and reading a keyfile, ask for the password, descrypt it and use that private key for the session just like login with the privatekey.

[2017-08-09 06:30] StillRivers opened #57 "No decimal places on NEO funds. Always rounded down to lower number"
When transferring an amount of e.g. 28.9 NEO, the amount shown in the balance is 28. Are the additional funds there, just not shown?

[2017-08-09 06:32] StillRivers commented on #57
Should have said, I am running mac OS version.

[2017-08-09 06:33] samfranz commented on #57
Here there bud, it's been answered a few times. Sorry, but it's happened to me too and I've lost around 2 NEO when I was first moving to my wallet as this information wasn't as readily available.

https://github.com/CityOfZion/neon-wallet/issues/47
https://github.com/CityOfZion/neon-wallet/issues/55

[2017-08-09 06:37] StillRivers commented on #57
Hey samfranz, thanks for the quick reply. Yeah that is a real pain, I shall be complaining to Bittrex about this, especially now that each NEO is starting to be worth a considerable amount! Have a good one :)

[2017-08-09 08:26] #57 closed

[2017-08-09 10:06] fransyozef commented on #43
yeah .. would be very nice indeed :)

[2017-08-09 13:43] canesin opened #59 "Rounding of GAS value should be floor."
When rounding amount of avaliable GAS it should be floored to precision (not rounded), a user that tries to transfer at precision limit (0.001) my be mistaken of his possessions.

**proposed algo**:

let gas_disponible_padded = gas_disponible * 10000;
let gas_disponible_display_padded = floor(gas_disponible_padded);
let gas_disponible_display =  gas_disponible_display / 10000;

[2017-08-09 14:13] mikiki203 commented on #42
Hello all, two questions... I sent my NEO from Bittrex to the new NEON wallet (0.0.3) and it is not showing a transaction or the NEO. I looked in the NEO blockchain tracker and it shows my account and the transaction is having gone through. Any ideas?
![image](https://user-images.githubusercontent.com/30869030/29126001-822ab13c-7d1d-11e7-8c7b-9547e4ecb996.png)
![2017-08-09 12_02_48-neon wallet](ht

[2017-08-09 14:24] fransyozef commented on #42
maybe it needs some comformation first. Also .. did you started the wallet from NPM or installed with the DMG?

[2017-08-09 14:28] fransyozef commented on #42
Also .. I see .. Block 0 ... that's not correct .. it should be on the latest block .. have you pressed the reload button?

[2017-08-09 14:30] cpascariello commented on #42
Did you install version 0.0.3c?
https://github.com/CityOfZion/neon-wallet/releases/tag/0.0.3c

[2017-08-09 14:30] mikiki203 commented on #42
I downloaded it from the link on neo.org this morning and tried redownloading it from the link on reddit. The only refresh button I see is the little arrows that I have hit a lot but it says it is loading the blockchain but nothing happens

[2017-08-09 14:33] mikiki203 commented on #42
yeah that is where I got it from... Tried downloading it a couple of times. running on windows 10. But even the internet wallet doesn't show anything when I put my private key in... not sure what I need to do.

[2017-08-09 14:34] fransyozef commented on #42
hmm then I don't know .. I have the mac version and that works

[2017-08-09 14:36] cpascariello commented on #42
Check your wallet address on neotracker.io
Do a search on the addrs and see If your NEO's are there if so its just a software problem.
Then you already assured your NEO's aren't gone and you only have to fix you software problem.

[2017-08-09 14:36] canesin commented on #42
@mikiki203 this is due to bittrex, not related to NEON: see this https://github.com/CityOfZion/neon-wallet/issues/55

[2017-08-09 14:40] mikiki203 commented on #42
@cpascariello Yeah, it is showing up on there. Not sure what is happening but at least I know its not lost. @canesin have you heard of anyone getting those back? That is like 10€ they just took from me...

[2017-08-09 14:56] AshRolls commented on #42
Github is for reporting of code issues only. For general support please use other channels such as reddit or #support in slack.

[2017-08-09 15:32] #42 closed

[2017-08-09 15:33] cpascariello commented on #42
no, I lost some to in the process! :S

[2017-08-09 17:18] martythekid commented on #42
I lost .9 NEO trying to do a 2 NEO test withdrawal. You should put a
warning in the wallet about this, because Bittrex's warning isn't obvious.

On Wed, Aug 9, 2017 at 8:33 AM, cpascariello <notifications@github.com>
wrote:

--

*Matt Dronkers*
*Co-Founder/Creative Director*
www.electricfamily.com

[2017-08-09 17:44] canesin commented on #42
@martythekid we have no connection with bittrex.. this is completely unrelated to neon

[2017-08-09 20:42] chancy088 opened #60 "NEO coins not showing up"
I sent 4 NEO coins yesterday and 25 coins today to my neon wallet, but even though it shows up in the transaction history it hasn't shown up in my wallet. Is this normal? How long does it take? Thank you.

[2017-08-09 20:44] anfn101 commented on #60
GitHub issues are for code only. Please refer to Reddit or the Slack #support channel. Make sure you update to 0.0.3c Neon wallet found on the sidebar of Reddit.

[2017-08-09 20:44] #60 closed

[2017-08-09 21:04] chancy088 commented on #60
How can I get help on slack?

On Aug 9, 2017 1:44 PM, "Alan Fong" <notifications@github.com> wrote:

[2017-08-09 21:15] anfn101 commented on #60
Just ask in the support channel.

[2017-08-09 21:31] jmiller2152 commented on #29
So I was having issues and had to get a private key a few times yesterday while testing a deposit of 1 neo, when I finally got it to work I did not store my private key and when I went to login this morning I was locked out....is there anyway to recover? I have the public key from the withdrawal but that is it.  I know it is just 1 neo but any help?

[2017-08-10 00:18] Alfredo66 opened #61 "How do I open the neon wallet and use it? None of my desktop apps will open it correctly"
I have a windows 10 computer

[2017-08-10 01:08] saltyskip commented on #61
You should reach out on the slack support channel, github is primarily for coding related topics.

https://neosmarteconomy.slack.com the channel is here

[2017-08-10 01:23] ahnr opened #63 "Forgot to save my private key"
Hello,

I just signed up for my neo wallet yesterday, but I forgot to save my private key. Is there any way I could recover it? I have the transaction history from bittrex to validate the transaction.

[2017-08-10 01:28] canesin commented on #63
Nobody can help you if you lost your private keys, that is a feature.

[2017-08-10 01:28] #63 closed

[2017-08-10 01:32] ahnr commented on #63
Really? There's no log within the neon wallet directories that would have my key? Please, I need help. I put 250 neo in my wallet.

[2017-08-10 01:33] anfn101 commented on #63
No. A log would be a terrible idea and be extremely unsecure. People would have their money stolen very easily if this were the case.

[2017-08-10 02:23] ahnr commented on #63
Is there anything in the neon folder that could lead to my private key?
Anything? Can I get a 2nd opinion from a senior engineer/developer?

On Wed, Aug 9, 2017 at 6:33 PM, Alan Fong <notifications@github.com> wrote:

[2017-08-10 02:35] zstern9190 opened #64 "Lost NEO during deposit"
I deposited some NEO into your walled and I was shorted 1.5. They are just not there. Can someone help me retrieve them?

[2017-08-10 02:35] canesin commented on #63
I'm so sorry for your loss @ahnr, I have also lost about 200 bitcoins by loosing my keys in the past. This is math, not a simple rule that can be broken - this is the result of the so called hiding property of cryptographic hash functions.

[2017-08-10 02:37] zstern9190 commented on #64
Just another note. I transferred from bittrex and they take .1 so I should have only lost .2 since I did two transfers.

[2017-08-10 02:39] canesin commented on #64
This is not related to neon, this is due to bittrex police. Please read this thread https://github.com/CityOfZion/neon-wallet/issues/55

[2017-08-10 02:39] #64 closed

[2017-08-10 02:48] jmiller2152 opened #65 "Initial issues yesterday"
So I was having issues and had to get a private key a few times yesterday while testing a deposit of 1 neo, when I finally got it to work I did not store my private key and when I went to login this morning I was locked out....is there anyway to recover? I have the public key from the withdrawal but that is it. I know it is just 1 neo but any help?

[2017-08-10 02:54] canesin commented on #65
unfortunately we cant help you, see https://github.com/CityOfZion/neon-wallet/issues/63. We are implement new features to avoid this.

[2017-08-10 02:54] #65 closed

[2017-08-10 03:01] emilieleblanc opened #66 "My wallet is at 0"
I dowloaded the wallet on my mac today. Transferred my neos successfully. Came back tonight and had trouble to open the app. Finally opened it and it's now empty...

[2017-08-10 03:45] heobo commented on #53
Every login need private key? I hope can input a password instead of private key when login.

[2017-08-10 03:49] hbentel commented on #66
same issue here

[2017-08-10 03:56] hbentel commented on #66
ah, this version fixed it
https://github.com/CityOfZion/neon-wallet/releases/tag/0.0.3c

thx!

[2017-08-10 04:04] dkornmann opened #67 "NEO total is rounded down"
I transferred XX.4 NEO to my new public address. The balance in the wallet only shows XX NEO. Does this wallet only able to hold whole NEO? So I've lost my 0.4 NEO? Is this explained anywhere?

[2017-08-10 04:06] canesin commented on #67
This is not related to NEO or NEON, is a problem with the exchange you used (NEO cant be transact in integers), see #55.

[2017-08-10 04:06] #67 closed

[2017-08-10 04:07] #61 closed

[2017-08-10 04:07] canesin commented on #61
https://join.slack.com/t/neosmarteconomy/shared_invite/MjIyOTc2OTU4NDk3LTE1MDIxNzE2NTctZTE1Mjg5ZWE3Yw

[2017-08-10 04:41] dennish007 commented on #53
@heobo see enhancement #52, like the webwallet an encrypted keyfile is used to access your wallet account which is secured by your own password. In my opinion login with private key should be deprecated.

[2017-08-10 04:57] golivera commented on #27
MacOSX
V 0.0.3

The `reload` is the native electron reload that you can see under `View > Reload`? On Mac it is `command+r`.

[2017-08-10 05:11] ahnr commented on #63
Fabio,

Could the private key be stored in any type of log or folders within the
neon folder? Can we 100 percent validate this?

On Wed, Aug 9, 2017 at 7:35 PM Fábio C. Canesin <notifications@github.com>
wrote:

[2017-08-10 05:24] catt1111 commented on #29
I have the same issue as far as recovering my private key.  I was testing the deposits from bittrex and copied the private key I tested with, but never copied the private key I sent the rest of my NEO to.  Any way to recover my private key? This sucks!

[2017-08-10 05:26] Ejhfast commented on #66
@emilieleblanc please install the latest version linked above, bittrex API change broke the balance display in the old version

[2017-08-10 05:49] catt1111 opened #68 "Copied wrong private key!"
As I was trying to figure out how to use the wallet I copied down a private key, then made a new account and transferred my NEO to that new key that I didn't have copied down.   Someone please tell me there is some kind of solution to get it back. Please!

[2017-08-10 06:05] robertohegeler commented on #68
always send small amounts first... test first and get familiar with everything.
anyway, you created a wallet I assume, and you set a password to that wallet. Open the wallet from within the app and type in your password. You will see your funds and the Address and Private Key.

[2017-08-10 06:08] catt1111 commented on #68
It doesn't allow you to make a password.  You log in every time with the private key.  Im trying to see if I can go back to my "copy & paste" history on my computer

[2017-08-10 06:11] robertohegeler commented on #68
oh, so it does not have a wallet?

[2017-08-10 06:12] robertohegeler commented on #68
wish you good luck!#

[2017-08-10 06:12] catt1111 commented on #68
It is the Neon wallet that I downloaded as an app to my computer. It is a wallet, but not able to find my private key...

[2017-08-10 06:18] robertohegeler commented on #68
You actually download the Node and create a wallet within the node when it is synchronized. At least that is how it works with the original NEO Node

[2017-08-10 07:09] solarsteve7 opened #70 "Can not sign in with my private key that i dep 100 NEO into"
Please help.  i cant seem to log in and i accitentally tried to claim gas when it said 0 and it froze then i quit the program and cant log on

[2017-08-10 07:15] #68 closed

[2017-08-10 07:15] #66 closed

[2017-08-10 07:16] anfn101 commented on #70
Github is for code discussion, not tech support. If you have any questions, direct them to Reddit or the Slack support channel. I recommend downloading the latest wallet version and trying again.

[2017-08-10 07:16] #70 closed

[2017-08-10 07:21] ahnr commented on #68
I appreciate the input from support, but I would like 2nd opinion from Ethan himself. He developed a great wallet, and I'm sure he will find a solution since he is the actual developer. Please have support escalate this to him.

[2017-08-10 07:32] anfn101 commented on #68
This is not a business nor a company. We can not "escalate" anything. Furthermore, Github is a place to discuss code, not be tech support. I recommend looking for help on Reddit or the support channel on Slack. Ethan is very busy and is not always available to answer every wallet question people have.

[2017-08-10 07:41] ahnr commented on #68
I'm sorry Alan, but if we want this issue resolved wouldn't we want to discuss it with the people who actually made the code? I really don't see how users on reddit and slack would assist us, with them being users themselves. I understand Ethan is busy, but this seems like a prevelant issue that needs to be addressed. Of course, at his earliest convenience.

[2017-08-10 07:44] anfn101 commented on #68
1. Many on Reddit have had the same issues and have managed to solve them. 2. The support channel has developers that also had a part in helping make the wallet (including Ethan!), and we have solved many user issues over the past week. As I said before, Github it not the proper venue for these questions. Thanks.

[2017-08-10 07:51] ahnr commented on #68
1. I have actually checked on Reddit and no on has resolved this issue.

2. What would be the proper channel to join for slack?

[2017-08-10 07:53] anfn101 commented on #68
The Slack link is on the sidebar of our Reddit. And please, in the future, do not just create a Github account just to post an issue here unless you have actual input into code itself. In fact, nobody should be creating Github accounts in an attempt to gain attention from developers. It takes away our time, clutters the project, and makes it harder to work. We have proper channels of support. Plea

[2017-08-10 07:57] canesin commented on #63
@ahnr no, it is not stored.
1000 percent validate: you can look at the code for the reducer here: https://github.com/CityOfZion/neon-wallet/blob/master/app/modules/account.js .. it is held only on memory, if you logout the structure is destroyed from memory.

[2017-08-10 07:58] anfn101 commented on #63
Yes, exactly- if it was stored that would be a horrible security risk. Obviously unwanted.

[2017-08-10 08:02] Ejhfast commented on #68
@ahnr i'm very sorry, but unfortunately there is no way to recover your private key. on the page that generates the keys, the wallet mentions that it will never show you the keys again. by only ever generating the key once, and not saving it anywhere, the wallet ensures that no one else can access your account

if i were able to solve your problem, that would mean that i would be able to get acces

[2017-08-10 09:47] CryptoChik opened #71 "Mac won't let me open Neon Wallet"
I've downloaded the Neon Wallet but my Mac says it can't open it because I didn't get it from the Mac App Store??? See link.
What am I doing wrong?
<img width="393" alt="screen shot 2017-08-10 at 10 43 18" src="https://user-images.githubusercontent.com/29843188/29165021-45800da8-7db9-11e7-9741-f8a22985ee7b.png">

[2017-08-10 09:56] amoebatron commented on #71
go to System Preferences > Security & Privacy on your Mac.

Then...  where it says Neon was blocked, select Open Anyway.

[2017-08-10 09:58] Alexintosh opened #72 "Feeback when trying to log in with a wrong key"
**NEON version:**
alpha 0.0.3c

**I'm submitting a ...**  (check one with "x")
[ ] bug report
[X] feature request

**Current behavior:**
When an invalid key is provided to the login input clicking on the login button will do nothing.

**Expected behavior:**
When an invalid key is provided to the login input a visual feeback is shown by clicking on the login button.
The feedback will inform the key

[2017-08-10 09:59] Alexintosh commented on #71
Not really a Neon Wallet issue. This should be closed.

[2017-08-10 10:04] Alexintosh commented on #43
Great idea! I'll make a PR for this.

[2017-08-10 10:19] CryptoChik commented on #71
Thank you very much amoebatron, much appreciated x

[2017-08-10 12:33] emilieleblanc commented on #66
I just did and it still doesn't work. It's empty. Yesterday when i opened it, it blink an 8 (the amount i am supposed to have) and then went back to 0. I tought i had it but it disappeared.

[2017-08-10 12:36] stevesbrain commented on #66
@emilieleblanc What does the block explorer say? Is it an issue where your wallet has no balance according to blockchain, or, is it an issue with neon?

[2017-08-10 12:43] emilieleblanc commented on #66
I don't know what you mean. It's all new for me. The funds were transferred yesterday. After i closed it, when i reopened, it was gone.

[2017-08-10 12:43] emilieleblanc commented on #66
It's the new wallet on mac

[2017-08-10 12:45] Alexintosh commented on #34
I'd like to help with this.
In order to make the process easier I'd like to suggest a discussion about the architecture of the components.

For instance:
- Use [container/component architecture](https://medium.com/@dan_abramov/smart-and-dumb-components-7ca2f9a7c7d0). (right now many components use the connect function).
- Embrace component encapsulation with styled-components

[2017-08-10 12:48] emilieleblanc commented on #66
I did. Still at 0.

Emilie Leblanc
514-886-9818
www.azuraevenements.com<http://www.azuraevenements.com>

Le 2017-08-10 à 01:26, Ethan Fast <notifications@github.com<mailto:notifications@github.com>> a écrit :

@emilieleblanc<https://github.com/emilieleblanc> please install the latest version linked above, bittrex API change broke the balance display in the old version

—
You are receiving this bec

[2017-08-10 13:00] stevesbrain commented on #66
@emilieleblanc Do you know your wallet address? If so, visit http://neotracker.io/address/YOURADDRESS (for example, http://neotracker.io/address/AJnuMArKJV548E1H2B3X8wK99b6yR7qfxn ) and check the balance listed there. Is it zero, or is it a positive balance?

[2017-08-10 13:52] Alexintosh commented on #38
Well spotted, I'll make a fix for it.

[2017-08-10 13:57] emilieleblanc commented on #66
Public key i guess…
It’s searching… It’s been 15 minutes and still searching.

@emilieleblanc<https://github.com/emilieleblanc> Do you know your wallet address? If so, visit http://neotracker.io/address/YOURADDRESS (for example, http://neotracker.io/address/AJnuMArKJV548E1H2B3X8wK99b6yR7qfxn ) and check the balance listed there. Is it zero, or is it a positive balance?

—
You are receiving this be

[2017-08-10 14:13] emilieleblanc commented on #66
Ok. So my public address displayed in my wallet is different than the one on bittrex where i can see the transfer. Since i only have one wallet, why is this happening? My wallet displayed it yesterday. When i put the public address i have on bittrex, it shows me my balance. When i use the current public address on my wallet, it cannot find the page.

@emilieleblanc<https://github.com/emilieleblanc

[2017-08-10 14:23] dvdschwrtz commented on #34
I agree that any components using connect should be split out. However, I think we should just start by writing tests and move that to another issue. I also think that the styled-components could be interesting. Just read about it. However, I also think that should be a separate issue. The snapshot tests can cover any style changes and the tests should still work if we restructure the folders.

I

[2017-08-10 14:29] #71 closed

[2017-08-10 14:40] companyhen opened #75 "Can not see NEO or GAS values on MainNet"
See screenshot.

![screen-shot-2017-08-10-at-10 39 36](https://user-images.githubusercontent.com/1679107/29175920-65fb462a-7db8-11e7-8c19-ebd19edc72f8.png)

[2017-08-10 15:03] marinersouthampton commented on #75
Same here. Have transferred NEOs from Bittrex several hours ago. Still cant see in the Wallet. Here is the tracker: https://neotracker.io/tx/e30f19221d985a11347b864a46e350a682e8bae1527895182d114658bbc39d05

[2017-08-10 15:04] ShaneAsel opened #76 "Balance Rounding"
When transferring from Bittrex, my new NEO balance shows a rounded number which is less than what I transferred (minus the Bittrex fee).

Also, since my NEO balance isn't extremely large, the GAS balance isn't large either but all my transactions show 0.0000

Is there a way to show your balance like in the exchanges (e.g. 10.XXXXXXXX)?

[2017-08-10 16:01] companyhen commented on #75
@marinersouthampton I resolved the issue by installing this: https://github.com/CityOfZion/neon-wallet/releases

[2017-08-10 16:01] #75 closed

[2017-08-10 16:11] marinersouthampton commented on #75
Thanks is it version 0.0.3?

[2017-08-10 16:13] companyhen commented on #75
Yes the latest alpha.

On Thu, Aug 10, 2017 at 12:11 PM, marinersouthampton <
notifications@github.com> wrote:

[2017-08-10 16:15] marinersouthampton commented on #75
Somehow I still cant figure out whats wrong with my walllet :(

[2017-08-10 16:19] marinersouthampton commented on #75
Whats the Block size for you now?

[2017-08-10 16:31] marinersouthampton opened #77 "Neon Wallet not displaying NEO coins"
See screenshot and link to the transaction made several hours ago. I still cant see the NEOs on my Wallet but they appear to have been transferred from Bittrex. Please advise.

https://neotracker.io/tx/e30f19221d985a11347b864a46e350a682e8bae1527895182d114658bbc39d05

![neo](https://user-images.githubusercontent.com/28981981/29181053-a42b7288-7df1-11e7-9db4-049f06d87df8.PNG)

[2017-08-10 17:48] FreshDS commented on #76
I'd like to know this as well. Sent x.4 and now the .4 is gone?

[2017-08-10 17:51] canesin commented on #76
See #64 this is not a neon/neo problem, the token can only be sent in integers. Please consult bittrex support.

[2017-08-10 17:51] #76 closed

[2017-08-10 18:15] iconartus commented on #77
I'm having the same problem. Also, my Block number is not syncing at all. Stuck at 'Block 0'. Trying to figure out how to whitelist the application.

[2017-08-10 18:16] Ejhfast commented on #77
please install the latest release! this is a well documented problem, bittrex broke the API and we had to update. search before posting a new issue

[2017-08-10 18:16] #77 closed

[2017-08-10 18:21] substation41 commented on #77
I downloaded the windows wallet unzipped the files...nothing loaded...no exe files to be seen
So I downloaded the web version fine. My Bittrex transfer (test) of 2 NEO show 1.9 leaving .Only 1.0 show up in my wallet. Is it going to show up if I transfer the re4maining 148 NEO balance?

[2017-08-10 18:23] Ejhfast commented on #77
download the exe file directly! and don't try to transfer fractional amounts with bittrex, they will take your money. this is not the place to post about these issue

[2017-08-10 18:27] substation41 commented on #77
Directly from where...link? So my $30 Canadian is gone? 'Please advise and I'm sorry for posting here.

[2017-08-10 18:36] anfn101 commented on #77
It is on the sidebar of the Reddit, and all updated versions will be posted there. Please do not use Github as a venue for tech support! It is very frustrating for us! Make sure everyone you know knows to NOT CREATE A GITHUB ACCOUNT JUST TO POST ON OUR REPOSITORY FOR HELP. There are proper channels of support!

[2017-08-10 20:01] marinersouthampton commented on #77
Hi there, I have downloaded the latest alpha version of the Wallet and still dont see my Wallet with the transferred amount. Please advise!!

[2017-08-10 22:05] mohammadumifras opened #78 "Unknown Developer Issue in Macbook"
There is an issue with mac os app.

[2017-08-10 22:27] Ejhfast commented on #78
Right click and click open, then it will work. We will become official eventually

[2017-08-11 01:36] PerryTheImp commented on #78
On Mac. I enter Private Key but nothing happens when 'Login' button is clicked.

[2017-08-11 03:08] AaronBesson opened #79 "Withdraw Gas"
Need to add a way to withdraw gas

[2017-08-11 03:10] anfn101 commented on #79
Click on the NEO green icon and it switches to GAS.

[2017-08-11 03:10] #79 closed

[2017-08-11 03:10] AaronBesson commented on #79
awesome!!

[2017-08-11 03:38] stevesbrain commented on #66
@emilieleblanc Are you saying the address you withdrew from Bittrex to is not the address in your wallet? Where did you get the address from that you put into Bittrex? Did you change your private WIF at some stage, and see a different public address from there? If your WIF is the same, the address will be the same.

I'm thinking either the WIF was entered differently, or, you copied a public addre

[2017-08-11 03:48] emilieleblanc commented on #66
I copied the link of my public address directly in my wallet. And no, it's not the same on bittrex than the one in the app. I took care of printing and stored the links... I have no idea how that could happen. I would really like to send it to you in private. I didn't change the wif. I did exactly what i was supposed to do. As far as i know...
Thank you so much for your help.

@emilieleblanc<https

[2017-08-11 03:51] stevesbrain commented on #66
No worries @emilieleblanc - send me an email to: github-contact :at: tuxcon dot com    (obviously, take the :at: and "dot" and substitute them - anti-spam measures). Talk soon :)

[2017-08-11 05:53] #78 closed

[2017-08-11 07:07] Alexintosh commented on #34
I'm okay in moving the improvements into a separate issue, I will open it right away.
My only concern in writing the tests before changing the architecture is that we will probably have to  rewrite some tests once the migration is done.

About the styled-components, glad you liked it :)
I've been working with these for quite a while now in large react project, I believe it's a good improvement for

[2017-08-11 07:16] Alexintosh opened #81 "Enhancement: Proper container/component architecture."
**I'm submitting a ...**  (check one with "x")
[ ] bug report
[ ] feature request
[X] proposal

**Current behavior:**
At the moment many components are using the connect function from redux which makes them containers.

**Expected behavior:**
Proper separation of pure presentational components from stateful components as explained in the [container/component architecture](https://medium.com/@dan_a

[2017-08-11 07:44] FraX350 opened #82 "Rounding"
I sent from Bittrex to the wallet  10.82 NEO and I received 10 only  ... I lost 0.82?

regards

[2017-08-11 07:54] #82 closed

[2017-08-11 13:07] wouterbruinings commented on #72
Apart from a simple verification based on the string length of the key, shouldn't it be technically impossible to verify whether a private key exists or not?

[2017-08-11 13:11] Vlaholod opened #83 "Cant install Neon on 32 bit system!!"
Dear Friends, you made wallet only for 64 bit system ?? Where can I find version for 32 bit system ??

[2017-08-11 15:14] wouterbruinings commented on #29
@catt1111 I'm sorry to be the bearer of bad news, but there is no way to recover your lost private key.

[2017-08-11 15:22] catt1111 commented on #29
I literally lucked out and made a rookie mistake and it saved my ass.  When trying to transfer from my Bittrex account to the Neon account I copied and pasted my private key instead of my public key.  Thank god for my mistake!

[2017-08-11 16:54] alexcharlesishere opened #84 "Not reflecting Gas holding"
Everytime I press the claim gas button it says sending gas to yourself and never updates my gas holdings. Been holding NEO for ~20 hours and it says I have 0 gas and all my gas transactions are for 0

[2017-08-11 17:02] #84 closed

[2017-08-11 17:37] giancarlosrn opened #85 "Can't claim GAS"
Every time I hit claim on GAS, it shows zero balance on the history.

<img width="988" alt="screen shot 2017-08-11 at 12 35 55 pm" src="https://user-images.githubusercontent.com/30935414/29224889-c7c5adf8-7e91-11e7-9c6a-d51991889099.png">

[2017-08-11 18:01] wolleylabel opened #86 "cant send funds out"
I am having trouble sending my NEO out of the NEON wallet on the latest wallet release to an wallet on a exchange.

[2017-08-11 18:24] #86 closed

[2017-08-11 20:03] mharw opened #87 "I did not receive my coins on my wallet"
Hello.
Today I sent 3 (three) NEO coins to the address AUsf7BE2YLGyAdoc3kQTfMW7MH7ggtiKrm (purse NEON), and coins have not yet come to me.
What should I do?
Thank you. (Sorry, I do not speak English and Chinese. Translate Google)
!

[2017-08-11 20:22] canesin commented on #87
This is a version issue (please uninstall it and use this one: https://github.com/CityOfZion/neon-wallet/releases/download/0.0.3c/Windows.Neon.Setup.0.0.3.exe)

[2017-08-11 20:29] mharw opened #88 "I did not receive my coins on my wallet"
Hello.
Dont delete my this is message.
Today I sent 3 (three) NEO coins to the address AUsf7BE2YLGyAdoc3kQTfMW7MH7ggtiKrm (purse NEON), and coins have not yet come to me.
Show balance 0.
What should I do?
Thank you. (Sorry, I do not speak English and Chinese. Translate Google)

[2017-08-11 20:32] canesin commented on #88
Your message was not deleted https://github.com/CityOfZion/neon-wallet/issues/87.

[2017-08-11 20:32] #88 closed

[2017-08-11 20:35] mharw opened #89 "Why do not you answer the questions and delete the messages?"
??

[2017-08-11 20:42] mharw commented on #89
Sorry. I did not understand. Now I see.

[2017-08-11 20:48] mharw commented on #87
Спасибо, но именно эту версию я и инсталлировал. Balance 0. ((

[2017-08-11 20:50] mharw commented on #87
I just bought NEO for the first time and first installed the purse NEON. More precisely, yesterday.

[2017-08-11 20:50] #89 closed

[2017-08-11 20:51] canesin commented on #87
the 0.0.3c ? It is different than the 0.0.3 ...

[2017-08-11 20:58] mharw commented on #87
I did as you said, but the balance also shows 0. Also I checked the links, today I downloaded the same version that you gave me now.

[2017-08-11 21:01] mharw commented on #87
Может у вас ссылки неправильные? Я сейчас заглянул в свойства приложения, там написано 0.0.3.

[2017-08-11 21:03] canesin commented on #87
No, it is correct ..this is because the author didn't increase the version number .. On the print screen it says "refreshing"on the top green bar .. is this permanent ?

[2017-08-11 21:07] mharw commented on #87
Approximately, from 1 minute to 10. And even more. I press all the time, hoping that the balance will change, but the balance does not change. I do not even know if I should press this button at all.

[2017-08-11 22:34] canesin commented on #87
Thanks @mharw , I`m reopening this issue .. but keep this private keys safe. As you could see from the explorer your tokens are safe.

[2017-08-11 23:01] mharw commented on #87
Thank you! I'll wait for the solution!

[2017-08-11 23:43] Ejhfast commented on #87
@mharw any update? we were getting a period of heavy load a few hours ago, could that have been the problem?

[2017-08-12 08:43] mharw commented on #87
I do not know what the problem is. Look at the picture, first I downloaded the link that is in the picture. Then, by the link given by "canesin", the link is exactly the same. At the moment the problem remains.
![03](https://user-images.githubusercontent.com/30937992/29239265-2f4f4ce0-7f64-11e7-861d-2e09853cd343.png)

[2017-08-12 09:37] ob7 opened #90 "Firefox Bug"
When launching neon prior to launching firefox on Linux, the process
/usr/lib/firefox/firefox http://antcha.in/tx/hash/ ....
makes it so the actual firefox browser cannot launch from the desktop.

I have to close Neon, open firefox, then open Neon.  If Neon gets opened before firefox is ever opened, this bug occurs.

this took place on ubuntu gnome 16.04.3 3.18.5 by the way

[2017-08-12 09:38] ob7 commented on #49
I confirm that the process stays open until manually killed via CTRL C ( if launching Neon from terminal )

[2017-08-12 09:43] riandad opened #91 "Give me my 90neo"
![image](https://user-images.githubusercontent.com/30951157/29239628-c3d28af2-7f8d-11e7-955e-ef889dbb1f77.png)

![image](https://user-images.githubusercontent.com/30951157/29239633-e13bd4b8-7f8d-11e7-9800-61487dfb2215.png)

If you sign up like a different Wallet, you know you can download the file separately.
I can not find the key.

[2017-08-12 10:36] dop89 commented on #91
Did you save your private key which you have generated in the first place anywhere else?

[2017-08-12 10:54] riandad commented on #91
No......

[2017-08-12 13:05] saltyskip commented on #91
If you do not have access to the private key, I'm sorry your funds are lost

[2017-08-12 13:28] dop89 commented on #91
We should display a warning message to user to backup the key, after it has been created.

[2017-08-12 15:26] Cubbies905 opened #92 "Gas Claim Failed"
I am trying to claim my GAS, and when I click to do so, it eventually gives me a Claim Failed message.  I see the 0 NEO transaction that I should, but the GAS never shows up in my wallet and it still shows as claimable.

[2017-08-12 15:56] dvdschwrtz commented on #34
My first open source project... I see there have been some PR for unit tests already. Is there a way to prevent overlap, so that I don't work on the same tests as someone else?

Should I just make an empty commit and PR with the name of the tests I am writing and keep pushing to that and then assign it when it's ready? Also, am I supposed to rebase my work before I create a merge request?

[2017-08-12 15:56] anfn101 commented on #91
That is exactly what we do. But nobody reads it.

[2017-08-12 15:56] #91 closed

[2017-08-12 18:20] nisargap commented on #92
Same issue

[2017-08-12 22:25] js7558 opened #93 "Minor documentation issue with alpha release 0.0.3c"
https://github.com/CityOfZion/neon-wallet/releases/tag/0.0.3c  says to compute sha256sum as follows:

Linux (appimage): 73a7c29453dc0b3324eec1d18a6183f30d46c6da4b1f5be9a32eed1d48df9d77
sha256sum Linux.Neon-0.0.3-x86_64.AppImage.tar.gz

Linux (debian): c52c2bc775b5f7ff1ab9514c3ca3918044b134ba99d10ea08036356b75ba5594
sha256sum Linux.Neon_0.0.3_amd64.deb.tar.gz

The download links are actually not .t

[2017-08-12 22:31] DeepM1 commented on #92
I have the similar problem.  I claim greater than 0.0001 GAS and the related transaction shows 0.0000 GAS.
Transaction ID a82de7fcd1dc6f494184d07dc02dc8a9
Is there a MINIMUM requirement amount for a GAS claim to show up in this NEON wallet?

[2017-08-12 23:04] anfn101 commented on #92
Yes- a very small amount will not show up in the transaction list. We can extend that later.

[2017-08-12 23:04] js7558 opened #94 "Install Instructions for Ubuntu 14.04"
Not really a bug report so much as a quick/dirty recap of how to get Linux.Neon_0.0.3_amd64.deb running on a fresh install of Ubuntu 14.04 Server.   I did this after verifying the sha256sum
1) Log in as root
2) apt-get update && apt-get upgrade
3) dpkg -i Linux.Neon_0.0.3_amd64.deb
    <this threw a bunch of erros about unresolved dependencies on my machine>
4) apt-get -f install
    <this resolve

[2017-08-12 23:34] js990 opened #95 "Provide cryptographic signatures for all builds"
For integrity verification purposes, I would like to put forward the suggestion of providing a gpg signed list of sha256 checksums for all builds. I do understand that officials builds may not be produced yet, but I just thought I'd mention it.

Thank you for all your hard work.

[2017-08-13 04:33] eavanes commented on #85
I have the same issue. Could you figure it out?

[2017-08-13 04:38] kajlul opened #96 "Sent Funds to Wrong Address"
Hi,
i deposited 641 GAS from my NEON Wallet Address: AarrWDuqD4HJ2ZpDaAaQbZ7dJTtLc7g8mv
to Binance wallet address: AbWeRDPA7SwcZtsnm9jcY3Bz6NikKd5ucc but my neo wallet shows this number on transaction history: 1387394c81bc45a23450caace12d0e53 as shown in the pictures bellow. i looked up my neon wallet address on Neoscan website it shows this totally different outputs address: AVn3ieeMPNxNfjSYi69h1

[2017-08-13 05:43] BitRov opened #97 "My gas had been accumulating on my neon wallet and then it disappeared to zero and stopped accumulating."

[2017-08-13 05:54] totalvm commented on #96
If you sent it to the wrong wallet, there is nothing we can do.
As soon as it leaves your account you can't cancel it anymore.

If you don't have access to the account you sent it to, I'm afraid your funds are lost.

[2017-08-13 05:59] kajlul commented on #96
is this address a valid NEO/GAS Address: AVn3ieeMPNxNfjSYi69h1Ws2L95udiQBy2

[2017-08-13 06:08] saltyskip commented on #96
Yes, that is a valid address, you can see the gas here

https://www.neoscan.io/address/AVn3ieeMPNxNfjSYi69h1Ws2L95udiQBy2

If you do not have access to that address, then @totalvm is correct, the funds are lost

[2017-08-13 06:27] kajlul commented on #96
i sent it to this address AbWeRDPA7SwcZtsnm9jcY3Bz6NikKd5ucc which is binance gas address.
i have no idea why Neoscan shows AVn3ieeMPNxNfjSYi69h1Ws2L95udiQBy2 as output address. i have not been dealing with any other gas address all day today. how could it go to another gas address. this is killing me. i can't think of anything to do

[2017-08-13 06:47] saltyskip commented on #96
Most likely you copy and pasted the wrong address when making the transaction. I'm trulysorry for your loss, but there is nothing that can be done.

[2017-08-13 06:56] FrankieSpades commented on #97
I have the same problem!  Yesterday I created the wallet, sent over my NEO and it started accumulating GAS. A few minutes later, I claimed it and it showed up on my balance. Today I went to claim my GAS and when I did, the Gas never showed up and the amount of gas to claim is at 0.   The original Gas i claimed the previous day is still there. Where did the gas go that I am supposed to claim?

[2017-08-13 06:57] FrankieSpades commented on #85
same here!  it only worked the first time.

[2017-08-13 07:13] CodeJynx commented on #97
I installed the Mac Neon wallet for the first time yesterday and the gas accumulated until today when I reopened the app. I still have that Gas but it doesn't accumulate anymore.

[2017-08-13 07:23] BitRov commented on #97
Thanks for the comments Frankie and Code. I installed the neon mac wallet 4 days ago and my gas was accumulating just fine until I checked it today and my gas balance was zero and no further accumulation. Hopefully somebody will be able to help us.

[2017-08-13 07:33] CodeJynx commented on #97
Third party apps should always be scrutinised... Who knows if our NEO wont disappear someday?

[2017-08-13 08:00] anfn101 commented on #97
The wallet is under maintenance, as has been stated on Reddit and our support Slack for a while now. As a reminder (again), **do not use Github as tech support** - this is an area for developers to discuss code. It simply makes it more difficult to work here. You can refer to Reddit or our support Slack, a link to which can be found in the sidebar of the subreddit. **Please let everybody you know

[2017-08-13 08:00] #97 closed

[2017-08-13 08:10] snowzman opened #99 "No GAS"
Hi

anyone having 0 gas and not accumulating gas?
i was able to see the gas accumulated previously and now it shows as 0 gas andi am already on v0.0.3

[2017-08-13 08:14] cryptoneep commented on #99
I have the same problem since this morning. Yesterday it worked perfectly, I could claim GAS all day long. But today it shows "Claim 0 GAS", and when I click on that, it just says "Waiting for transaction to clear..." for a while.

Also on v0.0.3

[2017-08-13 08:19] CodeJynx commented on #97
I'd like to join the slack channel.. What's the address for an invite??

[2017-08-13 08:19] BitRov commented on #97
Frankie and Code I went to   neotracker.io   I then copied and pasted my public address and clicked open wallet and put in my keys and was able to claim my gas and it was sent to my neon wallet. Although I still don’t see it accumulating on my neon wallet it is accumulating on neotracker. Hopefully we can get back to accumulating the gas on the neon wallet and just clicking the button. Anyhow hope

[2017-08-13 08:21] anfn101 commented on #97
Please... read my comment thoroughly. **Please stop posting on Github.** There are proper channels of support.

[2017-08-13 08:28] BitRov commented on #97
Sorry anfn101. I did not see your comment before I made my last one. Thank you for your help and input.

[2017-08-13 08:28] code-runner-77 commented on #99
Same here.  Using  https://neotrack.io, my address has unclaimed GAS on the chain; however, NEON walllet which worked yesterday, shows "Claim 0 GAS", and if I press the Claim button anyway, the transaction hangs with "Waiting for transactions to clear..." ribbon at the top of the wallet window and it never finishes... Explorer still shows the GAS as unclaimed.

[2017-08-13 08:29] anfn101 commented on #99
The wallet is under maintenance, as has been stated on Reddit and our support Slack for a while now. As a reminder (again), do not use Github as tech support - this is an area for developers to discuss code. It simply makes it more difficult to work here. You can refer to Reddit or our support Slack, a link to which can be found in the sidebar of the subreddit. Please let everybody you know know t

[2017-08-13 08:29] #99 closed

[2017-08-13 08:47] fransyozef opened #100 "0 Gas to claim"
So I've haven't opened my NEON wallet for 2 days now (v0.0.3 on Mac). Now I just opened it and I noticed I have 0 Gas to claim. Normally I have some small ammount to claim. How is this possible?

[2017-08-13 08:50] gpascualg commented on #100
Confirming this is happening to me too, seems to be a problem with the API?

[2017-08-13 08:51] lawred2 commented on #100
Same. Was working yesterday. Now saying 0 Gas.

[2017-08-13 08:55] anfn101 commented on #100
The wallet is under maintenance, as has been stated on Reddit and our support Slack for a while now. As a reminder (again), **do not use Github as tech support** - this is an area for developers to discuss code. It simply makes it more difficult to work here. You can refer to Reddit or our support Slack, a link to which can be found in the sidebar of the subreddit. **Please let everybody you know

[2017-08-13 08:55] #100 closed

[2017-08-13 09:32] like3ds opened #101 "More than 10 hours passed, I did not receive GAS"
More than 10 hours passed, I did not receive the GAS. The claime button shows zero all the time.

![default](https://user-images.githubusercontent.com/30974183/29248542-4d595766-8023-11e7-9bb7-deb5a4d65a18.PNG)

[2017-08-13 09:33] anfn101 commented on #101
The wallet is under maintenance, as has been stated on Reddit and our support Slack for a while now. As a reminder (again), **do not use Github as tech support** - this is an area for developers to discuss code. It simply makes it more difficult to work here. You can refer to Reddit or our support Slack, a link to which can be found in the _sidebar of the subreddit_. **Please let everybody you kno

[2017-08-13 09:33] #101 closed

[2017-08-13 09:51] soyinka1994 opened #102 "Wallet value doesn't update + 0 GAS to be claimed....?"
Yesterday I had some gas that i could claim but I didn't. Today it says theres there is 0 GAS. What's up with that? + Its like the value of your wallet doesn't adjust anymore? Anyone experiencing the same issues?

[2017-08-13 09:52] snowypowers commented on #102
see #99. Please close this issue.

[2017-08-13 09:53] anfn101 commented on #102
The wallet is under maintenance, as has been stated on Reddit and our support Slack for a while now. As a reminder (again), **do not use Github as tech support** - this is an area for developers to discuss code. It simply makes it more difficult to work here. You can refer to Reddit or our support Slack, a link to which can be found in the _sidebar of the subreddit_. **Please let everybody you kno

[2017-08-13 09:53] #102 closed

[2017-08-13 10:36] Javadrinkz opened #103 "Mac wallet 0.0.3 has stopped displaying Gas"
Hi guys.

I signed up to Github specifically to ask this question. I have no coding experience whatsoever, so i'm hoping there's a solution to this issue that doesn't require any of the manual adjustments I see around here. They go completely over my head, like a different language.

With that out of the way, the problem i'm having with my Neo wallet for mac is that the total value in USD has stop

[2017-08-13 10:58] Irru- commented on #103
Neon's under maintenance. It'll show up when they're done. Try looking at the Neo subreddit, multiple threads have been made there already.

https://www.reddit.com/r/NEO/comments/6tc5ff/neon_wallet_malfunction_cant_claim_gas_anymore/

[2017-08-13 12:07] Javadrinkz commented on #103
Nice. Thanks for the link.
haha, thought i'd ask here so they don't tell me to come here when I ask them!
Thanks for the help.

[2017-08-13 13:00] emilieleblanc commented on #66
I just sent you an email.

Talk soon.

Emilie Leblanc

No worries @emilieleblanc<https://github.com/emilieleblanc> - send me an email to: github-contact :at: tuxcon dot com (obviously, take the :at: and "dot" and substitute them - anti-spam measures). Talk soon :)

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/CityOfZion/neo

[2017-08-13 13:12] emilieleblanc commented on #66
I know my post is considered as « closed », but i still cannot recover my coins and my app will not open again… I click the icon and nothing happens.
What is this wallet?? A scam?? Have i been scammed?

Emilie Leblanc

Le 2017-08-10 à 23:52, Steve Divskinsy <notifications@github.com<mailto:notifications@github.com>> a écrit :

No worries @emilieleblanc<https://github.com/emilieleblanc> - send me a

[2017-08-13 14:09] merretta commented on #85
I have the same issue however my Claim button always shows 0 GAS, the other odd thing is when I click on any of the links in the transaction history it goes to http://antcha.in with a 404 page error in the middle of the website even on the transaction that shows the NEO coins.

![image](https://user-images.githubusercontent.com/30979376/29250372-cbf331c6-8084-11e7-9d84-9427f66ebea0.png)

Should I

[2017-08-13 16:08] anfn101 commented on #103
The wallet is under maintenance, as has been stated on Reddit and our support Slack for a while now. As a reminder (again), **do not use Github as tech support** - this is an area for developers to discuss code. It simply makes it more difficult to work here. You can refer to Reddit or our support Slack, a link to which can be found in the sidebar of the subreddit. **Please let everybody you know

[2017-08-13 16:08] #103 closed

[2017-08-13 16:09] anfn101 commented on #85
The wallet is under maintenance, as has been stated on Reddit and our support Slack for a while now. As a reminder (again), **do not use Github as tech support** - this is an area for developers to discuss code. It simply makes it more difficult to work here. You can refer to Reddit or our support Slack, a link to which can be found in the sidebar of the subreddit. **Please let everybody you know

[2017-08-13 16:09] #85 closed

[2017-08-13 16:12] Alisamix commented on #96
were you asked by someone on reddit to download an updated version?

[2017-08-13 16:14] Vibehunter opened #104 "Unclaimed GAS disappeared from Neon Wallet, and wont show any accruing GAS anymore"
Here is a screen capture:

![screen shot 2017-08-14 at 2 13 01 am](https://user-images.githubusercontent.com/30982141/29251325-2c3ae806-8096-11e7-8f88-9fb81d355a59.png)

I attempted to claim to see if i could redeem the gas still however, it appears the transaction has an error.

Have i lost my GAS?

[2017-08-13 16:15] anfn101 commented on #104
The wallet is under maintenance, as has been stated on Reddit and our support Slack for a while now. As a reminder (again), **do not use Github as tech support** - this is an area for developers to discuss code. It simply makes it more difficult to work here. You can refer to Reddit or our support Slack, a link to which can be found in the sidebar of the subreddit. **Please let everybody you know

[2017-08-13 16:15] #104 closed

[2017-08-13 16:42] Cryptology81 opened #105 "GAS disappeared."
Hi, I haven't logged in to my Neon wallet for a few days, when I just did, all the accumulating GAS from the last week has been set to 0 and it's not accumulating any more.

[2017-08-13 16:45] Cubbies905 commented on #92
i'm trying to claim 58 GAS not a small amount! please re open

[2017-08-13 16:45] bitsniper1 opened #106 "Gas is gone?"
I have generated at 0.8 gas and when I finally decided to claim it I open up neon wallet and the gas is displayed as 0. was I hacked or is there a problem with the wallet? Also unable to generate new gas, has been display 0 the whole day already?

Thank YOu

[2017-08-13 16:49] RealAtix commented on #106
Hey it's not gone, the gas part of the wallet is broken I guess.

You can see the claimed and unclaimed GAS by looking up your public address here https://neotracker.io/

[2017-08-13 16:49] Cubbies905 opened #107 "GAS Claim Failed then GONE"
I had 58.1 GAS I was trying to claim yesterday after downloading NEON wallet.  I had build it up by storing in web wallet while I waited for a Mac client where I could claim the gas.  Yesterday I tried to claim the 58.1 which were showing up to claim, and it was giving me a claim failed message.  This morning I just opened up the wallet and there is no 0 gas showing in my account and 0 available t

[2017-08-13 16:50] Cubbies905 commented on #107
my public Key is Aeo8VCKRFBhEoT2tw1Qsd8Jh2jjKVoVLpY

Please help!

[2017-08-13 16:51] anfn101 commented on #105
The wallet is under maintenance, as has been stated on Reddit and our support Slack for a while now. As a reminder (again), **do not use Github as tech support** - this is an area for developers to discuss code. It simply makes it more difficult to work here. You can refer to Reddit or our support Slack, a link to which can be found in the sidebar of the subreddit. **Please let everybody you know

[2017-08-13 16:51] #105 closed

[2017-08-13 16:51] anfn101 commented on #92
The wallet is under maintenance, as has been stated on Reddit and our support Slack for a while now. As a reminder (again), **do not use Github as tech support** - this is an area for developers to discuss code. It simply makes it more difficult to work here. You can refer to Reddit or our support Slack, a link to which can be found in the sidebar of the subreddit. **Please let everybody you know

[2017-08-13 16:51] #92 closed

[2017-08-13 16:52] RealAtix commented on #107
https://neotracker.io/address/Aeo8VCKRFBhEoT2tw1Qsd8Jh2jjKVoVLpY
As you can see your unclaimed gas is still here.

The wallet is currently having an issue with displaying GAS.

[2017-08-13 16:52] anfn101 commented on #106
The wallet is under maintenance, as has been stated on Reddit and our support Slack for a while now. As a reminder (again), **do not use Github as tech support** - this is an area for developers to discuss code. It simply makes it more difficult to work here. You can refer to Reddit or our support Slack, a link to which can be found in the sidebar of the subreddit. **Please let everybody you know

[2017-08-13 16:52] #106 closed

[2017-08-13 16:53] anfn101 commented on #107
The wallet is under maintenance, as has been stated on Reddit and our support Slack for a while now. As a reminder (again), **do not use Github as tech support** - this is an area for developers to discuss code. It simply makes it more difficult to work here. You can refer to Reddit or our support Slack, a link to which can be found in the sidebar of the subreddit. **Please let everybody you know

[2017-08-13 16:53] #107 closed

[2017-08-13 16:56] photojacketman opened #108 "Neo coin (NOT GAS) balance in Neon wallet is not updating for days"
Neo coin (NOT GAS) balance in my windows (10) Neon wallet is not updating in correlation with the current price. i.e. my balance has been stuck at $600 for the past several days.

[2017-08-13 17:01] photojacketman opened #109 "Neo GAS Balance No Longer Increasing and Zero"
My Windows (10) wallet GAS balance is now zero and no longer accumulating GAS. Balance is zero and not increasing. I have 18 Neo in my wallet.

![image](https://user-images.githubusercontent.com/30982282/29251680-8206fbf4-8059-11e7-9b5e-6b0a1310f977.png)

[2017-08-13 17:06] anfn101 commented on #109
The wallet is under maintenance, as has been stated on Reddit and our support Slack for a while now. As a reminder (again), **do not use Github as tech support** - this is an area for developers to discuss code. It simply makes it more difficult to work here. You can refer to Reddit or our support Slack, a link to which can be found in the sidebar of the subreddit. **Please let everybody you know

[2017-08-13 17:06] #109 closed

[2017-08-13 17:07] anfn101 commented on #108
The wallet is under maintenance, as has been stated on Reddit and our support Slack for a while now. You should also make sure to update to the latest version 0.0.3c, found on the sidebar of the subreddit or neo.org. As a reminder (again), **do not use Github as tech support** - this is an area for developers to discuss code. It simply makes it more difficult to work here. You can refer to Reddit

[2017-08-13 17:07] #108 closed

[2017-08-13 17:54] kajlul commented on #96
i followed this youtube video when i downloaded the neon wallet https://youtu.be/GkINIvg83go

[2017-08-13 18:12] Alisamix commented on #96
That is the correct wallet - weird.

[2017-08-13 18:17] kajlul commented on #96
is there anyone i should contact who can help me? i have not been missing with any other gas address in my life, how could it be sent to that other gas address when i haven't even seen such an address. i copied the correct address from my binance gas wallet and pasted it into the neon send address field, but i dont remember if i double checked the address to make sure or not. even if i didnt doubl

[2017-08-13 18:21] Alisamix commented on #96
Some kind of criminal activity is entirely possible - I could try to look into it, but without access to logs, the client etc there isnt anything I could do.

[2017-08-13 18:25] kajlul commented on #96
i will really appreciate that. what specific info you need so i write it here for you.

[2017-08-13 18:33] Alisamix commented on #96
You can add me in skype: alisami3000

[2017-08-13 18:43] mycryptoinvestment opened #110 "Gas Value in my wallet still reading zero after 2 days"
I observed that my Gas value is not being updated and reading zero since I started staking my neo coins in the neo wallet.
Please help me rectify this.

[2017-08-13 18:46] mocmocamoc commented on #110
I'm also seeing zero gas available to be claimed at the moment, although I have successfully claimed some over the past week.

[2017-08-13 19:24] anfn101 commented on #110
The wallet is under maintenance, as has been stated on Reddit and our support Slack for a while now. As a reminder (again), **do not use Github as tech support** - this is an area for developers to discuss code. It simply makes it more difficult to work here. You can refer to Reddit or our support Slack, a link to which can be found in the sidebar of the subreddit. **Please let everybody you know

[2017-08-13 19:24] #110 closed

[2017-08-13 19:27] bouncyenemy opened #111 "US and GAS not updating"
The US price and GAS button have not updated for about 15 hours. Is this a self-correcting issue or is there some action I can take to resolve it? Thanks!

[2017-08-13 19:55] tradersu commented on #111
Think this is a widely reported problem on reddit, I'm having the same issue, frustrating.

[2017-08-13 19:58] anfn101 commented on #111
The wallet is under maintenance, as has been stated on Reddit and our support Slack for a while now. As a reminder (again), **do not use Github as tech support** - this is an area for developers to discuss code. It simply makes it more difficult to work here. You can refer to Reddit or our support Slack, a link to which can be found in the sidebar of the subreddit. **Please let everybody you know

[2017-08-13 19:58] #111 closed

[2017-08-13 21:18] 60168 commented on #87
How do I buy NEO and where to buy? Thank you.
My email is eosokk007@gmail.com

[2017-08-13 21:29] mharw commented on #87
https://www.binance.com/trade.html?symbol=NEO_BTC
https://19800.com/market/cny_ans/

[2017-08-13 21:48] martythekid opened #112 "Gas showing 0"
I've been holding Neo in the Neon wallet since last week. On Friday, my Gas was accumulating. Today when I checked the wallet the gas was back to 0 but I have not claimed any. Is there a fix for this? Thanks!

[2017-08-13 22:31] anfn101 commented on #112
The wallet is under maintenance, as has been stated on Reddit and our support Slack for a while now. As a reminder (again), **do not use Github as tech support** - this is an area for developers to discuss code. It simply makes it more difficult to work here. You can refer to Reddit or our support Slack, a link to which can be found in the sidebar of the subreddit. **Please let everybody you know

[2017-08-13 22:31] #112 closed

[2017-08-13 23:11] MJL1000 opened #113 "Neon wallet not logging in"
Is anyone else having issues with their neon wallet not logging in? I enter the private key and the log in will not click.

Help!

[2017-08-13 23:30] anfn101 commented on #113
Update to the latest wallet version, which solves this. It's in the sidebar of the subreddit or can be found at neo.org.

[2017-08-13 23:30] #113 closed

[2017-08-14 00:49] 7jai opened #114 "My NEO balance is showing "0" after I deposited NEO yesterday successfully"
Hi there,

Yesterday I successfully deposited NEO into my NEON wallet, and saw transaction history listed.   This morning when I login, it showed me a "0" balance and also has no transaction history.

I am currently using the latest 0.0.3 version as well for windows.

Could you please advise?

Thank you in advance for your help.

[2017-08-14 01:00] ryanbas21 opened #115 "No Side Effect model?"
I noticed reading through the source that there doesn't seem to be a side effect model at play.

There are asynchronous requests occurring like `setTimeout` that are not being handled. This becomes an issue in functional programming especially in Redux because it depends on the idea of deterministic state rendering and not handling side effects can break that.

Has this been discussed or thought a

[2017-08-14 01:20] 7jai commented on #42
Hi everyone,

Did anyone solve the case of the "ZERO" balance?  I have the same issue. Before I saw the amount, now it's suddenly disappeared to ZERO.

Some said to download the new 0.0.3c version - but then I don't see it on the NEO website. https://github.com/CityOfZion/neon-wallet/releases/tag/0.0.3c

I only see the Windows downloadable file at the bottom for 0.0.3 version.  I dont know how to

[2017-08-14 01:28] Trauzki commented on #42
7jai, that's the one I downloaded: "Windows.Neon.Setup.0.0.3.exe". No problems so far.

[2017-08-14 01:31] 7jai commented on #42
@Trauzki  - thanks for your reply.  That's the version i downloaded again and am currently using...  but still nothing :(   What does your "Block" say at the top right corner?  Mine says "NaN", but not sure what means...

[2017-08-14 01:38] Trauzki commented on #42
I'm sorry for your losses guys. But I honestly think the Bittrex's warnings are very clear.
"The NEO asset is not divisible. Please withdraw only whole numbers. Any fractions will be discarded.
For example, if you withdraw 100.23 NEO, you will only receive 100 NEO."

@7jai Block 1248563 Version 0.0.3 Running on MainNet

[2017-08-14 01:40] 7jai commented on #42
@Trauzki  - Thanks for confirming.  I think that's the issue.  My Block shows "NaN" (which I have no idea what that means).  I remember that in order to have it updated, I should see numbers like what you see in your Block description.

[2017-08-14 01:43] Trauzki commented on #42
Do you see "Running on MainNet" ?
Was it working before? Try reinstalling or check if your firewall is not preventing your wallet to sync.

[2017-08-14 01:45] Trauzki commented on #42
And make sure you keep your Private Key safe. Don't store it online or on your email. In case you do, you should split the PK's characters or try to disguise it in a way only you can put together/understand.

[2017-08-14 01:46] 7jai commented on #42
@Trauzki  - I fixed it!  So basically I was using my work network (which has firewall protection, as per what you just mentioned).  So that's why it was not updating my balance!  So I took it off my work network, and used my mobile data to tether.  Tried it again and *poof* it works!

Thanks so much for your quick responses @Trauzki .  We should all be lucky to have people like you on this board!!

[2017-08-14 02:40] J0rdi3 opened #116 "USD Value not updating?"
Hey guys,

Is anyone else having an issue with the USD value of your NEO not updating?

I have 40 NEO, and it is saying it is only $1364.58 (it has been stuck on this for a few days)...it should be much higher.

Any ideas?

<img width="461" alt="screen shot 2017-08-14 at 12 39 09 pm" src="https://user-images.githubusercontent.com/30992987/29256431-aa9011ca-80ed-11e7-9c12-9321d619698b.png">

[2017-08-14 02:49] Shaunt90 commented on #116
Having the same issue. Look forward to hearing a suggestion, also looking forward to seeing the balance go up!

[2017-08-14 02:56] anfn101 commented on #116
You should all update to the latest wallet version - go to neo.org to find the link.

[2017-08-14 02:56] #116 closed

[2017-08-14 03:01] J0rdi3 opened #117 "USD Value Not Updating"
Please review this post as this issue hasn't been resolved in the update 8-9 days ago.

Using the latest 0.0.3c update directly from neo.org for MAC.

The USD value is not updating in accordance to coinmarketspot/bittrex. Clearly API isn't working.

Tried re-install, still not working....

This value should represent $2000 +
<img width="461" alt="screen shot 2017-08-14 at 12 39 09 pm" src="https:/

[2017-08-14 03:17] J0rdi3 commented on #117
@anfn101 - please review this, rather than closing it.

[2017-08-14 03:28] anfn101 commented on #117
This is not the proper channel for support. **Github is for code and developer discussion.** Please either find help on our subreddit or our support Slack, a link for which can be found on the sidebar of the subreddit. Thanks.

[2017-08-14 03:28] #117 closed

[2017-08-14 08:01] cinooo opened #118 "Not showing error when seed is down"
Seems like some calls to seed*.cityofzion.io are timing out. It should give the user a relevant error message so they don't panic when this happens.

[2017-08-14 09:42] halfwayline15 opened #119 "can not copy/paste into NEON wallet for mac..."
tried to copy and paste the private key in to the login but no joy. Surely we re not expected to type it in manually?

[2017-08-14 09:56] aars commented on #119
Works fine here. (10.12.6)

[2017-08-14 09:57] halfwayline15 commented on #119
could be that I'm still using Yosemite?

[2017-08-14 10:11] johnwillc commented on #119
same problem here no copy and paste windows 10.

[2017-08-14 10:13] halfwayline15 commented on #119
oh ok...and thats on Windows too then!
I've quite a few NEO so don't want them on an unreliable wallet?

[2017-08-14 10:50] Nixeus42 opened #120 "Neon Wallet Windows 10 - Cant log into new wallet"
Good day

Cant log into new NEON wallet on PC. Cant copy and paste private key and try typing it as well. Nothing happens when you click the login button.

Regards

[2017-08-14 11:56] Saultron opened #121 "Funds not sending, not in wallet"
Hello!

I sent my funds to my bittrex wallet but it doesnt show pending. It has been over 10 hours already. When I try to resend the funds from NEON wallet it says "You do not have enough NEO to send". I check the block chain explorer and it says my funds are still in my wallet. My GAS bar also has GAS accumulated. I think my funds are in limbo. Can anyone help me out?

[2017-08-14 12:13] totalvm commented on #120
Are you sure the private key is okay?
Also did you create the wallet with the Neon Wallet itself?

[2017-08-14 12:18] cdncoin1962 commented on #121
I've had funds go missing. I sent four coins from Bittrex and only 3 showed up in the wallet. This has happened a few times. Someone is either scamming my coins/bits of coins, or something is seriously wrong with this wallet.

Either way....I'll be finding a new wallet as soon as one is available. I'm losing to much money at $50US a coin.

[2017-08-14 12:26] cdncoin1962 commented on #87
I'm using Neon Wallet .3 ...I've had bits of coins and full coins not show up in Neon wallet. This appears to be an ongoing issue that isn't being resolved. I just sent 4 coins to the wallet, only 3 showed up. At $50US a coin, that is too much money for me to put anymore trust into this wallet until this is fixe. Especially when I tried to scan my address on the blockchain explorer and I receive a

[2017-08-14 12:44] stevesbrain commented on #87
@cdncoin1962 - I don't see how this is possible (in terms of it being a fault of the wallet). All "transactions" are simply a cryptographic process. Someone sends you coins, they're basically signing a message with their private key that transfers X to your public key. Simple as that. There is not "partial" transfer (as in, coins don't go missing). However, what I have seen is people having issue

[2017-08-14 12:52] Nixeus42 commented on #120
Yes I copied the key from the wallet created. It does not allow me to paste
and when I manually type it I cant click login. Nothing happens.

Using Windows 10. Please assist. I created another new wallet. Same issue.

Regards

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_

[2017-08-14 12:58] cdncoin1962 commented on #87
No it doesn't sound right. My exchange is withdrawing their fee, then
transferring the rest. Whoever is mining, or confirming the transaction
prior to deposit is doing the rounding down and only depositing the 3,
rather than 3.9, or as you stated 3.75. The rest is going into someones
pocket. It's not going back to the exchange, or back into my account. I
will find out who is doing this!

On Mon, A

[2017-08-14 13:23] raj-indulkar commented on #114
Neon wallet does not recognize fractional values. For example if you send 1.9 Neo to the wallet, you will only get credited with 1 NEO and you will lose the fractional value of .9, even though you paid for it.

Also .1 to .2 neo approx, is the transfer fee (charged by most exchanges, like bittrex), so when you are transferring amount to the wallet, send say 2.2 neo, so you get credited with 2 neo.

[2017-08-14 13:30] cdncoin1962 commented on #87
I found out where my missing coin is going.
Whoever is at address: AR4QmqYENiZAD6oXe7ftm6eDcwtHk7rVTT is collecting the
bits. So far, 3.9469578 of my NEO coins have been stolen by the owner of
that address.

I want them back. They can be deposited to my NEO wallet at this address:
AcPre1KPG9z3LBKCZ1N5U6JTVXijCwjxCf

On Mon, Aug 14, 2017 at 9:58 AM, CDNCoin <cdncoin1962@gmail.com> wrote:

[2017-08-14 13:49] cdncoin1962 commented on #87
Here's the backup info to show where my coins are going.

On Mon, Aug 14, 2017 at 10:30 AM, CDNCoin <cdncoin1962@gmail.com> wrote:

[2017-08-14 13:49] Edgarliendo opened #122 "There are no network settings or any preferences, i want to run app through tor please"

[2017-08-14 13:55] cdncoin1962 commented on #121
I found out where my coins are going. Address: AR4QmqYENiZAD6oXe7ftm6eDcwtHk7rVTT
See attached. I want them back!

<img width="919" alt="screen shot 2017-08-14 at 10 47 54 am" src="https://user-images.githubusercontent.com/31006174/29274700-0f4ebddc-80df-11e7-9854-f7db1d5b5dd4.png">

[2017-08-14 14:02] cdncoin1962 commented on #114
I've found out where my coins are going and I'm not happy at all. Whoever is at address
AR4QmqYENiZAD6oXe7ftm6eDcwtHk7rVTT has my missing coins and I want them back.

The exchange isn't the problem, and NEON is NOT just ignoring the fraction. The owner of that address is rounding down and stealing the remainder.

<img width="919" alt="screen shot 2017-08-14 at 10 47 54 am" src="https://user-images

[2017-08-14 14:04] cdncoin1962 commented on #114
Also....when I try to scan that address, I get a "timed out" message. Every time!

[2017-08-14 14:10] cdncoin1962 commented on #114
Whoever is address   AR4QmqYENiZAD6oXe7ftm6eDcwtHk7rVTT   they've collected a lot of NEO by taking peoples coin fractions.
<img width="577" alt="screen shot 2017-08-14 at 11 08 33 am" src="https://user-images.githubusercontent.com/31006174/29275353-39e6cec0-80e1-11e7-81af-31aa4464c63d.png">

[2017-08-14 14:32] cdncoin1962 commented on #87
Whoever is at Address     AR4QmqYENiZAD6oXe7ftm6eDcwtHk7rVTT   is collecting a lot of peoples coin fractions.
<img width="577" alt="screen shot 2017-08-14 at 11 08 33 am" src="https://user-images.githubusercontent.com/31006174/29276192-2f60667a-80e4-11e7-92de-db1386617582.png">

[2017-08-14 14:33] cdncoin1962 commented on #87
Because it doesn't appear above....here is the backup to my claim that address AR4QmqYENiZAD6oXe7ftm6eDcwtHk7rVTT    has my missing coins.

<img width="919" alt="screen shot 2017-08-14 at 10 47 54 am" src="https://user-images.githubusercontent.com/31006174/29276269-67c8c5ca-80e4-11e7-99de-3dde91aa4339.png">

[2017-08-14 14:35] cdncoin1962 commented on #87
@canesin ....I hope you get to the bottom of this and have peoples missing coins returned to them.

[2017-08-14 14:36] cdncoin1962 commented on #87
@canesin ....your credibility is on the line.

[2017-08-14 14:40] cdncoin1962 commented on #87
I've now transferred all my NEO out of this wallet and will not be transferring any back in. If my missing/stolen NEO ever are returned, please return to this address
Aa941RkYw8WVidtXKCWChtbnBYcSymGZmN.

[2017-08-14 14:56] cdncoin1962 commented on #87
@canesin ....your profile states you are in Cambridge, MA. Seeing how you are the owner and created this wallet, you are responsible. I certainly hope, for your sake,  you are not the owner of the address receiving peoples deposits & skimming off the fractions because that is called fraud, theft, etc....and USA has laws against that. If you have a contract with this address, then you need to have

[2017-08-14 14:56] lucianoengel commented on #87
@cdncoin1962 I'm sorry for your lost coin, but NEON is not to blame for that. This address times out because it has so many transactions that most explorer can't handle it. I've built NeoScan so I know these address as they heavily load the servers. There's not many addresses like that in the chain and my guess is they are all from exchanges, since they are the ones doing most of the transactions.

[2017-08-14 15:05] cdncoin1962 commented on #87
The exchange is not stealing. The exchange is sending what they are suppose to send just as they do with every other coin. It is ONLY with the transfer to THIS wallet where the problem is. If you KNOW that address, then you KNOW who it belongs to and who has the coins. Does the address belong to NEON, or does it belong to the exchange? You set it up, you tell me.

[2017-08-14 15:12] totalvm commented on #121
@Saultron what are you wallet addresses and did you get a txid?

@cdncoin1962
You can't have half coins and any coins sent that are not a whole number are lost in the void.
So only send exact numbers (integers).

NEO is not divisible.
If you send exactly 4 coins from Bittrex, they deduct 0.1 ans sending 3.9, which means 0.9 is lost during transaction

[2017-08-14 15:12] CRYPTORICH commented on #121
Hey cdncoin1962,
Did you happen to read all of the prompts before sending your coins to this wallet?

![neo](https://user-images.githubusercontent.com/31010569/29277971-6156eb70-80e1-11e7-9741-cbd7b8506120.PNG)

[2017-08-14 15:13] canesin commented on #87
@cdncoin1962 this has nothing to do with CoZ, NEON wallet or myself.

**NEO cannot be transact in fractions, NEO is indivisible**

The exchange your are using must be Bittrex, they allow people to transact in fractions and withdraw in fractions, but the network will refuse such transaction. So bittrex get your amount, deducts their fare and send only the interger part:
RECEIVING_AMOUNT = Int(your_

[2017-08-14 15:13] #87 closed

[2017-08-14 15:14] totalvm commented on #122
Currently not a priority, use a vpn yourself if you want to do that.

[2017-08-14 15:14] #122 closed

[2017-08-14 15:20] cdncoin1962 commented on #87
Thank you for your quick response. I am determined to get to the bottom of this.

[2017-08-14 15:22] canesin commented on #87
@cdncoin1962
Please do, I have lost too much time on this already:
https://steemit.com/cryptocurrency/@dwongch/antshare-neo-exchange-tx-fee-bittrex
https://www.reddit.com/r/NEO/comments/6s2ttd/bittrex_transfer_fee_is_now_01_ans/

[2017-08-14 15:24] canesin commented on #121
@Saultron this is Bittrex account receiving it.
**NEO is indivisible**

![image](https://user-images.githubusercontent.com/353648/29278577-30bebb80-80e3-11e7-9a17-b58ea3560a03.png)

[2017-08-14 15:44] Saultron commented on #121
@canesin I'm not having a problem with the indivisibility. I'm aware of this policy. This was another user that commented on ticket. I am having issued with the FUNDS not showing in my accounts. The blockchain explorer says my funds are in my account but NEON wallet doesnt load them nor after sending funds to Bittrex does it give me a pending deposit. My funds are in the blockchain but i am not ab

[2017-08-14 15:48] canesin commented on #121
Sorry for this @Saultron , some users thing spamming is the solution and I ended up closing it. So you can see them on the explorer but they do not show on the wallet, a wallet is just a window in the blockchain, this must mean you have some connectivity problem. Have you verified that ?

[2017-08-14 15:52] Saultron commented on #121
@canesin Hey man no worries. I figured. Yes, i have reset all my connections but nothing yet. I also went through REDDIT to look at the other wallets that are on the side bar. I used my private key and the FUNDS appeared on the new wallet; but the same issue occurred. I tried to send them to my Bittrex account and it basically timed out? I would click "confirm" and the funds would still just show

[2017-08-14 15:55] canesin commented on #121
@Saultron this looks to be related to some nodes timing out, we will span some extra servers (monitor.cityofzion.io), comeback in one day.

[2017-08-14 15:57] Saultron commented on #121
@canesin Much appreciated brother! Will do!

[2017-08-14 15:57] canesin commented on #120
Can't reproduce, must be a local issue.

![image](https://user-images.githubusercontent.com/353648/29280029-b431ea06-80e7-11e7-8c91-ba8597ce426b.png)

![image](https://user-images.githubusercontent.com/353648/29280050-c8d79820-80e7-11e7-9074-71fd3c2d2fa0.png)

![image](https://user-images.githubusercontent.com/353648/29280056-cdc42f38-80e7-11e7-8045-4dcb2d2a05a5.png)

[2017-08-14 15:57] #120 closed

[2017-08-14 15:59] canesin commented on #120
**Use Ctrl+V to paste the key**:
![image](https://user-images.githubusercontent.com/353648/29280094-e8dddfe4-80e7-11e7-8349-70db63b16dc8.png)
![image](https://user-images.githubusercontent.com/353648/29280123-03484c8e-80e8-11e7-9351-bf1ec2d70354.png)
![image](https://user-images.githubusercontent.com/353648/29280129-06d5a554-80e8-11e7-911d-fc5176715f6c.png)

[2017-08-14 16:00] canesin commented on #119
Use ctrl+v to paste the key on windows, or command+v on mac.

[2017-08-14 16:00] #119 closed

[2017-08-14 16:02] canesin commented on #115
@ryanbas21 just a product of the speed things are going.. if you want to PR an MVP for your idea that would be great (just don`t loose to much time as this can go to trash, just to put discussion on more concrete basis).

[2017-08-14 16:03] canesin commented on #114
Does your installer has the official hashes ?
Hashes

Mac: 75e28561366fce63338d930f83ad6bb88cbff7bd17820fb860e48f7e882d8f42
openssl sha -sha256 Neon-0.0.3.dmg

Windows: c5efab9ebde83c598b98d959fbfec061285489f8a6ebf270600d1ec3abb9e293
certUtil -hashfile "Neon Setup 0.0.3.exe" SHA256

Linux (appimage): 73a7c29453dc0b3324eec1d18a6183f30d46c6da4b1f5be9a32eed1d48df9d77
sha256sum Linux.Neon-0.0.3-x86_64

[2017-08-14 16:26] anfn101 commented on #114
"Whoever is at address
AR4QmqYENiZAD6oXe7ftm6eDcwtHk7rVTT has my missing coins and I want them back."

For Neo, Neon is unable to even accept fractions. When sending to any address, not just one created in Neon, that is the case. Neon has nothing to do with that. That is Bittrex's wallet address... nobody but an exchange could have that amount. This is related to the Bittrex fraction issue. This i

[2017-08-14 16:34] Nixeus42 commented on #120
You are the man. Thanks a million

On 14 Aug 2017 17:59, "Fábio C. Canesin" <notifications@github.com> wrote:

[2017-08-14 17:47] cdncoin1962 commented on #114
Interesting....I sent Bittrex that address, & told them I want my coins
back and very soon after, the entire exchange is shut down for "database
maintenance". Hopefully this issue is one of their "database maintenance"
issues being resolved. It makes me sick to see people being ripped off by
anyone.

On Mon, Aug 14, 2017 at 1:26 PM, Alan Fong <notifications@github.com> wrote:

[2017-08-14 17:54] cdncoin1962 commented on #114
Looks like they are back up and running. Only thing I see new is this....

On Mon, Aug 14, 2017 at 2:47 PM, CDNCoin <cdncoin1962@gmail.com> wrote:

[2017-08-14 19:01] CodeDweller opened #123 "TypeError: webpack.optimize.OccurenceOrderPlugin is not a constructor"
Hi,

On Windows 10, Node 6.11.2 LTS, When running webpack command, as per the instructions, I get the following error: "TypeError: webpack.optimize.OccurenceOrderPlugin is not a constructor".
After googling the problem, I found that there is a spelling problem ('Occurence' instead of 'occurrence', duh) with webpack version that's currently in use (1.13,0), that has been fixed with newer versions o

[2017-08-14 19:25] anfn101 commented on #120
Remember- **Github is not a support desk and should NEVER be used as such**... Issues like this can be reported on Reddit or in our support Slack (link found on the sidebar of the subreddit). Thanks.

[2017-08-14 19:26] #114 closed

[2017-08-15 05:17] totalvm commented on #121
@Saultron glad you could solve it on your own.
Sorry for any inconvenience.

[2017-08-15 05:17] #121 closed

[2017-08-15 05:30] totalvm commented on #83
For now there is no incentive to make it 32bit, as this requires a 32bit computer to create, however keep checking releases for changes.
I recommend upgrading to a 64bit OS instead

[2017-08-15 05:30] #83 closed

[2017-08-15 05:42] totalvm commented on #93
Thanks I updated the release documentation!

[2017-08-15 05:42] #93 closed

[2017-08-15 06:02] matwxx opened #125 "Login Button malfunction"
Today I could still login by typing private key and press the login button. Now its not working. I click the login button, nothing open up.

[2017-08-15 07:04] Alexintosh commented on #81
I'll be glad to work on this.
It's not completely clear how the process works to get PRs reviewed, I made a couple based on github issues last week. I'd appreciate if someone cold add me on Trello.

[2017-08-15 16:07] kamenjan opened #126 "Cmd+C copy functionality not working"
I am having hard time copying generated keys when I try to create new wallet. It doesn't matter if I use Cmd+C or Copy function from Edit menu it just does not copy highlighted text to clipboard. While clicking inside the application window I get the following error in the console:

`2017-08-15 17:39:00.419 Electron Helper[42599:1056342] Couldn't set selectedTextBackgroundColor from default ()`

N

[2017-08-16 10:25] tester2011 commented on #53
I think this is pretty much an essential feature. Exposing the private key every time you log into the Neon wallet is asking for trouble.

[2017-08-16 22:23] dedonmel opened #127 "Copy Paste address & Key Windows 10"
Cant copy and paste address or private key back into log in after downloading and creating a new wallet. It will however open the wallet if I enter the private key manually. I have neo on the exchange which I want to get off asap! Any help

[2017-08-16 23:11] MilotM opened #128 "Neon Wallet - Balance shows '0' ! Can someone help?"
Hi guys, i installed Neon wallet yesterday and everything was ok the whole time...(made deposit, earned gas etc..)
Today when i opened it showed 0 balance... i tried all the steps shown on other posts like (reinstalling, trying testnet-mainnet, checking firewall...)
In chain explorer it shows that i have 24 neon the exact amount i should have, but it just doesn't show on neon wallet...

my pubadd:

[2017-08-16 23:12] MilotM commented on #128
my public address: AZLeQjmUjpaoYC9KR4T1QN5cEWfPG2mB26

[2017-08-17 02:07] Ejhfast commented on #128
From my vantage, Neon thinks you have 24: http://api.neonwallet.com/v1/address/balance/AZLeQjmUjpaoYC9KR4T1QN5cEWfPG2mB26

You must have some connectivity issue?

[2017-08-17 02:07] #128 closed

[2017-08-17 05:18] GoldenOrangeX opened #129 "armv71 Support"
Hi,
I'm looking to store my NEO using my Raspberry Pi 3 with Ubuntu-Mate installed, however I noticed there's no supported versions for the systems architecture. Is there a workaround to this, or is armv71 already supported and I'm just missing a step.

My apologies if this is a simple fix/dumb question, I'm new to all this.
Thank you,
Golden.

[2017-08-17 05:44] Ejhfast commented on #126
Please try the latest release, 0.0.4

[2017-08-17 05:44] Ejhfast commented on #127
Please try the latest release, 0.0.4

[2017-08-17 08:35] CodeDweller commented on #123
Fixed with new commits.

[2017-08-17 08:35] #123 closed

[2017-08-17 11:22] MilotM commented on #128
Well i am connecting very good because when i press refresh it receives the latest blockchain information!!!
No connectivity issue here, but maybe a bug!

[2017-08-17 11:28] MilotM commented on #128
And why the f*** do you close the issue when it is not solved?

[2017-08-17 11:41] AshRolls commented on #128
Github is not a support channel, it is for the reporting code related issues.

[2017-08-17 15:01] kamenjan commented on #126
Thank you, works like a charm :)

[2017-08-17 15:01] #126 closed

[2017-08-17 15:18] canesin commented on #129
Did you tried to build in raspberry ?
install nodejs and download the repository:
first: sudo npm install -g webpack
inside the folder:
npm install
webpack
npm start

if that works.. you can generate your own installer:
npm run dist

good luck..

[2017-08-17 18:18] markved opened #130 "Windows SmartScreen prompt when installing 0.0.4"
When trying to run .exe on Windows (in my case Windows 10), it throws SmartScreen prompt with the unknown publisher.
![coz_neon_wallet_windowswarning](https://user-images.githubusercontent.com/11667494/29426086-81b8ff24-8353-11e7-9300-e7db1c0c5dc6.png)

This isn't the case with 0.0.3 as it installs without any SmartScreen prompt and also shows the valid publisher.
![neon_publisher](https://user-im

[2017-08-17 18:43] Ejhfast commented on #130
thanks for the heads up, I didn't get that warning with 0.0.4 in testing

[2017-08-17 18:44] #127 closed

[2017-08-17 19:47] markved commented on #130
No problem. It looks like app is signed properly as I can see publisher name under installed program.
![neon_installed_validpublisher](https://user-images.githubusercontent.com/11667494/29430370-22569bae-8362-11e7-9a41-1150de4ed556.png)
I guess MS SmartScreen is displaying that warning based on reputation of the certificate. So as more valid installs occur, it will go away and not display to users

[2017-08-18 01:42] qweqwa opened #132 "Lost $1100 with Neon"
So I downloaded Neon 0.0.3 last week and some hours ago I accidentally deposited 27 NEO to my Bittrex BTC address. The erroneous transaction 'created' a new Neo address which I obviously can not access:
https://neotracker.io/tx/5c632d9dac1d4218ce239f20f977065e8804555765c3e9ff8699174843b5f448

I'm not going to ask if it's possible to get them back, because it's not very likely. I was told that Neon

[2017-08-18 02:15] anfn101 commented on #132
That NEOWRFND6f061d9e9b50754d2c797a2962afc56cd0e42f01 is Bittrex refunding the Neo they took from users sending more than X Neo + their fee. So if you sent 3.5 Neo, they took 0.1 NEO fee and the other 0.4, since Neo is not divisible in the actual blockchain system. They've returned that 0.4 (in that scenario). As for the prevention, yes, we had some invalid address prevention in 0.0.3, but we've e

[2017-08-18 02:15] #132 closed

[2017-08-18 04:10] EvilRebel opened #133 "Fund Missing"
Yesterday i had transferred 1.1 neo from my bittrex wallet to my neo wallet address APzLLRwFDHaXz2prxoQioZZXY2C9wHRLhg.The transaction id was 0158b84618ba035e1fcda16a1dbb777449c631fd1750175af59d327ec82f3a4e.But today when i opened the neo wallet balance is shown as zero.Can someone help me figure out y this is happening?

[2017-08-18 04:27] totalvm commented on #133
download the latest version (0.0.4) your funds are on on that address so no worries

[2017-08-18 04:27] #133 closed

[2017-08-18 14:36] SinclairCrypto opened #134 "Lost my Neo coins on the NEON wallet!!!!"
Hi,

I have a terrible experiences with the NEON wallet by City of Zion. First of all it is impossible to find a costumer support, that is why I am writing here, second I lost my coins. I have sent them and they even showed up on the wallet, but they are gone today.
Thanks God I only sent 3 of them. Anyone know how I can get in contact with the people from City Of Zion?

[2017-08-18 14:39] AshRolls commented on #134
Please try in the #support channel of slack (links are in the sidebar at reddit). Github is for the reporting of code related issues, not technical support so I'm closing this.

[2017-08-18 14:39] #134 closed

[2017-08-18 22:45] jlh1121 opened #135 "Can't withdrawal NEO - somebody please help"
Are you the wallet accessible at NEO.org? (
Are you guys located at

Are you guys located at neowallet.cn? Is the wallet website link at neo.org... How do I withdraw from the Neo wallet?

1.  I started at "home", then under "transfer"
2.  Select "Neo"
3.  Under "receiver", I provide my Neo Bittrex account address (to deposit to)
4.  Enter the "value" which is 101 Neo

What am I missing? Nothing ha

[2017-08-19 05:24] totalvm commented on #135
No that's someone else, not managed by CoZ.
You can move your private key over to any other wallet and try to use that instead.

[2017-08-19 05:24] #135 closed

[2017-08-19 05:26] totalvm commented on #125
Which version are you using?

[2017-08-19 22:35] dvdschwrtz commented on #34
writing tests for TransactionHistory component right now FYI for anyone writing tests... hate the idea of overlap for some reason :)

[2017-08-20 06:06] WyseNynja commented on #29
I'd be happiest with a QR scanner built into the app. Then I can keep my keys on paper and simply scan a QR of the WIF. That way neon doesn't need to store anything on disk and no one needs to use the clipboard as long as they have a webcam.

[2017-08-20 11:39] mmartain commented on #125
Same here. Version 0.0.4. Nothing happens

[2017-08-20 17:41] Wojciechburger commented on #68
I opened my neon wallet paid neo with bittrex I got a transaction confirmation. The funds came and the portlet worked. I logged in. I logged in and it is about the funds. As I check Txld is the address of my public key and the one I sent the funds from bittrex is different. But how do you log on to it is another public key. How to change it. I have all the withdrawal confirmation from bittrex.

[2017-08-20 17:48] anfn101 commented on #68
There is no way to change your public/private key or your address.

[2017-08-21 22:01] Ejhfast commented on #125
In every reported case of this so far, the user was not typing in their private key correctly. We will provide more proactive feedback in the future

[2017-08-21 22:01] #125 closed

[2017-08-22 00:00] #96 closed

[2017-08-22 01:58] stevesbrain commented on #95
I second this, and was planning to suggest it today as well. In addition to being a "download validity checksum", this would also help to protect against the unlikely circumstance that the repo gets compromised. In this event, it is unlikely the attacker would also have the private PGP keys to be able to sign the releases :smile:

[2017-08-22 07:05] ksteigerwald opened #137 "NEO/Gas toggle"
What would happen if a user tried to send Neo, but hit the Gas toggle? I am not certain yet so I ask... My guess is you would loose the coin. If this is the case, please consider updating the UI as it is very unclear which state you are in. I am out 121 Neo, and I can only assume this might had been the issue.

Having a boolean toggle with no color contrast is just an accident waiting to happen(ed

[2017-08-22 16:55] anfn101 commented on #137
I have just tested this a minute ago. There is no issue with doing so.

[2017-08-22 16:55] #137 closed

[2017-08-22 20:41] Brandizzle714 opened #138 "Logged out of my Neon Wallet and logged back in and now my balance is showing zero"
I logged out of my Neon Wallet and logged back in and now my balance is showing zero.  I double checked my Private Key when logging in.

[2017-08-22 20:43] anfn101 commented on #138
Github is not for support. For this, please refer to Reddit or the support channel in Slack, a link to which can be found in the Reddit sidebar. Thanks.

[2017-08-22 20:43] #138 closed

[2017-08-23 11:23] Plasma commented on #29
I'm interested in adding a simple password based protection to the wallet, would this be accepted in a PR?

[2017-08-24 11:02] Plasma commented on #29
I have written a simple prototype of automatic login at #140 - this does not yet store the private key in a secure fashion and so needs further improvements.

[2017-08-25 11:07] danielfm123 commented on #29
You can use that neo web wallet https://www.myneowallet.io

[2017-08-25 14:35] canesin commented on #29
This is in WIP using new NEP2 standard and the reference implementation. I`m locking and closing due to spam across related issues.

[2017-08-25 14:35] #29 closed

[2017-08-25 15:45] FatCat0 opened #143 "Claiming GAS can be buggy (reset one's claim and not award GAS)"
I've encountered two separate bugs re: GAS. I'm hesitant to investigate further (since there's a literal cost associated), but on one occasion I received 0.0000 GAS for a claim that should have been >0, and on two occasions I've just not received a GAS transaction period. I don't know what happened with the former, but with the latter it can be recreated easily: Claim GAS and close the client befo

[2017-08-25 16:29] canesin commented on #143
Thanks for the report @FatCat0, I will try using testnet so there is no need for you to expend anything.

[2017-08-25 22:19] Ejhfast commented on #143
@FatCat0 this is almost certainly a formatting bug and you *did* receive the gas in your account. what does your balance say on neotracker?

we are working to improve the display of incoming gas in small amounts

[2017-08-26 11:46] FatCat0 commented on #143
I think you're correct about the ones showing as 0.0000 (checked on neotracker). I have a couple claims that give me the 0 NEO transaction in my wallet but not the GAS transaction (as in no GAS transaction shows up at all), so I can't check them. I'll PM you one such transaction.

[2017-08-26 13:19] danielfm123 commented on #34
You can use that neo web wallet https://www.myneowallet.io

[2017-08-28 14:18] Trickatreat opened #145 "Red Pulse Support"
Red Pulse ICO is coming up on September 10th. Neon wallet has been recommended to send NEO to purchase them, but they haven't said anything about where the XRP is going to be stored. Has there been any thought as to supporting XRP in NEON?

[2017-08-28 15:36] canesin commented on #145
@Trickatreat Neon is going to support native assets and NEP5 tokens in the near future. I believe (please consult XRP to be sure) that XRP will be a NEP5 token. So it is in the roadmap, to facilitate this - I will close this issue and refetor to it in a new one asking for NEP5 support.

That should clarify things for non-technical investors.

[2017-08-28 15:36] #145 closed

[2017-08-28 15:39] canesin opened #146 "Support NEP5 and native assets"
With upcoming ICOs the wallet needs support for other assets and tokens besides the system ones.
Users are already expecting this feature as of #145.

[2017-08-29 16:45] notatestuser opened #147 "Key password/passphrase"
Hi there,

I haven't looked a great deal into this, but other software wallets seem to have a feature to double secure the private key with a password or passphrase.

Since the private key generated by NEON is somewhat short, would it be possible to offer this extra layer of security?

Great project by the way, this thing is awesome!

[2017-08-29 17:06] GoldenOrangeX commented on #129
Hi, my apologies for the delayed response. All commands leading up to 'webpack' work fine. Upon executing webpack the following errors are displayed: https://pastebin.com/x281PaT7

I'm running Node v8.4.0 and npm v5.3.0.

[2017-08-29 17:33] anfn101 commented on #147
Coming in the next version, due to be released soon.

[2017-08-29 17:33] #147 closed

[2017-08-30 05:13] justinbritz opened #148 "Neon Wallet Private Key (WIF) missing"
Hi Guys, i downloaded the Neon Wallet off of the Neo website and installed it onto my PC.
I was given a private key (WIF) and entered it my pc and didnt think to save the key like a tjop!
Can anyone give me an idea where i can get my Neon Wallet Key from (WIF)

[2017-08-30 05:26] willisplummer commented on #148
@justinbritz if you haven't transferred any funds into your wallet yet, you should just create a new private key and be sure to store it securely

[2017-08-30 09:25] justinbritz commented on #148
There are quite alot of Neo's in there already :-(

[2017-08-30 10:27] totalvm commented on #148
Sorry, if you lost/didn't save your private key there is nothing we can do

[2017-08-30 10:46] justinbritz commented on #148
How do i restore my wallet from a back up file?
Where is the backup file default saved to on PC?

On Wed, Aug 30, 2017 at 12:27 PM, totalvm <notifications@github.com> wrote:

[2017-08-30 10:52] totalvm commented on #148
did you save a backup file?

[2017-08-30 10:55] justinbritz commented on #148
i dont recall, i might have?
Its worth checking!
is there a default location where file would save to on PC?

On Wed, Aug 30, 2017 at 12:52 PM, totalvm <notifications@github.com> wrote:

[2017-08-30 10:56] totalvm commented on #148
If you created the address with the Neon wallet, it doesn't save any file.
If you used the Neo-gui then you should have a .db3 file
If you used an online one you should have a .json file

If you have none of the above, I'm afraid there is nothing you can do to access your wallet

[2017-08-30 11:01] justinbritz commented on #148
I used neon wallet :-(
Thanks

Ps is there maybe any chance in the future that perhaps after more
development that i might be able to retrieve sometime?

On Wed, Aug 30, 2017 at 12:56 PM, totalvm <notifications@github.com> wrote:

[2017-08-30 11:04] totalvm commented on #148
No, your private key is the only thing that can access your funds.
That's also why there is a warning to save it before continuing.

[2017-08-30 11:04] #148 closed

[2017-08-30 11:05] justinbritz commented on #148
ok
Thanks

On Wed, Aug 30, 2017 at 1:04 PM, totalvm <notifications@github.com> wrote:

[2017-08-30 16:40] zachwelten opened #149 "My neo is gone"
hey so i restarted my computer yesterday and my neo and gas were gon off of the neon wallet for pc desktop. i checked my WIF on neo tracker and nothing. so i tried my pubkic address off of bittrex that i used for my latest transfer and it said i had all my neo and gas there any help you can give me

[2017-08-30 16:51] AshRolls commented on #149
Hello @zachwelten . Github is for the reporting of code issues only. Please join #support channel in slack and ask for assistance there.

[2017-08-30 16:51] #149 closed

[2017-08-31 05:27] fernanda1979 commented on #130
I cant open the wallet in windows 10. does not show any error, just doesn't open.

[2017-09-03 03:00] ZetaOS opened #150 "Virus in version: Windows.Neon.Setup.0.0.4.exe"
Hey guys!

My virus scanner detected a virus in download: Windows.Neon.Setup.0.0.4.exe also windows it self prevented me to install.
A online sceck whit Virus total swows only one virus, so it can be a fake detection. Better safe than sorry,
Can the Devopers take a look at this and give me (us) a feedback if or when it`s safe to use?

Thanks!
Vic Green

[2017-09-03 06:00] Ejhfast commented on #150
can you post the screenshot? if you downloaded from the github release page there is no virus in the software, the scanner is triggering a false positive

[2017-09-03 07:29] ineptio007 opened #152 "NEON-wallet doesn't show balance - after almost 1 day..."
Yesterday
![clipboard01](https://user-images.githubusercontent.com/31584436/30001315-5c133f7a-908a-11e7-9e00-271673a46e30.jpg)
![clipboard02](https://user-images.githubusercontent.com/31584436/30001314-5c12e08e-908a-11e7-8880-97382446067b.jpg)
![clipboard03](https://user-images.githubusercontent.com/31584436/30001316-5c144e10-908a-11e7-9b6b-94a2c11e2987.jpg)

I transferred 7 NEO from Bittrex to th

[2017-09-03 16:13] trashcore commented on #152
i have exactly the same problem. I noticed that when i login into neotracker.io they ask me for a password. But when i login into Neon APP , only asks for private key (WIF). Please help

[2017-09-04 02:41] damonp commented on #129
Tested both latest git and 0.0.4 zip.  Same error near the end of the `npm install`.  Looks like electron doesn't like arm?

[code]

[code]

[2017-09-04 19:02] NinjaTurtle007 commented on #94
Thank you! I was unsure if I should install this or the AppImage package. (what is it for?)

When installed like that on linux to what parts of the OS it has access?
I'm afraid if it can access my bitcoin and ether wallets.

[2017-09-05 07:11] gb1995 opened #156 "How to update."
Hello,

Can i safely update my Neonwallet from 0.0.3 to 0.0.4 by "reinstalling" the dmg?

[2017-09-05 08:13] nathanleonard3 opened #157 "Private KeyGen for NEON wallet different to address"
Hi mate,

I am having some issues with the NEON wallet that are doing my head in.
The scenario is this: I download the NEON wallet and install no problem and then set up a new wallet. It generates a private key for me which I saved in screenshot format and emailed to myself and backed up to a second location immediately (see screenshot attached). And I don't care about posting this private key bec

[2017-09-05 08:22] nathanleonard3 commented on #157
PS I did not make a new wallet in doing this. I only pressed on the LOGIN button and entered my private key

[2017-09-05 09:55] aars commented on #156
I had no issues doing just that. But it would be good to know that this is supported, and perhaps where Neon stores it's data (`~/Library/Application Support/Neon` on Mac).

[2017-09-05 21:37] js7558 commented on #94
I don't know how to use the AppImage  as I mostly work on Ubuntu/Debian so am most comfortable with .deb.

In terms of your question about being "afraid if it can access my bitcoin and ether wallets", you might consider running this in an isolated VM so that this is much less likely.   You can install KVM on your Ubuntu host and then run any number of individual VMs on top of it.  For example, you

[2017-09-06 06:13] krustyburger opened #158 "My HDD "blew up". How do i restore my wallet and balance on a different computer?"
My HDD "blew up". How do i restore my wallet and balance on a different computer?
Yours: krusty

[2017-09-06 08:28] AshRolls commented on #158
GitHub is for code issues, please join #support in the NEO slack for help.

[2017-09-06 08:28] #158 closed

[2017-09-06 09:15] djsox13 commented on #157
I have exactly the same problem - surely someone can help us

[2017-09-06 09:46] AshRolls commented on #157
Hi @nathanleonard3 . The private key in the screenshot matches the public address in the screenshot ( AGJYkwRw9HS7adEkbzqM72HT7fcXggUkdp ).

Why would you send NEO to a different address ( AHWM7FdKekCDdV2oCdD4rqxxwEe7PpEsQS ) ? That address would have a different private key to the one that you saved in the screenshot.

I think there may be a misunderstanding here with how public / private keys wo

[2017-09-06 09:46] #157 closed

[2017-09-07 04:42] anastrophe opened #159 "Very minor issue/error"
I am on V 0.0.4. Got a red banner just now, and it advises that Neon wallet is out of date, and to please download...........v 0.0.4.

Obviously, it's v 0.0.5 that is the next version. Not a big deal really - it was obviously clear there's an update, which is great. Just super-tiny confusing to be told to upgrade to the same version. :)

[2017-09-07 05:06] Ejhfast commented on #159
Thanks, this has been fixed in 0.0.5!

[2017-09-07 05:06] #159 closed

[2017-09-07 05:07] Ejhfast commented on #156
Yes, but please post such questions in slack #support channel or on reddit

[2017-09-07 05:07] #156 closed

[2017-09-07 05:09] Ejhfast commented on #152
Try 0.0.5? This seems like some sort of connectivity issue, your balance is showing on the API:

http://api.neonwallet.com/v2/address/balance/AG69WGpnHB3ZNxhKCxJ9mX9HaxkErnYfVc

^ is what wallet uses to display balance...

[2017-09-07 05:20] ineptio007 commented on #152
Hello,

Excuse me.

'Try 0.05' where? In the Neonwallet there is no possibility to do so.

I have noticed that it does appear in https://neotracker.io/wallet but can I use this wallet to send & receive tokens as well?

Tim

Ethan Fast <notifications@github.com> wrote:
Try 0.0.5? This seems like some sort of connectivity issue, your balance is showing on the API:
http://api.neonwallet.com/v2/addres

[2017-09-07 05:22] Ejhfast commented on #152
New release 0.0.5: https://github.com/CityOfZion/neon-wallet/releases/tag/0.0.5

[2017-09-07 05:30] ineptio007 commented on #152
I installed 0.05 but it still doesn't work.
If I can use the  https://neotracker.io/wallet to send & receive tokens, I will try to use this one. It is probably better...

[2017-09-07 12:35] remm12 opened #160 "Windows.Neon.Setup.0.0.5.exe - virus?"
<img src='https://i.imgur.com/nhP7fPR.png' />``

[2017-09-07 12:39] AshRolls commented on #160
This is not a virus, don't worry. The executable isn't signed against a public authority, which is why Windows is trying to protect you with this dialog, if you go to 'More info' you will be able to continue installation.

[2017-09-07 12:39] #160 closed

[2017-09-07 12:51] remm12 commented on #160
Thanks for fast answer. Issue is fixed.

[2017-09-07 13:03] Cerv4ntez opened #161 "gas claim failed with 0.0.5"
Hi,

with 0.0.5 i can no longer claim gas. when trying to my neo is sent to myself (as i can check in the blockchain) but a message in red saying gas claim failed appears, no matter how often i try.
heres a transaction that failedÖ
https://neotracker.io/tx/d340c8db1fc5c8ab2b8aa2d690cc0854a2218a0c4985325424500a712c48be22

![image](https://user-images.githubusercontent.com/18594385/30173347-9916f8f6

[2017-09-07 16:31] jamesfredericks commented on #161
I get the same exact error

[2017-09-07 16:40] cryptheist commented on #161
same exact issue for me.

[2017-09-07 17:14] DaveAuld opened #162 "Version Warning"
The version 'out of date' warning in Version 0.0.4 asks you to install version 0.0.4, i.e. it asks you to install the same version number.

Don't know about the Version 0.0.5 release.....

![image](https://user-images.githubusercontent.com/4674288/30175897-1baf3146-9409-11e7-9819-680cfb8f6c66.png)

[2017-09-07 17:53] Satoshinaire commented on #162
This was fixed in 0.0.5 once you update 😄

Duplicate of #159.

[2017-09-07 18:15] W-Lyf commented on #162
Good, thanks for looking into that.

[2017-09-07 19:06] AZBrad commented on #130
I'm getting same smart screen error when trying to install 0.0.5 ... also not allowing me to fully uninstall previous versions without "permission" ..  what is the best current error free ver of Neon wallet?

[2017-09-07 19:19] Satoshinaire commented on #130
You can work around this if you're confident you got the wallet from the right place.

When Neon 0.0.5 is prevented from launching by Windows Defender SmartScreen due to "Unknown Publisher", you can right+click, then click Properties, and then click Unblock. Then restart Neon.

Best of luck!

[2017-09-07 21:55] mrtwistednutz opened #163 "cannot reinstall neon wallet"
Hi,
I recently read a message in my neon wallet telling me to update version 0.04 as my current version was  out of date.

After update, wallet would not open.

I  tried uninstalling to reinstall and open, but now wallet will not install due to insufficient permissions.

error opening file for writing:

C:\Users\David\AppData\Local\Programs\Neon\Uninstall Neon.exe

I am admin on this PC and should

[2017-09-07 22:58] kranes commented on #161
I have same issue. When i click "claim GAS" , it will hang to "Sending Neo to Yourself". Tried to Logout and LogIn, same issue encountered... Anyone from Neo Support please assist us? Many thanks

[2017-09-08 01:08] egret85 commented on #161
I have this issue as well. For me everything shows correct on neotracker.io.  The NEON wallet however doesn't look like it is updating correctly. Tran history is missing transactions and the GAS has stopped increasing.  I also check using the api (http://api.neonwallet.com/v2/address/balance/{PUBLIC_ADDRESS}) and the return is also incorrect.  The API does match what the wallet shows, but does not

[2017-09-08 01:57] Reznor1023 opened #165 "My Neon 0.0.5 doesn't show all my crypto"
Hi ,
I downloaded the Neon 0.0.5 for Mac. Worked like a charm. Had 111 units showing. Sent another 9. the Neo tracker says I have 120, but my wallet only shows 111.
I ve tried clearing caches, rebooting, refreshing, all the such, and no luck.
Can anyone help?

Thanks!

[2017-09-08 01:58] danshao commented on #152
Devs, this issue is confirmed in 0.0.5. Not showing any balance in NEON at all. 35 confirmations.

[2017-09-08 01:58] cy1230 opened #166 "Issue with Neon Wallet v0.0.5"
Hi can someone please fix the current Neon Wallet v0.0.5.  I transferred some NEO from Bittrex to my NEON wallet public address and it does not display my correct current balance.  Thankfully on Neotracker.io it does display the right balance.  Also, I can't claim the gas.  When I try, a red banner shows up across the top and says transaction failed.

Please help.

Thank you.

[2017-09-08 02:13] pookiecheese opened #167 "wallet not showing ballance and not allowing gas update"
i initially downloaded neon from neon.com then deleted it without using it. i then downloaded v.5 from github and ran that. i can get in/out ok. sent 1 neo test and worked ok
40e7e43895b7870de73bc27e47222ccf16b1909b7757ed78b6b836befd782294
was showing unspent but now showing spent over an hour later but shows as 1 neo in account
i then sent 70 neo
650d813a625c9e383c5d16cc1025d5222b84c31250d7f9c935

[2017-09-08 02:37] pookiecheese commented on #167
I opened a neo tracker wallet and tried to send hidden tokens but it says that i don't have enough tokens even when i try to send 60

[2017-09-08 02:45] pookiecheese commented on #167
is Bitrex the link is there some missing identifyer or protocol?

[2017-09-08 02:47] LucianoCrypto commented on #166
Same here, transferred from Bittrex and neotracker.io is showing me the right balance but nothing at all on my wallet, would really love a fix soon

[2017-09-08 02:49] LucianoCrypto opened #168 "Transferred 24 Neo from Bittrex, not showing up in wallet?"
Just about an hour ago I transferred 24 Neo from Bittrex to my public Neo address. Neotracker.io shows my transaction when I look up my Txid and shows the balance properly unspent. But on Neon wallet 0.0.5 it isn't showing up no matter how many times I reload the app.

Is there any fix coming for this in the near future? Have I lost access to my coins for now? I'm sorry to be frantic, I'm just new

[2017-09-08 03:14] minimoi1234 opened #169 "all my neo are gone"
Hi I made a neo withdraw from bittrex to my neon wallet and the neo were not there.
10 minutes later the rest of my wallet was gone too.
What can I do?

[2017-09-08 03:17] xelanubrel opened #170 "My Neo is gone!"
I updated my wallet and all my Neo was taken out.

[2017-09-08 03:20] JGTX opened #171 "I updated my wallet and all my Neo was taken out."
I updated my wallet and all my Neo was taken out.

[2017-09-08 03:43] dannycryptos commented on #171
I'm having the same issue; however, before transferring any Neo from Bittrex, I updated to the newest version. It showed up within minutes in the Neon Wallet. After I closed the program and reopened it, it shows a 0 balance. When I check neotogas, it shows I do have a balance still on the website but I'm really not liking that it isnt showing up in the actual wallet.

I know the transaction was re

[2017-09-08 03:44] dannycryptos commented on #166
I'm having the same issue; however, before transferring any Neo from Bittrex, I updated to the newest version. It showed up within minutes in the Neon Wallet. After I closed the program and reopened it, it shows a 0 balance. When I check neotogas, it shows I do have a balance still on the website but I'm really not liking that it isnt showing up in the actual wallet.

I know the transaction was re

[2017-09-08 03:50] needaname4now commented on #168
Same Issue! And when I look up the transaction it says it cost me 2 Neo!!!

Scaring the shit outa me with the lack of responses.

[2017-09-08 03:59] stevesbrain commented on #168
@LucianoCrypto If you have your private key, and neo tracker shows the balance correctly, you have definitely not lost your funds!

[2017-09-08 04:01] Satoshinaire commented on #161
Neon's server needed a rebuild due to some behind-the-scenes API changes. This is in progress now, so everything should be working again shortly.

[2017-09-08 04:02] stevesbrain commented on #166
In all likelihood the node you're connecting to is down - which node are you all currently connected to?

[2017-09-08 04:03] stevesbrain commented on #169
@minimoi1234 Check your address in neotracker - are the funds still there? Project owners will also direct you over to the Neo Slack channel for support, rather than GitHub btw, which is for code issues specifically.

[2017-09-08 04:04] Satoshinaire commented on #166
Neon's server needed a rebuild due to some behind-the-scenes API changes. This is in progress now, so everything should be working again shortly.

Visit and read the #support channel on Slack for updates.

[2017-09-08 04:04] stevesbrain commented on #170
More details are probably required. Public address still show all your funds?

[2017-09-08 04:04] Satoshinaire commented on #171
Neon's server needed a rebuild due to some behind-the-scenes API changes. This is in progress now, so everything should be working again shortly.

Visit and read the #support channel on Slack for updates.

[2017-09-08 04:05] Satoshinaire commented on #170
Neon's server needed a rebuild due to some behind-the-scenes API changes. This is in progress now, so everything should be working again shortly.

Visit and read the #support channel on Slack for updates.

[2017-09-08 04:05] Satoshinaire commented on #169
Neon's server needed a rebuild due to some behind-the-scenes API changes. This is in progress now, so everything should be working again shortly.

Visit and read the #support channel on Slack for updates.

[2017-09-08 04:05] Satoshinaire commented on #168
Neon's server needed a rebuild due to some behind-the-scenes API changes. This is in progress now, so everything should be working again shortly.

Visit and read the #support channel on Slack for updates.

[2017-09-08 04:06] stevesbrain commented on #152
Quoting another user:

[code]

[2017-09-08 04:06] Satoshinaire commented on #165
Neon's server needed a rebuild due to some behind-the-scenes API changes. This is in progress now, so everything should be working again shortly.

Visit and read the #support channel on Slack for updates.

[2017-09-08 04:07] stevesbrain commented on #163
Visit Slack for support with the use of the software, but, I'd be checking if you've got permissions to the parent folder, if the file is locked or in use, etc.

[2017-09-08 07:17] tivalensol opened #173 "Neo have been transferred out this morning unknown address!"
Good morning,

This is the first time I have written here and would really appreciate any of your advice. I have had all my neo in a neon wallet for a month (38 Neo). Last night I bought some more on Bittrex with no issue and transferred across to my neon wallet with no issue. (I have a screenshot I can post if anyone replies). The Neo appeared in my wallet. This morning I noticed all my Neo have

[2017-09-08 07:54] tivalensol commented on #171
How do we get access to the slack page? We don;t have an 'invite'!

[2017-09-08 08:15] Satoshinaire commented on #171
@tivalensol Check for the Slack invite link in the sidebar on the [NEO Subreddit](https://www.reddit.com/r/NEO/)

[2017-09-08 08:20] tivalensol commented on #171
can you help with my other post?

[2017-09-08 08:23] Satoshinaire commented on #173
I'm sorry to hear this, sounds scary. First, I'd recommend you double-check your public address with a blockchain explorer like [neotracker.io](https://neotracker.io) to see if they're safe.

Then, as this isn't a development task but rather a software support issue, join the [Slack team](https://neo-slack-invite.herokuapp.com/) and ask for help in the #support channel.

Closing this issue would a

[2017-09-08 12:29] pookiecheese commented on #167
sorry closed in error

[2017-09-08 15:56] Stingo390 opened #174 "Can't Send GAS"
I can't send GAS to Binance. I have checked the address and that I am trying to send GAS and not NEO.
![image](https://user-images.githubusercontent.com/31773682/30220219-84230e52-94b6-11e7-8c89-9401b3b157ec.png)

[2017-09-08 16:12] Stingo390 commented on #174
If I go to https://neotracker.io/ and put my public address in, the GAS tally does not match the GAS that my NEON wallet says I have.

[2017-09-08 16:25] Satoshinaire commented on #167
@pookiecheese It should be closed and you should seek support in the appropriate Slack channel. This GitHub is for tracking development tasks.

[2017-09-08 16:26] Satoshinaire commented on #174
Please seek support in the #support channel of the NEO Slack. This GitHub repo is for tracking development tasks.

[2017-09-08 16:32] #174 closed

[2017-09-08 19:45] #173 closed

[2017-09-08 19:45] totalvm commented on #171
This is not for support issues

[2017-09-08 19:45] #171 closed

[2017-09-08 19:45] #170 closed

[2017-09-08 19:46] #169 closed

[2017-09-08 19:46] #168 closed

[2017-09-08 19:46] #167 closed

[2017-09-08 19:46] #166 closed

[2017-09-08 19:46] #165 closed

[2017-09-08 19:47] #162 closed

[2017-09-08 19:47] #161 closed

[2017-09-08 19:48] totalvm commented on #152
There was an issue with the nodes, should be solved now

[2017-09-08 19:48] #152 closed

[2017-09-08 19:49] totalvm commented on #150
This is because the exe file is not signed by a trusted source.

[2017-09-08 19:49] #150 closed

[2017-09-08 19:50] totalvm commented on #143
@FatCat0 Please reopen this issue if you still have trouble

[2017-09-08 19:50] #143 closed

[2017-09-08 20:07] viperroos commented on #163
How do I get into the slack group? All invitation links expired.

[2017-09-08 20:09] Satoshinaire commented on #163
@viperroos See the Slack link in the sidebar here: https://www.reddit.com/r/NEO/

[2017-09-08 20:39] Satoshinaire commented on #129
Seems from a bit of digging that while Electron is supported on Raspberry Pi, electron-builder isn't. So you'd need to do a number of those build and packaging steps manually.

[2017-09-08 20:40] Satoshinaire commented on #129
Some potentially useful info here: https://github.com/chentsulin/electron-react-boilerplate/issues/896

[2017-09-08 22:39] minimoi1234 commented on #169
Thanks got everything back this morning.

[2017-09-09 03:45] chenmin1107 opened #175 "Where does NEON saves the wallet on linux?"
I want to know where NEON saves its wallet info on linux. Thanks a lot!

[2017-09-09 09:22] ineptio007 commented on #152
Nope. For me it is still the same when I use the NEON-wallet (even with the newest version).

[2017-09-09 12:39] stevesbrain commented on #152
@ineptio007 Still should head on over to Slack for support :)

[2017-09-09 13:28] #10 closed

[2017-09-09 15:44] totalvm commented on #43
was fixed in 0.0.4

[2017-09-09 15:44] #43 closed

[2017-09-09 15:45] totalvm commented on #52
fixed in 0.0.5

[2017-09-09 15:45] #52 closed

[2017-09-10 11:13] Kakole opened #178 "Transaction Failed on version 0.0.4 - Cant send NEO out from NEON Wallet"
I've been trying to move my NEO to different wallet before updating to the new Windows version in-case something goes wrong after installation. It doesn't allow me to move my NEO.
Has anyone figured a way around this?

[2017-09-10 14:24] terrybiggs opened #179 "neon wallet constantly telling me to upgrade to version 0.0.4 - it already is [SOLVED]"
As per title... have closed and opened/signed in again, and the issue continues. Was fine up until about a week ago. Also cannot send myself gas, the 'error' warning kicks in every 7 or 8 seconds. Again, claiming GAS was fine up until around a week ago.

Current block is displayed as 1353731 (not sure where I can find if it's synced, the NEO website gives a figure of about 1140000 or so, much lowe

[2017-09-10 14:27] terrybiggs commented on #179
now block in neon wallet says 1353739, so it's counting rather than frozen, but stumped as to why I'm having this issue. found a post on reddit saying it needs to catch up syncying, but as I say, it's been a week and still getting the 'warning' to upgrade to the version I already have.

[2017-09-10 14:45] Gustianto commented on #179
same here... stuck cant take my NEO coin out from the wallet..

[2017-09-10 14:46] Gustianto commented on #178
same here.. it said "sending failed and need me to upgrade to version 0.0.4, but i already at version 0.04.. want to uninstall but scared something bad happened..

[2017-09-10 15:12] Gustianto commented on #178
just found a solution here.. use neotracker.io and log using your private key.. you can access your coin there.. and send to another wallet if you want ..

[2017-09-10 15:13] Gustianto commented on #179
you can access your coin from neotracker.io using your private key..

[2017-09-10 15:26] Satoshinaire commented on #178
This is deliberate, version 0.0.4 had to be effectively disabled, you need to upgrade to version 0.0.5 for this to go away.

[2017-09-10 15:28] Satoshinaire commented on #178
Also, significant to mention, your NEO are not stored _in_ your wallet. NEO are stored on the blockchain, and you simply access them through wallet software. So upgrading the software will have no impact on your NEO directly. There is no need to move them during an upgrade, they were never on your computer to begin with.

[2017-09-10 15:29] Satoshinaire commented on #179
@terrybiggs This is an error in version 0.0.4, it should say to upgrade to version 0.0.5 which is now available. This error is also fixed in version 0.0.5 (it will say the correct update when the time comes).

[2017-09-10 16:55] terrybiggs commented on #179
ty Satoshinaire, solved :-)

[2017-09-10 16:56] #179 closed

[2017-09-10 18:33] grassrobot opened #180 "Private Key says Invalid"
Been using the same private key since 0.0.1, and using 0.0.5 it says it's invalid and cannot login. Just trying to login using private key. What's wrong?

[2017-09-10 18:35] Satoshinaire commented on #180
@grassrobot For support, you should visit the #support channel in the Neo Slack. Issues on this repository are for managing development tasks.

[2017-09-10 22:04] PLPeeters opened #182 "Can't paste into Neon on macOS"
Running Sierra and version 0.0.5, I suddenly can't paste into Neon anymore, be it with CMD + V or right-click > paste...

[2017-09-10 22:11] #180 closed

[2017-09-10 22:11] #178 closed

[2017-09-11 22:49] sloanmccormick opened #183 "Where is my wallet?"
New here. Established a wallet and private key. Sent Neo to public key. Now
can't find the page to enter private key and get into wallet.

[2017-09-12 01:33] canesin commented on #94
@js7558 AppImage is supported in Debian and derivatives, it is a containerized packaged that bundle dependencies, please try it on the mean time ...  ping me again on this in 1 week please.

[2017-09-13 06:45] vlar opened #184 "Neon Wallet No Displaying any NEO"
Hey,

I'm using the version 0,0,5 and I'm login using a private key.
Yet, when i'm logging in my wallet shows 0 GAS 0 NEON while i had some in it.

When I check my public Key online it sees the transactions and the amount I used to have.

Could you let me know how to proceed ?

This is kind of worrying a bit.

Cheers

[2017-09-13 06:48] Satoshinaire commented on #184
@vlar Jump over into the #support channel of the [Slack](http://neosmarteconomy.herokuapp.com/) for assistance. Issues on this GitHub repo are for development tasks.

[2017-09-13 10:54] #184 closed

[2017-09-13 10:54] AshRolls commented on #183
Please join the #support channel in slack for help. Github is intended for code issues.

[2017-09-13 10:54] #183 closed

[2017-09-13 11:29] alfy888 opened #185 "Cant send neo from wallet, Downloaded the new 0.0.5 wallet but my security won't allow it to open even though i have set as ok?"

[2017-09-13 13:03] AshRolls commented on #185
Please join #support in slack. GitHub is for the reporting of code issues.

[2017-09-13 13:03] #185 closed

[2017-09-13 17:32] qweqwa commented on #132
d

[2017-09-13 17:34] qweqwa commented on #132
"It should have been able" well it wasn't. And the Neo dev team didn't even respond to me.
Fuck this dying hypecoin and its devs and wallet devs.

[2017-09-13 18:32] comountainclimber commented on #132
Your silly mistakes are not the fault of this project.  These type of comments do not belong on github or in the issues threads

[2017-09-13 21:31] comountainclimber commented on #182
I cannot reproduce this issue...

[2017-09-14 09:09] PLPeeters commented on #182
Turns out it was some kind of weird issue with my clipboard, rebooting finally fixed it...

[2017-09-14 09:09] #182 closed

[2017-09-14 14:42] jujujujuju45 opened #186 "Zero Balance"
Is anyone else having a zero balance issue with NEON 0.0.5? Transaction history is also blank. Everything was fine yesterday....

[2017-09-14 14:48] noob1313 commented on #186
I am having the same issue. Block chain explorer shows my balance but NEON wallet 0.0.5 shows nothing.

[2017-09-14 14:51] Kgood47 commented on #186
I am having the same issue with my NEON wallet as well.  Last night it showed my balance and now shows nothing.

[2017-09-14 14:51] Meistermichel commented on #186
Experiencing the same issue.

[2017-09-14 14:52] rridder commented on #186
Yes have the same issue.

[2017-09-14 14:57] AshRolls commented on #186
NEON wallet API is currently down. We are currently investigating the reason. Please join #support in slack rather than GitHub, which is intended for code issues.

[2017-09-14 14:57] #186 closed

[2017-09-14 15:12] franckimp opened #187 "Neon wallet show zero"
I had a 17 neo balance and some gas.  Ive sent 3 more neo from bittrex and while waiting ... I click on "Running on 'MainNet" ... so it switched to TestNet.  Clicvked back.  Deleted some of the files in cache of user folder.... I'm not able to see my balance... if I go on neo tracker I see my 20 neo and gas.... but whats up with neon wallet?

## PLEASE NOTE

## For support using the software or co

[2017-09-14 15:14] franckimp commented on #187
deleted the folder in user and now its back on

[2017-09-14 15:14] #187 closed

[2017-09-15 22:11] NormaAlice opened #189 "Need help finding login to Neon wallet"
I just started my Neon Wallet.  Got passphrase, public address, private key and encrypted key.  All went well.  Now I can find the link or webpage for the Neon Wallet.

thanks, I'm a newbie.

[2017-09-15 22:21] Satoshinaire commented on #189
Hello @NormaAlice, this is really a question for the #support channel in [Slack](http://neosmarteconomy.herokuapp.com/). GitHub is intended for tracking development tasks, rather than general support.

Having said that, you can download the latest version of Neon here: https://github.com/CityOfZion/neon-wallet/releases

[2017-09-18 11:19] sidauz opened #190 "Can't see my coins in Neon wallet. Neotracke.io shows them though. Please help"
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel in the Neo Smart Economy Slack.

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2017-09-18 11:59] AshRolls commented on #190
PLEASE NOTE

For support using the software or concerns about the status of your funds, please go to the #support channel in the Neo Smart Economy Slack.

GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2017-09-18 11:59] #190 closed

[2017-09-18 12:00] #189 closed

[2017-09-18 12:04] sidauz commented on #190
Neo Smart Economy Slack is not working for me. I am getting an application when trying to go to support slack

[2017-09-18 12:07] sidauz commented on #190
Got it sorted. Thanks

[2017-09-19 16:52] vergilbg commented on #32
Does anybody know how bittrex gets the conversion rate from btc to usd?
In the UI,  when you look at a market,  for example neo,  above the btc value shows (last) the usd value is shown too,  but this usd value is not available through the api. It would be useful either making usd value available on api or if bittrex can share the api they use for the conversion (assuming they use external data fo

[2017-09-21 08:23] MediaServe commented on #175
Encrypted wallets are saved in `~/.config/Neon/storage/` according to `strace`

[2017-09-22 02:12] #175 closed

[2017-09-22 02:12] #163 closed

[2017-09-22 06:05] chenmin1107 commented on #175
Got it, thanks a lot!

[2017-09-23 01:55] onmygrizzly opened #191 "Neon wallet does not display NEO, but GAS is accumulating. I can see the NEO on the AntChain at Antcha dot IO website so I know the address is correct and funds are there. Is this a common issue with the wallet? If so how do I correct?"
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel in the Neo Smart Economy Slack.

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2017-09-23 02:42] #191 closed

[2017-09-23 02:43] canesin commented on #191
https://slack.cityofzion.io .. go to #support channel. Good luck, hope you solve your problem. Usually people just need to update to latest version.

[2017-09-26 04:19] olivier-w commented on #146
Red Pulse just sent an email saying that Neon will not be supported in the upcoming ICO. Are there plans to have NEP5 support by October 8th?

<img width="645" alt="screen shot 2017-09-26 at 12 17 25 am" src="https://user-images.githubusercontent.com/465250/30842418-3ed2dbf0-a250-11e7-9e74-b4ab5b6974ed.png">

[2017-09-26 07:30] fc0712 opened #195 "Plans to update Neon ahead of Red Pulse ICO"
Hey.

Does you guys have any plan to update the Neon Wallet ahead of the Red Pulse ICO?

Thanks in advance :)

[2017-09-26 16:13] MetaCorrells opened #197 "Still showing zero balance even after downloaded the most recent .03 version"
Hello - thanks for releasing the 0.03 version for Mac. I've downloaded this version however i'm still showing a Zero balance. As expected i'm able to find my assets on the blockchain.

Any idea what I might be doing wrong with the install or is there another release that could possibly help?

## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to

[2017-09-26 19:50] Satoshinaire commented on #195
This is a duplicate of #145, to be addressed in #146.

[2017-09-26 19:52] Satoshinaire commented on #197
@MetaCorrells The current version is 0.0.5, you might want to check you downloaded the correct update?

Also, as mentioned in the template for this issue, you should see #support in Slack for general assistance.

[2017-09-26 20:01] #197 closed

[2017-09-27 15:34] hamedbartawi opened #199 "Transaction Failed! sending neo from wallet to exchange"
I am unable to send any funds from my neon wallet to bittrex exchange and i have tried everything I could think of or researched on the net and still failing
(It has worked on its own)

[2017-09-27 17:00] #199 closed

[2017-09-28 12:00] #59 closed

[2017-09-28 12:03] shawnmclean commented on #49
We won't have control over this as its an electron issue. Closing.

[2017-09-28 12:03] #49 closed

[2017-10-01 14:40] txcx commented on #146
Would be cool to have that before ICO :) Thank you.

[2017-10-01 15:28] canesin opened #208 "Update README to CoZ standard"
The repo is missing CoZ README standard format.
@revett ?

[2017-10-01 18:31] revett commented on #208
I can do this during the week 👍

[2017-10-01 21:14] eddiekitch opened #209 "Sent withdrawal to old 004 wallet and Neo not showing up"
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel in the Neo Smart Economy Slack.

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.
Ok figured it out, I had to download 0.0.5 and encrypt old key although the message said download 0.0.4

[2017-10-02 16:39] #209 closed

[2017-10-03 05:06] iqoptioncoin commented on #146
Please don't leave the NEON update for MAC to just minutes before the Red-Pulse ICO. Please release it by the 5 Oct 2017, as MAC users cannot use the NEO GUI.

[2017-10-05 04:17] canesin commented on #9
just to remember this is annoying to not have :D

[2017-10-06 18:49] Ejhfast opened #216 "Globally refactor code and divide into more coherent system of components and containers"
If someone wants to tackle this, would be very valuable. This codebase is becoming a bit ugly

[2017-10-07 06:26] evgenyboxer commented on #216
I'll do it!

[2017-10-08 10:39] rolo opened #219 "Wrong hash for 0.0.6 deb file"
Hi all. Nice work on getting an RPX compatible wallet out in time :)

I'm seeing a different hash for the deb to the one in the release notes.

Release notes:

    Linux (deb): 5661a9ffad2c3a8c6ff24d960e8acfd288ebca6527621c56b8a1808e2285266a
    sha256sum Linux.Neon_0.0.6_amd64.deb

Downloaded file:

    $ sha256sum Linux.Neon_0.0.6_amd64.deb
    a718f352cbd66e1f3e67591d21127c48d3491d279b98b62aa35

[2017-10-09 22:32] AdrianScott commented on #219
please fix, thanks. i got the same sha256 as you, rolo, fwiw...

[2017-10-10 12:29] mashayev opened #227 "Connect CI to coverage tool and add badge to readme"
Hi All,

I can tackle this, but I need more information. Where can I get the whole feature request?

[2017-10-10 17:57] dvdschwrtz commented on #34
For anyone looking to write tests, this article is very helpful in understanding what is happening with enzyme’s shallow rendering (http://brewhouse.io/2016/03/18/accelerate-your-react-testing-with-enzyme.html).

[2017-10-10 18:39] shawnmclean commented on #227
Hey @mashayev, we're using coveralls. We'd like to have our testing framework generate coverage reports during the CI test step. So it's just a matter of tweaking the `yarn test` command to output the coverage file in a way that coveralls will understand.

[2017-10-10 18:40] shawnmclean commented on #227
You can also add the badge to readme, the md is:

`[![Coverage Status](https://coveralls.io/repos/github/CityOfZion/neon-wallet/badge.svg?branch=master)](https://coveralls.io/github/CityOfZion/neon-wallet?branch=master)`

[2017-10-10 18:43] #95 closed

[2017-10-10 18:44] #46 closed

[2017-10-10 18:51] shawnmclean opened #230 "Basic Integration Test using Spectron"
We need a basic workflow testing using some UI testing tool for electron such as Spectron and executed as a step during the CI process.

Reason: We want to ensure that the app will still load with basic functionalities when there are code changes.

Suggested Workflow: `Login with known Wif on testnet` > `View Balance and Transactions`

[2017-10-11 00:10] Ejhfast commented on #195
We did :)

[2017-10-11 00:10] #195 closed

[2017-10-11 00:11] Ejhfast commented on #44
closing this given the (unfortunate) china exchange situation, hopefully we can re-open at some future time

[2017-10-11 00:11] #44 closed

[2017-10-11 02:04] phetter commented on #227
I did a test, and accidentally committed it to another PR (which I reverted), that seemed to get this started. I simply added --coverage to the jest command in the tests script of the package.json like so:

  "scripts": {
    "postinstall": "electron-builder install-app-deps",
    "start": "electron .",
    "assets": "webpack",
    "assets-watch": "webpack --watch",
    **"test": "jest --coverage"

[2017-10-11 02:06] phetter commented on #227
Oh, also, there is this: https://zach.codes/ci-code-coverage-tests-in-5-minutes/

It appears to address exactly this scenario.

[2017-10-11 07:04] thuansb commented on #230
Hi @shawnmclean, I will take this task. What I need to do is just implement the test and do the pull request later right?

[2017-10-12 01:06] shawnmclean commented on #227
Completed with #235 and #236.

[2017-10-12 01:06] #227 closed

[2017-10-12 01:08] shawnmclean commented on #81
This falls under #216

[2017-10-12 01:08] #81 closed

[2017-10-12 01:08] shawnmclean commented on #115
This falls under #216 now.

[2017-10-12 01:08] #115 closed

[2017-10-12 08:19] fabwa commented on #219
fixed

[2017-10-12 08:19] #219 closed

[2017-10-12 15:47] #27 closed

[2017-10-12 15:48] #94 closed

[2017-10-12 15:49] #72 closed

[2017-10-12 15:53] shawnmclean commented on #208
@revett is this still on your backlog?

[2017-10-12 15:53] #130 closed

[2017-10-12 15:57] #38 closed

[2017-10-12 15:58] #53 closed

[2017-10-12 15:59] #129 closed

[2017-10-13 03:56] phetter commented on #34
FYI, I've created a unit test for LoginLocalStorage as part of https://github.com/CityOfZion/neon-wallet/pull/237 and will continue to increase coverage in further PRs. That module is at about 42% coverage as of the aforementioned PR.

[2017-10-13 05:53] #208 closed

[2017-10-13 10:02] revett commented on #208
@shawnmclean looks like someone beat me to it! 👍

[2017-10-15 16:20] Ejhfast opened #247 "Improvements to neonwallet.com"
Can edit the website source in this: https://github.com/CityOfZion/neon-wallet/blob/dev/docs/index.html

Would be great to have the page looking nicer

[2017-10-16 01:51] crockojester opened #248 "RPX Receive support"
Please add in support to receive RPX tokens from a different wallet address.

The RPX tokens are currently in a GUI wallet (not mine) and needs to be sent to my Neon wallet.

[2017-10-16 16:45] babatundebusari commented on #32
@vergilbg interested in this as well...will like to know how to get the conversion on bittrex as well...not sure if they use USDT for their conversion

[2017-10-17 21:20] heidiac opened #249 "Cannot join Neo smart economy - where can I get help"
Hi, I have not received coins to my NEON wallet. You say below to go to the NEO smart economy slack to get support for this but I cannot join  as it says the invite limit has been reached. Please can you tell me how I can get support for this as I am going round in circles. thanks, Heidi

## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the

[2017-10-18 17:54] canesin commented on #249
[click here](https://join.slack.com/t/neosmarteconomy/shared_invite/enQtMjU4NDAwNTIwNjQ0LTI1MjViNDBmZjJkODhjNTJmNjM1OGQ4MDI3NTMzYjUzZjg4ZGNhMDA4NjIyMTBhZDAwNjMyYzY2MzM2MjI5ZDI)

[2017-10-18 17:54] #249 closed

[2017-10-18 17:55] canesin commented on #248
there is already a open ticket for this in #146

[2017-10-18 17:55] #248 closed

[2017-10-18 18:00] canesin opened #253 "Multiple sends"
In neo-gui is possible to add many transactions to a list before sending the tx.
The UX I envision is a one where you create a "multiple recipents" transaction by clicking a "+add" button instead of the "send", and it adds the transaction to the transaction list. that appears collapsed above the QR-Code of the address.
After the user finishes adding the transactions he can click on the send button

[2017-10-19 06:14] evgenyboxer commented on #253
I’ll do it!

[2017-10-20 04:04] canesin commented on #253
@evgenyboxer my idea of UX/UI:

![image](https://user-images.githubusercontent.com/353648/31804833-3896f3ce-b52a-11e7-889c-37eca75e6318.png)

[2017-10-20 07:22] pistofo opened #257 "Balance suddenly @ 0"
Hi,

I've successfully transfered GAS from Bittrex to the NEON wallet downloaded here (checked the URL etc.)
Everything worked smoothly. I logged back 2 hours later to check if it was still alright, and my balance is now at 0.

Checked on NEO tracker with my public adress and GAS is still on my balance and the transaction count is still at 1. I have the latest wallet version.

Does this happen a l

[2017-10-20 07:28] celiachua opened #258 "Neon wallet shows Zero suddenly"
Hi,
Today, my wallet shows a balance of "zero" suddenly and the block is not at its latest block. Do i download a new Neon wallet or what?

Not sure if this is the right place to feedback my issues. Any help is deeply appreciated. Thanks.

Best

[2017-10-20 07:36] sweeney-jo commented on #258
I'm having same issue, very unsettling :(

[2017-10-20 07:40] pistofo commented on #258
Oh just posted the same issue. Hopefully it will get back to normal.

[2017-10-20 07:42] cllonps commented on #258
me the same... WHERE are my NEOs??

[2017-10-20 07:44] cllonps commented on #258
Who can help us ?

[2017-10-20 07:46] cllonps commented on #258
ok - in my Wallet they are back  -hope your NEOS are back too!?

[2017-10-20 07:47] pistofo commented on #258
Yeah it's back in mine too! pheww..

[2017-10-20 07:47] pistofo commented on #257
Fixed.

[2017-10-20 07:47] #257 closed

[2017-10-20 08:09] celiachua commented on #258
Phew..... yeah back in mine too.....

[2017-10-20 08:19] AshRolls commented on #258
The API was down, fixed now.

[2017-10-20 08:19] #258 closed

[2017-10-20 12:12] Evsamsterdam opened #259 "NEO Gas Transaction failed & not showing the right balance"
Today I wanted to claim my gas, but the transaction keeps failing.
Also I sent NEO to my NEO wallet (I have version) Windows.Neon.0.0.6) but, the NEO wallet doesn't show the right balance.
The wallet doesn't add up the coins I sent today to the NEON wallet.
If I check the NEO blockchain (for example here: https://neotracker.io), than the right balance shows up.
I have tried to join the slack commu

[2017-10-20 12:26] Evsamsterdam commented on #259
I now was able to join the slack community and I see that more people have the same problem as I have.
There is still no solution...

[2017-10-20 12:30] AshRolls commented on #259
The API was down earlier, now back up. Please use slack for support, GitHub is for code issues.

[2017-10-20 12:30] #259 closed

[2017-10-20 12:48] ansolution opened #260 "Transaction failed with version 0.0.6"
Hi,

With 0.0.6 i can no longer claim gas. when trying to my neo is sent to myself (as i can check in the blockchain).
Restarted my computer dozens of times but a message in red stating gas claim failed, no matter how many times i tried.
heres a transaction that failed

Please write back.

Hope to hear from you asap.

![transaction failed 0 0 6](https://user-images.githubusercontent.com/32958452/3

[2017-10-20 12:54] AshRolls commented on #260
The Neon Api is currently down. We are working on it and should be back up soon. Please use slack #support channel for help, GitHub is for code issues only.

[2017-10-20 12:54] #260 closed

[2017-10-20 14:18] canesin opened #261 "Add a warning when there is connectivity issues"
Currently there is no warning of the reason for a failure! That is a critical bug, as people get worried about their funds quickly.

**Showing only dashes instead of zero and transaction failure is not acceptable** as you can see in #260 #259 #258 #257 and many others.

There must be a warning "could not reach API servers, please verify connectivity. No change was made to your funds" .. or somethi

[2017-10-20 14:23] canesin opened #262 "Add Ledger Nano S support"
This is a meta issue to reflect the need so we can create a proper milestone.

[2017-10-20 15:47] hysel opened #263 "Missing funds"
Hi

I transferred some GAS funds from Binance

the transactions was good and i got a TXID but I am not able to see the funds in the my NEON wallet.

I look my wallet information and it does say i have 2.02 GAS unites but my actual wallet shows 0.5

Wallet Status https://neotracker.io/address/AahEC4vkkxQDE3wpE8vEcLpzUUBxpwMPbL

screenshot of my wallet

![image](https://user-images.githubusercontent

[2017-10-20 15:50] AshRolls commented on #263
The Neon wallet API is currently down. Please join slack #support for help, GitHub is intended for code issues only.

[2017-10-20 15:50] #263 closed

[2017-10-20 17:42] eidithebaby opened #264 "Neon Wallet - Transaction Failed"
Neon Wallet Won't do any transactions. Red error message on top saying Transaction Failed. Neo are still in wallet, Gas is accumulating but it cannot be sent nor claimed.

![error neon wallet](https://user-images.githubusercontent.com/30663996/31834580-1a8a4252-b5d7-11e7-8c12-4fe5d510c347.jpeg)

[2017-10-20 17:57] Ejhfast opened #265 "Give warning when API is down or wallet lacks connectivity"

[2017-10-20 18:04] #261 closed

[2017-10-21 07:21] evgenyboxer commented on #265
On it

[2017-10-21 07:23] evgenyboxer commented on #264
If you restart the wallet it works?
Need some more info to reproduce this error.

[2017-10-21 14:59] comountainclimber commented on #247
I would be interested in taking this on... Do you have a mock up or some more content you would like to see here?

[2017-10-22 07:28] Ejhfast commented on #264
@eidithebaby can try again now and confirm this issue was fixed with the latest db update?

[2017-10-22 07:30] Ejhfast commented on #247
No mockup, something more in line with the cityofzion.io website would be great. You can check out the `website` repo in this org for more assets

[2017-10-22 09:55] eidithebaby commented on #264
Hello,
All is good, thank you!

[2017-10-22 12:14] smmujahid opened #267 "No balance and transaction history in Neon Wallet"
Logged in to my Neon wallet and dont find my balance and transaction hsitory. Why is it so. Where is my balance.

[2017-10-22 12:15] smmujahid commented on #267
My all keys are extremely secure and encrypted

[2017-10-22 12:20] Sharonth commented on #267
I'm having the same problem!

[2017-10-22 12:24] noodles12 commented on #267
im having same probs . just went to look at my balance to claim my gas .. and nothing in there

[2017-10-22 12:24] smmujahid commented on #267
Is there any technical person from NEON who would respond to our problem?

[2017-10-22 12:25] noodles12 commented on #267
i dont know .

[2017-10-22 12:26] sam05092 commented on #267
same problem

[2017-10-22 12:27] skwaugh commented on #267
Same issue.  Occurring using both saved address and private keys on both 0.5 and 0.6

Looks like the City of Zion's API is down - 503 errors on everything.
![image](https://user-images.githubusercontent.com/4550411/31861876-c2988658-b702-11e7-856a-705e3319489e.png)

[2017-10-22 12:28] VicXNg commented on #267
Yeah same problem here. Was fine about 20min ago

[2017-10-22 12:28] skwaugh commented on #267
For the other guys with this issue - there is nothing wrong w/ the wallet or your funds 🙏🏼 .  Something broke on their backend (probably the API that grabs the price from Bittrex or whatever).

[2017-10-22 12:30] noodles12 commented on #267
i hope its that , im panicking a little lol

[2017-10-22 12:32] noodles12 commented on #267
i thought i been hacked lol

[2017-10-22 12:33] smmujahid commented on #267
But that shows their vulnerability. Its bad.

[2017-10-22 12:35] noodles12 commented on #267
very true im still new to this crypto and you hear of accounts and wallets being hacked regular.
it aint good

[2017-10-22 12:41] skwaugh commented on #267
Completely different.  Doesn't show the vulnerability at all.
Also, this is alpha software - note the 0.x release.  As such, you're agreeing to using software that is NOT guaranteed to be bug free.  If you're concerned with the security wallet, you should not use it.

[2017-10-22 12:51] smmujahid commented on #267
is better to shift to binance????

[2017-10-22 13:27] s5d2d6 commented on #267
I believe Binance is located in China and with what is happening with China and crypto exchanges, I'd be leary

[2017-10-22 14:25] counter44 commented on #267
My NEON wallet is also empty as of this morning

[2017-10-22 14:33] Victor118 commented on #267
The same here.
Funds still safe, just take a look at the chain explorer with your public address  to be sure:
https://neotracker.io/

[2017-10-22 14:38] counter44 commented on #267
Thx Victor118
that provides some peace of mind until they fix this.

[2017-10-22 15:06] Pronblra777 commented on #267
Всем привет!
Только зарегистрировал кошелек NEON и перевел туда 5 neo, с биржи списали, а на кошельке их нет, прошло часа 2 уже... Помогите, что делать???

[2017-10-22 15:18] dkliman commented on #267
same problem. a reddit from a few months ago said neo has a wallet balance server or something that could be down... but if that's the case, then instead of the app scaring the living crap out of people with a zero balance, it should report the server is down, and guide people to see that their wallet is perfectly fine if they look at https://neotracker.io, which is where I went to see my balance

[2017-10-22 15:22] dkliman commented on #267
it makes me feel awfully uncomfortable for the neon wallet to go to a single server like this... how are my keys kept secure in transit to that? what if it's hijacked?

[2017-10-22 17:32] #264 closed

[2017-10-22 17:41] Ejhfast commented on #267
All -- no keys ever touch the database! No keys *ever* leave your machine. The DB just retrieves public balance data.

Our DB maintainer has been having problems lately. We pay thousands of dollars each month for this, so are looking into better solutions. In the meantime, we are going to pay them even more money so that they go down less often.

We are adding a notification to the wallet in the n

[2017-10-22 17:41] #267 closed

[2017-10-22 17:43] jerrywayne55 opened #268 "I have 200 neo coins on a mac lap top and 456 neo coins on mac desk top. There are not there now. Where are they?"
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel in the Neo Smart Economy Slack.

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2017-10-22 17:50] Ejhfast commented on #268
They are still there -- the DB is having problems retrieving balance. It will be back up in a few minutes

[2017-10-22 17:51] Ejhfast commented on #268
Your coins live on the blockchain, not in Neon wallet. There is not risk to your funds if the DB goes down, it is just retrieving public information

[2017-10-22 17:55] sgarciafer commented on #268
Same issue here. Neo not showing on the wallet, but are there on the blockchain. Hope it will be fixed soon :)

[2017-10-22 17:57] jerrywayne55 commented on #268
Thank you so much. I downloaded the new version of Neon 0.0.6 and it seems to work. I’ll take a deep breath. You have saved my Sunday :)

[2017-10-22 18:08] BeteVersion commented on #268
I am having the same issue.  I have upgraded to 0.06 and still no coins can you please confirm.

[2017-10-22 18:10] Ejhfast commented on #268
We are still waiting on our DB provider to fix the problem -- should be
back up in a few minutes

On Sun, Oct 22, 2017 at 11:08 AM, BeteVersion <notifications@github.com>
wrote:

[2017-10-22 18:13] BeteVersion commented on #268
Thank you, just a quick update, I can see the coins from yesterday now, but the coins i transferred a few hours ago from Bittrex are still not showing

Please do let me know it is fine so I can breathe a sigh of relife and I wont disturb for a few hours lollzz

[2017-10-22 18:14] Ejhfast commented on #268
It is fine -- just wait a few minutes for the DB to update. There is never
any risk to your coins regardless of whether the DB is up or not

We are paying the DB provider even more money, so hopefully this happens
less often

On Sun, Oct 22, 2017 at 11:13 AM, BeteVersion <notifications@github.com>
wrote:

[2017-10-22 18:21] BeteVersion commented on #268
Problem resolved.   Thank you so much for such fast replies and support.

[2017-10-22 18:22] dkliman commented on #267
Can't that database be maintained in a dApp, distributed on neo's virtual machine, immune from the vagaries (expense, down time) of old fashioned server companies?

[2017-10-22 18:27] Ejhfast commented on #267
NEO / GAS balances do not live on the NEO VM, so short answer is: No

On Sun, Oct 22, 2017 at 11:22 AM, Dave Kliman <notifications@github.com>
wrote:

[2017-10-22 18:35] #268 closed

[2017-10-22 22:17] Nightf0xx opened #269 "staking not working correctly."
Since i have started staking i was earning 0.0339 everyday. I don't understand how im only getting .02 and under now with the same amount of coins?

[2017-10-23 00:20] Ejhfast commented on #269
this is not a wallet issue. gas generation depends on how fast the Neo network processes block -- it has been slightly slower over the past several days, people are looking into it

[2017-10-23 00:20] #269 closed

[2017-10-23 15:01] jerrywayne55 commented on #268
What is DB? Sorry for being so ignorant about all the new terms. I’m an old guy :)

[2017-10-24 04:59] Satoshinaire commented on #268
@jerrywayne55 DB = Database

[2017-10-24 19:32] jerrywayne55 commented on #268
Thanks. When you are old like me just need a bit of help.

[2017-10-24 20:38] Ejhfast opened #271 "Warn user when address being sent to has no transaction history"
ARK addresses apparently use exactly the same naming conventions as NEO addresses, so even with all the other checks, this would still be helpful for preventing users from hurting themselves

[2017-10-24 21:37] evgenyboxer commented on #271
Should this be first implemented in Neon-JS? How do you check for this right now?

[2017-10-24 21:38] Ejhfast commented on #271
Not neon-js, as this is more a UI feature. Just look up transaction history
of address being sent to, if it is empty, display warning. neon-js will
allow you to do that API call to lookup

On Tue, Oct 24, 2017 at 2:37 PM, Evgeny Boxer <notifications@github.com>
wrote:

[2017-10-24 21:51] evgenyboxer commented on #271
Right okay!
In terms of the UX of this - How do you imagine the warning to look like? Do you think it should be a sticky message at the top (one you hit "send"), or it should be displayed next to the "confirm pane" button we have?

Also, unrelated - but I would like to rework the "confirmation button" with a small confirmation modal. (Once you hit send and its valid -> I open the confirmation moda

[2017-10-24 22:03] Ejhfast commented on #271
Yeah, maybe if we rework the confirmation we can build the warning into
that? I like the modal idea

On Tue, Oct 24, 2017 at 2:51 PM, Evgeny Boxer <notifications@github.com>
wrote:

[2017-10-24 22:31] evgenyboxer commented on #271
Yep. sounds great! I'll work on this.

[2017-10-25 02:06] comountainclimber commented on #247
Thanks @Ejhfast will be submitting PR in next day or two...

[2017-10-25 02:45] cryptomitchman commented on #161
I am having the exact same issue with wallet 0.0.6 . Can you rebuild neons server again? Ii can't claim my gass. I get the same red message. I tried sending neo to myself and t didnt work.

[2017-10-25 05:16] stevesbrain commented on #161
@cryptomitchman I don't think this is the same issue. I can claim without issue on 0.0.6.

[2017-10-25 05:39] stevesbrain opened #272 "Close Key Combination"
Is it possible to implement a key combination to close the window/terminate the process? I use a tiling window manager, and it doesn't have any built in "X's" to close the software. The normal Ctrl+X, Ctrl+W, Ctrl+Q, and Alt+F4 don't shut it down - so would be great to have this as an implemented option, if at all possible :)

[2017-10-25 18:57] comountainclimber commented on #247
How do you guys feel about this?
![mobile portrait](https://user-images.githubusercontent.com/13072035/32017485-1b895f3e-b984-11e7-80eb-e906138f9f3b.png)

[2017-10-25 18:58] comountainclimber commented on #247
(mobile will be very similar just stacked layout)

[2017-10-26 03:53] evgenyboxer commented on #272
Strange, it should work... I just tested (on a Mac) - Command+Q and it closed the app.

[2017-10-26 05:10] Ejhfast opened #276 "Wallet Hangs when Wrong Passphrase is Entered for Encrypted Private Key"
Something changed in 0.0.6 that broke the error notification, it seems

[2017-10-26 05:54] dkliman commented on #146
So when will I be able to add any token I want to my NEO wallet, and be able to send and receive that?

[2017-10-26 06:21] evgenyboxer commented on #276
This is already fixed on dev

[2017-10-26 06:22] Ejhfast commented on #276
Awesome!

On Wed, Oct 25, 2017 at 11:21 PM, Evgeny Boxer <notifications@github.com>
wrote:

[2017-10-26 06:27] #276 closed

[2017-10-26 10:39] stevesbrain commented on #272
Hmm, very strange. I've tried Ctrl+Q and Alt+Q with no luck. Anyone else have a linux box and can confirm/deny the key combo works for them?

[2017-10-27 13:54] Incurio opened #279 "Allow Copy/Paste Function of Private Key to launch wallet."
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel in the Neo Smart Economy Slack.

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2017-10-27 19:05] evgenyboxer commented on #279
Hey,

Could you please elaborate what you mean?

[2017-10-27 19:09] Incurio commented on #279
Private key copied from txt doc doesn’t paste to Neon private key field. Mac version. P key must be typed into field.

Sent from ProtonMail Mobile

On Fri, Oct 27, 2017 at 3:05 PM, Evgeny Boxer <[notifications@github.com]("mailto:notifications@github.com")> wrote:

[2017-10-28 11:43] m-roberts opened #281 "Unable to build node-sass as part of 'yarn install' on Mac OSX"
I am trying to test the functionality in [this pull request](https://github.com/CityOfZion/neon-wallet/pull/244), which is not in a release yet.

When I do a fresh repository clone and run `yarn install` on Mac OSX, I get [this output](https://pastebin.com/G9pJufEw).

From what I can tell, the problem is in installing node-sass, which fails here:

[code]

It seems to be a problem with my libtool,

[2017-10-28 12:11] Satoshinaire commented on #281
@m-roberts Is it possible you need to update the Xcode CLI Tools?

[2017-10-28 12:14] m-roberts commented on #281
@Satoshinaire just checked on the App Store, and there are no available updates. I also did a `brew upgrade` to make sure that I was on the latest tools installed via Homebrew.

[2017-10-28 12:22] m-roberts commented on #262
Does this qualify as closing this issue?
https://github.com/CityOfZion/neon-wallet/pull/244

This has a 0.0.8 milestone but if this functionality is working, it would be great to see a new release for this - this is huge!

[2017-10-28 12:26] Satoshinaire commented on #281
@m-roberts Did you try opening Xcode and checking there for updated CLI tools?

[2017-10-28 12:28] Satoshinaire commented on #262
I don't think it's complete. Still a little unpolished. Weird error messages and awkward method to retry depending on state of Ledger, etc.

[2017-10-28 12:40] m-roberts commented on #281
I can't find anything in Xcode to check for CLI tools updates.

I tried instead to do it via the terminal - running `xcode-select --install` gives this response:
`xcode-select: error: command line tools are already installed, use "Software Update" to install updates`.

Typing "Software Update" into Spotlight suggests going to the App Store, where there are no updates available.

[2017-10-28 12:46] Satoshinaire commented on #281
@m-roberts It may not be the issue anyway, I guess. But I had to actually log into the Apple Developer dashboard and check there where I saw Xcode CLI Tools for 10.13 once I updated to High Sierra.

[2017-10-28 12:53] m-roberts commented on #281
Ah, that'll be why  - I still need to update to High Sierra. I will do that, update my Xcode CLI tools and report back.

[2017-10-28 16:58] m-roberts commented on #281
I found the problem: libtool was no longer pointing to Xcode. Some misconfiguration in brew meant that it was calling `/usr/local/Cellar/libtool/2.4.6_1/bin/glibtool`

[2017-10-28 16:58] #281 closed

[2017-10-28 17:37] #230 closed

[2017-10-28 23:56] BeteVersion opened #282 "Can't claim gas in NEON wallet"
Hi,

I cannot seem to claim gas in NEON wallet, I can see it accumulating, but when I try to claim it nothing happens.

Could you please advise.

Thanks

[2017-10-29 00:34] Satoshinaire commented on #282
This question is more suitable for the #support channel in the NEO Slack, please go there and ask for assistance.

GitHub issues are intended for managing development tasks.

[2017-10-29 07:12] mimicortez opened #283 "Missing Neo"
When we accessed to the Neo Wallet, our neo balance showed zero. Please help me what is going on.

## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel in the Neo Smart Economy Slack.

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2017-10-29 07:21] Satoshinaire commented on #283
@mimicortez Please see the #support channel on the Neo Slack for technical support. GitHub issues are intended to track development tasks.

If you're using the Neon wallet, the API is currently experiencing issues. Check your address on a blockchain explorer such as neoscan.io or neotracker.io for peace of mind.

[2017-10-29 07:51] Matov13 commented on #283
I am having the same issue. My neonwallet showing ZERO

[2017-10-29 08:08] Satoshinaire commented on #283
@Matov13 See my reply above.

[2017-10-29 08:14] Matov13 commented on #283
thank you

[2017-10-29 14:11] Satoshinaire opened #284 "Shouldn't Ledger always give the same public key?"
I had a go at implementing the new Ledger stuff into my cli light wallet, and so far it's returning a public key which I can derive the address from.

However, I was surprised to find the address different to the one I had when I built the current dev branch of Neon Wallet.

I guess this means the public key is different? But surely this shouldn't be the case?

Any tips?

[2017-10-29 16:07] comountainclimber commented on #247
Wrapping up the final touches on the new site will be submitting a PR later this afternoon. Looks identical to the mockup above 👯

[2017-10-29 23:07] #282 closed

[2017-10-29 23:07] #283 closed

[2017-10-30 04:32] Ejhfast commented on #284
We resolved this issue in the slack. @Satoshinaire was using an unencoded public key, when neon-js required an encoded public key.

neon-js supports loading from unencoded public key's in https://github.com/CityOfZion/neon-js/commit/fe464751167160c1ce1cdb4052e6ce8574549cb4

[2017-10-30 04:32] #284 closed

[2017-10-30 16:11] Ejhfast commented on #247
@comountainclimber looks great!

[2017-10-30 17:58] comountainclimber commented on #247
https://github.com/CityOfZion/neon-wallet/pull/286

[2017-10-31 11:55] nimgnusmik opened #289 "NEO Web Wallet"
NEO / GAS Web Wallet https://www.neowebwallet.com

[2017-10-31 11:55] nimgnusmik commented on #9
NEO / GAS Web Wallet https://www.neowebwallet.com

[2017-10-31 12:01] nimgnusmik commented on #118
You can use this NEO Web Wallet https://www.neowebwallet.com

[2017-10-31 14:11] morek84 opened #292 "gas claim failed with 0.0.6 mac wallet"
Hi,
I know some people had this problem before but I think it might came back. I'm having troubles calming my GAS. I was using the 0.0.5 version (had it) so i just upgraded to 0.0.6 and still have the exact same problem :

![screen shot 2017-10-31 at 13 54 20](https://user-images.githubusercontent.com/33258132/32228062-1e82f6d0-be45-11e7-8baa-3989a62949ea.png)

Any idea why?

[2017-10-31 15:29] #289 closed

[2017-10-31 20:37] evgenyboxer commented on #292
We are working on better notifications relating to this issue/connectivity. The message you see could be caused by multiple factors.

[2017-11-02 07:54] sgehrman opened #294 "yarn install fails on Windows 10"
$ yarn install
yarn install v1.2.1
warning You are using Node "9.0.0" which is not supported and may encounter bugs or unexpected behavior. Yarn supports the following semver range: "^4.8.0 || ^5.7.0 || ^6.2.2 || ^8.0.0"
[1/4] Resolving packages...
success Already up-to-date.
$ electron-builder install-app-deps && electron-rebuild --force --module_dir . -w node-hid -v 1.7.9
electron-builder 19.37.

[2017-11-02 08:27] sgehrman commented on #294
had to do this:

Install all the required tools and configurations using Microsoft's windows-build-tools using npm install --global --production windows-build-tools from an elevated PowerShell or CMD.exe (run as Administrator).

[2017-11-02 08:27] #294 closed

[2017-11-02 09:34] sgehrman opened #295 "CSS file fails to load running the built windows app"
Trying to build the app for windows.

I guessed that $yarn dist is the right command?

I get 'win-unpacked' and Neon Setup 0.0.6
Neon setup just seems to launch the app, I don't see it installing or anything, kind of confusing.

Not sure which is the app. And when I launch it, the CSS is messed up, so it doesn't seem to be working.

If I show the dev tools in the app, I see:
Failed to load resourc

[2017-11-02 10:02] sgehrman opened #296 "Update node-sass version for node 8 support"
$yarn assets fails on node 8.9

update to the latest, that fixes it.

    "node-sass": "^4.5.3",

Actually many of the packages are old, is there a reason they haven't been updated?

I use ncu -a tool to update everything.

Should I do a PR?  I might want to start contributing to this.  Should I clean things up and PR?

[2017-11-02 21:32] evgenyboxer commented on #296
Yes, you are welcome to make a PR with the npm updates.

The reason why they were not updated is because we are busy refactoring/building features :)

[2017-11-06 08:08] bsareen opened #301 "Hey, someone please help me. I transferred neo from exchange into my NEON wallet and it has been more than 48 hours and neo still now showing in NEON wallet. I can locate them on neo tracker. I have got the latest version of NEOn wallet 0.0.4 for MAC. I tried joining the Neo smart Economy Slack but it says limit reach for invite."
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel in the Neo Smart Economy Slack.

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2017-11-06 08:18] Satoshinaire commented on #301
@bsareen I'm unsure why you can't join the Slack, but 0.0.4 is _not_ the latest version of Neon, please update to the current version, 0.0.6

You can download the latest version here: https://github.com/CityOfZion/neon-wallet/releases

[2017-11-06 08:35] bsareen commented on #301
Thank you that worked

________________________________
From: Satoshinaire <notifications@github.com>
Sent: Monday, November 6, 2017 8:18 AM
To: CityOfZion/neon-wallet
Cc: bsareen; Mention
Subject: Re: [CityOfZion/neon-wallet] Hey, someone please help me. I transferred neo from exchange into my NEON wallet and it has been more than 48 hours and neo still now showing in NEON wallet. I can locate th

[2017-11-06 22:54] #301 closed

[2017-11-06 23:11] evgenyboxer commented on #296
Thank you! We will review this.

I also sent a PR to clean the packages - https://github.com/CityOfZion/neon-wallet/pull/303
It was time for some tech debt :)

[2017-11-07 01:37] cryptomd opened #306 "Transaction Failed"
Hello, i tried going to support slack but it wouldnt let me join for some reason.
My Neon wallet will not allow me to send Neo to an exchange.  Keep getting "transaction failed' message.  Have restarted desktop neon wallet several times.
version 0.0.5
Please assist..

Thanks

[2017-11-07 01:38] Satoshinaire commented on #306
First things first, please try updating to the latest version (0.0.6) listed here: https://github.com/CityOfZion/neon-wallet/releases

[2017-11-07 01:57] cryptomd commented on #306
Now running 0.06 but still receiving 'transaction failed' message...

[2017-11-07 02:46] saltyskip commented on #306
Lots of nodes are down right now

http://monitor.cityofzion.io/

You may be connected to one of the bad nodes. Failed transactions are almost always due to network connectivity issues

[2017-11-07 03:14] Satoshinaire commented on #306
@saltyskip Possible, but keeping in mind that Neon runs it's own nodes and is done through an API rather than the client connecting directly to nodes.

[2017-11-07 04:55] hoonchoi opened #307 "API is down?"
Getting a 503 status from api.wallet.cityofzion.io/v2

Running 0.0.6

[2017-11-07 05:08] #307 closed

[2017-11-07 12:15] #296 closed

[2017-11-07 12:16] #295 closed

[2017-11-07 12:16] #262 closed

[2017-11-07 12:17] #216 closed

[2017-11-07 12:17] #247 closed

[2017-11-07 15:21] sudheerreddykuppili opened #312 "neo is not displaying in wallet"
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel in the Neo Smart Economy Slack.

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2017-11-07 20:29] #312 closed

[2017-11-07 22:39] comountainclimber commented on #9
I am definitely interested in engineering this feature. Is there a plan moving forwarding for persisting this data? A cache on the clients machine might work well...

[2017-11-07 23:09] Ejhfast commented on #9
@comountainclimber we are already using persistent storage to save encrypted keys (electron-json-storage, or something like that). imagine we can use the same to store addresses

[2017-11-07 23:12] comountainclimber commented on #9
@Ejhfast Thanks for the fast reply! I am going to create a rough mock for review/iteration on slack and then get to work

[2017-11-08 00:20] Ejhfast commented on #306
@Satoshinaire @saltyskip Neon does not run its own RPC nodes, but it does use the API to decide which RPC node to connect to

usually this problem because a network/firewall for user is blocking non-standard ports

[2017-11-08 01:58] saltyskip commented on #306
Right, what I'm suggesting is network management should be moved off of API and locally on to each users machine. This removes the single point of failure. Is there any reason the same service that is running on the API can't be moved onto the wallet itself?

[2017-11-08 02:05] localhuman commented on #306
That could be done, but at that point neon would no longer be a light wallet.

[2017-11-08 02:09] saltyskip commented on #306
I don't follow, the algorithm would just ping a list of seed nodes, theoretically they should all be at the same block number, if there is a subset of them that are behind, then ignore them, and choose from the list that is most up to date. This shouldn't require a copy of the blockchain.

This strategy doesn't protect against the situation where every node in the seed list is behind, but should b

[2017-11-08 09:37] metachris opened #314 "Present error to user when encrypted key is invalid"
If a user tries to use an invalid encrypted key, the neon wallet keeps saying "Decrypting encoded key...". Only the developer tools show an error: `Uncaught Error: Invalid checksum`. This should probably be presented to the user.

[2017-11-08 18:51] skeller88 commented on #265
In the slack support channel, I read that when the wallet is unexpectedly showing zero balances, it's due to an API connectivity issue. So adding this feature would have the added bonus of cutting down on questions from people about where their NEO funds are.

[2017-11-08 21:57] evgenyboxer commented on #314
@metachris Could you share the invalid encrypted key? I'm not able to reproduce.

[2017-11-09 00:06] Satoshinaire commented on #265
Yeah, absolutely. I think this actually ties in with #9 as well regarding persistent state (perhaps there should be an issue specifically about persistent state that both of these issues relate to).

It'd be good to keep the balance cached locally so that the 0 doesn't freak people out, even when updated balances can't be obtained due to API outage or network connectivity.

[2017-11-09 20:43] holod123 opened #317 "how can I change my gui wallet to neon with ledger adding ?"
Do I have to transfer all neo from gui wallet to ledger wallet adress? And this is the only way ? there is no way to save old wallet ?

[2017-11-10 00:55] stevesbrain commented on #317
I'm not really sure what you're asking here. Essentially, if you're using Neon wallet with the Ledger, the Ledger calculates a new Private WIF + Public Key based off your seed on your Ledger. You use your old wallet to transfer the funds to the new address, and then continue to use the new address from then on. This is fee free, as per usual.

Is there any reason you wouldn't want to use the new w

[2017-11-10 06:07] jmachoff commented on #143
I am also getting this issue still. I have unclaimed GAS that doesn't seem to want to appear. Every time I try to claim the GAS it just stays unclaimed and at 0.

[2017-11-10 06:13] Ejhfast commented on #143
Thanks, we are looking into it, seems to be an issue for some user
accounts, especially with long history of unclaimed GAS

On Thu, Nov 9, 2017 at 10:07 PM, jmachoff <notifications@github.com> wrote:

[2017-11-10 15:25] Grimm2017 opened #319 "Balance incorrectly shows zero"
Blockchain explorer shows correct NEO shares at my public address but the wallet (version 0.0.7) shows zero balance and no transactions.  When NEON opens it also shows the block number as zero.

The wallet worked fine for two days.  The problem started today when I opened the wallet.

[2017-11-10 15:41] Jacko3816 commented on #319
I have this exact issue also.

[2017-11-10 15:50] stephenkorsman commented on #319
Same issue.  On Fridays I check my wallets, and then check for updates.  Neon never loaded any balances.  I checked for an update, and updated to 0.0.7.  Still no balance for either NEO or GAS.  Using 64 bit linux version.

[2017-11-10 15:51] dwilps33 commented on #319
Same issue as well. Briefly had a visual of my past transactions (balance was still 0), but that is gone again. Everything is there when I check the blockchain explorer though.

[2017-11-10 15:53] madDARKO commented on #319
same problem, shows all zero, but when i check with my public adress it shows how it should be?
whats happening here

[2017-11-10 15:56] dwilps33 commented on #319
Just posted on City of Zion Twitter account - "Neon Wallet API is currently down. Please use blockchain explorers to verify your wallet balance. Do not worry, your tokens will be safe in Neon, especially if you are using Ledger Nano S. We sincerely apologise for this inconvenience."

[2017-11-10 16:16] Francilius opened #320 "Zero balance"
Hi, I checked my NEO and GAS balance today and it shows 0 balance. I just updated to version 0.0.7.

[2017-11-10 16:20] totalvm commented on #320
check #319

[2017-11-10 16:20] #320 closed

[2017-11-10 16:45] arenstar commented on #319
@dwilps33 how do you mean "safe in Neon" especially if you are using Ledger Nano S?
Should i be concerned if im not using Ledger Nano S?

Could you please explain the issue in some detail!

[2017-11-10 16:58] warren8tor commented on #319
My balance shows zero also

[2017-11-10 17:07] wowology commented on #319
I have same issue. The blockchain shows the correct amount on Neotracker, but in wallet all is zero.  Yesterday everything showed correctly. Are they fixing this issue?

[2017-11-10 17:13] wowology commented on #319
everything is solved again, balance is back!

[2017-11-10 18:52] Jacko3816 commented on #319
The problem has resolved itself. Everything is as it should be now!

[2017-11-11 03:14] evgenyboxer commented on #319
I'm currently working on the connectivity notifications, so the next version will have a fix for this.

[2017-11-11 03:14] #319 closed

[2017-11-13 13:10] aadon94 opened #322 "Sending NEO/GAS - Ledger Communication Mix Up"
I noticed a bug where I went to send X amount of NEO from my ledger via the Neon wallet but when check on the ledger it showed GAS instead of NEO being sent. I then cancelled and tried to send the same amount of GAS from Neon and it didn't let me (I didn't have enough). So the ledger/Neon communication definitely got mixed up somewhere. I'd clicked on the NEO/GAS toggle button a few times before h

[2017-11-13 17:00] jacobgdinesen commented on #143
I have the same problem. I have never been able to claim gas. I have around 6 unclaimed gas available, but whenever i hit the "claim 6 gas" button it just generates a NEO transaction of 0, with no gas at all. I have had this problem since my first installed version of NEON (think it was 0.0.3) until now, currently at 0.0.7.

[2017-11-13 21:40] donnyque opened #323 "GAS claim failed with 0.0.7 Windows wallet"
Hi, has anyone had this problem?
I haven't claimed my GAS since it was called ANC and Antshares back in June, when I first bought in. Now whenever I try to claim in the NEON wallet, the button greyes out, and it says claim failed. I then tried claiming in the NEO-GUI wallet, and it acquired some small amounts. But the majority of the GAS remains unclaimed. Also on Neotracker.io.

What can I do?

[2017-11-13 23:19] evgenyboxer commented on #323
@donnyque I have removed your screenshot, as this isn't a good practice to post your balance.
We're looking into the connectivity issue, and this will be address in the next version.

Could you try to reclaim and tell me if that worked out?

[2017-11-14 00:26] donnyque commented on #323
@evgenyboxer Hi, okay sorry. I just tried again and it still said claim failed.

[2017-11-14 00:58] tofugitive commented on #143
I've got enough unclaimed GAS that the inability to claim them is beginning to become rather uncomfortable. Is a fix on the way? Not sure how many people are affected, but this is obviously a major glitch in the matrix and is good enough reason to completely avoid the Neon wallet.

[2017-11-14 01:01] Ejhfast commented on #143
It is affecting very few people so far (which makes it hard to debug!) But
we are working on it, should be fixed soon -- I'd recommend using
neotracker wallet in the meantime if you are affected

On Mon, Nov 13, 2017 at 4:58 PM, tofugitive <notifications@github.com>
wrote:

[2017-11-14 13:13] tofugitive commented on #143
Understood it may be difficult to debug. If I move my NEO to Neotracker, will my unclaimed GAS follow me so that I can claim it there? (Sorry for the newbie question!)

[2017-11-14 14:52] Satoshinaire commented on #143
@tofugitive If you move your NEO to neotracker by importing your existing private key, then yes your unclaimed GAS will follow you.

However, if you create a new address on neotracker and transfer your NEO there, no your GAS won't follow, it will stay in the first address. However it should be claimable there once the bug is resolved. Better to import private key into neotracker though.

Hope that

[2017-11-14 19:21] donnyque commented on #323
@evgenyboxer Update. I succeeded! By downloading the mobile wallet and importing my private key there I was able to claim the GAS. I don't know what the issue with NEON was though. But I can see the GAS in NEON now.

[2017-11-15 02:24] msrinu143 commented on #322
I have my neo not showing in NEON wallet, please help me what's happening with coins.

I feel terrible now. I have NEON wallet 0.0.5 version.

[2017-11-15 02:31] tofugitive commented on #143
@Satoshinaire thanks much! Will wait and see if bug is resolved and if not, will move to Neotracker with private keys.

[2017-11-15 02:56] msrinu143 commented on #319
I just checked mine, it is still showing zero balance. I really feel  terrible now!
Please some advice!

[2017-11-15 03:04] msrinu143 commented on #320
I have same issue, I feel terrible. Any information what happened with coins stored in wallet.

[2017-11-15 03:14] msrinu143 opened #324 "NEO and GAS not showing in my NEON wallet"
I really feel terrible, I don't see NEO and GAS in NEON wallet. Requested your kind support!

## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel in the Neo Smart Economy Slack.

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2017-11-15 03:29] msrinu143 commented on #324
Thank you I see now! :)

[2017-11-15 03:44] #324 closed

[2017-11-15 07:09] aadon94 commented on #322
msrinu143 I believe your issue is not being up to date. Update your neon wallet from here: https://github.com/CityOfZion/neon-wallet/releases

[2017-11-15 23:38] stevesbrain commented on #322
Also @msrinu143 - as mentioned, user support issues like this need to be in the #support channel of the Slack; the GitHub is used for tracking development tasks, not usage/user support.

[2017-11-16 17:00] Whiplash1000 opened #328 "Why can't I paste my private/encrypted key into the provided space when I want to accesss my wallet? I have Windows 7 and have no problem pasting anywhere else. If i have to type in all the characters each time I sign in..that wouldn't be good."
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel in the Neo Smart Economy Slack.

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2017-11-16 22:04] stevesbrain commented on #328
@Whiplash1000 There's no reason why you shouldn't be able to copy and paste, but, as the edit says, visit the Slack channel for support - GitHub issues are for development only :)

[2017-11-17 01:52] Whiplash1000 commented on #328
Steve,

Thank you for responding.  The trouble is, when I tried to join Slack Channel by entering my email address, this was the response:  Failed! invite_limit_reached

I've tried multiple times with the same response.  I don't want to bother you, but, I do need a solution...

So, what am I to do?  I tried again to paste and it won't even come up when I right click.

[2017-11-17 02:07] stevesbrain commented on #328
@Whiplash1000 I don't believe there's any right-click functionality in it, however, have you tried the keyboard shortcut to paste? Should be Ctrl+V at the same time :)

[2017-11-17 02:44] Whiplash1000 commented on #328
That worked!!  Thank you so much!!

[2017-11-17 03:58] stevesbrain commented on #328
You're welcome @Whiplash1000 :)

[2017-11-17 04:29] #328 closed

[2017-11-17 08:51] thyagy011 opened #329 "Neon Mac Wallet 0.0.7 Doesn't show the acumulated GAS"
## PLEASE NOTE
The number of gas shown is always Zero even after you click Refresh icon more than once.
But on Mouse overlay, the value shows up fine.

<img width="401" alt="screen shot 2017-11-17 at 12 49 59 am" src="https://user-images.githubusercontent.com/23515076/32938552-6c812868-cb31-11e7-8967-8ac5d334a9a5.png">

[2017-11-17 09:01] thyagy011 commented on #329
I think I got it. It needs to accumulate at least 0.0001 gas to show up in the text field.

[2017-11-17 09:01] #329 closed

[2017-11-18 04:15] 0x77696c6c opened #333 "Hashes of the downloads are out of date"
Where can we find the new hashes for 0.0.7 release

[2017-11-18 12:27] Lachris42 opened #334 "Can't make a transaction after the update!"
Hi.
After the update it is not possible to right click in the address field to paste in a address.
And after the tedious job of entering the address manually with check and double check,
I get the message that the address is not valid.
That is a big problem when you need to do a transaction, and I hope it will be fixed ASAP