[2017-11-18 12:56] crypto365 opened #335 "Sending Neo from Ledger Nano S to Exchange"
Hi I feel there is a bug when sending neo from the Neon wallet using the Ledger Nano S. No matter what amount I enter I get a message saying "Transaction Failed" it has to be a whole number which I understand but why is it not allowing to move Neo from the Wallet to a different address?

I am using version 0.0.7

Thank you in advance

[2017-11-18 14:03] summertooth opened #336 "Can no longer copy/paste "send to" address."
I used to be able to copy my send to address from an exchange and paste in Neon, can no longer do this.  Seems like this should be enabled as typing these addresses will lead to many errors.  Thank you for your time.

[2017-11-18 16:31] comountainclimber commented on #336
What version are you running? Neon => About Neon

[2017-11-18 17:45] cryptomitchman commented on #143
So just so I understated. I've been trying to claim gas for a month. No luck with 0.0.5, 0.0.6, and now 0.0.7.  If I move some neo to sell to bittrex, but keep my original wallet. Will the gas still be there when the problem is solved - even though I sell my NEO?

[2017-11-18 17:45] Ejhfast commented on #143
Yes, unclaimed GAS will still be there

On Sat, Nov 18, 2017 at 9:45 AM, cryptomitchman <notifications@github.com>
wrote:

[2017-11-18 17:48] cryptomitchman commented on #143
Thanks Ejhfast. Been stressing me out. I appreciate the response. I tried everything from NEON to neo tracker. Just cant claim it. If it helps anyone debug the issues, I originally started my first wallet as a antshares original wallet.

[2017-11-18 18:01] cryptomitchman commented on #143
Actually finally worked on Neo Tracker. Had to send to myself first and wait! Finally! Thanks

[2017-11-18 21:26] rockaBil-E commented on #336
i upgraded v006 two weeks ago, and now7, and found this 'paste' bug in both (on my machine).  I re-loaded 5 (pastes fine) and will wait for an resolution in 8.

[2017-11-19 01:29] sixside opened #337 "Windows command line call to validate file hash has a typo in the exe file name"
On this page: https://github.com/CityOfZion/neon-wallet/releases/tag/0.0.7 the command for Windows to check that the file hash matches is:

`certUtil -hashfile "Neon Setup 0.0.7.Windows.exe" SHA256`

but the downloaded file name is actually: "Neon.Setup.0.0.7.Windows.exe" so if people blindly copy/paste it will fail due to ERROR_FILE_NOT_FOUND

[2017-11-19 08:17] JCardenete commented on #323
This is happening to me too, Neon 0.0.7, MacOS 10.13.1. An error message shows up on top of the screen saying "Claim failed".

[2017-11-19 13:15] evgenyboxer commented on #334
What operating system are you using? Windows?

[2017-11-19 13:25] Lachris42 commented on #334
Windows 10 - Version 1709 (OS Build 16299.64)
Didn't have any problems with NEON 0.0.6

[2017-11-19 16:09] summertooth commented on #336
v7, newest version, just installed yesterday.  @comountainclimber

[2017-11-19 23:30] wowology opened #339 "Cannot Send GAS out of my NEON wallet"
Hi, I'm trying to send GAS out of my NEON wallet, version 0.0.7 and I always get 'Transaction Failed'.

Can anybody tell me how to resolve this?

Thanks!

[2017-11-20 01:26] stevesbrain commented on #336
@rockaBil-E @summertooth Are you both trying to right click and user copy + paste via right click menu's? Try Ctrl+C shortcut for copy, and Ctrl+V shortcut for paste.

[2017-11-20 01:27] stevesbrain commented on #335
@crypto365 This definitely works with the Nano S + version 0.0.7. I've done it multiple times. Can you clarify if you're ever getting prompted to sign the transaction on the Ledger? Are you using the simultaneous press of both buttons to sign this transaction?

[2017-11-20 01:29] stevesbrain commented on #333
@0x77696c6c The hashes on https://github.com/CityOfZion/neon-wallet/releases/tag/0.0.7 are up to date

[2017-11-20 03:21] Hoffacurse opened #340 "OK to Stay With the 0.0.5 Wallet Until All The Issues Are Resolved With This New Wallet?"
I can't get an answer over on the NEO reddit, so I thought I'd try here. Is it OK to stay with the 0.0.5 wallet for now? I'm getting notices that I need to update every time I open it, but I am a little leery about updating at this point.

[2017-11-20 09:59] wowology commented on #339
I have even downloaded the wallet anew, version 0.0.7, but still am not able to send any GAS.  Is this a bug in the wallet?

If yes, what is another secure way to access my account?

Thanks for the help!

[2017-11-20 11:45] chris40taylor commented on #336
Hi, I had the same problem with the cut and paste but followed stevesbrain above and it worked.
Will this issue be rectified?

[2017-11-20 12:09] stevesbrain commented on #339
@wowology Is it a large amount of GAS? I believe that has caused some issues, and it is being fixed in the next version

[2017-11-20 12:10] stevesbrain commented on #340
@Hoffacurse In as far as I know, there's nothing major that's changed which requires updating the app at this stage. If it still works, I'd say it's fine to use.

[2017-11-20 12:50] wowology commented on #339
No , even 1 unit of GAS cannot be sent. when is next wallet out?

What can I do in between?

[2017-11-20 23:05] stevesbrain commented on #339
@wowology I haven't had issues sending such small amounts of GAS. Does the same issue happen for you on testnet?

[2017-11-20 23:22] wowology commented on #339
Yes, it happens all the time, cannot send GAS.

I can claim my GAS though.

Please advise

[2017-11-20 23:25] stevesbrain commented on #339
@wowology Just to confirm, you are saying this happens all the time on mainnet, and on testnet? Have you confirmed the checksum of the downloaded file as well?

[2017-11-20 23:30] wowology commented on #339
I am having this issue on main net.  On test net, I have 0 gas so how do I test? and if it works on testnet, how do i get my gas on main net transferred?

[2017-11-20 23:41] wowology commented on #339
It always says 'Transaction Failed'

[2017-11-20 23:43] stevesbrain commented on #339
@wowology It's not that you would transfer mainnet to testnet; they're two separate things. Testnet would tell us if it's a client issue or not however. Did you verify the checksum?

[2017-11-20 23:44] wowology commented on #339
what is the checksum?

[2017-11-20 23:45] wowology commented on #339
I'm running on MAC

[2017-11-20 23:46] stevesbrain commented on #339
@wowology The checksum verifies that the file downloaded correctly. See this release page for more details (the hashes are what you want to compare):

https://github.com/CityOfZion/neon-wallet/releases/tag/0.0.7

[2017-11-20 23:50] wowology commented on #339
yes, I downloaded the 7 version from this site, so I should have the correct file for wallet.  What else can I do?

[2017-11-20 23:57] wowology commented on #339
I have downloaded the wallet a second time from the page, so that should be the correct one.  But still does not work.  Do I need to go to version 5, or what do I do?

[2017-11-21 00:05] wowology commented on #339
I'm able to send NEO, but not GAS

[2017-11-21 00:07] wowology commented on #339
just sent one NEO and that arrived on another account

[2017-11-21 00:11] wowology commented on #339
What do you recommend I do to get hold of my GAS and be able to transfer it

[2017-11-21 00:33] stevesbrain commented on #339
@wowology I'm not suggesting you download the file again, I was simply suggesting you check the hash using the command on that page. Does the hash match?

Feel free to try version 0.0.5 - some people have had success with this.

[2017-11-21 05:38] Joseph-Tortorelli commented on #334
Same thing here.  Worse is that its on Ledger.  Cannot access coins

[2017-11-21 07:12] Japh commented on #334
@Joseph-Tortorelli Does Ctrl+V work for you to paste the address in?

[2017-11-21 08:50] wowology commented on #339
Hi Steve,

I've downloaded the version 5 and with that version I can send GAS.  So please have that issue fixed in the version 8.

Thanks for your support!

[2017-11-21 13:41] webofunni opened #341 "Not able to claim GAS"
I tried to claim gas in https://neotracker.io/address/AKE1ohvSpVcgsVdonykCj4ed9m732gWAht using this wallet and it failed, now it looks like no other wallet is able to claim that GAS. How can I resolve it ?

[2017-11-21 14:14] webofunni commented on #292
I am facing similar issue on version 0.0.7. Tried multiple times for several days and looks like the GAS is stuck

[2017-11-21 22:25] stevesbrain commented on #339
@wowology I'm not actually involved with this project at all, so I can't give you any guarantee it will be fixed in version 8 - I'm just a user like you :) Happy it's all sorted though!

[2017-11-21 22:26] stevesbrain commented on #341
@webofunni Some people have had troubles claiming gas with current release, but have been able to claim with 0.0.5 - you could try that.

[2017-11-21 22:28] leafcutterant opened #342 "Password is displayed as visible text when creating wallet"
When creating a new wallet, the client asks for a password, and both fields (defining a password and confirming it) have their contents displayed as readable text when the user types into it.

This is quite a security hazard. The contents of those fields should be visible only as bullets.

[2017-11-22 01:43] Satoshinaire commented on #342
Good point.

The "Login using a saved wallet", "Login using an encrypted key", and "Login using a private key" screens all support showing / hiding sensitive input.

This should be added to the "Create a new wallet" and "Encrypt an existing key" screens too, I would think.

[2017-11-22 10:36] evgenyboxer commented on #342
Thanks, will make a quick fix for these in our next release.

[2017-11-22 10:36] #342 closed

[2017-11-22 13:58] Mediator08 opened #344 "Windows 64bit compatibility issue - Impossible to install Neon Wallet"
Hi,
When will you release an update of Neon Wallet compatible with Windows 64bit.
The present version does not execute on Windows 64bit therefore I cannot get gas nor can I store my NEO keys on my Ledger nano.
Any way around ?
Thanks

[2017-11-22 16:13] Bruc0Blachf0rd opened #345 "Just installed lastest version and cannot log in. Is asking for private key; all I have is the 14 words when I set up my first version and the pin number. How do I get it to open?"
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel in the Neo Smart Economy Slack.

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2017-11-23 00:36] stevesbrain commented on #345
Where did you generate the wallet? Neon-wallet doesn't use 14 words :/

[2017-11-23 01:00] Bruc0Blachf0rd commented on #345
My mistake; was looking at wrong wallet data information.
Have it working fine now.
Thank-you for responding

On Wed, Nov 22, 2017 at 4:36 PM, Steve Divskinsy <notifications@github.com>
wrote:

--
Process Improvement Solutions
Bruce Blachford
562-592-9950

[2017-11-23 01:09] stevesbrain commented on #345
No worries @Bruc0Blachf0rd - glad it's working now :)

[2017-11-23 05:53] chatch opened #349 "yarn install fails with libusb.h: No such file or directory"
Apologies for posting here however "Neo Smart Economy Slack." invite screen is broken (https://slack-helper.cityofzion.io/invite/T656BRXQ8). Gets stuck in a permanent Captcha <-> click Invite button redirect cycle ....

----------------------------------------------------------------------

yarn install fails on both tag "0.0.7" and branch "dev" and:
   Node v6.11.3 and Node v9 latest
   Yarn 1.3.

[2017-11-24 14:24] NewWorldBC commented on #146
Yes this is what i also would like to know, I've put RPX in my ledger but after that I founded out that I can't move them out of there so now I can't reach my funds, even with neotracker.io i can't open the wallet ... please help .. Thanks alot

[2017-11-24 14:27] NewWorldBC commented on #335
Hello, I put RPX on my ledger Nano S with Neonwallet, now I can't move them out of there , Can't reach my funds now .. how Is this possible ? please help ... Thanks in regards.

[2017-11-24 14:35] NewWorldBC opened #355 "How to send RPX from Ledger nano s so I can trade them I need the funds... please help !"
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel in the Neo Smart Economy Slack.

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2017-11-24 15:22] curiousprise opened #356 "MacOS 10.13.1 - NEON data not pulling through"
Hi team

Recently updated my macOS to 10.13.1, running 0.0.7 neon, and no data is pulling through on my neon wallet. Couldn't see an open ticket for this issue. Was working fine before.

Any ideas?

Cheers

[2017-11-24 15:48] curiousprise commented on #356
Please ignore this, was an issue with my VPN. Apologies

[2017-11-24 15:48] #356 closed

[2017-11-24 20:44] RadekSip opened #357 "Idea: prepare app for localizations (translations)"
Move hardcoded strings from code to allow community localization.

[2017-11-24 23:46] evgenyboxer commented on #357
Thanks! I got some ideas around this.
Would you like to work on this? Or suggesting a feature?

[2017-11-25 03:10] rj23z commented on #323
I am having the same issue.
Neon 0.0.7, Windows edition.
I can not claim gas, the transaction can not be processed. A value of 0 Neo transferred shows up in my wallet ledger.

[2017-11-25 04:16] saltyskip commented on #323
Something funky is going on with either NEO or the CoZ API. Here we can see issue when I query claims of random address.

![image](https://user-images.githubusercontent.com/14796429/33227265-2ad44908-d154-11e7-9b93-527c4edaee0e.png)

Although there is a non-zero claim amount here, the actual array which contains the claim data is empty. If this were to be empty than one would not be able to build

[2017-11-25 12:21] ixje commented on #323
For what it's worth it's not related to `neon-wallet-db` that's used in the 'backend'. I just claimed gas using `neon-wallet-react-native` that uses `neon-wallet-db` as well, and it works fine.

[2017-11-26 05:20] saltyskip commented on #323
It could be related to some users and not all. @ixje can you query the claims route on the CoZ API and see if the claims array is non-empty?

[2017-11-27 09:48] drreen commented on #146
Looking forward to this one...sent my RPX to the Ledger as well... *facepalm*

[2017-11-27 11:45] ojsimon opened #359 "Balance not appearing in NEON"
I can see the balance on Neotracker.io but I cannot see my balance in NEON wallet for one of my wallets, but I can see the balance for another separate wallet. What is causing this?

[2017-11-27 13:00] metachris commented on #314
Sorry @evgenyboxer -- I did not see an email from Github for your reply!

To reproduce this on 0.0.7, just click on "Login using private key" and enter `invalid`.

[2017-11-27 19:52] wedwo commented on #359
For the same reason it's done it for ages.  I haven't seen my balance in Neon for a while now.  No idea how one is supposed to take this software seriously.

[2017-11-28 06:10] CryptoJim commented on #317
@stevesbrain If I change from the wallet to Ledger will my Gas be transferred along with my Neo? What about any unclaimed Gas?

[2017-11-28 07:55] clayt0nk commented on #359
Humble apologies? Why? I have no problem asserting that money should never disappear spontaneously  from any SERIOUS project's crypto wallet. On top of that, I see no comment here from project devs on what seems to me to be quite a serious issue.

I seem to be in the same predicament: my Neon balance is suddenly zero. I don't have the neo-gui app installed, is this https://github.com/neo-project/n

[2017-11-28 09:52] evgenyboxer commented on #359
There are a number of reason why a balance might show 0. This will be addressed in future releases. Right now we are focusing on supporting NEP5.

If in doubt about the zero balance, please check the explorers.

[2017-11-28 11:22] mrbrdo opened #362 "Export raw private key?"
I have an encrypted private key that I created using NEON. I need access to my private key. There doesn't seem to be any option to export the private key, or at least convert this into a keystore file. Am I missing something?

On a side note, is there any other way (a tool) to decrypt the encrypted key into a raw private key?

[2017-11-28 13:38] slipo opened #363 "Support for other currencies"
This would be a currency selection field on the settings page. Then the frontend would show that currency instead of USD. I'll take this on if desired.

[2017-11-28 13:57] metachris commented on #362
For another tool, you could use [neo-python](https://github.com/CityOfZion/neo-python) to import your NEP-2 encrypted private key, and export it in WIF format with `export wif {address}` if you want that. If by raw private key you mean the 32 raw bytes that make up your private, you'll need to decide in what representation you want to get them out (32 int values?). In neo-python, the private key i

[2017-11-28 22:43] stevesbrain commented on #317
@CryptoJim You can certainly transfer Gas, however, this is a separate transaction. The way I'd do it is this (steps 1 to 3 are optional, and are just good practice for making sure everything works):

1. Transfer a small amount of Gas to Ledger to test you can receive fine
2. Transfer a small amount of Gas from Ledger to test you can send fine
3. Wipe the Ledger and then restore from recovery key

[2017-11-29 01:18] elessarts commented on #323
I have similar problem - cannot claim gas. Upon further investigation, i can't send NEO either. I set up another wallet in my NEON to test it and I cannot send any NEO, which explains why I can't claim gas because you have to send NEO to yourself to get gas (apparently). Also note my button doesn't get greyed out it just says "sending NEO to yourself" at the top for hours. As someone suggested, I

[2017-11-29 02:42] optictopic opened #365 "ANS from 2015 ICO not showing up in block explorers."
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel in the Neo Smart Economy Slack.

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2017-11-29 02:46] CryptoJim commented on #317
Thank you Steve, and Steve's brain!

[2017-11-29 02:48] optictopic commented on #365
I assumed that I could wait a year or so before attempting to move my ANS to be sure that the wallets were sound and that there might possibly be a hard wallet solution, as there is now.  I was able to verify that my ANS were accounted for on antshares.org/ico as recently as July of this year.  But after the rebranding it seems there is no way to verify anything.  I set aside today to claim the AN

[2017-11-29 03:52] stevesbrain commented on #317
Haha, no worries at all @CryptoJim :)

[2017-11-29 07:24] cripperera opened #366 "neon 0.0.7 can not install to windows 10 64bit"
Hi,

cannot install neon 0.0.7 wallet to windows 10 operating system. I used version 5 for since last month without any interruption.
please advice me.

thanks,

crip

[2017-11-29 07:38] ixje commented on #323
@elessarts it's probably best to join the neo slack channel (specifically #support) to get a more responsive interaction going. Do note that people might be at work/school/busy so getting a reaction might not be instant.

[2017-11-29 08:26] ixje commented on #362
Unfortunately the term private key is used mostly for referring to the unencrypted wif formatted key (len: 52), not what technically is the private key (len:32). As what @metachris  said, start `neo-python`, open or create a wallet, and import your current encrypted wif (len:58) using `import nep2 <insert key here>`. Then run the export command he described.

[2017-11-29 12:50] Trader914 opened #367 "NEON Wallet & 32 Bit Windows 7?"
Is there a 32-bit version of the NEON Wallet?

[2017-11-29 22:17] mrbrdo commented on #362
Yes, I meant the WIF key. Thanks for the info.

However, it would still be nice if NEON supported this somewhere in the UI. Any plans to add this feature? I'm sure it's not much work I'd imagine.

[2017-11-29 22:20] DavidRaw opened #368 "I downloaded the new wallet to windows. I selected log in with private key, but when I click to paste in the private key I have no functionality to paste? It worked fine in the previous wallet version."
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel in the Neo Smart Economy Slack.

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2017-11-30 06:04] evgenyboxer opened #372 "[Feature] Private network option"
# Feature #

Add an option to select a private network in the settings page.

## Specifics ##

- Add the ability to enter the url of another Neon API to connect to (localhost, or private net deployed publicly)
- NeonJS needs to support this.

[2017-11-30 06:08] #333 closed

[2017-11-30 07:49] ixje commented on #362
Adding it should indeed not be much work. I think it will come down to the question if it fits the purpose of the wallet. Right now exporting the wallet keys makes it somewhat 'safe' for it's users because it's always in encrypted form. I guess it comes down to what @snowypowers as the maintainer thinks of it.

If it's just a 1 time thing and you do not want to setup any development environment yo

[2017-11-30 08:51] snowypowers commented on #362
1. I am not the maintainer of neon-wallet. Just neon-js :)

2. The tech is definitely there, just a matter of presenting it properly so it does not pop up unintentionally. I would say its not high on priority list.

3. https://github.com/snowypowers/ansy works for your needs :)

[2017-11-30 10:54] #317 closed

[2017-11-30 10:55] #339 closed

[2017-11-30 22:19] jmsaulnier commented on #279
See #336

[2017-12-01 12:23] slipo commented on #349
Could you try the instructions here and see if that help?
https://github.com/node-hid/node-hid#compiling-from-source

Specifically this command may help you:
`sudo apt install libusb-1.0-0 libusb-1.0-0-dev`

[2017-12-01 12:28] slipo commented on #368
I don't have windows for testing but this appears to potentially fix this:
https://github.com/CityOfZion/neon-wallet/pull/376

If you can compile from source with that PR to try and let us know, that'd be great. Otherwise it should be in the next release.

[2017-12-01 12:45] chatch commented on #349
yep that's got it. installing those 2 dependencies and it now completes.

[2017-12-01 17:49] Sangacious commented on #368
Hi, I received the same problem today. So I didnt bother to check my wallet again. Now that I open my wallet after 3 hours..... i see my Neos are gone.....  can someone help?

[2017-12-01 17:53] DavidRaw commented on #368
Sorry i'm not technical enough to understand what you have asked me to do.
How long will it be until the next update so I can see if the problem is
fixed.
Thanks you
David

On 1 December 2017 at 17:49, Sangacious <notifications@github.com> wrote:

[2017-12-01 19:21] #340 closed

[2017-12-01 19:21] #345 closed

[2017-12-01 19:22] #365 closed

[2017-12-01 19:25] #359 closed

[2017-12-01 23:31] jmsaulnier commented on #357
@evgenyboxer I can have a look

[2017-12-02 11:07] stevesbrain commented on #368
@DavidRaw For now, paste with Ctrl+V keys pressed simultaneously

[2017-12-02 12:36] DavidRaw commented on #368
Thank you Steve

Sent from my Samsung Galaxy smartphone.
-------- Original message --------From: Steve Divskinsy <notifications@github.com> Date: 02/12/2017  11:07  (GMT+00:00) To: CityOfZion/neon-wallet <neon-wallet@noreply.github.com> Cc: DavidRaw <davidjraw@gmail.com>, Mention <mention@noreply.github.com> Subject: Re: [CityOfZion/neon-wallet] I downloaded the new wallet to windows. I selected l

[2017-12-03 02:46] emanon7 commented on #368
Hello can somebody tell me if they are having issues entering the new version 0.0.7 of the wallet?
Seems you can't copy paste and once entered your private key is entered manually...nothing happens??

[2017-12-03 08:12] Sangacious opened #387 "MY NEO HAS BEEN ROBBED"
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel in the NEO Smart Economy Slack.

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

Hi,
I am writing to you to inform that I was robbed of my 160 Neo from my Neon Wallet on 1st Dec 2017.

The Thief's Address (the add

[2017-12-04 04:00] ryanbas21 commented on #387
Unfortunately, this isn't a Neon-Wallet issue, but it seems that you lost your private key and someone logged in using it.

[2017-12-04 04:20] chatch commented on #349
build docs now add this step

[2017-12-04 04:20] #349 closed

[2017-12-04 07:49] Colljam commented on #387
It seems that I was also a victim of a theft, the very same NEO wallet receiving my NEO. It is sickening to know that my capital is gone, I lost just 19 NEO, I feel bad for you losing so much more.

I really thought I had been careful, I set my wallet up offline and had all the necessary precautions in place (at least I thought). I don’t think we will get our NEO back, sorry dude, we were robbed.

[2017-12-04 08:17] Sangacious commented on #387
@ryanbas21, no i didn share my private key with anyone. On 1st Dec I  was unable to log on to my wallet. So out of panic I kept logging in to my Neotracker.....  but I dont know when ...dont clearly remember I logged on to the phishing site neotracker.co and thats when i think this all happened.  I am very careful everytime. I have bookmarked neotracker page too .... Anyways I wish Neo had done so

[2017-12-04 08:52] Colljam commented on #387
That’s what happened to me too I would guess. I really thought I was being careful. The phishing site still exists... WTF!? Plus it really does look legitimate.... mother fuckers.

[2017-12-04 09:21] edbaks commented on #143
Trying to claim gas for a long time 0.5 0.6 and 0.7 not working.
Send to my self is also not working.
I ám not the only one, its undermine the credibility of the NEO platform when you not to be able to fix it.

[2017-12-04 13:37] Sangacious commented on #387
ya the scamster is from Romania ...  imagine the number of people he has scammed ....  and there is no stop to it.... the scma site is soo identical... you would never know the difference...

[2017-12-04 17:32] cryptickt commented on #335
Hi there, can someone please help? Im using a ledger nano s to connect to my neon wallet, just yesterday I was able to send neo to an exchange with success, and today I am trying to send neo again to an exchange, however it keeps giving me a "transaction failed" message, wont even be prompted by the nano s with latest updated versions..What can I do to fix this guys?? Thanks for your assistance in

[2017-12-04 18:04] cryptickt opened #393 "ledger nano s prompt to sign transaction not appearing"
Hi there, can someone please help? Im using the Ledger Nano S to connect to my Neon wallet, just yesterday I was able to send Neo to an exchange with success, and today I am trying to send Neo again to an exchange, however it keeps giving me a "transaction failed" message, wont prompt the Nano S  so that I can sign the transaction. And I do have with latest updated versions..What can I do to fix t

[2017-12-05 02:56] reobnevarb commented on #368
pasting with Ctrl+V keys pressed simultaneously worked for me, thanks.
But to see my balance I have to use the old private key from the previous version wallet.

[2017-12-05 02:57] stevesbrain commented on #368
No worries @DavidRaw :)

@emanon7 As above, try pasting with Ctrl+V, instead of right click + paste.

[2017-12-05 03:00] stevesbrain commented on #393
@cryptickt Have you uninstalled and reinstalled the NEO app on the Ledgder? Do you have NEO app open on the Ledger before opening Neon-wallet?

[2017-12-05 03:38] cryptickt commented on #393
Hi Steve,

I uninstalled and reinstalled neo app on Ledger, and Neon wallet on mac laptop. I was able to successfully connect the Ledger Nano S with the Neon wallet, however when confirming the transaction, typically the prompt shows up but tried this at least 10xs with no success of prompt appearing.  I have completed several transactions through the neon wallet with the Ledger and this is only t

[2017-12-05 03:59] roycebox opened #394 "Wallet issue, my Neo is not appearing!"
Hello,

So, I bought Neo the other day on Bittrex exchange. After downloading the neo app on android, I setup a new wallet by creating a password and then saved my wallet (I was never given a private key). After pressing on receive in the menu, I got my public key and had my new neo transferred. Since then I have not seen any neo show up in my android app neo wallet. When I double check my public

[2017-12-05 04:29] stevesbrain commented on #394
Not sure what wallet you're using on your phone, so you're unlikely to get any support from here (given this is for a computer wallet). However, the basic troubleshooting would be:

1. Check your public key - if the balance is there, provided you have the corresponding private key, all is not lost
2. Get a copy of your private key - export it from the application
3. Use that private key to log in

[2017-12-05 04:30] stevesbrain commented on #393
@cryptickt No worries - happy to help. So just to confirm, it sounds like all is working fine after restarting your laptop? If so, I'll consider that resolved! Let me know if I misunderstood! Thanks

[2017-12-05 04:45] emanon7 commented on #368
Thank you very much !
Take care

*Emmanuel EYSSAUTIER*
Nstra. Sra. del Rosario 1057, Dpto. 208 - Vitacura
Santiago-CHILE
Fono: 56-2-27245767
Cel: 56-9-97589727

2017-12-04 23:56 GMT-03:00 reobnevarb <notifications@github.com>:

[2017-12-05 04:46] emanon7 commented on #368
Thank you, worked fine with Ctrl+V... weird though....!

*Emmanuel EYSSAUTIER*
Nstra. Sra. del Rosario 1057, Dpto. 208 - Vitacura
Santiago-CHILE
Fono: 56-2-27245767
Cel: 56-9-97589727

2017-12-04 23:57 GMT-03:00 Steve Divskinsy <notifications@github.com>:

[2017-12-05 05:17] reobnevarb commented on #368
stevesbrain Not sure if I do understand. Are you saying that when I set up the new version wallet, I did not have to create a new private key?

[2017-12-05 05:17] roycebox commented on #394
Sorry, I did not realise this was only fot computer wallets.

I never got a private key when I created a new wallet. I tried using the encrypted pruvate kry i found in the json file although it did not seem to work either.

The wallet I am using and used to creare my wallet is Neo App by PeterLinX.

I even tried creating a new wallet and using that json file to log in on neotracker.io but it still

[2017-12-05 05:28] roycebox commented on #394
Ok, I figured out how to get my private key with the app, managed to log in using that on the neon app on PC and now can see my neo appear on there. Still does not show up on android app but at least I can access it!

Thanks for the help 👍

[2017-12-05 05:30] stevesbrain commented on #368
@reobnevarb I am saying that, yes. The private key is the same always - you create it once, and use that for every wallet version :)

[2017-12-05 05:31] stevesbrain commented on #394
Excellent - well done @roycebox - good troubleshooting :)

[2017-12-05 07:24] hariharanpalani opened #395 "NEON Wallet is not syncing"
Hi,
  I can successfully install the wallet in my windows 10 desktop. After transfer the NEO from binance to this wallet, it is not getting credited. It always shows 0 value.

Even Block at top right also shows 0. Can you please let me know what will be problem? Is it not able to communicate with the server and the way to identify the problem (may be place to check for log files)

[2017-12-05 11:01] reobnevarb commented on #368
stevesbrain
Thank you,
Can you also tell me if this latest version Neo wallet can also hold Red Pulse token?

[2017-12-05 12:35] Satoshinaire commented on #368
Your address can hold it, but Neon 0.0.7 cannot display your balance, nor can you transact.

Neon 0.0.8 should be bringing this functionality though.

[2017-12-05 12:46] slipo opened #396 "Show a warning when trying to save a key with the same name"
When saving a key with the same name, neon-wallet overwrites the old one.

We need to show a warning and a tooltip to delete button.

[2017-12-05 20:18] superenart commented on #395
try to add an exception to your firewall

[2017-12-06 00:19] bleach182 commented on #336
Okay so has this been solved? I am new to this and don't really understand what @dvdschwrtz  commits are about. I when to the #336 and #376 but do not understand what I am supposed to do with that code..

[2017-12-06 00:46] Satoshinaire commented on #336
@bleach182 You don't need to do anything, but the issue should be resolved in the next release.

[2017-12-06 01:39] ricksanchez777888 opened #399 "Unable to login using private key for Neon Wallet 0.0.7 but 0.0.6 accepts same private key?"
First, I apologize if this is not the correct place to ask for support, but I am out of options;

I tried going to the Slack channel for NEO for support but am unable to access it. (Sorry but this Slack is currently unable to send invites as Slack has disabled this feature)

I've posting on Neo Reddit but no has been able to help me.

Issue: My WIF private key doesn't work on 0.0.7, but it DOES st

[2017-12-06 02:03] stevesbrain commented on #399
This is very strange; are you typing the key in manually, or copying + pasting? If copying + pasting, have you ensured there's no spaces etc in the key?

[2017-12-06 02:04] Satoshinaire commented on #399
I was wondering this too @stevesbrain, until he mentioned exporting and importing the JSON... surely no room for a copy/paste error there.

[2017-12-06 02:05] ricksanchez777888 commented on #399
I've done both manually typing and copy+pasting. I've been trying for about 7 days straight now hoping for a bug fix. Everyday it's been the same; I can access 0.0.6 but not 0.0.7, so surely my private key has no errors.

[2017-12-06 02:56] stevesbrain commented on #399
@ricksanchez777888 Unfortunately I don't have any guesses for you there :( I've been able to use the same private key since version 0.0.3 or 0.0.4 without issue :/ What if you generate a new test private key in 0.0.6 and paste that into 0.0.7 - same issue then?

[2017-12-06 03:56] ricksanchez777888 commented on #399
That did the trick! Weird. I really appreciate the help! @stevesbrain, @Satoshinaire, do you guys take donations? Send me your Gas address.

[2017-12-06 05:06] stevesbrain commented on #399
Very kind @ricksanchez777888 :) Happy to accept donations on AQy3nW4ZPrJuws3NPavSZH4b3hxdTXSc8C 😄

[2017-12-06 05:11] ricksanchez777888 commented on #399
Sent! I'll close out this ticket for now. @Satoshinaire send me your gas address when you get the chance.

[2017-12-06 05:11] #399 closed

[2017-12-06 05:12] stevesbrain commented on #399
@ricksanchez777888 Very kind of you - thanks very much :) Glad it's been a happy resolution for you!

[2017-12-06 05:30] Satoshinaire commented on #399
@ricksanchez777888 It's not necessary, but if you insist, you can find my donation addresses listed here: https://www.satoshinaire.com/

[2017-12-06 05:35] ricksanchez777888 commented on #399
Sent! Thanks fellas! I see you guys do a lot more than just replying to these tickets, keep up the great work! Cheers!

[2017-12-06 10:28] #396 closed

[2017-12-06 11:26] Berend-B opened #402 "Type of encryption"
Hey guys,

I was wondering if it was possible for me to retrieve my passphrase. I saved my passphrase in a different location that I lost now (LastPass). I still have the public key en my encrypted private key, but no way to retrieve the passphrase. So now, I can't login again and my NEO seem to be lost.

Thanks in advance!

[2017-12-06 11:26] Guybrush26 opened #403 "NEO/GAS is not appearing"
I've been using NEON for a long time now and today I wanted to claim some GAS but my NEO and GAS balance is not appearing. Everything works fine on neotracker. Is this just a visual bug?

[2017-12-06 11:30] evgenyboxer commented on #403
Seems like the neon wallet api is down at the moment - http://monitor.cityofzion.io/

[2017-12-06 11:32] evgenyboxer commented on #402
Have you saved your unencrypted private key somewhere?

[2017-12-06 11:33] stevesbrain commented on #403
Can confirm - it is down at the moment. Everything will appear again when it's back up :)

[2017-12-06 11:37] stevesbrain commented on #402
@Berend-B If you haven't saved a copy of your unencrypted private key, and it's impossible to recover your LastPass, then unfortunately it's lost. However, how has it come about that you lost your password in LastPass? As far as I know, they have a "recycle bin" and password history?

[2017-12-06 13:21] Berend-B commented on #402
I guess I didn't save the LastPass entry properly before my computer stopped working and I can't recover my private key anymore. I guess it's lost forever.

Thanks for helping though!

[2017-12-06 14:30] slipo commented on #403
It's back up.

[2017-12-06 14:30] #403 closed

[2017-12-06 22:40] stevesbrain commented on #402
Oh man, that's unfortunate :( Sorry to hear it @Berend-B

[2017-12-07 00:39] mrbrdo commented on #362
@ixje thanks for that, worked fine!

[2017-12-07 10:17] ixje commented on #362
You're welcome. Glad it solved your short term needs.

[2017-12-07 20:20] #393 closed

[2017-12-07 20:21] #394 closed

[2017-12-07 20:22] #323 closed

[2017-12-07 20:22] #387 closed

[2017-12-07 20:30] dvdschwrtz commented on #335
Here are some possible causes of your problems. The ledger won't send NEO if there is already a NEO transaction in progress on the same block. This is the same with non-ledger transactions. Also, there is a bug in the ledger app code that causes certain transactions to fail. you will never lose NEO because of this, but it might not return a successful transaction. These cases are very rare and it

[2017-12-07 20:30] #335 closed

[2017-12-07 20:31] #363 closed

[2017-12-07 20:32] dvdschwrtz commented on #271
closing this issue as it has been merged to dev

[2017-12-07 20:32] #271 closed

[2017-12-09 10:33] dir4nk opened #407 "0.0.7 / W10 shows US 0$ for NEO/GAS/Total but GAS/NEO units OK"
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel in the NEO Smart Economy Slack.

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2017-12-09 19:13] totalvm commented on #344
Neon Wallet works on 64bit windows, as almost everyone I know uses windows with 64bit version.

What errors are you getting?

[2017-12-09 19:14] totalvm commented on #337
Fixed

[2017-12-09 19:14] #337 closed

[2017-12-10 02:07] evgenyboxer commented on #402
I’m closing this issue.
Best of luck @Berend-B

[2017-12-10 02:07] #402 closed

[2017-12-10 10:44] rexii2300 opened #410 "Ledger Nano S passphrase support?"
How is the NEON wallet's compatibility with Ledger's extra passphrase feature described here? https://ledger.zendesk.com/hc/en-us/articles/115005214529-Advanced-Passphrase-options.

I created a temporary passphrase and opened Neon Wallet (address B). I can see a different address to my initial wallet address (address A).

To retest, I re-powered up the device and then setup a temporary passphrase

[2017-12-10 23:26] stevesbrain commented on #410
Can also confirm the expected behaviour with the Nano S, however, I have not tried with the recovery page generator (haven't let me "real" seed touch a PC yet). I did test adding an extra word to the recovery page/seed, and it did generate a different WIF - are you saying this WIF doesn't match the Ledger's though?

[2017-12-10 23:54] rexii2300 commented on #410
I have tried adding the extra word at the end of the 24 word mnemonic in the recovery site, but the address & WIF doesn't match the Ledger's.

From what I can gather, the extra passphrase is not an extra word (24 +1), but rather a separate word to encrypt the 24 word mnemonic. I think it's part of the BIP39 standard. For example, this converter here allows you to input an optional passphrase https

[2017-12-12 11:26] #355 closed

[2017-12-13 02:50] gpascualg commented on #292
Same here! Used to be able to claim on 0.0.5 but on 0.0.7 I'm just getting "claim failed" errors. I've tried all 3 explorers (neotracker, neoscan and antchain) and no difference at all.

All I can see are transactions with 0neo value, but no claim at all on the explorers.

Any idea what can be going on?

[2017-12-13 06:39] rzkuvya commented on #367
I am interested in the 32-bit version of NEON Wallet too.

[2017-12-13 11:04] BluBoy commented on #146
Is it possible to get an update on this? (has it made it into v0.8.0 and is there an estimated release date for that version?)

Issue has been open for 3 or 4 months. NEP-5 ICOs are starting to launch now.
Some ICOs (Deepbrain) are recommending people downgrade to v0.6.0 in order to participate, despite you removing the functionality in v0.7.0 because it didn't work as expected.

Concerned that a

[2017-12-13 11:48] Honestbui commented on #267
the same my problem..but how to see for now..pls help

[2017-12-13 16:56] canesin commented on #146
@BluBoy relax, the release will happen way before Christmas.

[2017-12-13 17:06] notatestuser opened #414 "Gas claim when logged in with WIF and a Ledger is connected"
I'm "logged in" with a WIF and have a Ledger Nano S connected with the Neo app open. Neon Wallet is trying to sign a transaction on the device when I try to claim GAS. Obviously that key is not associated with the Ledger so nothing happens.

Here's a screenshot of the message I get:

<img width="1015" alt="screen shot 2017-12-14 at 01 01 25" src="https://user-images.githubusercontent.com/1255926/3

[2017-12-14 00:23] joesixpack opened #415 "Windows Installation Path"
Please give the user the ability to specify where the installation directory is.

[2017-12-14 03:11] n-marek commented on #146
I ma glad I am not the only one who sent their RPX to Ledger 😆
The ultimate HODL 💰

[2017-12-14 03:43] d0ngit opened #416 "Neonwallet has changed my public address upon i connect it with Ledger Nano S then my NEO gone!"
Hello NeonWallet team,

I've used Neon Wallet with my Ledger Nano S, everything was worked well and I've sent all my NEO from Bittrex to Nano S a few days ago. But today, I open NeonWallet but it displays BLANK 0, GAS 0 - and my public address has been changed to the new one!

Can you give me some advices ? this scares me!

Thank you.

[2017-12-14 10:25] Honestbui commented on #416
The same me..please help me

[2017-12-14 21:53] MattSom opened #417 "Starting window is white blank - win10"
As I download the win10 .exe and run it, the NEON window appears, but everything is white. If I select the text with mouse it shows, that the input fields and button options are there, but I cannot see them.

[2017-12-14 22:11] mhuggins commented on #34
@phetter I'm looking to start contributing to CoZ repos for the first time this week.  Is this something you need help with, or should I pick up something else?

[2017-12-14 23:26] SHarlov opened #418 "Neo on Ledger Blue"
Hey, guys.

Just wondering if anyone has had any problems with installing Neo on the Ledger Blue?  Every time I do it, the Neo logo DOESN'T appear on the Dashboard -- only the word 'Neo'.  However, the wallet itself seems to be working, but I'm hesitant to use it to safe guard any funds if it hasn't installed properly.

Any help would be great.

Thanks.

[2017-12-15 04:04] stevesbrain commented on #416
@Honestbui @d0ngit - you guys aren't using temporary passphrase or something on your Ledger's? I've been using it on a Ledger and I'm still getting correct address + balance amounts showing. I can understand balance not showing if the API is down, but, public address should never change. Unless @Honestbui is just missing the address amount, and only @d0ngit changed the pubkey?

[2017-12-15 04:14] d0ngit commented on #416
Hi @stevesbrain, I'm not using temporary passphrase on my Ledger Nano S and I have only 1 Nano S but today it displays another Public NEO Address! not the one before!

Do not know why my Public Neo address changed! and my balance all zero + history transaction also empty! :(

[2017-12-16 04:13] headude opened #420 "mac os 10.13.2 neon 0.0.7 shows "0" balance"
Cannot find any balance on my Neon app. It has always been there, now no NEO or GAS. ??? I have refreshed, restarted, etc.

[2017-12-16 07:38] d0ngit commented on #420
@headude Has your NEO address been changed?

[2017-12-16 10:59] DURK commented on #292
Same issue here, on version 0.0.7 (Mac).
Just like @gpascualg said, you only transactions with 0 NEO value and no claim.

[2017-12-16 12:53] Serg23 commented on #367
I am interested in the 32-bit version of NEON Wallet too.

[2017-12-16 14:56] headude commented on #420
No, not by me. Nothing has changed since I updated with a new router. I am exploring that avenue today. I have always had the same balance for months in my Neon wallet for NEO, and of course, growing for GAS; now nothing.

[2017-12-16 17:58] slipo opened #421 "Update stored wallet to NEP6 standard"
https://github.com/neo-project/proposals/pull/13

[2017-12-16 23:27] headude commented on #420
Solved. Thank you. Problem appeared to be in a router.

[2017-12-16 23:35] comountainclimber commented on #9
https://github.com/CityOfZion/neon-wallet/pull/422

[2017-12-17 02:55] mhuggins commented on #9
@dvdschwrtz I think this issue can be closed now.

[2017-12-17 03:07] #9 closed

[2017-12-17 10:12] stevesbrain commented on #416
@d0ngit Does this new address consistently stay on there? Is it possible you used a different passphrase the previous day? What if you restore from seed, or use the seed calculator offered by coranos? :)

[2017-12-17 14:45] mhuggins commented on #272
Cmd+Q works for me on Mac, but I don't have a Windows box to test again.

[2017-12-17 14:47] mhuggins commented on #253
I don't mind taking this on if no one has started on it.  I think it could be done more easily with the new UX.  I may just need help on the back-end portion with how to include multiple addresses when actually creating the transaction.

[2017-12-17 17:17] rbish commented on #416
@d0ngit I have the same problem, my NEONwallet is showing a different address then the NEONwallet address I first had when connecting with Ledger.  I sent the tokens to the 1st address and when I signed in again with Ledger, I had different address and Blank coins.  How do I recover that first address where my coins are sitting?  Thanks for anyone that can help.

[2017-12-17 20:51] Zlerp commented on #418
I am having the same issue and question. Myself.

I beleive you are ok, but hesitant to use.

Just posted on r/ledgerwallet also: https://www.reddit.com/r/ledgerwallet/comments/7kg934/is_neo_fully_functional_on_the_ledger_blue/?ref=share&ref_source=link

[2017-12-18 00:24] durdenSkyler commented on #416
Same problem as others mentioned above. The wallet address generated when I first connected Ledger Nano S using OS X neon app 0.0.7 is different than the one I've gotten since logging out and back in with the same app and device. The new (2nd) address appears to be consistently derived (tested on my other machines).

[2017-12-18 02:33] zenmonster76 opened #423 "Send button broken - Neon Wallet 0.0.7"
The "Send" button seems to be broken on Neon Wallet 0.0.7.  The button literally does nothing, it doesn't even move or change color in a satisfying way, let alone send my NEO.  It's maddening.  Please tell me a way to fix this, thank you.

## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel in the NEO Smart Economy Slack.

[2017-12-18 03:28] stevesbrain commented on #416
@durdenSkyler Other machines also OS X with Neon 0.0.7?

[2017-12-18 05:03] Honestbui commented on #416
the same my problem,
who guys see back NEO on Ledger now?
can help me get back my NEO?

[2017-12-18 05:20] BluBoy commented on #366
Win10 x64 and Neon 0.0.7 are working fine here.

You might need to see if you have anything else preventing installation (or provide additional details for the devs to work off)

[2017-12-18 05:23] durdenSkyler commented on #416
@stevesbrain
First machine was OS X with Neon 0.0.7 - Neon wallet generated Address_1 with the Ledger Nano S and Neo was received and showed in the Neon GUI. I logged out and when I used the Ledger a 2nd time, it gave me Address_2.
Second machine was windows 10 with Neon 0.0.7 and Ledger generated Address_2.
Third machine was OS X with Neon 0.0.7 and generated Address_2.

Haven't been able to repl

[2017-12-18 05:51] stevesbrain commented on #416
Sorry to say I don't really have much insight as to what may have caused this; I'm just sorry they're lost to you :( As a future pointer, might be worth using testnet rather than real world ones for this (not having a go at you, and it certainly shouldn't be necessary, but always better to play it safe!).

[2017-12-18 08:45] drreen commented on #146
Looking forward to the update!

[2017-12-18 10:25] hipflask01 commented on #152
im using neon wallet 0.0.7 and i have the same issue. my coins are showing in wallett https://neotracker.io/wallet but not in neon app after about 3 hours

[2017-12-18 11:02] ineptio007 commented on #152
I quit using it.

NEOTRACKER.IO is much better.

December 18, 2017 11:25:43 AM CET hipflask01 <notifications@github.com> wrote:
im using neon wallet 0.0.7 and i have the same issue. my coins are showing in wallett https://neotracker.io/wallet but not in neon app after about 3 hours
—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thr

[2017-12-18 13:42] Xcoder89 commented on #146
Somewhat a noob question: Can addresses generated using wallet version 0.0.7 receive & hold NEP5 tokens? Ability to hold tokens should be version agnostic, right?

[2017-12-18 14:12] #420 closed

[2017-12-18 16:06] zenmonster76 commented on #423
The invite limited has been reached, so I CAN'T join the Slack.  Please change the limit on that.

[2017-12-18 20:36] teovmy opened #424 "When will Red Pulse PRX supported"
Hi Team,

I can't see my RPX? When can we expect a version update which hold RPX besides GAS and NEO?

[2017-12-19 07:02] anastrophe commented on #339
I realize this is closed, but wanted to add something I discovered. In the 0.0.7 wallet, I was experiencing exactly the same behavior trying to send gas - always 'transaction failed'. So I took the advise and reinstalled 0.0.5, and tried again. Same thing. Then it occurred to me that may it was input parsing. At the time, I had 0.6998 gas. I was trying to transfer just the .6. So I was entering ".

[2017-12-19 11:46] rexii2300 commented on #410
coranos updated recovery site with passphrase support. so issue closed

[2017-12-19 11:46] #410 closed

[2017-12-19 21:07] zenmonster76 commented on #423
I am deeply concerned that my NEO is now irreparably "stuck."  Anyone else using version 0.0.7?

[2017-12-19 23:51] stevesbrain commented on #339
Interesting - might be worth either opening an issue for this @anastrophe or updating documentation with a PR to clarify this :) Good find!

[2017-12-19 23:52] dwigon commented on #335
I have the same problem and its already December 19 come on guys fix this.

[2017-12-20 07:25] Roanunicorn opened #427 "NEON wallet empty running 0.0.7 shows no transactions and zero in account ??????????"
<img width="921" alt="screen shot 2017-12-20 at 9 24 23 am" src="https://user-images.githubusercontent.com/34704956/34195699-a12d8b38-e567-11e7-8906-e52df2608f57.png">
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel in the NEO Smart Economy Slack.

## GitHub issues are intended for tracking development tasks, not troub

[2017-12-20 10:22] aquakul commented on #335
Facing the same issue with my Ledger Nano S. I was successful in sending it from my exchange to ledger but not able to send it the other way. Any ETA as to when this would be fixed

[2017-12-20 11:05] stevesbrain commented on #335
@dwigon Please remember this is a volunteer project. You can't really be so demanding when these folks are working on this project for nothing but donations (which I'm sure are few and far between)

[2017-12-20 11:54] seaside-crypto commented on #416
Have you guys tried to recover your ledger with your recovery phrase?

This was the first thing i did, before transferring any NEO to my Ledger:

- write down recovery phrase
- check the NEO App on Ledger, check the NEO address
- wipe Ledger
- restore Ledger with phrase, check NEO address.

The ledger wipes itself if you enter the wrong pincode too often (i think it was three times).

Also there i

[2017-12-20 12:07] trancephorm commented on #416
To ones that lost NEO... What operating system you're using? Are you sure your Ledger Nano S is original? Maybe the first tampered ones occurred in the wild? Where did you buy it?

[2017-12-20 14:55] d0ngit commented on #416
Hello

@seaside-crypto: yes, i have tried by many ways include recover my ledger Nano S with the phrase. But it still shows new public address (also is current address)

@trancephorm:
- I’ve tried on many OS, windows, mac os with the latest version of neon wallet 0.0.7!
- i bought Ledger Nano S from an official reseller of Ledger France in my country. And i make sure that I have configured it as n

[2017-12-20 15:18] dwigon commented on #335
So losing all my money because this a volunteer project is good? wtf?

[2017-12-20 16:05] coranos commented on #416
@d0ngit @Honestbui @rbish @durdenSkyler
Did you guys always and only use the "Login using a Ledger" button?

Or did you use any of the other buttons before or after "Login using a Ledger", like "Create a new wallet" or "Login using an encrypted key"?

[2017-12-20 16:18] Honestbui commented on #416
@coranos @d0ngit @rbish @durdenSkyler
I only use the "Login using a Ledger" not have another

Thanks and looking forward from your support

[2017-12-20 16:39] coranos commented on #416
@Honestbui can you tell me the address you sent from?

I haven't seen anything like what you described, so I'm not sure how such an error would occur, let alone occur to three people in three days. The ledger app computes the public key just like the recovery site, so if you get a different address than the recovery site, that's very strange.

[2017-12-20 20:00] maahno commented on #427
I have the same issue - wallet zero and no transaction history (ledger nano s)
Also my Block showed: NaN
But i checked my balance via neotracker and seems everything ok with my neo
only I cant see it on my ledger wallet
![img_2049](https://user-images.githubusercontent.com/34722300/34225944-32b26e9a-e5d9-11e7-9260-7361c3203771.JPG)

[2017-12-20 20:01] fabwa commented on #427
Please use discord or reddit for wallet support. Your screenshot indicates a network issue (firewalls? vpn?)

[2017-12-20 20:01] #427 closed

[2017-12-20 22:28] stevesbrain commented on #416
@seaside-crypto I did precisely the same thing, except I also sent a small amount of testnet to that address, and from that address before wiping; that way I had the added benefit of being able to verify transaction history comes back too :)

[2017-12-20 22:29] stevesbrain commented on #335
@dwigon Haha, wow, way to put words in my mouth. No, I'm not saying in any way that losing your money is good. I'm saying that you've got no leg to stand on demanding they do certain things in your time frame - they owe you nothing. Don't be so ungrateful - just wait patiently. You chose to use a project that hasn't even hit a v1.0 milestone; you knew the risks.

[2017-12-20 22:56] jon85943 opened #428 "Can't send Gas from Neon using Ledger Nano S"
I get the "Transaction Failed" message every time I try to send Gas on Main using 0.0.7.  I can successfully send Neo, claim my gas, and receive both Neo and Gas.  It's only sending Gas that I cannot get successfully.  I have tried different amounts, decimals, unplugging/replugging in, reopening the Nano app, etc.  I have also tried sending to many different wallets to check if maybe one exchange

[2017-12-20 23:11] Honestbui commented on #416
@coranos thank for your support
i kindly tell you address sent NEO from:
Address: AU3DGUrwAMF3rbc8mW8BrtWRsbBdBH5V4q
TxId: 0c230b8f2bdc477bc7cb9351e5f2af85b58304b753c13f16602c018e42c38d1d

Bless you and see you

[2017-12-20 23:21] Honestbui commented on #416
@coranos thank for your support
i kindly tell you address sent NEO from:
AVosxBJuA5DhswNhAVw1kmwoMBnjyp6hm6 and AJzoeKrj7RHMwSrPQDPdv61ciVEYpmhkjk

Bless you and see you

[2017-12-21 00:03] stevesbrain commented on #428
I know someone else had this issue, and their solution was using full decimal place amounts. I.e. they were attempting to send `.6613` and it failed, `.6` and it failed, but sending `0.6613` worked (I believe that's what it was anyway). Have you tried sending with the 0.X format?

[2017-12-21 00:41] coranos commented on #416
sending is important as well, because that verifies it's a real private key, which helps debugging.

I'll do what I can.

[2017-12-21 01:33] Honestbui commented on #416
@coranos
thank so much Bro, i looking forward your help my problem, i see all NEO on Neowallet app conected with ledger is successlly after transfer from bittrex and Binance..but now it have change new address on neowallet but now lost all coin and transaction historry

[2017-12-21 12:14] fluchtreflex commented on #424
This would be great because it means that RPX (and other tokens) aren't accessible at all when using the ledger nano s for accessing the wallet.

[2017-12-21 15:12] ecryptoz opened #429 "Ledger Nano S transactions failing"
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel in the NEO Smart Economy Slack.

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2017-12-21 15:27] ecryptoz commented on #429
Hello,

Whenever I attempt to send an asset/claim gas and hit confirm the transaction, the "please sign transaction on hardware device" flashes right to "transaction failed!" Sign tx now never appears on my ledger screen.

I have uninstalled and reinstalled the NEO app on the ledger, uninstalled and reinstalled Neon wallet, and restarted my computer all with no results.

Please let me know if ther

[2017-12-21 15:29] ecryptoz commented on #429
Hello,

Whenever I attempt to send an asset/claim gas and hit confirm the transaction, the "please sign transaction on hardware device" flashes right to "transaction failed!" Sign tx now never appears on my ledger screen.

I have uninstalled and reinstalled the NEO app on the ledger, uninstalled and reinstalled Neon wallet, and restarted my computer all with no results.

Please let me know if ther

[2017-12-21 19:40] cryptocrapitalist opened #430 "Getting a "claim failed" error message when trying to claim gas"
Hi - I am having trouble claiming my gas using the NEON wallet with a WIF. I hit the claim button and it doesn't work. I tried on 3 different versions of the software and multiple times but nothing. "0 NEO" transactions are showing up on the history page, but no GAS ones.

A couple things to note:
1) I haven't claimed gas in months because I don't like typing in my private key.
2) I got a new Ledg

[2017-12-21 21:12] ecryptoz commented on #429
Now it's allowing me to claim GAS, but I'm still getting "transaction failed!" when trying to send asset.

Any help would be greatly appreciated.

[2017-12-21 21:48] cryptocrapitalist commented on #430
I tried all sorts of things with the NEON wallet but couldn't get it to work (removing and sending back NEO and GAS, etc).  Finally I tried the NEO web wallet, and was able to claim the gas on there just fine.

[2017-12-22 05:57] jon85943 commented on #428
Thanks for the reply, I saw that post as well and tried .xxxx as well as most other combos.  I also tried using the exact amounts and the 7 digit full number you see when hovering over your Gas amount.  Hopefully v8 fixes it

[2017-12-22 06:20] hounded commented on #423
Yes same problem, seriously if they are going to launch a public ico, they need to at least have the code working [sentence enhancers removed]

[2017-12-22 08:49] Satoshinaire commented on #423
@zenmonster76 I'd recommend you join the [NEO Discord](https://discord.cityofzion.io) instead.

@hounded What ICO are you referring to? And given that Neon is still in pre-release stage and makes no claims at being production-ready software, teething hiccups are to be expected. Just hold onto your hats and wait for the next update to resolve your issues, or use a different wallet.

[2017-12-22 08:59] Crypton85 opened #432 "Zero balance in neon wallet using ledger nano S"
I've been using Neon wallet for the past few days after acquiring my Ledger Nano S and it had been fine till now. Somehow, today the wallet seems to be showing ZERO balance in it with all my Neo and gas disappearing. I've done a check using https://neotracker.io/ and the coins are indeed still in my public address.

Can someone please advice on this?

[2017-12-22 14:44] tgtcph opened #434 "Did i loose my NEOS?"
I was trying to participate in a NEO based ICO crowdsale for the first time and managed to make a wrong transaction I think. After filling my NEO balance on a wallet version 0.0.6, when the crowdsale opened I didnt send my NEOs under the “participate” in crowdsale column, but from my wallet. So they announced the hash script and i copy pasted it into my wallet and sent 11 NEOs from there , insted

[2017-12-22 18:11] AshRolls commented on #434
This isn't a NEON wallet issue. Please email contact@neo.org for help with your ICO claim.

[2017-12-22 18:11] #434 closed

[2017-12-22 21:15] Dooctoore opened #435 "My NEO has been lost during the transaction from neotracker to ledger S"
Hello
This is happened when i decided to join Qlink ico crowdsale. I filled the KYC form however i just gave up to join crowdsale. Today i would like to check my NEO wallet and saw zero NEOs in my wallet. Thereafter i immediately check my neotracker adress and saw my NEOs there. Then i decided to secure my NEOs just simply sending to my Ledger S. I copy and check the ledger adress 3 times and sent

[2017-12-22 21:20] Dooctoore commented on #435
I just realized that when i click my neo ledger s adress as you see in the attachments i can see my balance on neotracker but i  see zero balance when i open my ledger nano s

[2017-12-22 22:31] Dooctoore commented on #319
mine is also zero balance guys. however when i check on blockchain may balance can bee seen correctly.how could you fix that problem . I feel terrible too 👎

[2017-12-22 22:33] Dooctoore commented on #432
I have the same issue mate. Please advice..

[2017-12-23 08:55] d0ngit commented on #416
Hello @coranos ,

How is it going? I've the same issue with @Honestbui ,Btw Today, has another guy got issue with Nano S: https://github.com/CityOfZion/neon-wallet/issues/435

Please support us!

[2017-12-23 10:24] tgtcph opened #436 "Cant login to Neon Wallet"
Have 11 NEOs in my Neon wallet, have the KeyStore file extracted, the Private key saved and cant login to my wallet.
I tried it on version 0.0.6 and 0.0.7 as well. It keeps saying my private key is not valid, also keeps sayin my keystore file is not valid.

What happened?
Please help me to fix this issue.

Thanks and happy holidays!

[2017-12-23 10:26] tgtcph commented on #436
Ah and here is my address:
AJwBzhSqAW38rvvrg9A68RpEdYiKrk9akE

I checked it on NeoTracker and my balance is on the wallet I just cant reach it. Also tried to use my JSON file NeoTracker to access to the wallet, but says its not valid?!

Thanks for the headsup on this situation!

[2017-12-23 10:52] tgtcph commented on #394
Just found this question, and I give it a shot here as well.
I was using NEON wallet version 0.0.6 for an ICO crowdsale, and uploaded 11 NEO-s in this wallet. Ever since then I cant login to my NEON wallet. Tried to download the 0.0.7 version, but still, logging in is not working out. I have my KeyStore file saved, also my private key, but the wallet keeps tellin me those are not valid.

Checked m

[2017-12-23 11:54] BluBoy commented on #432
I had this issue, and it was caused by an overzealous firewall blocking the app from connecting to the internet.

DEV: If there is no internet connectivity, an error message should be displayed, instead of a zero balance.

[2017-12-23 12:03] BluBoy commented on #146
@Xcoder89 correct. The wallet ID itself will hold NEP-5 tokens just fine.
Currently the NEON Wallet interface to that wallet IF just doesn't display them.

@canesin Sorry to push, but any updates with this? There are a number of ICOs about to hit the final stages and we need to be able to tell investors if NEON supports NEP-5 or not. This is close to 4 months old now and will be cutting it close.

[2017-12-23 12:13] jbrathod1312 opened #437 "Help need for api"
Hello, I want to develop android wallet for neo. But i don't know where to get api. I installed cli on amazon aws but it didn't work. can you guide ne through this ?

[2017-12-23 12:38] Satoshinaire commented on #436
This was resolved in the Discord chat. The issue was a typo.

[2017-12-23 12:40] Satoshinaire commented on #394
See #436 for the resolution to @tgtcph's issue.

[2017-12-23 13:37] Freeminder23 commented on #143
Same here....using Neon-Wallet with a Ledger Nano S and when I try to claim it's giving the message:
"Sign transaction 1 of 2 to claim Gas on your hardware device (sending Neo to yourself)" and then shortly later I have a Transaction of 0 Gas in my history. Will have to switch to Neotracker again if this is not fixed soon....

[2017-12-23 16:58] coranos commented on #435
Is the block height zero on the neon-wallet?
It could be network problems.

[2017-12-23 17:01] coranos commented on #416
I'm talking with Ledger about it. We havn't been able to reproduce the problem yet, and I tried 20 times.

If you can reproduce the problem (wipe ledger, get a passphrase, get wrong address, get right address) it'd help a lot. So far, I've not been able to get it to break and I've tried 10 times over the last 72 hours.

[2017-12-23 22:39] holymio opened #438 "Windows Defender quarantines Neon 0.0.7 for Windows"

[2017-12-24 13:47] Melicio commented on #146
@canesin U mentioned that the release will be "way before Christmas" but i think it isn't happening as Christmas is tomorrow? I really like to store my NEP5 tokens on Ledger. via NEON wallet.

[2017-12-24 17:19] d0ngit commented on #416
Hello @coranos

This issue may because of Ledger Nano S is using a Hierarchical Deterministic architecture?

This means Nano S is able to generate multiple addresses and will have a diffirent address after each transaction. For BTC, ETH i knew that nano s supports this! Do not sure that this issue because of what!

Anyway, i have recovered nano s and tried by many ways but the new address still ke

[2017-12-24 17:23] coranos commented on #416
I'm pretty sure that's not it. We only support "m/44'/888'/0'/0/0" NEO doesn't do "one address per transaction" that's IOTA.

If you want to check, type your 24 word phrase into the recovery site and look at the address list.

https://coranos.github.io/neo/ledger-nano-s/recovery/

Only thing I can think of is some kind of USB port problem flipped a bit in the key.

[2017-12-25 09:27] omelnyk commented on #146
Did you guys consider reaching out to the past and upcoming NEO-based ICOs for financing the implementation of this task?

[2017-12-26 08:00] cdbbazza opened #439 "Neon Wallet showing 0 balance and 0 block - Solution?"
Hi All,

My Neon wallet v7 is showing 0 balance and 0 block on the mainnet, i have checked my public address and the neo and gas is still there.

Do you know why this is happening and a solution? havent heard anything on the neo reddit.

Thanks,

[2017-12-26 22:28] AndrewC2018 opened #441 "My Account has been flagged, and I dont Understand why"
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel in the NEO Smart Economy Slack.

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2017-12-27 08:23] 2ge commented on #424
I got RPX in my NEO, but can not see in NEON. Before there was "Participate in Token Sale", now it is gone. What is solution, how I can check my RPX ?

[2017-12-27 09:55] karl-chedda commented on #335
Sending neo from exchanges to nano wallet simply was as easy as using a round number of neo in addition to exchange fee.( Example : bittrex sending 200 Neo +.025= total send 200.025. Hence receiving 200 round number of neo to offline nano s. YET; WHEN attempting to send any amount of neo back to any exchange has cost me a neo EVERY TIME ( AND ITS GETTING expensive w this mistake!) .  My first send

[2017-12-28 05:11] rroyster commented on #439
Hi,

I am getting the same thing.  Not able to see my NEO and the NEON wallet keeps telling me that I have to upgrade.  PLEASE HELP.  Thanks.

[2017-12-28 05:37] durdenSkyler commented on #416
Hi @coranos thank you for looking into this. I used your recovery tool and my seed words and found my correct (2nd) address but was unable to find the 1st (stuck) address: [AGAm...zFfTK](https://neotracker.io/address/AGAmSMhDkoJ2Wr7T4PeRHEf52eJJjzFfTK). One thing that might be worth mentioning is that I didn't load up the neon wallet and go straight to the login with ledger button. I had timed out

[2017-12-28 06:32] Neddy1 commented on #439
Mine is showing a block#, a Neo and Gas Balance but zero dollar value

[2017-12-28 10:36] teovmy commented on #424
No comment yet?

[2017-12-28 21:24] OrEagle97327 commented on #416
I am having the same problem.  If anyone finds the solution, please post here. I would love to get my coins back.
Not sure how to use the tool listed by @coranos. Not sure how to use it while not connected to the internet.
Shows what kind of novice I am.

[2017-12-28 23:40] ryanmcgrath commented on #439
At a cursory glance, it's (at least for me) due to CoinMarketCap's API returning an endless 301 loop (via CloudFlare). In a sense, this is a bug for `neon-js` I believe, not this project...

But regardless, it's strange, as it's only the requests from the wallet that have issues. Probably some Electron issue that I'm not familiar with re: caching.

[2017-12-29 01:58] OrEagle97327 commented on #435
I have the same problem.  We are not the only ones.  See link 42 for more discussion.

https://github.com/CityOfZion/neon-wallet/issues

[2017-12-29 02:15] mesnia opened #442 "Cannot Transfer NEO Asset using Ledger Nano S"
I cannot transfer my NEO Asset using NEON Ledger Nano S login. How can I make it work?

[2017-12-29 03:11] coranos commented on #442
Use the recovery site to recover your WIF, then use your WIF to complete the transfer.

https://coranos.github.io/neo/ledger-nano-s/recovery/

[2017-12-29 03:13] coranos commented on #435
This is a completely different issue than yours.

He sees his balance on neotracker, and not in the wallet. This is usually a firewall or network issue.

[2017-12-29 03:14] coranos commented on #416
open the website linked.
turn off your internet access.
type in your 24 word phrase.
write down the wif.

[2017-12-29 03:16] d0ngit commented on #416
Hello @coranos , looks like many people have the same issue with me! still waiting for your debugging results!

Have a good day and hope for a good news.
Thank you!

[2017-12-29 03:18] coranos commented on #416
I have been unable to reproduce the issue where the address changes on the first boot, and is the correct address on the second boot.

Ledger has not been able to reproduce the issue either.

If you are not able to use the recovery site to get your NEO, I do not know any other way to get your NEO.

[2017-12-29 04:04] mesnia commented on #442
Thanks so much. That worrked

[2017-12-29 04:04] mesnia commented on #442
I will close this thread

[2017-12-29 04:04] #442 closed

[2017-12-29 04:40] straightforwardgas opened #443 "Neo has been lost from Nano s to exchange"
Sent my Neo on my Ledger nano S to an exchange and it has been a full day. Thinking its gone, but my transaction shows its been sent and received by the wallet on the exchange. However is not showing up so where did it go?
https://neotracker.io/tx/9ce1bc6d97da7eeb77c2368fc5c9a1e06c7c6e4da601d73d58211c8958d67bd3
my account on the exchange wallet is showing I sent my Neo out after I received it?
htt

[2017-12-29 16:53] dennish007 commented on #424
Please make this a general issue to support NEP5 tokens. Than RPX, DBC, ... will be supported automatically

[2017-12-29 18:10] zenmonster76 commented on #423
I would love to use a different wallet, but my coins are stuck in the NEON Wallet.  Or can I use any wallet with the same private key?  I will join the Discord, thank you.

[2017-12-30 10:41] d0ngit commented on #416
Hello @coranos ,

So sad to hear that from you :(!
Just let you know this story from a guy has similar issue as me in NEO - Smart Economy group (Discord App.):
He was used the same private key to login to NeonWallet, but NeonWallet displayed the new address with Zero balance. But today, he informed me that his Neo is already back!

You can see his reply to me in attachment. He said that his NeonWa

[2017-12-30 16:41] coranos commented on #416
Ya that's a different issue. He sent it to the correct address, so it showed up in the block trackers.

[2017-12-30 17:33] matej1985 commented on #367
Hello I’m allsow having problem to install application, because my windows are 32bit. What can I do. I’m nano ledger s user. Please help.

[2017-12-30 18:30] #436 closed

[2017-12-30 19:21] thmstm opened #445 "Version 0.0.7 on Windows 10 not opening"
I try to use Neon Wallet 0.0.7 on Windows 10 (64 bit). However, after installation from https://neo.org/download the wallet does not open (neither automatically, nor with double click on its icon). Actually, I see it in the Task Manager as running, but no window comes up and no way to switch to it. If I try to open it again, a new (second) running instance appears in the Task Manager. I rebooted,

[2017-12-30 22:01] marcokofi commented on #432
Hello guys, l'am also facing the same issue my balance shows zero but i notice my coins are still on my public address using  neotogas.com, any help would be much appreciated thanks

[2017-12-31 03:00] DrBruceR commented on #366
I have the same problem. 0.0.5 was fine.  Tried to update to 0.0.7 and install hangs.  Re-downloaded .exe file several times and re-tried several times.  Then tried to re-install 0.0.5 and THAT hangs.  Had to install 0.0.5 on a Win 7 machine to access wallet.

[2017-12-31 11:30] francescofarina commented on #439
Same problem here. Showing 0 balance on neon wallet used with the ledger nano s. Checking my address on neotracker gives the exact balance.
I cannot send neo in this way.
Solutions?

[2017-12-31 11:35] francescofarina commented on #432
Same problem here. Showing 0 balance on neon wallet used with the ledger nano s. Checking my address on neotracker gives the exact balance.
I cannot send neo in this way.
Solutions?

[2017-12-31 11:42] blockmike commented on #432
hi, same problem here - thanks to @francescofarina as i checked the neotracker and see that the balance is still there....phew. I hope it is a slight but which Leger nano S will sort out quickly!

[2017-12-31 11:45] kogovsekj commented on #439
I have the same problem. 0 balance and no transaction history. I see all my NEOs on neotracker.
I am also using ledger nano s.

[2017-12-31 11:58] wbnben commented on #432
i have also the same problem, zero balance on neon wallet using ledger nano s, by checking my address on neotracker i see the right balance.

[2017-12-31 12:05] lukaszek1988 commented on #432
I have the same problem. I also use ledger Nano S but my colleagues on the group have the same problem with the NEON wallet. Let's hope it's just a synchronization problem

[2017-12-31 12:08] Frederickvc commented on #439
I'm having the same issue.
Nevertheless checking neotracker.io I can still find my neo back...

Upon opening the ledger app, i was on block 0. Upon checking, while writing this post, block moved to 1.762.423, hope it's just syncing and i'm about to find back my Neo...

[2017-12-31 12:29] wbnben commented on #432
it's working now.

[2017-12-31 13:02] lukaszek1988 commented on #432
Ufff thx friend

;-)

⁣Wysłano z TypeApp ​

W dniu 31 gru 2017, 13:29, o 13:29, użytkownik wbnben <notifications@github.com> napisał:

[2017-12-31 13:05] blockmike commented on #432
mine too. thanks for letting me know!

[2017-12-31 13:05] francescofarina commented on #439
SOLVED: just wait, it seems to be due to a slow synchronisation.

[2017-12-31 13:06] francescofarina commented on #432
SOLVED: just wait, it seems to be due to a slow synchronisation.

[2017-12-31 17:49] tommywilkos opened #447 "Funds are not showing in my Wallet"
Hi, I have tried to get onto the Slack page but that seems to be down atm. I transferred 40 NEO into my new wallet. My wallet is showing 0 NEO but I have checked on the NEO scanner, it shows the 40 NEO. This is the first time I've used NEO to participate in a crowdsale tomorrow. Slightly worried that I'm going to miss out on it due to this error. Urgently need help. Thank you in advance.

My walle

[2017-12-31 17:57] tommywilkos commented on #447
It seems to be stuck on Block 1763143. I've tried reinstalling it, still nothing.

[2017-12-31 19:10] tommywilkos commented on #447
Panic over it's appeared guys... Just took a couple of hours to get there. Thanks anyway

[2017-12-31 19:10] #447 closed

[2018-01-01 07:04] reobnevarb commented on #368
Hi, Can anyone tell me if there is a fully functioning desk top wallet available for Red Pulse token?
Thanks.

[2018-01-01 09:10] anastrophe opened #450 "US $ values zero beginning (I think) at 00:00 UTC Jan 1 2018"
I don't know the exact time, but it seems to coincide with the clock rolling over to New Year's day UTC (I'm in PST, and noticed it early this afternoon.

Anyway, it's pretty self-explanatory. Instead of showing the approx USD value underneath my NEO and GAS totals, it' just shows $0.

Screenshot attached.
<img width="325" alt="2018-01-01 01_01_07-neon wallet" src="https://user-images.githubuserco

[2018-01-01 13:51] #421 closed

[2018-01-01 14:05] slipo commented on #450
Is this still the case for you/anybody else? I'm seeing dollar values in 0.0.7 + the development branch.

We get that data from coinmarketcap. Maybe they had a little downtime?

[2018-01-01 14:10] slipo commented on #424
Closing this out. Main issue for this here: https://github.com/CityOfZion/neon-wallet/issues/146

[2018-01-01 14:10] #424 closed

[2018-01-01 15:13] rgingery23 commented on #450
I have had this problem for the last 2-3 days and it continues.  I have the 0.0.7 version downloaded a couple months ago.  Any suggestions.  Thanks.

[2018-01-01 16:40] vinabraun commented on #439
Facing a similar problem, but it says "Block NaN" and "Claim NaN GAS".

[2018-01-01 16:42] cdbbazza commented on #439
Hey Guys, this has happened to me a few times, it seems to be a syncing issue, i gave it sometime and it appears. Just ensure on neotracker using your Public address that the neo and gas is still there, if so i wouldn't worry, just give it sometime

[2018-01-01 16:43] vinabraun commented on #439
@cdbbazza some time logged in, you mean?

[2018-01-01 19:12] cryptonerd2 commented on #450
I have exact same issue for the the past week... I also have the 0.0.7 version for MAC and only see a $0.00 dollar value underneath my NEO. I also have stopped trying to claim my GAS because its getting stuck in transmission. Hope i will be able to move NEO if problem persist.

[2018-01-01 19:14] joshzdad2018 commented on #428
Having same issue, i can log into a separate neon screen and login with my private key "not the ledger" and send gas from it successfully. but inlog in on the ledger and no gas will send to any address. hmmmmmm tried  every possible scenario.

[2018-01-01 19:32] anastrophe commented on #450
Ah - I should add as cryptonerd2 did - my wallet is on Windows, so the issue is cross platform.

[2018-01-01 20:27] OrEagle97327 commented on #416
Looking at the wallet - Notice the ("X" close) right next to the "LogOut" key. Does exiting incorrect here cause the error on next access?

[2018-01-01 20:33] OrEagle97327 commented on #416
How do I "only use this website on a computer with the network turned off"??? ...Win10  ...Firefox or other???

[2018-01-01 20:41] coranos commented on #416
The error appears to be on the Ledger App only, not on the Windows (or mac) wallets.
I've tried both exiting the app normally (left button), and pulling the plug, and exiting while mid transaction (sign tx) and can't figure out how to glitch it.

To use the website with the network turned off, load the website, then turn off your network.

On a phone, go into airplane mode.

On a network with wifi

[2018-01-01 21:13] OrEagle97327 commented on #416
Thank you coranos; I tried your "... corranos. github.io/neo/ledger-nano-s/recovery/" --with my recovery phrase, nothing returned; matched.  That is, If I am trying to match this correctly. (novice me)

[2018-01-01 21:17] coranos commented on #416
If you typed in your 24 words correctly, the first entry in the list should have the same public address as you see in the neon-wallet. Check for spaces around the phrase, make sure there's only one space between each word. only use spaces, no tabs or paragraphs.

[2018-01-01 21:19] OrEagle97327 commented on #416
Would that be the public key the coins were sent to?

[2018-01-01 21:24] coranos commented on #416
That would be the public key the coins were supposed to be sent to.
It's the public key that matches your private key.

If on first boot you got address A, sent neo to it, and then on second boot got address B instead of address A, address B should be the "correct" address, and address B should be on this list.

When you use your ledger and the neon wallet today, do you see an address in the list

[2018-01-01 21:56] OrEagle97327 commented on #416
I run the list - None of the public keys match any of the public keys I have 1) Neon wallet currently showing attached to Ledger Nano S ...2) the address the coins were sent to  ps thnx coranos

[2018-01-01 22:01] coranos commented on #416
I've no idea whats going on then, as that site has been working correctly, even used it yesterday to help someone recover their WIF.

If you type in the example at the bottom of the recovery page, does it give the results the example says it will?

[2018-01-01 22:56] OrEagle97327 commented on #416
I have been corrisponding on the public forum, I think this will be a
direct connect. (novice me)

"If you type in the example at the bottom of the recovery page, does it
give the results the example says it will?"

I think the answer is no.

When I enter my passphrase
The first line returns the public address to the current Neon
access/connection to the Ledger, which is the empty wallet.

I see n

[2018-01-01 23:01] coranos commented on #416
So here's the situation you are in:
"When I enter my passphrase The first line returns the public address to the current Neon access/connection to the Ledger, which is the empty wallet."

This is exactly what that site is supposed to do, and that address is the correct address for the private key stored in the ledger.

There is no way that I know of to recover coins from any other address.

[2018-01-01 23:07] OrEagle97327 commented on #416
Is there any progress of the original statement of this thread? - "Neonwallet has changed my public address upon i connect it with Ledger Nano S then my NEO gone!" - This is what I experienced. - Where is Neon Wallet support?

[2018-01-01 23:09] coranos commented on #416
There has been no progress.

I have been unable to reproduce the error. I took two days of holiday break to test this specific issue, and in 16 hours of testing I was unable to get the glitch to occur even once.

I have asked ledger to look into it, they have been unable to reproduce the error.

[2018-01-01 23:16] OrEagle97327 commented on #416
From the responses here; it appears the error has reproduced more than a few times.

I wish to thank everyone for any time given to this issue. - Please; ...the problem is NOT solved.

There should be a community alarm to warn others of this potential hazard.

All additional help is greatly appreciated and needed.

[2018-01-01 23:20] durdenSkyler commented on #416
@coranos - Really appreciate the time you've put into this. Quick question: When I try to reproduce the glitch I've been resetting my ledger, deleting the Neon App, and deleting the folder /Library/Application Support/Neon are there any other folder that the app modifies or uses to store state that i'm missing?

[2018-01-01 23:22] coranos commented on #416
Based on the nature of the problem, it seems to be only a ledger device problem. So as far as I know, wiping your device and resetting it should show the glitch.

[2018-01-01 23:27] coranos commented on #416
I've done my best to raise awareness:
https://www.reddit.com/r/RaiBlocks/comments/7mij5j/ledger_nano_s_app_update/drx1566/

I've also created a walkthorugh of the steps people usually take to verify the ledger is working correctly:
https://www.reddit.com/r/NEO/comments/7l1yil/instructions_on_how_to_test_your_neon_wallet_with/

also posted about the other bugs I've found:
https://www.reddit.com/r/N

[2018-01-01 23:32] OrEagle97327 commented on #416
Here is a shot in the dark  - Try this for Replication:

Open Neon Wallet
Create New wallet
Exit Neon Wallet ...using "X" in upper right corner.
re-Open Neon Wallet
Login using Ledger
import coins
Verify.

This is just one scenario, (this novice) tries to imagine.

[2018-01-01 23:34] coranos commented on #416
When you do this, does it recreate the problem?

[2018-01-01 23:35] OrEagle97327 commented on #416
I am asking an expert to try. ...thnx I have no more neo or gas

[2018-01-02 00:34] ministoat commented on #146
The dev version shows dbc tokens on Nano Ledger but they aren't transferable- is this due to neon or the ledger app?

[2018-01-02 03:20] coranos commented on #416
Sir, your neo is gone.

Finding the defect that caused your car to explode is not the same thing as un-exploding your car.

Simmilarly, imagining ways a car can explode is not helpful, when trying to find why a car exploded.

Best I can do at this point is to warn people that at some point, their car may explode, and they better test their recovery process at least once before putting more than 2

[2018-01-02 04:36] d0ngit commented on #416
Hi @OrEagle97327 ,

My issue is still there. cannot be solved yet. Btw, If you're looking for NEO Support Group, then you have to use Discord App and search for this: "NEO - Smart Economy". I've posted my issue there earlier!

Hopefully, everyone can get NEO back, included me! Good day!

[2018-01-02 05:19] Ayostrup opened #452 "Can't claim GAS on my Neon Wallet"
I was able to claim GAS in my Neon Wallet using my Ledger Nano S, but during my last transaction, I signed the 1st contract but failed to sign the second contract on my Ledger Hardware as i got distracted. I am guessing the second contract timed out.

Since then, it is showing on my transactions that i sent NEO and it is showing on my wallet that i am still accruing GAS but when i hit the claim bu

[2018-01-02 07:58] #452 closed

[2018-01-02 09:51] OrEagle97327 commented on #416
This is a problem created by the Neon Wallet, referred to all of us, by the developers of Neo and the producers of the Ledger Wallet. The Neo community should step forward here.  Can all of us that lost, and the three culpability parties here, get together to find a reasonable solution?  Thank you d0ngit; I will attempt to find and follow the support you introduce here.  I will have a lot of probl

[2018-01-02 10:35] jonasrocket opened #453 "Access to NEON wallet / Decrypt private key?"
Hi guys,

sorry for posting this issue here but I hope you can help me or clarify this.
I think the support channel on the NEO Slack is no longer existing?

Here's my Issue:
I'm using NEON Wallet 0.0.6 and I did not save my private key. But I do have my encrypted private key and my passphrase. So I can still access the Wallet via the desktop client. But I can't send tokens or participate in a toke

[2018-01-02 14:09] d0ngit commented on #416
Hi @OrEagle97327,

Click on the invitation link then you should be invited to Neo group chat. Find the support channel and leave your questions there.

Please keep me updated once you got any solutions! Thank you.

[2018-01-02 14:35] OrEagle97327 commented on #416
Hi @d0ngit:

I have used your link above to download and install "Discord"

When I open Discourse, I am taken to a page, which is similar to other social media pages. However: I do not use social media outside email, so; I do not know what to do next.

I will try to send a "friend" request to you from there. Maybe You can find me there and guide me.

thnx

[2018-01-02 16:34] cyamasaki8 commented on #450
Reporting same issue,  $0 value.  First, it was stuck at a value at some point in time a week ago.  I relaunched NEON and it is now zero.

[2018-01-02 18:09] blokewhistler commented on #146
any update on when this will be released we are told to relax but accurate information would be nice please

[2018-01-03 10:53] d0ngit commented on #416
Hi @OrEagle97327

After you login to Discord, you should see something like this:

<img width="1281" alt="screen shot 2018-01-03 at 17 51 54" src="https://user-images.githubusercontent.com/4480544/34517743-ecdb748a-f0ae-11e7-831e-521f7ff91d56.png">

[2018-01-03 16:03] OrEagle97327 commented on #416
I have registered on Discord.  I have been to the page you display here,
but do not know how to find you there.

Please go there, find me OrEagle#4670, Invite me to you.

On Wed, Jan 3, 2018 at 2:53 AM, Dong Le <notifications@github.com> wrote:

[2018-01-03 19:32] jaydee888 opened #457 "If I'm using the NEO wallet with Ledger, do I have to create a new wallet first on the Neo wallet client?"
I have my NEO with Bittrex and intend to send it to the Ledger. But Ledger works with the Neo Wallet. I like to know if I have to create a new wallet with the Neo wallet client first or I do not need to.

Can I send my NEO using the receiving address that I get from the Ledger?

Note: My assumption of using the Ledge is that it is more secure, because if it is the same, I don't see why I should ne

[2018-01-03 19:35] jaydee888 opened #458 "If I have sent 1 NEO to my Ledger, how can I send this 1 NEO to an exchange to sell it?"
NEO only accepts sending and receiving of whole number.

Now I have sent ! NEO to my Ledger. I intend to send this 1 NEO to Bittrex or Binance to sell it.

However, I assume there will be transaction fee involved. Deducting the transaction fee off, I will be left with a fraction of 1 NEO. Surely I will end up not able to send a fraction of NEO or it will be lost.

What is your advice for a situati

[2018-01-03 20:20] jon85943 commented on #428
I had only been storing my NEO on my ledger so I decided to give this a
try: https://coranos.github.io/neo/ledger-nano-s/recovery/

Obviously use it offline but I was able to just enter my Ledger 24 word
phase and it spit out my private key with no issue.  It was the first
option that showed up and was paired with my public key so I knew which one
to select.  I just opened the wallet in Neotracker

[2018-01-04 00:56] AlphaCVK commented on #428
Same issue, can claim gas with ledger but unable to send to any address...

[2018-01-04 00:59] joshzdad2018 commented on #428
ended up having to add a few zeroes to the end of the amount then it went
thru. don't remember exactly how many will try again later when gas
rejuvenates.

On 3 Jan 2018 4:56 pm, "AlphaCVK" <notifications@github.com> wrote:

Same issue, can claim gas with ledger but unable to send to any address...

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, v

[2018-01-04 01:12] AlphaCVK commented on #428
Yup, it works now, you have to enter the amount followed point 7 numerals, i.e. for 1 gas it would be 1.0000000

[2018-01-04 01:13] subzero788 commented on #429
I cant claim gas on NEON either using a nano S.

When I try, I sign the transaction on my ledger, but then NEON says "Transaction Failed!"

[2018-01-04 01:13] joshzdad2018 commented on #428
Yup, right on thanks for the info! have s great one! hioe your NEO
Skyrockets!

On 3 Jan 2018 5:12 pm, "AlphaCVK" <notifications@github.com> wrote:

[2018-01-04 01:26] subzero788 commented on #143
I'm also using Neon with a Nano S and when I try to claim, I sign the transaction on the nano then get a "Transaction Failed!" message from neon

[2018-01-04 03:52] Nightf0xx opened #460 "Zero balance on ver 0.0.7"
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel in the NEO Smart Economy Slack.

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2018-01-04 03:53] Nightf0xx commented on #460
Everything was working just fine this morning and now its showing zero balance and no transaction history. Please help!

[2018-01-04 09:16] BIMEnergy1978 opened #466 "Sending NEP-5 tokens transaction failed release 0.0.8"
Sending nep-5 tokens with ledger does not work. transaction failed release 0.0.8

[2018-01-04 09:25] robmoorman opened #467 "Semantic versioning"
Would be appreciated to hold on the semantic versioning.

As 0.0.8 and older releases do have new non-backwards changes, I would expect a 0.1.0, 0.2.0, etc.  version number.

From this perspective users (with technical background) can see when a hotfix/bug release has been done; e.g. 0.8.1) and it's safe to update.

[2018-01-04 09:45] Derkvanderwoude commented on #466
I get the same error with sending NEP-5 Tokens. Latest firmware release 1.3.1

[2018-01-04 10:08] willtc commented on #466
Same error here, but it seems only to be happening with large amounts (>30000) of tokens.
-Transferrring 10 RPX and 500 RPX went OK

[2018-01-04 10:10] BIMEnergy1978 commented on #466
Here it doen not even work with 1 token RPX or DBC

[2018-01-04 10:15] martijnlaan commented on #458
As Readme.md says support questions "should be asked in proper support channels such as the [NEO subreddit](https://www.reddit.com/r/NEO/), or the official [NEO Discord Channel](https://discord.gg/R8v48YA). You should also check the list of [frequently asked questions (FAQ)](https://github.com/CityOfZion/awesome-NEO/blob/master/resources/faq.md) to see if your question has been answered there alre

[2018-01-04 10:20] Derkvanderwoude commented on #466
Same error even with small amount (<100) NEP-5 Token (DBC)

[2018-01-04 10:22] valdor27 commented on #466
If you are using a Ledger device with Neon make sure to update the Ledger app or transactions will fail !

Is your Ledger up to date ?

[2018-01-04 10:24] Derkvanderwoude commented on #466
Ledger version 1.3.1 and Neon version 0.0.8.
Even sending Gas fails

[2018-01-04 10:26] BIMEnergy1978 commented on #466
me to

[2018-01-04 10:28] BIMEnergy1978 commented on #466
i got it..... delete the application on your ledger and reinstall it......

and the the magic hapens

[2018-01-04 10:32] Derkvanderwoude commented on #466
Yes solved the problem :-) thanks

[2018-01-04 12:02] DURK commented on #292
In my case, upgrading to 0.0.8 (Mac) solved it!

[2018-01-04 12:03] DURK commented on #341
Have you tried version 0.0.8? In my case, that did the trick

[2018-01-04 15:20] Freekje opened #469 "White screen after using 'MAX' function on send screen [0.0.8]"
Found replicable issue in 0.0.8 :

Go to Send , use the 'max' function & select recipient , press send and screen goes white.
Tested this for gas & neo. Manually filling in the max number lets you go to the next page.

[2018-01-04 16:03] Ejhfast commented on #466
I will leave this issue open so that others can see it, but you need to update your ledger software for NEP5 sending to work

[2018-01-04 16:45] greenstreetbud opened #470 "Cannot login to wallet after 0.0.8 update (Windows)"
When I try to access my desktop wallet it gets stuck on loading screen. Already tried to un and re-install but did not work, I keep getting two errors on screen "could not retrieve XRP"/DCB balance and from there it seems stuck in a loop.
Any advice?

Thanks,
PM

[2018-01-04 17:18] Kmpec commented on #466
Hey there, I was trying to send RPX with the Neon 0.0.8 Wallet. However it says the transaction was successfull, but it doesnt show up. Only if I do it with smaller amounts (4.000 RPX) it worked. I accessed the wallet via private key, not with a ledger.

[2018-01-04 19:07] Kmpec commented on #443
Have you contacted the exchange? If the transaction shows up on the blockchain it has been send. But the exchange hasnt credited you the coins.

[2018-01-04 20:11] pph7 commented on #430
Upgrade to 0.0.8. it should work there

[2018-01-04 22:20] mhuggins commented on #469
Thanks for reporting.  @dvdschwrtz found the cause and is working on a fix.  Stay tuned.

[2018-01-04 22:21] mhuggins commented on #466
Thanks for reporting. @dvdschwrtz found the cause and is working on a fix. Stay tuned.

[2018-01-04 22:27] C3KTAHT commented on #466
Thanks!

[2018-01-05 00:46] Peter13k opened #474 "Hi, I sent 5 NEO to 0xb951ecbbc5fe37a9c280a76cb0ce0014827294cf when trying to fund my DeepBrainChain Token Sale on Dec 15, but it is missing. Any help would be appreciated, cheers"
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2018-01-05 01:50] Simone1248 opened #476 "My online Neo Tracker and Neon Wallet are showing a balance of $0"
Hi,

I sent one Neo coin from Coinspot to my Neon Wallet yesterday and the status says sent.

I looked on my online Neotracker account and my neon wallet and they both say $0.00 and have no transactions recorded.

Can you please help?

[2018-01-05 04:34] anastrophe commented on #450
Just upgraded to 0.0.8. USD balances now showing again. Thanks.

[2018-01-05 04:34] #450 closed

[2018-01-05 05:55] Losakoa commented on #466
Holding DBC in Neon Wallet.  Tried to send it back to exchange with Ledger Nano S from Neon Wallet.  I get success pop up and that I will be updated with the newest blockchain, but the balance doesn't change.

I've removed NEO app with app manager and reinstalled it.  Still doesn't send.

[2018-01-05 09:00] rohanstas commented on #476
reinstall the wallet and it should work.

[2018-01-05 09:54] valdor27 commented on #474
You sent NEO to an Ethereum address. NEO must be sent to a NEO address (starting with A). I'm afraid there is no way to recover your 5 NEO.

[2018-01-05 11:26] holgersindbaek opened #480 "I'm getting "could not retrieve DBC balance""
I've send some DBC to my NEO address, but when I open the NEON app, it loads for a rather long time and then tells me that it "could not retrieve DBC balance".

What gives? Anyone else experiencing this?

[2018-01-06 02:07] YuiRakjit commented on #453
I have a same issue, please help

[2018-01-06 05:57] qazman250 commented on #470
I am having this issue as well. Any help would be appreciated. Thanks

[2018-01-06 06:41] mvg-tinus opened #481 "Transaction failed"
Hi, when I log in using a ledger Nano S and try to claim gas (NEON version 0.08) I receive the error 'Transaction failed'. This also appears when I try to send GAS. Please advise.

[2018-01-06 08:17] valdor27 commented on #481
Hello, you have to uninstall & install again the app on your ledger nano S.

[2018-01-06 08:27] mvg-tinus commented on #481
Hi, I just did. I reinstalled both on my PC (and Mac) the app, as well as the app on my Nano S. But unfortunately, on both devices I get the Transaction failed message. Thanks in advance for your help.

[2018-01-06 08:30] valdor27 commented on #481
maybe have a look here #466. Developpers are working on a fix.

[2018-01-06 08:31] valdor27 commented on #481
maybe have a look here #466. Not sure if this applies to you though, but I know you're not the only one with this bug.

[2018-01-06 08:33] mvg-tinus commented on #481
Can you update once developers have a bugfix released? Thanks again for your good support.

[2018-01-06 08:39] valdor27 opened #482 "Update neonwallet.com"
Hello,

I noticed http://neonwallet.com/ links to download neon wallet are still related to v.0.0.7.

They should be replaced with v0.0.8.

[2018-01-06 11:14] mvg-tinus commented on #466
Version 0.0.9 does not seem to have fixed the issue unfrotunately.

[2018-01-06 11:16] valdor27 commented on #482
Rev 0.0.9 now

[2018-01-06 12:51] mortyblack commented on #481
I have the same problem. Today release did not help.

[2018-01-06 18:16] codopatr commented on #445
Same issue with version 0.08 and version 0.0.9
also running windows 10 (64 bits)

[2018-01-06 19:12] klik6 opened #485 "Rename 0.0.9. dmg download to show MAC"
Should the download for mac dmg file state ‘mac’ as per previous versions, just for us noobs?

## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems

[2018-01-06 19:43] codopatr commented on #445
Ok, I solved my problem

there was a conflict between "Neon Wallet" and another application started in the background

The guilty application is :
- ePowerEvent

this application is part of a group of 3 applications deployed on my computer
- ePowerEvent (Stands for Acer ePower Management Event Handler)
- ePowerSvc (stands for Acer ePower Service)
- ePowerTray (stands for Acer ePower Tray Process M

[2018-01-06 20:12] evgenyboxer commented on #482
Thanks. We will update!

[2018-01-06 20:14] evgenyboxer commented on #480
That could sometimes happen due to connectivity isssues. Could you retry opening the wallet? Does that happen again?

[2018-01-06 21:15] tomocean22 commented on #428
I still can't send gas. Is there a minimum to send? Has anyone had luck sending amounts around .10, what decimal format did you use?

I've tried reinstalling both NEON and the NEO ledger app. I get the same error as the OP where the transaction fails with no prompt appearing on my ledger.

[2018-01-06 21:17] joshzdad2018 commented on #428
Try installing the new version of neon. If you havent already.

https://github.com/CityOfZion/neon-wallet/releases

On 6 Jan 2018 1:15 pm, "tomocean22" <notifications@github.com> wrote:

[2018-01-06 21:20] Dan-F5 opened #486 "0.9 Transaction History"
After updating from 0.8 to 0.9 (deb), Transaction History is hung up and does not load. The busy icon just spins. Have only tried logging in with private key.

[2018-01-06 21:23] holgersindbaek commented on #480
It happens again and again.

I just updated to 0.0.9 and same story.

Could it have something to do with my Internet connection? Or is it the connectivity with the network you're talking about?

[2018-01-06 21:29] abstrakct opened #487 "0.0.9 Linux AppImage: transaction history fails to load + no QLC token"
I just downloaded the 0.0.9 Linux AppImage from the Releases page. When I login to my wallet, it shows the correct balance, but the program seems to be stuck on trying to load the transaction history. The animation in the top right corner plays, but transaction history says "No transactions". If I use the 0.0.8 AppImage, the transaction history shows up correctly right after logging in.

Also, the

[2018-01-07 00:50] chewzealand commented on #430
I also have the same issue.

It's still present in 0.0.9

[2018-01-07 01:37] Manganga opened #488 "Does not install on Debian 8"
How do I stall on Debian 8 on Qubes OS?

## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2018-01-07 03:36] Majinbooooo commented on #480
I’m facing the same issue. On 0.0.7, by some luck, reopening the wallet multiple times i was able to get the NEO & GAS balance to show but most often not. On both 0.0.8 and 0.0.9, i am totally out of luck and is receiving “could not retrieve [all three newly added & NEO/GAS] tokens” error message followed by “Received latest blockchain information” but balance does not show. I’ve tried reinstallin

[2018-01-07 04:08] Bybloz commented on #481
I too have the same problem.  I cannot send any GAS out of my Nano S.  May I know how do you re-install the app on the Nano?

[2018-01-07 04:59] evgenyboxer commented on #487
This is now fixed! Please redownload the file.

[2018-01-07 05:00] evgenyboxer commented on #486
Please try to redownload the deb file.

[2018-01-07 05:00] evgenyboxer commented on #485
Done

[2018-01-07 05:00] #485 closed

[2018-01-07 05:01] evgenyboxer commented on #469
This is now fixed on 0.0.9

[2018-01-07 05:01] #469 closed

[2018-01-07 07:38] Dan-F5 commented on #486
Confirmed fixed.

[2018-01-07 09:16] Tristan1986 opened #494 "Neon Wallet 0.0.7 & 0.0.6 Troubleshooting"
Hi there,

A few weeks ago I installed my neon wallet 0.0.7 correctly @ Windows 10. Everything worked fine! Yesterday I needed version 0.0.6 and installed it correctly @ the same pc. After this, I didn't needed 0.0.6 anymore and installed 0.0.7 again.

Problem:

The setup is opening --> ''Installing, please wait...'' and after this nothing happened. I can't find the neon wallet anywhere and there

[2018-01-07 09:30] Edgegasm commented on #430
Wanted to weigh in on this because I've had the same issue for a while now.

I've tried claiming GAS with my original NEO address (first one I made from a little while after the ANS rebrand to NEO I think), using both NEON and Neotracker. It doesn't seem to be a NEON-related issue, so if anyone could notify the NEO team about this issue that'd be great.

I've created two new addresses, both of whi

[2018-01-07 09:43] stevesbrain commented on #494
What about 0.0.9? It's the latest version :)

[2018-01-07 10:58] bharathor opened #495 "Claiming gas after a long time not claiming"
Hi,

i had some problems claiming gas on a account where i didnt claim the gas for about 5 month. After using the "claim gas" button in the neon wallet i just got a error stating "transaction failed". I tried some other wallets, for example neotracker.io wallet, where i wasnt been able to claim the gas as well. What did work for me was using the wallet under https://neowallet.cn/, even though the

[2018-01-07 11:04] Tristan1986 commented on #494
Yeah well, there was some Windows registry update needed, thats the reason why 0.9 bugged:

https://www.windows10forums.com/threads/ms-setting-display-and-ms-personalization-background-problem.1247/

It's fixed now!

[2018-01-07 16:27] DalderupMaurice commented on #495
Same problem.
I was able to claim gas a couple times - left for a good 2 months and tried to claim again. Now it never actually works. I got a success message, but no actual transaction was made and I have never ever received my GAS

[2018-01-07 17:57] jperezov commented on #495
+1, same problem.

![neo-failed-claim](https://user-images.githubusercontent.com/5150308/34652281-2c1d4850-f3aa-11e7-8e76-7fa05e4fec5a.png)

[2018-01-07 18:18] Mittons83 opened #496 "NEP5 Token, requires 1 drop of GAS to send"
I’m having an issue transferring NEP5 Token, I’ve updated all firmware and have all the latest versions of software. I keep getting the error message that 1 drop of GAS is required to send. I have both NEO and 1+ GAS in my wallet. Any advice would be much appriciated.

[2018-01-07 20:39] DalderupMaurice commented on #495
Fixed it with moving all my NEO to a new wallet @jperezov @bharathor
After a couple tries (in the 20 tries) I was able to claim the GAS on the old account using: https://neotracker.io/wallet and also sent the GAS to my new account!

[2018-01-07 20:55] jperezov commented on #495
Thank you so much @DalderupMaurice! That worked for me!

[2018-01-07 21:29] daneo333 commented on #496
Experiencing the exact same issue. I'm not able to move my RPX or DBC out of my neon wallet because its telling me that 1 drop of gas is required to send.  Any help ?

[2018-01-07 21:56] daneo333 commented on #496
figured out a resolution. i was using the send max button and once i removed the commas i was good to go.

[2018-01-07 22:02] Mittons83 commented on #496
Still not working for me, won’t let me remove the commas. Worth a try though so thanks.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: daneo333 <notifications@github.com>
Sent: Sunday, January 7, 2018 9:56:46 PM
To: CityOfZion/neon-wallet
Cc: Mittons83; Author
Subject: Re: [CityOfZion/neon-wallet] NEP5 Token, requires 1 drop of GAS to send (#496)

figured out a

[2018-01-07 22:13] daneo333 commented on #496
transfer 999 at a time. there must be an issue the comma.

[2018-01-07 22:14] Mittons83 commented on #496
Tried that, still didn’t work. Thanks for your help though.👍🏼

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: daneo333 <notifications@github.com>
Sent: Sunday, January 7, 2018 10:13:31 PM
To: CityOfZion/neon-wallet
Cc: Mittons83; Author
Subject: Re: [CityOfZion/neon-wallet] NEP5 Token, requires 1 drop of GAS to send (#496)

transfer 999 at a time. there must be a

[2018-01-07 22:18] daneo333 commented on #496
If your using a ledger nano you need to update to 1.1.1 if you havent already.

[2018-01-07 22:20] Mittons83 commented on #496
I have, only got it yesterday so everything was newly installed today. Someone else suggested deleting the app from the Ledger Manager and reinstalling but that didn’t work and I also reinstalled the Neon Wallet just in case.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: daneo333 <notifications@github.com>
Sent: Sunday, January 7, 2018 10:18:52 PM
To: CityOfZio

[2018-01-08 01:00] cryptocrapitalist commented on #430
Yes- I ended up using the web wallet to claim and then shifted everything to the new ledger address.

[2018-01-08 01:10] sunondeck commented on #430
I think you're right Edgegasm - it could be to do with older addresses.

Mine was an old ANS address and I'd never attempted to claim GAS until just now.

I couldn't get the NEON wallet to work at all.

In the end I downloaded the original neo-gui.exe wallet and waited (a long time) for the blockchain to fully sync. I was then able to claim the GAS using that.

Interestingly, once I'd made that in

[2018-01-08 07:28] robertohegeler commented on #466
I have the same issue. Newest Ledger Nano app and 0.0.9... I can not send any tokens and also not NEO. All do not work, I can only receive. What to do?

[2018-01-08 07:39] robertohegeler commented on #496
I have the same issue, everything fresh installed, deleting it and reinstalling also does not help. Can not send anything out. Any help would be greatly appreciated,

[2018-01-08 08:24] caizhiyuanrise commented on #496
So, I just deleted and installed the Ledger App again, then I tried again.. again did not work, then I transferred an amount under 1000 RPX, then it worked, after that I could transfer even higher amounts. No clue what that is.
Also, the red info "you need at least one drop of Gas! is a bit confusing, as the TX-Fee is not one full gas, but some 0.0008 or so. Would be nice to write something more s

[2018-01-08 12:10] HugoBrynner commented on #453
I have the same problem. Forgot to save the private key. I can still loging with the passphrase

[2018-01-08 12:15] jonasrocket commented on #453
Hey guys,
so if you have the decrypted private key (you can check for that in NEON) and the passphrase, you can use this tool: https://snowypowers.github.io/ansy/ to decrypt your private key.
so just put in the encrypted key, the address of your wallet and your passphrase to recover the private key. hope this helps.

[2018-01-08 13:54] 4ffaris opened #497 "HOW TO RECEIVE TOKENS"
Hi, i want send my RPX and QLC tokens to neon wallet, and should i use the NEO ADDRESS like it was at myetherwallet with erc20 tokens?

[2018-01-08 14:11] Satoshinaire commented on #497
@4ffaris As you discovered, you are correct that you should use the NEO Address for your Neon Wallet to send RPX and QLC to.

[2018-01-08 14:37] tomocean22 commented on #428
The problem persists for me with version 0.0.9

[2018-01-08 18:03] fabwa opened #498 "NEON 0.0.9 "You can claim GAS once every 5 minutes" not updated after failed GAS claim."
Version: NEON 0.0.9
Issue: The 5 min Message does not disappear. Might be related to the fact that a GAS claim failed tho.

[2018-01-08 20:14] Spartakkus commented on #496
Same problem. Ledger nano s latest firmware, latest neo app, neon wallet 0.0.9, and nothing. Tried ten times, with quantities above or below 1000 RPX without any success. Reinstalled neo app and nothing. Downgraded to neon 0.0.8 and nothing. Any other same issue? thx

[2018-01-08 20:35] Spartakkus commented on #496
finally it worked for quantities under 999. Definitely 0.0.9 has a problem above 1000 RPX

[2018-01-08 20:36] YuiRakjit commented on #453
Jonasrocket, Thank you so much.

[2018-01-08 21:19] thmstm commented on #445
You are great, codopatr!
That was the problem, Acer ePowerEvent.
Thanks a lot!

[2018-01-08 21:57] Niels1990 opened #500 "Do I keep my PK on my ledger if I update the neo app 1.1.1 on my ledger?"
Hi guys,

I need to update my neo app on my ledger to 1.1.1.
However, I am afraid that if I update it, my private key on my ledger will be deleted and a new one will be generated.

Can someone please help me out what to do?

[2018-01-08 22:48] wbuc commented on #429
I am also getting the same behavior. Did you guys manage to get it to work?

[2018-01-08 23:06] badgerwithagun commented on #466
Same problem here.  Looking at the transactions NEON is posting on neotracker.io, we have:

* -0.00000001 GAS from my public key
* +0.00000001 GAS to my public key
* An invocation script
* No transfer details (which is what I see normally when I do a NEP-5 transfer)

In addition, there were no transfer details shown on the Ledger screen during signing. I would have stopped right there, but this is

[2018-01-09 01:47] subzero788 commented on #429
Yeah updating to the newest version of neon fixed it

[2018-01-09 07:07] wbuc commented on #429
Weird, I did that and not working. I must say, I am using my mobile hotspot to connect. I think this might the cause because at my home pc I was able to claim the gas. Guess I'll have to wait to get back home and get on my machine to see if that is the case.

[2018-01-09 10:07] nyyn opened #502 "No Balances are showing since yesterday (Ledger All Versions Updated)"
Hey,

I updated the Ledger App over the App Manager (Ledger Nano S) and updated to 0.0.9 on Mac

At first i could still only send max 999 DBC. But DBC, RPX, NEO & GAS showed up. Sometime yesterday DBC didn't show up anymore and now nothing shows up. The Wallet gives an orange warning on the bottom: "Warning
Error checking wallet version! Please make sure you have downloaded the latest version: htt

[2018-01-09 11:22] abstrakct commented on #487
Thank you! Just tested it, all good now!

[2018-01-09 11:22] #487 closed

[2018-01-09 13:18] Melicio opened #503 "Dollar and other currency balance for NEP5"
Hello COZ,

Could a function be added to make the dollar or other currency balance visible for NEP5 tokens? Including Total amount combined with NEO and GAS.
This will ensure extra overview comfort for users.

[2018-01-09 13:45] Jaeinn opened #504 "Can't upgrade the new version"
Currently I have the 0.0.8 version on my macbook, i tried to download the new version but for some reasons it does not open on my macbook. I deleted it and tried redownload it, this time it opens a map. But this map is empty, and shows the titel 0.0.8?

![schermafbeelding 2018-01-09 om 15 55 49](https://user-images.githubusercontent.com/35262949/34726886-97e5cac4-f555-11e7-98d2-3dede2473221.png)

[2018-01-09 14:08] nyyn commented on #502
Re installed Application on Mac & on Ledger multiple times. Can't retrieve any Balances.

[2018-01-09 15:21] pyojaehun commented on #466
I have the same problem. When I send 10000DBC, I only send a small amount of gas, and DBC does not move. Also, when I sent 100DBC, 100DBC disappeared from my wallet. The transaction is being delayed by NOT FOUND 404.

[2018-01-09 15:27] pyojaehun commented on #466
I have the same problem. When I send 10000DBC, I only send a small amount of gas, and DBC does not move. Also, when I sent 100DBC, 100DBC disappeared from my wallet. The transaction is being delayed by NOT FOUND 404.

[2018-01-09 16:03] derwen commented on #466
"I have the same problem. When I send 10000DBC, I only send a small amount of gas, and DBC does not move. Also, when I sent 100DBC, 100DBC disappeared from my wallet. The transaction is being delayed by NOT FOUND 404."

Exactly the same problem.

[2018-01-09 16:07] RobinHeld commented on #466
https://neotracker.io/tx/f142f6f5548dd4c408cdf757f960efe7ec598a975a167228e16126e6f27d89e2

Same issue. No tokens being sent, just a strange transaction with the smallest denomination of gas.

[2018-01-09 16:11] mhuggins commented on #466
Unfortunately NEO Tracker is not showing the tokens transferring when these invocation transactions are created, and so you cannot verify whether a transaction succeeds based upon that.  Just to verify, are you still seeing the same amount of DBC in your wallet before and after the transaction is added to the blockchain?

[2018-01-09 16:12] RobinHeld commented on #466
QLC transaction, and yes, I've been trying to send it for some time now.
Still remains.

On Tue, Jan 9, 2018 at 4:11 PM, Matt Huggins <notifications@github.com>
wrote:

[2018-01-09 16:13] RobinHeld commented on #466
https://neotracker.io/tx/c63b0c77ed0ca69c2901ff795ebfb76e1ce3d837bd2092f9d56e13086b4e0c6e

This earlier transaction shows the token transfer at the foot of the page,
FYI. So I assume something is going wrong, as this worked before.

On Tue, Jan 9, 2018 at 4:12 PM, Robin Held <rtsheld@gmail.com> wrote:

[2018-01-09 16:36] Honestbui commented on #416
i also lost all my NEO on Ledger Nanos, i transfer NEO from bittrex and Binance to Ledger NanoS see enough all NEO with full transaction history after i log out my ledger,  after 1 hour and connect again my ledger NanoS i dont see any NEO and not see history transaction, for now show up new address, the previous address has disappeared. i dont understand what is happen with my Ledger and my Neo, i

[2018-01-09 16:54] OrEagle97327 commented on #416
I am looking for all that experienced this problem to get together.
Please contact me so we can compare notes.
I am a newcomer to posting here and other social media, so I will need some help getting around.
Firs; I have not figured out how to reach anyone here directly. Is that feature available?

[2018-01-09 16:56] MikeReining commented on #480
I am having the same problem.  I am on 0.0.9.  I saw my DBC balance this morning.  I then pressed on "Claim x GAS".  After that is started showing the ERROR "could not retrieve DBC balance."  I have tried restarting my wallet multiple times without any luck.  Not sure what to do.  Don't mind HODL my DBC but sure would like to see it in the wallet.

[2018-01-09 17:04] MikeReining commented on #480
Quick update.  If I restart my wallet  and just keep it open it seems to briefly show my DBC balance and then it disappears again and I see the error message.  It keeps changing between these two states.  I never see the DBC balance long enough to be able to send it out.

[2018-01-09 17:10] ccrypto12 commented on #480
I am having the same issue with the Neon wallet 0.0.9.

This worked for me...
I took my Neon wallet private key and used it to open the wallet in neotracker.io and it worked just fine.  I can see my balances of GAS and DBC no problem, so for the time being I'll just use the web version instead of the desktop app.  Give them some time to update Neon.
Hope this helps

[2018-01-09 17:17] rtman commented on #480
seeing the same issue here. Neotracker has all the right info tho.

[2018-01-09 17:23] neocommunitynate commented on #502
I am also facing the same issue. I joined the discord and searched through the support channel and still cannot find a resolution. Upon upgrading the wallet from the link provided by neon the new wallet is version 0.0.9 and the tokens do not reflect in this version. The pop up states to upgrade to version 1.1 but cannot seem to find that..

[2018-01-09 17:49] Mr-Tokk commented on #480
I'm having the same problem. I'm on 0.0.9 version and still can't see my DBC balance . It just show the error message ''could not retrieve DBC balance.'' It appear for 2 sec and then disapear.

[2018-01-09 17:55] michel242 commented on #502
same problem here updated the app on my ledger to 1.1. and using the 0.0.9 neon wallet but no balance rpx

[2018-01-09 18:00] galadril commented on #480
Having the same issue after upgrading to 0.0.9

[2018-01-09 18:01] advisor65 commented on #502
same problem here also... Why is this happening? yesterday it was fine and i had no problem....

[2018-01-09 18:26] neocommunitynate commented on #502
There are also a few of us in the discord support channel with the same issues. Is your issues only with DBC or are you having troubles having other tokens reflect in the wallet? I have also tried my encrypted key/ private key with no luck. Would love some additional insight. Thanks for your time!

[2018-01-09 18:27] a-mckinley commented on #480
Same issue here after updating to 0.0.9.  Saw my DBC balance initially on upgrade and now seeing the error above, possibly after claiming GAS.

[2018-01-09 18:48] webventurer commented on #480
Same here. On 0.0.9 it keeps popping up with a red window saying "could not retrieve DBC balance". NEO and GAS numbers seem right.

[2018-01-09 18:51] pyojaehun commented on #480
Me too. Do not see the token information in the neon wallet now?

[2018-01-09 18:52] pyojaehun commented on #480
Me too.

[2018-01-09 18:55] BazkieBumpercar commented on #502
I have the same problem, with 0.0.9, both the Linux and the Windows version.
Can't see my DBC balance (same error as op, that red popup thingy), but I can see the Neon+Gas balance. It also gives me an error for the RPX balance (but I don't have any of that anyway).

[2018-01-09 18:55] amckinley03 commented on #480
Same issue here after updating to 0.0.9. Saw my DBC balance initially on upgrade and now seeing the error above, possibly after claiming GAS.

[2018-01-09 19:10] P2NPoison opened #505 "Unable to actualize NEP5 Tokens Balances"

[2018-01-09 19:19] evan429 commented on #480
Same problem is happening with me... pretty frustrating to see none of my balance loading. Not my DBC is stuck without the ability to send to exchanges. Not operating up to what I expect from this team

[2018-01-09 19:29] LindyLo commented on #502
MacOS 10.13.2 (17C88)
Ledger NEO 1.1
NEON 0.0.9
Only shows NEO & GAS balance.

[2018-01-09 19:32] neocommunitynate commented on #502
Thank you Lindy. With regards to QLC/ DBC how do we have visibility then? Is it a patch we have to wait for or something?

[2018-01-09 19:36] tarung379 commented on #502
I am facing the same issue with RPX.

[2018-01-09 19:40] ikashi08 opened #506 "Can't retrieve my balance using the ledger nano"
Tried accessing my neo using ledger nano but cannot retrieve it.

[2018-01-09 19:48] LindyLo commented on #502
To anyone who is concerned about the status of your assets :
You can always check you wallet address https://neotracker.io/

[2018-01-09 19:52] alexhawkins commented on #480
Same, nothing loads for me. Stuck. When I switch from MainNet to TestNet, everything loads up but my balances are 0. Gas shows up briefly and then disappears.

[2018-01-09 19:57] LindyLo opened #507 "Failed to load resource: the server responded with a status of 503 (Service Unavailable)"
MacOS 10.13.2 (17C88)
Neon 0.0.9
Ledger App 1.1.0

UI doesn't update current balance (for NEO &  NEP5 tokens).

Attached log file
[-1515527580079.log](https://github.com/CityOfZion/neon-wallet/files/1616420/-1515527580079.log)

[2018-01-09 20:01] cryptocreep opened #508 "Can't retrieve token balances or transactions"
My GAS balance shows up but my DBC balance can't be retrieved in wallet. Shows no transactions ever taken place.

[2018-01-09 20:06] ris0 commented on #508
Hello - I would also like to second this. I'm not able to view any of my NEP5 tokens with Neon 0.0.9 for Windows.

[2018-01-09 20:07] cryptocreep commented on #508
Same OS and Neon version.

[2018-01-09 20:08] wildal commented on #480
Same!
could it be because of version 1.1.1?

[2018-01-09 20:09] Jmanman commented on #502
Same issues with showing NEP5 tokens. I tried to claim gas and will not send the signed transaction prompts to the ledger. Need this fixed so i can participate in TheKEY public release sale. haha talk about bad timing. I haven't tried sending any Neo to an exchange though. anyone able to send Neo coin?

[2018-01-09 20:10] ikashi08 opened #509 "Neon wallet keep on loading"
The new version of neon wallet is keep on loading and it prompt me to install the new version though i already use the newest version of the wallet.

[2018-01-09 20:11] niker26 opened #510 "Problems with Neon Wallet /Ledger Nano S . I can not transfer from my NEON wallet RPX to www.kucoin.com"
Dear friends , I have following problem : Yesterday I tried to use NEON WALLET via my Ledger Nano S . I transferred my balance of RED PULSE from www.kucoin.com to Neon Wallet . Today I am trying to do the same exercise in the opposite way from my Neon Wallet to www.kucoin.com. The system does not work . Neon wallet gives me a message to confirm the  transaction . After My confirmation , Neon Walle

[2018-01-09 20:11] P2NPoison commented on #508
Same here

[2018-01-09 20:11] ikashi08 commented on #480
Same issue here. I hope this will be fix ASAP.

[2018-01-09 20:12] joocru commented on #509
getting this error . -------- Error checking wallet version! Please make sure you have downloaded the latest version: https://github.com/CityOfZion/neon-wallet/releases …

i am using 0.0.9 also neo 1.1.1 ledger app. latest firmware also.

[2018-01-09 20:14] joocru commented on #508
after i tried 5 times to login neon with ledger nano s. 5th time i can see my balance. so dont worry. cant refresh nep5 tokens only. We dont loose our funds dont worry guys only sync problem i think.

[2018-01-09 20:14] cryptocreep commented on #508
If you're looking to move your DBC before it opens on the other exchange I used NeoTracker to access my wallet with private key and xfer my DBC to another wallet.

[2018-01-09 20:17] joocru commented on #508
neontracker also doesnt work atm. cant use retrying to send RPX but failed.

[2018-01-09 20:18] P2NPoison commented on #508
joocru, its pretty obvious that we do not lose our funds just because the wallet cannot display them, but is not too comfortable don't being able to send them if we need to.

PS: Your funds are not in your ledger! Your funds are in your wallet, in each blockchain of each coin you own. You just store the private keys in the ledger, not tokens.

[2018-01-09 20:24] Thieazs commented on #428
Same problem for me with Version 0.0.9 and Ledger Nano S - Cant claim GAS either as the onion to sign the transaction does not appear on the Ledger - please help

[2018-01-09 20:25] joocru commented on #508
yea mate i know our tokens are in blockchain ledger just a ambassador. but it doesnt feel comfortable. when its not syncing and cant see our balances :) i feel bad when its happening.

[2018-01-09 20:26] P2NPoison commented on #508
indeed haha

[2018-01-09 20:33] Adie56 commented on #509
I am having the same issue. it just keep loading over and over again. I downloaded the latest version this morning for Mac. version 0.09 Screen shot available.

[2018-01-09 20:33] joshzdad2018 commented on #428
Hmmmmmmm,  I have windows 10, uninstalled old version of neon wallet, installed new version 9, uninstalled my neo app on ledger S, installed it again onto the ledger then it started sending gas any amount.

[2018-01-09 20:33] Badass888 commented on #509
I'm getting the saem issue too - it was working fine yesterday

[2018-01-09 20:36] Thieazs opened #511 "Upgraded Ledger Nano to v 1.1.1 and NEON to 0.0.9 - Now cannot claim GAS and "Cannot Retrieve Token balances" appears all the time"
Hello - Updated Ledger Nano 1.1.1 and Neon to 0.0.9 - First says check wallet version (which is the new one), then Error could not retrieve DBC balance, same for RPX and QLC.  Correct balance and Gas shows.  Click claim gas and it says sign transaction 1 of 2 but there is no option to sign on the ledger device - it just remains saying "Wake up Neo" - Can you help?

Mac OS High Sierra v 10.13.2

[2018-01-09 20:39] chrisjohntapp commented on #480
Same here, v0.0.9; it cycles through the DBC/RPX/QLC tokens (of which I have none) giving that same error for each. There is another possibly linked issue where my ledger S gets stuck on the 'wake up, neo', so I can't sign transactions and send neo.  This really needs resolving quickly.

[2018-01-09 20:47] Adie56 commented on #508
Cannot Retrieve GAS either

[2018-01-09 20:48] joocru commented on #511
ledger and neon sync problem atm. neon team will solve this problem soon dont worry mate.

[2018-01-09 20:49] LazyInDFW commented on #502
The network seems to be dragging.  It took forever in the 0.0.7 wallet for my balance to show up.  I still can't claim GAS because my ledger isn't getting the signal to confirm for like 5 minutes after I initiate the transfer.

[2018-01-09 20:51] Thieazs commented on #511
Thanks joocru good to know
- always terrified when I cant see it working - love my sweet NEO :)

[2018-01-09 20:54] joocru commented on #511
you are welcome. yeah same lol :) i allways checking my balance like crazy haha

[2018-01-09 20:58] Jmanman commented on #502
Hmm so I made the wrong choice for using the neon wallet for transferring neo to thekey project. It's going to sell out in 10 secs. Hopefully this isn't an issue in a couple days .🤞

[2018-01-09 21:00] LazyInDFW commented on #502
Is it the NEON wallet or NEO nodes in general?  Maybe they're slammed BECAUSE of THEKEY?  Don't forget what cryptokitties did to Ethereum.  :)

[2018-01-09 21:10] marcell32 commented on #508
I have the same problem, gas/neo/rpx end other

[2018-01-09 21:10] alexhawkins commented on #480
Yeah, DBC on a nice run but if it starts to dip major and I can't get move my DBC off the Ledger to kucoin, you're costing me thousands of dollars. Not good guys.

[2018-01-09 21:17] Jmanman commented on #502
When I joined the telegram for TheKey there was 9 k members now there is 22k. So maybe that's what happen.

[2018-01-09 21:45] mihavidakovic commented on #509
Same issue, also error loading all of the 3 tokens values (could not retrieve RPX balance). MacOS High Sierra, Neon wallet v0.0.9

[2018-01-09 22:24] BazkieBumpercar commented on #502
hey, could be! my balance is back now :)

[2018-01-09 22:24] neocommunitynate commented on #502
Yep, working. Everything should be fine now! All my nep5 tokens are working and gas is accumulating.

[2018-01-09 22:28] n8d commented on #480
Same issue here. I tried the other explorer feeds and it was briefly working fine (as in no errors and my DBC balance was correct) with Antchain selected, but then it went back to throwing errors. Let me know if there is something I can do to help debug.

[2018-01-09 22:52] marcell32 commented on #502
I confirm, at this moment all ok, good work

[2018-01-09 22:58] joocru commented on #502
yeah its okay now. working smooth.

[2018-01-09 23:40] amirardat86 commented on #511
any word yet on the problem?Cant seem to find any help.

[2018-01-09 23:52] Alex118 commented on #480
+1

[2018-01-10 07:30] gripin opened #512 "RPX shows 0 (zero) balance - SOLVED"
same here.
just updated NEON wallet to 0.0.9 and my ledger app to 1.1.1 - latest versions.
i see my NEO and claimed my GAS - so far so gut
but all my RPX shows 0 (zero) balance.
there were visible in the pre-pre-ico-verision of NEON (0.0.6)
is this issue know?
thank you

[2018-01-10 07:43] JagaB commented on #510
I've got exactly the same issue.

I can't transfer both my RPX and DBC from my Ledger Nano S wallet. Got both the newest versions. Just as Niker26 says, it looks like everything work just fine, but the actual transfer won't execute.

Please help dear friends.

[2018-01-10 07:54] Niels1990 commented on #511
@Thieazs how do you update the neo app on the Ledger? I am so afraid of losing my private key when uninstalling the current neo app version and then updating it. Coul dyou please help me which steps to take?

[2018-01-10 07:56] Niels1990 commented on #508
@P2NPoison but what if I update my neon app version on my ledger? Will a new private key be generated and therefore I lose all of my funds? I need to update my neo app version to 1.1.1 on my ledger. But I am anxious about losing my funds when updating it... help me please

[2018-01-10 07:57] P2NPoison commented on #508
Your fund will be in your neo wallet, in the blockchain. Don't worry.

El 10/1/2018 8:56, "Niels1990" <notifications@github.com> escribió:

[2018-01-10 07:59] Niels1990 commented on #508
@P2NPoison alright. But the private key is generated by my ledger nano s. I am afraid that when I update the neo app on my ledger, my ledger will generate a new private key and therefore I cannot access my "old" wallet with all my funds.

[2018-01-10 08:00] P2NPoison commented on #508
I don't think so. Let someone answer the question!

El 10/1/2018 8:59, "Niels1990" <notifications@github.com> escribió:

[2018-01-10 08:09] stechico commented on #511
@Niels1990 I did this yesterday. Based on my experience, I had to delete the NEO app from my Ledger using the Ledger app. Then, installed NEO app 1.1.1 into the Ledger.

Also, private keys never leave the Ledger.

[2018-01-10 08:10] amirardat86 commented on #511
I did all that already,I can seem to send anything under 1000 but over no?

[2018-01-10 08:11] amirardat86 commented on #511
Just looking there I’ve got version 0.0.9 where do I get the new one?

[2018-01-10 08:40] stechico commented on #511
@amirardat86 0.0.9 from what I have/know is the latest NEON client. v1.1.1 is for the Ledger-NEO app from LedgerHQ

[2018-01-10 10:25] nyyn commented on #502
Same here, all smooth!

[2018-01-10 13:21] derwen commented on #466
Any amount under 1000 goes through. The problem has to be rooted somewhere connected with decimal places in numbers. Please fix it and release a new Neon as soon as possible.

[2018-01-10 15:48] badgerwithagun commented on #466
It's not quite so simple by the sound of things. I had to make a 999 transfer, and after that, transfers of any amount worked fine.

[2018-01-10 15:57] mhuggins commented on #466
I'm curious for the users having trouble.  Are your thousands formatted like "1,000" or "1.000"?

[2018-01-10 16:07] RobinHeld commented on #466
I'm trying to send under 1000 QLC and still having no joy.

On 10 Jan 2018 3:57 pm, "Matt Huggins" <notifications@github.com> wrote:

[2018-01-10 16:52] tubala commented on #480
Same issue.

[2018-01-10 17:04] csggene3 commented on #503
I'd like to look into this. I'm interested in helping valuate the NEP5 tokens and building out the wallet to be able to represent holdings in other currencies as well via the cross-chain framework, but obviously NEO assets first.

[2018-01-10 17:51] boorac commented on #480
Same issue here, neon v0.0.9 in conjunction with ledger nano s.

[2018-01-10 18:16] Jmanman commented on #511
Same I have neo to send for an ico aswell. I'm worried the 25k people drag down the neon wallet server and will cause me to miss this opportunity. I was able to claim gas but didnt try to send any neo yet.

[2018-01-10 19:02] mvg-tinus commented on #466
Even sending 20 units of GAS is not possible.

[2018-01-10 19:08] mvg-tinus commented on #466
At the moment, claiming GAS does not work either. Transaction Error message.

[2018-01-10 19:23] caizhiyuanrise commented on #466
So, if you hit "claim Gas" wait until the transaction is in the next block. Otherwise it does not work to send anything. (on my side)
Deleting the NEO app on the Ledger Nano S and reinstalling and having 0.0.9 works fine for me, after I waited for the next block and I do not use a ,...

[2018-01-10 19:26] mvg-tinus commented on #466
I reinstalled the NEO app on the ledger and now claiming GAS works fine.

[2018-01-10 20:22] hysel commented on #512
same here

[2018-01-10 21:05] jameejay commented on #470
Same issue here. My private key no longer allows me to log into wallet.

[2018-01-10 21:08] jameejay opened #514 "My valid key does not work anymore?"
Been using .0.7 for weeks with no issue, until today. I can't login to the wallet. After updating to .0.9, it gives me "invalid" errors when trying to login.

Help is greatly appreciated.. Also posted this in #support on Discord.

[2018-01-10 21:09] danielkummer commented on #480
+1

[2018-01-11 01:58] Jmanman commented on #511
I still have issues seeing DBC and my qlc tokens. It was working for a brief moment but is now showing a zero balance. I can transfer one Neo at a time though and I can claim neo gas

[2018-01-11 02:19] #514 closed

[2018-01-11 02:35] dc51111 commented on #511
i couldnt claim my gas, and failed to transfer my gas to kucoin.

[2018-01-11 04:09] martellalex opened #515 "Neon 0.0.9 - "hold at least 1 drop of GAS" error when sending QLC"
Steps to reproduce:
- log in to Neon wallet with private key
- click on send button
- select QLC asset

Error experienced:
See screenshot below.  UI disables sending of QLC asset with an error that says "Sending NEP5 tokens requires holding at least 1 drop of GAS"

![image](https://user-images.githubusercontent.com/8480779/34808136-00514fca-f6e1-11e7-9889-3f459f921d21.png)

GAS balance is 0.2 in t

[2018-01-11 04:12] Kuinuka opened #516 "Cannot install Neon.Setup.0.0.9.Windows.exe on Desktop running Windows 10"
I cannot install Neon.Setup.0.0.9.Windows.exe on Desktop running Windows 10

**Error description:**

"This app can’t run on your PC.
To find a version for your PC, check with the software publisher."

**See screenshot of error description below:**

![neon setup issue windows 10](https://user-images.githubusercontent.com/35321599/34808243-4d93a012-f696-11e7-9a08-57ab8fabfea6.png)

[2018-01-11 04:26] RLEE0731 commented on #510
Same issue, using 0.0.9 release and 1.1.1 Neo app.

[2018-01-11 07:50] fylim opened #517 "Cannot Send GAS out of my NEON wallet v0.0.9 in Ledger Nano S"
Hi all,

I am unable to send out gas from my NEON wallet in Ledger Nano S.

I get the error "Transaction failed" after signing the transaction on the ledger.

Please help. Thank you.

[2018-01-11 12:23] seaside-crypto opened #518 "NEON 0.0.9 and scripthashes"
Hey CoZ,

with all the upcoming ICOs i noticed, that it is, in fact, very important to add the scripthash feature to NEON 0.0.9.

Many people registered and whitelisted for these ICOs with their ledger address just to find out that they cant use this address for the ICO because they cant invoke the smart contract.

[2018-01-11 18:20] JupJar commented on #480
+1 with ledger nano s, scary

[2018-01-11 19:00] jfuentep commented on #480
+1 with ledger nano s

[2018-01-11 19:28] Setemi commented on #512
Same here

[2018-01-11 20:27] Jorgen1970 commented on #480
PROBLEM SOLVED... at least for me...

I changed the Block Explorer to NeoScan... My tokens show up...

[2018-01-11 22:05] Macspyre commented on #480
+1 with ledger nano S which display "wake up Neo" and Neon 0.0.9 Mac Edition
Every 30 seconds, after each 'green wave animation' near "transaction history" title, there 3 error messages :
"could not retrieve DBC balance"
"could not retrieve RPX balance"
"could not retrieve QLC balance"

If I click on a "i" button for DBC, RPX or QLC token, Neon interface becomes entirely white.
No other action is

[2018-01-11 22:10] brtausi commented on #511
I have the same problem, I installed both the latest Ledger Nano S app and uninstalled, re-installed the NEON program for windows. I get 3 red pop-ups saying it could not retrieve the balances, while I got RPX on that address. It does shows the right amount of NEO and GAS.

[2018-01-11 22:17] JohnChangUK commented on #502
Currently experiencing the problem, the transaction ID won't even show in NEO Tracker. Anyone with the same problem?

[2018-01-11 22:23] JohnChangUK commented on #511
Got the same problem for Mac. Got the latest NEO 1.1.1 on the ledger, 0.0.9 Neon Release, sent QLC to the NEO public address but won't show. Also the transaction ID doesn't seem to be valid when i check on NEO Tracker.

[2018-01-12 02:46] kbizzly opened #520 "Fail to claim gas coin or extract my neo coins I have 1.2.1 version loaded on android phone"
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2018-01-12 02:58] Jmanman commented on #511
Mine is working fine for windows. Great! hope she lasts for TheKEY sale. fingers crossed

[2018-01-12 09:14] LolaXIE07 opened #521 "Can Trinity NEP-5 tokens(TNC) be Listed on NEON Wallet,Please?"
Hi , Neon Team

I am from the Trinity

I am wondering if you can help me with the trinity tokens (NEP-5) listed on Neon Wallet

Our website is https://trinity.tech/

And our script hash is:0x08e8c4400f1af2c20c28e0018f29535eb85d15b6

Please if you see this request and have some other requirements about adding the tnc to the NEP-5 Tokens, please contact me at: lolaxie_shanghai@163.com

Have a nice d

[2018-01-12 11:45] Sajjon commented on #518
👍

Why was script hash function removed in 0.0.7 and when will it get re-added? :)

[2018-01-12 14:53] jayddaniels commented on #430
I have the same issue, i try to claim my gas with neon wallet 0.0.9 and is immediatly says  "error claim failed" there is no 5 minute halt before being able to claim, i can claim infinite times and it says error infinite times. please help.

[2018-01-12 15:44] Asubayo commented on #515
Got the same issue while trying to send DBC from the neon wallet. Why 1 GAS is needed ? Do we really need to hold at least 1 GAS or does that mean that the fee to send DBC is 1 GAS (hope not^^) ?

[2018-01-12 17:39] jayddaniels commented on #495
Same problem, claiming doesnt work on any neo wallet, be it web or desktop

[2018-01-12 19:43] jayddaniels commented on #143
i tried several wallets, latsly neo tracker, and still it is unclaimed, i havent tried to claim for about 4 months, now its impossible ?

[2018-01-12 21:29] brianlenz commented on #518
We are in the same boat. We are running an ICO on NEO and will need contributors to contribute via the `mintTokens` smart contract function. Without support for this, we'd have to handle all contributions manually through a separate NEO wallet. It's much preferable to have a smart contract handle the contributions so that it can enforce rules like whitelisting, contribution limits, etc.

Any updat

[2018-01-12 22:21] XxXGyverXxX opened #522 "0.0.9 Neon Wallet - Claim Gas "Claim Failed""
I am writing to confirm a gas claim fail on the Mac - 0.0.9v of the Neon wallet.  I have seen this issue in text multiple times however, i am having trouble finding a solution.

[2018-01-13 05:41] saltyskip commented on #520
Android alternative https://play.google.com/store/apps/details?id=network.o3.o3wallet

[2018-01-13 16:50] Evgeny1986 opened #523 "NO coins in the wallet."
Hello!
Help me please. I bought 19 NEO on the exchange and sent them for storage in a purse NEON.
The address of my purse: AN4FMbGefBGpBYCMJW1dKjEbm9kPjdghao
A couple of days ago I went to the purse and found I had no coins.
I went to https://neotracker.io/tx/8202dc123540d009c20ce3b7eb1b4e6944b39ad7b4a5074cfaf1a026f7ec0c37
I discovered that my coins transferred to the wallet AKL1VMWPsW9qHWrwh8TYz9

[2018-01-13 16:59] Evgeny1986 commented on #523
I also wrote in contact@neo.org

[2018-01-13 17:08] OrEagle97327 opened #524 "Several people have lost Neo due to a fluke in the Neon wallet and Ledger Nano S."
I came from - https://discord.cityofzion.io to make this post.   ...We need support.

I ask all that experienced this problem, join this thread so we can compare notes.

Hopefully; we can get Neo and Ledger to join the support, instead of claim 3rd party software.
___________
On December 22, I installed Neon Wallet 0.0.7.  After connecting to Ledger Nano S, I transferred 108 Neo from the Bittrex e

[2018-01-13 17:33] ravi6098 opened #525 "Neo transaction stuck"
Sir, I sent noe from binance to neo Wallet but didn't receive..
I have made to transactions details of which is given below.
1st..
Address - AbJ31CWbf1cGCrc919LMPiRgRLHC3oLCL3
Txid - e7e170c0be413f0412f3d51708b29cbd2b6fd78102f5a8a4520e22bb3be7e956
2nd
Address - AWqjfCDcVRFqAJM8BZPpxaUJZmdVjGf29q
Txid - 48051c3ae9085df54b974f8c92d848d150d48d966f98fe5e9e08e17969d2cdd1

[2018-01-13 17:34] Evgeny1986 commented on #524
Hello, I have also disappeared today 19 coins.
My topic: https://github.com/CityOfZion/neon-wallet/issues/523

[2018-01-13 17:41] OrEagle97327 commented on #523
Thank you for posting to #524. Were you using the Neon wallet with Ledger Nano S?

[2018-01-13 17:42] OrEagle97327 commented on #523
What exchange did you transfer from?

[2018-01-13 17:47] MorganLester commented on #524
This happened to me a few days ago. Setup my wallet connected to nano fine. sent a few tests before sending the rest (only 7 coins). Yesterday reconnected app and zero balance with a 100% new address. Is there anything we can do? I can see my coins sitting in the public address (the original one created). I am guessing these are gone. I have tried recovering from 24 pass etc and nothing.

[2018-01-13 17:49] MorganLester commented on #523
Same issue happened to me. setup everything fine. Sent one test then another 6 coins. Connected nano to same machine and everything and zero balance and new address.

Address: https://neotracker.io/address/AQVkV9SxYVxDJfyturJwzD7w38gtWnBzkV

[2018-01-13 17:50] MorganLester commented on #523
I sent from Binance fwiw, and have all records...

[2018-01-13 18:45] OrEagle97327 commented on #524
Looking at the immediate responses; it appears this issue is at least a month old, and still occurring.

What can be done to get the word to new and other users?
CAUTION: watch out until we get to the bottom of this!!!
Can we ask Neo to post their website, the source of my Neon wallet?
Can we get Ledger to post a warning on the Ledger manager?
Can we post the Neon wallet with better instructions?

[2018-01-13 19:00] MorganLester commented on #524
Update: I had in fact had a temp passphrase. After recovery > entering old passphrase I got the original address!

[2018-01-13 19:13] OrEagle97327 commented on #524
What is a "temp passphrase" and where did you insert it?

[2018-01-13 20:04] mrz1836 commented on #143
My old antshares wallet will not claim at all. I think NEO might have an issue with older antshare wallet addresses. Unless the team can shed light on it, I am unable to claim any GAS from all neo wallets.

[2018-01-13 20:14] mrz1836 commented on #522
I am having the same issue, however my hunch is that the wallet address was from AntShares before it was NEO. I constantly get "Claim failed" and the gas claim is not in the neo block explorer. I'd love to work with someone on debugging this issue, as I feel a lot of people might be experiencing this issue.

[2018-01-14 04:25] mhuggins commented on #525
These are both on the blockchain.  The first is for 10 NEO, the second is for 5 NEO.

[2018-01-14 04:27] ravi6098 commented on #525
What to do.. to accelerate?

[2018-01-14 04:29] mhuggins commented on #525
Nothing, they're already on the blockchain:

* https://neotracker.io/tx/e7e170c0be413f0412f3d51708b29cbd2b6fd78102f5a8a4520e22bb3be7e956
* https://neotracker.io/tx/48051c3ae9085df54b974f8c92d848d150d48d966f98fe5e9e08e17969d2cdd1

[2018-01-14 04:33] ravi6098 commented on #525
Then how much time it will take?

[2018-01-14 04:33] ravi6098 commented on #525
It's already been 24 hrs

[2018-01-14 08:38] #525 closed

[2018-01-14 09:33] jayddaniels commented on #143
I could after all claim my gas 2 days later. IT wrote error constantly, for days and then once it claimed, tho I did the same always, just clicked claim in the web wallet.

[2018-01-14 11:08] DalderupMaurice commented on #495
Tried creating a completely new wallet as I stated above?
It is possible you still have an old address!

[2018-01-14 11:52] OrEagle97327 commented on #523
"Evgeny1986"  I am trying to compare notes.
(Before the problem) Using the Ledger;  Did you go into Ledger settings or security settings at all?  Even if you did not make any changes?

[2018-01-14 12:39] mistermoney83 commented on #453
Hi Noob here. I also have a encrypted key that i am trying to decrypt. I got my encrypted key from a wallet-backup from the https://app.antshares.org/ wallet a couple of months ago. I backed it up as a word document, and it shows a couple of keys and also a encrypted key. When i try it on ansy (link above) it doesnt work. Cant figure it out. If someone knows what to do please let me know. And does

[2018-01-14 14:55] Lynaj commented on #512
same here =c

[2018-01-14 15:21] FalnoX commented on #509
Same issues here:
- Loading takes ages
- Message about not being able to retrieve GAS/DBC/RPX balances
- Cant send GAS

Versions:
- Neon wallet v0.0.9
- MacOS High Sierra 10.13.2

[2018-01-14 16:14] puffidredz commented on #509
getting same error. it was just working 8 hours ago

[2018-01-14 16:19] Tristan1986 opened #526 "Ledger Nano S not responding after confirming transaction in 0.0.7, neither 0.0.9."
Hi there,

I want to send Neo to another adress. I logged in, chosed amount and clicked send asset. After this I confirm transaction and the message is up ''please sign the transaction on your hardware device''. However, my ledger is not responding to this, still ''wake up neo'' what I see., so I cant sign.

Wallet is also responding slower today. Version 0.0.7 AND 0.0.9.

Can anybody help me out?

[2018-01-14 16:40] lostis4d commented on #524
this has just happend to me, I had 10 Neo, and someone just sent me 3 NEO, and my wallet balance has changed to 0 and no transaction history, I am using the Ledger nano S

[2018-01-14 16:45] fongstein commented on #480
+1 same issues

[2018-01-14 16:48] 4Eye commented on #480
+1 same issues

[2018-01-14 17:02] Evgeny1986 commented on #523
Hello! On the forum I can't write as beginners there is a restriction. To my problem I went to the wallet and everything was in order. I can't understand how did my tokens. The tracker shows that my tokens were sent to another wallet.

[2018-01-14 17:07] OrEagle97327 commented on #524
My experience is minimal.
Have you much experience?

My goal here is to get together and share notes.

Have you been in settings or security menus?

On Sun, Jan 14, 2018 at 8:40 AM, lostis4d <notifications@github.com> wrote:

[2018-01-14 17:13] Evgeny1986 commented on #524
How can we return your coins? where to turn to? I am willing to write to any authority.

[2018-01-14 17:19] JupJar commented on #480
.... no issue anymore for me ... all fine

[2018-01-14 17:33] OrEagle97327 commented on #523
It is free to join Gethub do not wait to sigh up

we can compare notes better

thnx

On Sun, Jan 14, 2018 at 9:03 AM, Evgeny <notifications@github.com> wrote:

[2018-01-14 17:42] jon85943 commented on #524
Have tried recovering your private key and public key pairings that are able to be produced from your 24 word phrase? I had issues that were never resolved with no transactions ever confirming and decided to try and get my private key using the [BIP-39 Recovery Tool](https://github.com/coranos/neo-bip39-recovery) offline.  When I used the tool it gave me a bunch of public/private key pairings, you

[2018-01-14 17:48] OrEagle97327 commented on #524
Thanks Morgan for the private response we had on Discord
I have been doing some review - Earlier Caronos commented:
"Based on the nature of the problem, it seems to be only a ledger device problem. So as far as I know, wiping your device and resetting it should show the glitch."
I missed it back then, but I am "gun shy"  - Should I empty wallet first for safety? (6figures-HotCrypto)
When is it "NO

[2018-01-14 17:55] OrEagle97327 commented on #524
jon85943 - yes I have run bip-39 recovery tool - and another by someone else - plus I have come accross a generic one for many coins.
Mine returns the last address I got (in my case a third public address)

[2018-01-14 17:56] OrEagle97327 commented on #524
Do I dare reset my Nano with lots of asset on it?

[2018-01-14 18:02] mrz1836 commented on #143
+1 to reopen issue or escalate.

[2018-01-14 18:03] zafari2001 commented on #480
+1 same issue

[2018-01-14 18:08] OrEagle97327 commented on #524
Evgeny1986 - Are trying to return coins or recover some?
The reason we are into crypto so no authority need to be involve.
There are forums to go to like this one or reddit or discord, or others.

[2018-01-14 18:20] Evgeny1986 commented on #524
OrEagle97327 - Clear. I'm just very upset. Any experts can help me? as it happened, that my tokens are on a different wallet. For me it is a very large sum.

[2018-01-14 18:31] gripin commented on #526
for 0.0.9 you have to update NEO firmware on ledger up to 1.1.1 (latest) - maybe this helps

[2018-01-14 18:35] Tristan1986 commented on #526
I already did :). Went to the ledger manager, removed Neo en reinstalled the app. Which is 1.1.1.

But it still doesnt work :(

[2018-01-14 18:38] Tristan1986 commented on #526
I gave it another try, it works now 🍡

[2018-01-14 18:49] gripin commented on #526
cool :-)

[2018-01-14 18:51] gripin opened #527 "RPX on NEON wallet 0.0.6 - but not on 0.0.9"

[2018-01-14 18:59] #527 closed

[2018-01-14 19:04] gripin commented on #512
hello to all
i just solved my problem - oh - silly me :-/
i opened NEON wallet 0.0.9 with my previous private key (not with ledger ) - and there are all my coins - i will now try to send them to my ledger wallet - cross fingers

[2018-01-14 20:59] jfuentep commented on #480
Solved also for me, it looks right now

[2018-01-14 22:41] #512 closed

[2018-01-15 00:22] SolomonAlma commented on #509
Same issues as mentioned above. version update request although version is already updated, and could not retrieve gas/dbc/rpx balance

[2018-01-15 01:06] sschepis commented on #510
Same issue

Neon wallet 0.0.7
Ledger Nano S
OSX 10.10.5

[2018-01-15 01:07] navneetlakra commented on #510
Down again.
Neon wallet 0.0.9
Ledger Nano S
OSX 10.11.6

[2018-01-15 01:14] Kmpec commented on #416
@coranos: Hey Caranos, I do also have a Nano Ledger S and I had some problems sending NEO or RPX from my Neon Wallet to another wallet. I guess that is due to the API of NEON wallet being very slow. However, I saw this topic when I was looking for a solution and got a little scared. So I tried to retrieve my WIF for my Wallet my Nano Ledger S is using.
However, using your tool and putting the 24 p

[2018-01-15 01:37] bincy4776 commented on #502
cant claim gas.transaction not prompting on ledger

[2018-01-15 01:39] OrEagle97327 commented on #524
Evgeny1986 - I still do not understand the question.

[2018-01-15 02:17] fazzx commented on #509
I got the same issue at above, any fixes?

[2018-01-15 02:25] SolomonAlma commented on #509
Not yet. Refrain from ledger neon combination till issue is adressed.
Consider using neon desktop wallet solo

בתאריך 15 בינו' 2018 4:17,‏ "fazzx" <notifications@github.com> כתב:

[2018-01-15 02:28] whi5key123 commented on #509
same issue here

[2018-01-15 02:39] inancgumus commented on #143
[code]

What should I do here?

[2018-01-15 03:14] coranos commented on #416
@Kmpec if you were able to transfer all your fund out, then you do not have the problem described in this thread.

When you typed in your phrase, were you sure there were no spaces at the ends?

Also did you type it into "BIP39 Mnemonic" or into "BIP39 Passphrase"?
The passphrase is an advanced option, which is usually blank.

[2018-01-15 03:33] stevesbrain commented on #524
@OrEagle97327 I have reset my Nano many times and recovered with the mnemonic seed. I did this before being "comfortable" storing my Neo there (i.e. I sent some testnet GAS to it, then reset it, recovered from my passphrase, and verified the testnet GAS was still there - it was). Provided your mnemonic seed is correct, you run zero risk resetting your device. The only time it should change/disappe

[2018-01-15 04:14] Birkii opened #529 ""Transaction failed" updated everything. cant send neo or claim gas for 2 months now :("
this is probably a common problem. But its getting frustrating! what can be done? I cant send my neo out of my neon wallet, nor can i claim my gas. updated to 0.0.9 wallet. and 1.1.1 on ledger. Still continues to say "Transaction failed" over an over. Any help would be appreciated !!!

[2018-01-15 04:27] juanrogersp commented on #510
I have the exact same issue when trying to transfer my DBC from the NEON app using my Ledger Nano S to the Kucoin Exchange Wallet for DBC.

I have GAS (about 0.0087)

Ledger Nano S - Version (App 1.1.1)
Neon wallet 0.0.9
OSX 10.13.2

[2018-01-15 04:45] stevesbrain commented on #529
Hard to say without more info. I too am using Neon with Ledger Nano S on 0.0.9 and 1.1.1 - no issue. Are you signing *both* transactions when claiming gas? Is the USB cable dodgy at all? Any anti-virus software active on the system that may be interfering? Do you use the Ledger for other currencies without issue?

[2018-01-15 04:45] #34 closed

[2018-01-15 04:45] #90 closed

[2018-01-15 04:45] #118 closed

[2018-01-15 04:45] #265 closed

[2018-01-15 04:45] #344 closed

[2018-01-15 04:46] #334 closed

[2018-01-15 04:47] #474 closed

[2018-01-15 04:47] #476 closed

[2018-01-15 04:48] #482 closed

[2018-01-15 04:48] #486 closed

[2018-01-15 04:50] #495 closed

[2018-01-15 04:52] Birkii commented on #529
Hi. It doesn't go past the first sign tx for claiming gas. I send ltc dgb etc perfectly fine... so don't think its the usb cable. Don't have any antivirus on my laptop. Maybe I should try another device? ...... last 2 days the "sign now" doesn't even come up on my ledger.... it's extremely slow

[2018-01-15 04:52] #445 closed

[2018-01-15 04:53] Birkii commented on #529
Tried uninstalling and reinstalling both apps aswell....

[2018-01-15 05:00] #407 closed

[2018-01-15 05:00] #253 closed

[2018-01-15 05:03] matthewgoodwin commented on #480
same issue here... version v0.0.9

[2018-01-15 05:04] shawnmclean commented on #438
Check to make sure you downloaded it from github. This should not happen.

[2018-01-15 05:04] #438 closed

[2018-01-15 05:04] #441 closed

[2018-01-15 05:05] shawnmclean commented on #417
Is this still an issue? Closing until further information.

[2018-01-15 05:05] #417 closed

[2018-01-15 05:06] morrow95 commented on #529
For what its worth I just installed 0.0.9 for Windows and uninstalled then reinstalled the latest NEO for Ledger Blue to make sure I had the latest on there.  I just tried to claim GAS and got a whole bunch of red error alerts for other tokens and on top of that my GAS claim failed even after signing both transactions.

Is this on the software side of things or the actual chain?  Either way this i

[2018-01-15 05:06] #372 closed

[2018-01-15 05:11] shawnmclean commented on #437
Take a look at the neoscan API docs here: https://neoscan.io/doc/Neoscan.Api.html

[2018-01-15 05:11] #437 closed

[2018-01-15 05:14] shawnmclean commented on #272
Alt+F4 works on windows too.

This seems like an issue specific to your environment. Until someone else can reproduce, closing this.

[2018-01-15 05:14] #272 closed

[2018-01-15 05:15] #336 closed

[2018-01-15 05:15] #292 closed

[2018-01-15 05:18] #362 closed

[2018-01-15 05:18] #341 closed

[2018-01-15 05:22] Birkii commented on #529
I'm getting the red error alerts too. A heap of them. Another person has told me to try use WIF and click the private key button to access them and try send that way.... I will give that a go soon......

[2018-01-15 05:28] #395 closed

[2018-01-15 05:30] morrow95 commented on #529
I logged out of the Neon and then back in and tried again... the GAS transfer worked this time.  I also received NEO as well a few minutes later without any problems.  With that said, I still got a whole bunch of the red error alerts for the 'other' tokens about not being able to find a balance (I am assuming because they are zero).  Sounds like some simple logic needs coded in to the wallet for t

[2018-01-15 06:19] Frogz1 opened #530 "Wallet public key hyperlink displayed after clicking 'Receive' is not navigating to https://neotracker.io/address/{{PubKey}} after opening default browser."
# Pubkey hyperlink is not navigating to URL after opening browser
Wallet: CoZ Neon 0.0.9 OS: MacOS Chrome: Version 63.0.3239.84

**Expected Result**
Default browser opens and navigates to https://neotracker.io/address/{{PubKey}} displaying wallet information

**Actual Result**
Default browser opens new window and does not navigate to any URL

**Steps to reproduce**
1. Unlock Wallet
2. Click _Recei

[2018-01-15 06:28] Frogz1 opened #531 "Force all API calls to api.wallet.cityofzion.io to use HSTS"
## All API calls should be forced HTTPs preferably on the server side with HSTS configuration.

**Expected result:**
all api endpoint calls use https regardless if content is public
**Actual result:**
endpoints are not forcing https

_**notes**_: see https://www.eff.org/https-everywhere/deploying-https

[2018-01-15 06:33] Evgeny1986 commented on #524
OrEagle97327
 Yes. Now I will describe the problem.
I have in my wallet Neon was 19 coins.
The address of my purse: AN4FMbGefBGpBYCMJW1dKjEbm9kPjdghao
A couple of days ago I went to the purse and found I had no coins.
I went to https://neotracker.io/tx/8202dc123540d009c20ce3b7eb1b4e6944b39ad7b4a5074cfaf1a026f7ec0c37
I discovered that my coins transferred to the wallet AKL1VMWPsW9qHWrwh8TYz9NJGU6GC

[2018-01-15 06:52] Ghewij opened #532 "Zero Balance Neo and Gas on version 0.0.9"
Hi,
Since end of Version 0.0.7. my Neon wallet shows zero balance, installed version 0.0.9. but the issue persists.
Balance in Neoscan with my public address is OK!
AQybw3G1cuXHfxDusRQd1ECN96pQpcM8PF

Could you please check the wallet/account?
Kind regards.
Phil

[2018-01-15 07:05] Birkii commented on #529
Have you tried sending neo out of your neon wallet to a exchange?

[2018-01-15 07:25] brianlenz commented on #372
Just curious: does closing this indicate it's done or won't be implemented? Thanks!

[2018-01-15 10:14] Con7e commented on #511
Mac OS "El Capitan" here. I was able to send/receive NEO/GAS on my ledger fine for like 1 day. Now I am unable to send NEO/GAS as every time I sign the transaction oin my ledger the app on the mac says "transaction failed".

Also, my DBC balance shows now 0 as it's not able to show it for some reason.

The app is now basically holding hostage my entire balance... I should have left it on the web w

[2018-01-15 10:20] Con7e commented on #480
Same issue as @Macspyre please help fix it...

[2018-01-15 10:25] stechico commented on #524
Paranoid about this now. I downgraded from 0.0.9 to 0.0.7. What should I do to prevent this from happening?

Greatly appreciate the insights. Thanks!

[2018-01-15 10:56] bargom opened #534 "Neon old release installers, please do not remove!"
Hello,

For some of the ICO's only 0.0.6 is required, but on the older version the executables are removed, which makes impossible for non-developers to attend to these ICO's. Please add the executable installers of the previous versions starting from 0.0.6.

Kind regards,
Baris Gomleksizoglu.

[2018-01-15 11:20] GvidoKarlis commented on #517
SAME HERE :/

[2018-01-15 11:33] GvidoKarlis opened #535 "Cant send out GAS from my Ledger Nano S"
I get the "Transaction Failed" message every time I try to send out Gas on Main using 0.0.9. or any other version. I can successfully send Neo, claim my gas, and receive both Neo and Gas. It's only sending Gas that I cannot get successfully. I have tried different amounts, decimals, unplugging/replugging in, reopening the Nano app, unistalling, reinstalling ,etc. I have also tried sending to many

[2018-01-15 12:02] drdanhtrang opened #536 "Installing neon wallet 0.0.6 on windows 10"
I was trying to install Neon wallet 0.0.6 but yarn poses:

"yarn install v1.3.2
[1/4] Resolving packages...
error Couldn't find the binary git
info Visit https://yarnpkg.com/en/docs/cli/install for documentation about this command."

Is there possibly any solutions for this? Or could you somehow re-upload Windows.Neon.Setup.0.0.6.exe?

Thank you for your attention,
Best regards

[2018-01-15 12:51] KSY006 opened #537 "Claiming Gas (not Ledger or "Claim Failed" issue)"
Using Neon Wallet 0.0.9

Past few days clicked "Claim Gas" and it says processing, then completes. In transaction history it shows there was a transaction.

However, in the tracker, when I click on each transaction (contract/hash) it just shows "x NEO (Unspent)"  and nothing else.

Transaction on the wallet shows:
0 NEO
0.00000000 GAS

Quantity of Gas still builds up, but it never claims it.

Am I

[2018-01-15 14:20] coop555 opened #538 "Can not send greater than 999 tokens at once from NEON 0.9 MacOS Ledger Nano S to exchanges"
Ledger Nano S
NEON wallet 0.9
MacOS 10.12.6

I've been unsuccessfully trying to send tokens whose quantity is > 999 from my wallet to an exchange.

It seems > 999 the client adds a comma ","

I don't know if the comma is the cause but 999 is the maximum tokens I can transfer out at once.  I tried to remove the comma from the field, but it is hardcoded.

Is this a known bug?

Thank you

[2018-01-15 15:08] morrow95 commented on #529
@Birkii  I sent GAS to an exchange and then a few minutes later sent NEO to my wallet.

[2018-01-15 15:25] feuillet opened #540 "Add md5 Checksum Values to the Website"
Guys, please add the md5 Checksum values to the Website.
For stuff like Coin Wallets this is definitely a must.
Thanks.

[2018-01-15 16:03] coop555 commented on #538
Strange.  I was finally able to do larger amounts than 999.  Maybe this had something to do with congestion due to the ICOs, I don't know.

[2018-01-15 16:03] #538 closed

[2018-01-15 16:31] shawnmclean commented on #536
Why do you need 0.0.6?
What are you doing to get yarn errors?

[2018-01-15 16:42] shawnmclean commented on #534
We do not recommend using older versions. It will be buggy.

We are working on a release that will allow this.

[2018-01-15 16:42] #534 closed

[2018-01-15 16:45] seinwave commented on #524
Echoing @stechico's comments. I haven't experienced the issue, but I'm running 0.0.9 on latest macOS.

I've seen that @coranos has tried valiantly to reproduce the bug, without success. That's encouraging to me.

All the same, would love a security blanket here. Has there yet been a successful diagnosis of the problem?

Thanks for all of your input, guys. Obviously a legitimate concern.

[2018-01-15 16:45] #366 closed

[2018-01-15 16:52] coranos commented on #524
So, @stechico this is _not_ the same problem as the problem I've been looking at.

Your coins were stolen. Your ledger address remained the same, but the coins were transferred elsewhere. The problem I was looking at is where your ledger address changed, and the coins were still at the old address.

For anyone that had the address change on them, were you able to claim gas at the first address, be

[2018-01-15 18:07] holymio commented on #438
Downloaded it from github. Someone on Reddit has/had the same problem: https://www.reddit.com/r/NEO/comments/7bc69i/neon_wallet_007_release_with_support_for_nano/dpi5c38/

WIth the 0.0.9 Version this is not happening anymore.

[2018-01-15 18:07] OrEagle97327 commented on #524
@seinwave I do not know of a solution yet. Still believing one will be found.

I lost my Neo while using Neon wallet, ver 0.0.7. Wallet ver 0.0.9 has some good upgrades.

@coranos Would unplugging the USB at the wrong time, create the noise you refer to?

I am maintaining this thread to post warning and support to others who follow.  One user whom has been in these conversation has lost 1900 Neo o

[2018-01-15 18:20] coranos commented on #524
Unplugging the USB or just having it not fully seated would cause the noise, yes, or a frayed wire.

Claiming gas would test that scenario, as you can only claim gas with a valid key combination.

[2018-01-15 19:02] OrEagle97327 commented on #524
I hate to ask this.... (shuda,kuda,wuda)(undocumented feature)

Is there a possibility, ...one of these "scenario" creates 'paraphrase" wallet without-paraphrase

This comes to me while reading the Ledger page on advanced techniques
https://ledger.zendesk.com/hc/en-us/articles/115005214529-Advanced-Passphrase-options
____
 PASSPHRASE ATTACHED TO A PIN

In your Nano S, go to SETTINGS > Security > P

[2018-01-15 19:08] coranos commented on #524
you could definitely have done that, but then to recover you should be able to just use the same pin and it'll use the same hidden wallet. or just use the same passphrase.

I don't know much about the "hidden passphrase" options, but messing with it and forgetting what you did would definitely screw you over.

[2018-01-15 19:29] OrEagle97327 commented on #524
I am theorizing, there is a wallet on the Ledger "without" a passphrase.

[2018-01-15 20:29] #314 closed

[2018-01-15 22:43] drdanhtrang commented on #536
Got it. Thank you for your reply. :)

[2018-01-15 23:52] PaulBradley87 opened #541 "Neon wallet 0.0.9 and Nano S Ledger with 1.1.1 wont work, Hardware Device Error"
Hi, had no issues at all with the last version of neon 0.0.7 and the last neo app for the ledger, however since updating to 0.0.9 and 1.1.1 on the ledger i just get Hardware Device error and neon just doesnt recognise my ledger so i cant access my neo :(.

[2018-01-15 23:54] #541 closed

[2018-01-16 00:02] Birkii commented on #529
I ended up using the neotracker.io wallet

[2018-01-16 00:26] stevesbrain commented on #517
Have you guys tried different USB cables by any chance?

[2018-01-16 00:37] OrEagle97327 commented on #524
Just thinkin outside the box...

Can bip-39 recovery tool be used to attempt to return the wif on;
 "...second (and hidden) wallet..." not "  ...attached to a specific passphrase..." ??

be a murukal wudeniit

[2018-01-16 00:51] fylim commented on #517
Just an update. It worked after using recovery. Connecting to testnet and back to mainnet didn't help

[2018-01-16 01:12] KSY006 commented on #537
For some reason it magically worked, this afternoon!

[2018-01-16 01:33] coranos commented on #524
Uh, um, that's quite a box.

By default, the recovery tool does not require a passphrase. So by default it returns the wallet not attached to a passphrase. There is no second hidden wallet with "no" passphrase, it's a second hidden wallet "with" a passphrase. The first wallet, the one you see by default, is the one "without" a passphrase.

[2018-01-16 02:35] chisleu opened #543 "Update notification opens github link inside app on macos."
This should open the link in the system default browser. There is no method of tracking downloading through the neon-wallet app.

## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

## GitHub issues are intended for tracking development tasks, not tro

[2018-01-16 06:06] fylim commented on #517
Apologies pls ignore previous comment about using recovery. Was not related.

The actual fix for me was to use a direct internet connection rather than my office proxy.  Perhaps a network connection status in the client would be helpful. However note the client was able to read my address and contents but just cant send.

[2018-01-16 10:29] OrEagle97327 commented on #524
I have been conferring with others who have suffered loss due to this fluke.
I did "not" do any of the steps to set up a passphrase. Others say the same.

As I study this; ...the symptoms are just like there is a "passphrase" wallet just waiting for us to access.

Am I too far outside the box, for this to be possible?
With my limited experience, I know not, how to test or search this kind of theor

[2018-01-16 12:01] stechico commented on #524
@coranos Yah, what I've mentioned in terms of precaution was in the scenario of this problem,
"where your ledger address changed, and the coins were still at the old address."

From what I gather so far from the thread:
1. Don't set a passphrase on the default, first one that comes "without".
Does that mean leaving it alone, its more likely to be recovered with the linked recovery tool?

2. Make s

[2018-01-16 14:00] Thebigmeany commented on #537
I have the same problem. Says its processing, and then says claim failed. 0 Neo, 0 gas showing in the transaction.

[2018-01-16 20:06] MikeReining commented on #480
Still having the same issue.  Sometimes the wallet appears to load fine but then the issue happens again.  Makes me scared to transfer DBC tokens into wallet.

[2018-01-16 23:37] shawnmclean opened #545 "Auto Update Wallet"
Implement Electron Updater on wallet: https://www.electron.build/auto-update

[2018-01-17 08:11] squigita commented on #536
Hi, My old version 0.0.6 had the "particpate in token sale" box on the home screen. In the new 0.0.9 version its missing. Can the tracker wallet be used for the zeepin ICO instead? Or what do I do now to particpate? Worked fine for APH & RPX but the box is now gone

[2018-01-17 11:00] cryptoarmeen commented on #428
can someone help me please i cant send gas from neo wallet 0.0.9

[2018-01-17 18:18] sl6der opened #547 "(Improvement) TXs export feature"
Can we add a feature to export all TXs from the wallet into an excel sheet or an *.csv please?

There are many people who needs this for their tax calculation.

[2018-01-17 18:49] ProsperityPro commented on #510
Add my name to the list...Please help. any suggestions are appreciated.
NEON is updated, Gas in wallet, going to KUcoin.

[2018-01-17 21:25] CCCC1966 opened #548 "TNC support? When will NEON update come out?"
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2018-01-17 21:36] jaffa1991 opened #549 "Neo Balance not showing? version 0.0.3"
Hello Everyone,

I have the neo wallet v 0.0.3 I sent coins from binance to the wallet, coins not showing but gas is building up??

neo tracker says all is ok I think?
https://neotracker.io/address/AQAJg82qNgxdGFSG4nuEDKdgWRYeqH6c1L

can anyone recommend how to fix this issue?

I am seeing similar issues with newer wallets do I need the newest wallet?
if so which one?

cheers guys

[2018-01-17 23:17] Satoshinaire commented on #549
@jaffa1991 You know what to do already, you gave hints in your message :)

Update to the latest version: [0.0.9](https://github.com/CityOfZion/neon-wallet/releases)

[2018-01-18 03:40] brandosaurus opened #554 "Clicking on Transaction IDs in the list of Transaction History opens URL with testnet.neotracker.io domain"
Clicking on any transaction will open a browser page with the testnet.neotracker.io domain. Most transactions I assume will not be available there - produces a 404 error on web page.

Edit: Verified that I am running on MainNet option on the top right dropdown.

[2018-01-18 04:14] brandosaurus commented on #548
Latest version released today supports it: 0.1.0

[2018-01-18 05:58] jaffa1991 commented on #549
Okay I thought so just wanted to make sure, and I use the same private key to open the wallet to ensure I keep all my neo. 😊

[2018-01-18 07:05] #548 closed

[2018-01-18 07:05] #549 closed

[2018-01-18 07:11] stechico commented on #496
Anyone else getting this with the latest 0.1.0 release? Thanks

[2018-01-18 09:43] robmoorman commented on #467
Great, since 0.1.0 this is added. Thanks!

[2018-01-18 09:43] #467 closed

[2018-01-18 10:18] stevesbrain commented on #428
@cryptoarmeen Tried 0.1.0?

[2018-01-18 10:19] stevesbrain commented on #517
@fylim Haven't looked at the code, but perhaps balance is retrieved from neotracker, and sending is done by connection to CoZ's blockchain servers (which are therefore blocked)?

[2018-01-18 11:24] cryptoarmeen commented on #428
I will try thank you!

Verstuurd vanaf mijn iPhone

Op 18 jan. 2018 om 11:18 heeft Steve Divskinsy <notifications@github.com<mailto:notifications@github.com>> het volgende geschreven:

@cryptoarmeen<https://github.com/cryptoarmeen> Tried 0.1.0?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/CityOfZion/neon-wallet/issues/428#

[2018-01-18 11:33] derawi commented on #554
Same error for me.

[2018-01-18 11:52] stephenng1 opened #561 "My NEON wallet does not show any blocks, NEO and GAS balance all zero, Error Can not retrieve NEO/GAS Balance"
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2018-01-18 11:53] stephenng1 commented on #561
Did not work even if I used NEON 0.0.6 or 0.1.0 same problem, no blocks showed, already turned off my firewall

[2018-01-18 12:35] Allex1 commented on #480
+1

[2018-01-18 12:39] joocru opened #562 "Getting error your wallet out of date."
downloaded 0.1.1 latest version of neon but getting this your wallet is out of date error. why ? and cant see rpx and other nep5 assets in my new neon wallet ?

[2018-01-18 13:14] Sajjon commented on #562
I got the same message.

[2018-01-18 13:17] segovius commented on #562
Me too

[2018-01-18 13:24] Germaneo commented on #562
same problem here, want to participate in Elastos Tkoen Sale but the transaction is failed. Someone able to help?

[2018-01-18 13:38] ArkadioG opened #563 "0.1.1 Participate in token sale, cannot choose token"
Neon 0.1.1 after adding ZPT token hash, dropdown not working, cannot select anything.

![image](https://user-images.githubusercontent.com/3029252/35100684-fec934fc-fc5c-11e7-8aa4-1a339b7119fc.png)

ANd dropdown not working:
![image](https://user-images.githubusercontent.com/3029252/35100703-102fbfea-fc5d-11e7-873e-18055c32bdbe.png)

Also no info on main page:
![image](https://user-images.githubuse

[2018-01-18 13:38] GvidoKarlis opened #564 "SAME PROBLEM, NEW PATCH"
I get the "Transaction Failed" message every time I try to send out Gas on Main using 0.0.9. or any other version(0.1.0). I can successfully send Neo, claim my gas, and receive both Neo and Gas. It's only sending Gas that I cannot get successfully. I have tried different amounts, decimals, unplugging/replugging in, reopening the Nano app, unistalling, reinstalling ,etc. I have also tried sending t

[2018-01-18 13:51] numero41 commented on #416
He everyone,

**I have EXACTLY the same issue, but with myEtherWallet/Ledger Nano S**

You can find my post here :
https://github.com/kvhnuke/etherwallet/issues/1528

Do you have any news on this?
Did any of you managed to have an answer from Ledger support?
They don't even answer to me.... Noone seems to care, it's so

[2018-01-18 13:53] numero41 commented on #524
He everyone,

**I have EXACTLY the same issue, but with myEtherWallet/Ledger Nano S**

You can find my post here :
https://github.com/kvhnuke/etherwallet/issues/1528

Do you have any news on this?
Did any of you managed to have an answer from Ledger support?
They don't even answer to me.... Noone seems to care, it's so

[2018-01-18 14:05] prvyo opened #565 "Neon 0.1.0 and 0.1.1 does NOT support signing transaction when in "Participate in token sale""
When logged in using Ledger Nano S.

[2018-01-18 14:09] prvyo commented on #565
![neon](https://user-images.githubusercontent.com/35568172/35101901-82f7d6a8-fc61-11e7-8d00-3bd390d86059.png)

[2018-01-18 14:18] numero41 commented on #416
Same issue here with Ripple :
https://www.reddit.com/r/ledgerwallet/comments/7pwp4h/ledger_ripple_app_changed_receive_address/

[2018-01-18 14:19] numero41 commented on #524
Same issue here with Ripple :
https://www.reddit.com/r/ledgerwallet/comments/7pwp4h/ledger_ripple_app_changed_receive_address/

[2018-01-18 14:20] mfoxgreen opened #566 "on new version 0.1.1 of Neon Wallet (I'm on Mac) it still says there is a newer version available at the bottom"
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2018-01-18 14:49] a8lex commented on #562
I'm also getting the same issue any help would be appreciated

[2018-01-18 14:52] ArkadioG commented on #563
After 1.5 h from ZPT ICO begun, there are finally showing tokens, but it is very unstable, they show up, and in moment the're gone from the list.

When trying to buy tokens (after ZPT showed up) i was able to choose from drop down, but after clicking Purchase there was message, saying that it is wrong scripthash - and that happened because in meantime, Neon "lost" information about tokens.

I thin

[2018-01-18 14:56] mirzap commented on #566
I can confirm that for Mac and Ubuntu.

[2018-01-18 15:16] Walterdbone commented on #565
I encountered the same issue trying to participate in the Zeepin (ZPT) ico.

[2018-01-18 15:25] louloops commented on #561
Same issue observed for me for 0.1.1 on Mac (no blocks, balance all zero with same error message as mentioned in the title)

[2018-01-18 16:04] Walterdbone commented on #565
Reinstalling the NEO ledger app solved the problem for me

[2018-01-18 16:29] brandosaurus commented on #554
Can confirm that this is fixed in 0.1.1. Thanks!

[2018-01-18 16:30] brandosaurus commented on #566
I can confirm in Windows 10 Professional

[2018-01-18 16:50] prvyo commented on #565
for me too

[2018-01-18 17:12] zajebancija commented on #566
I can confirm for Windows 10 x64

[2018-01-18 20:01] neomillion opened #569 "I cannot send DBC out."
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2018-01-18 20:18] MrAmos123 opened #570 "Return Clickable NEO/GAS/BLOCK/VERSION Values"
In previous versions of Neon Wallet you used to be able to click the 'Block' etc and it'd return the page requested. It used to be a really quick way to get the current blocklist.

Can the feature be restored?

Clicking NEO/GAS returns neogas.io (or something else?)
Clicking Block returns neotracker.io/browse/block/1
Clicking Version returns neonwallet.com

https://i.imgur.com/Yf8oJou.png - Refere

[2018-01-18 20:25] Jammmmin commented on #510
Yup, me too. Neon wallet not working. Block displayed on wallet not in sync with blockchain monitor.

[2018-01-18 20:29] numero41 commented on #524
Another thread :
https://www.reddit.com/r/ledgerwallet/comments/7r0qxf/xrp_zero_balance_and_wrong_receive_address_on/

[2018-01-18 20:30] Jammmmin commented on #510
neon wallet API looks out of sync too....is this the problem?

http://api.neonwallet.com/v2/

![image](https://user-images.githubusercontent.com/35394656/35119880-3e498ff6-fc8e-11e7-8767-63f5890cd38d.png)

[2018-01-18 20:40] velo84 opened #571 "Unrecognised app - Windows Defender Smartscreen"
Looks like an issue with the cert.

_Windows protected your PC

Unknown publisher: Windows Defender SmartScreen prevented an unrecognised app from starting. Running this app might put your PC at risk._

[2018-01-18 21:45] numero41 commented on #416
I made a single post on Reddit to try to bring some attention on this issue :
https://www.reddit.com/r/ledgerwallet/comments/7rd798/should_we_be_concerned_about_the_ledger/

[2018-01-18 21:45] numero41 commented on #524
I made a single post on Reddit to try to bring some attention on this issue :
https://www.reddit.com/r/ledgerwallet/comments/7rd798/should_we_be_concerned_about_the_ledger/

[2018-01-18 22:16] Dhackers101 commented on #476
Has this issue been resolved I am having the same issue today

[2018-01-18 22:24] DINESAHN opened #573 "It has been 7 hours, DBC Coins sent from Gate.IO to Kucoin does not show on neo Tracker. Hash provided by Gate.IO to send DBC Coins does show on Neo Tracker but no coins. Also when I search for Transactions using my DBC Wallet address since address for DBC Wallet and QLC Wallet provided by Kucoin is same, Neo Tracker only shows QLC Transactions."
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2018-01-18 23:11] jhepkema commented on #532
Did you make sure you are on the MainNet? (you can change between the MainNet and Testnet in the top right corner when you have unlocked your wallet).

[2018-01-19 00:16] jhepkema opened #574 "Add a Token Sale Status to the wallet"
Would it be possible to have an invisible label for a token that assigns true or false to token sale = open? If so, it might be a good idea to change the token sale participation popup to show finished token sales in red/display a hover message/not show up at all.

Don't know if it is possible, just an idea to prevent people from still trying to participate in token sales that finished last year.

[2018-01-19 00:19] coranos commented on #524
Always try to send from the new address to a wif address (or to my donation address).

I have an idea on how to detect when this error occurs, but it'll be a month or two before I can implement it. The general idea is to send an encrypted public key along with the plain public key and then decrypt it on the client side. It's basically a checksum that can only fail if the encryption fails.

But to

[2018-01-19 02:58] #573 closed

[2018-01-19 02:58] #569 closed

[2018-01-19 03:02] shawnmclean commented on #566
I'm unable to replicate, can you provide a screenshot?

[2018-01-19 03:12] shawnmclean commented on #532
Sometimes the API may be slow or down.

[2018-01-19 03:12] #532 closed

[2018-01-19 05:47] Frogz1 commented on #530
closing issue, issue on my mac with update pending on chrome

[2018-01-19 05:47] #530 closed

[2018-01-19 10:00] stevesbrain commented on #524
@numero41 Some people have had the issues due to malfunctioning USB cables, but beyond that I'm not sure

[2018-01-19 11:32] Jammmmin opened #576 "Neon wallet with Ledger not staying in sync with blockchain"
Neon wallet with Ledger not staying in sync with blockchain - totally unusable.

If I leave the wallet for a few hours, eventually it catches up with the blockchain and I am able to process one single transaction (such as sending Neo or gas to another wallet). I then have to wait for several hours for the wallet to catch up and the new balance to display. If I attempt any other transaction before

[2018-01-19 13:36] numero41 commented on #524
Hi,
Could this issue be related to this from last year??
bitpay/bitcore-lib#97
iancoleman/bip39#58

[2018-01-19 13:38] numero41 commented on #524
Ledger seemed to have updated the bip39 recovery tool (maybe it's related??) :

https://support.ledgerwallet.com/hc/en-us/articles/115005197905-Restoring-your-Ethers-ETH-or-ETC-without-a-Ledger-Nano-S
The github repo : https://github.com/iancoleman/bip39

The last commit is 3 days old, but the html file is older, should I re-compile it to have the latest offline version?

[2018-01-19 14:12] mfoxgreen commented on #566
Nope, working now - mot there anymore.

[2018-01-19 14:15] Surendrain opened #577 "Neon 0.1.1 version (not other versions) quarantined by Mcafee Antivirus and so not able to use as it got disappeared"
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2018-01-19 14:32] OrEagle97327 commented on #524
More places to look?
https://github.com/iancoleman/bip39/issues/58

[2018-01-19 15:02] OrEagle97327 commented on #524
Following the thread above, I notice, through comments, iancoleman is the owner of the bip39 repository.
Is iancoleman available for input here and the other threads listed with similar problems.
___
Can the Bip39 tool, be updated to do "wild card" searches for "passphrase"
i.e. "*.*" - "???jk?M*" - or other combinations.
(novice here, trying to think outside the box)

[2018-01-19 18:27] benno12345 opened #578 "Neon 0.1.0 and Neon 0.1.1 don't show custom tokens"
Hello community,
either wallet version doesn't show balances when I add a custom token via script hash. I tried with ZPT hash and ACAT hash. Only the preset tokens DBC, RPX, RHT and QLC. I am using Ubuntu Linux, but also had the issue on Mac system.
Thank you very much!

[2018-01-19 19:01] OrEagle97327 commented on #524
I saw the below phase that has me wondering if something like this may be causing this Neo problem.
and other post(s) for Ledger issues

I remember running the Ledger apps from Ledger website, until I discovered the shortcut(s) in Chrome apps.

??? - "...potentially had left the Ledger chrome app running background." - ???

[2018-01-19 19:20] raphaotten commented on #537
Same here. Version 0.1.1

[2018-01-19 19:44] MrAmos123 commented on #571
I also get this issue.

[2018-01-19 20:00] numero41 commented on #416
Hello people,

Ledger CTO just answered in my thread on reddit that they are **not aware of our issues**.
I mentionned my ticket Id and @OrEagle97327 one, but if you are aware of others, feel free to answer here :
https://www.reddit.com/r/ledgerwallet/comments/7rd798/should_we_be_concerned_about_the_ledger/dsxls5e/

[2018-01-19 20:08] numero41 commented on #524
For me, I am quite sure that the app WAS running in the background....

[2018-01-19 20:10] numero41 commented on #524
Ledger CTO just answered in my thread on reddit that they are not **aware of our issues**.
I mentionned my ticket Id and @OrEagle97327 one, but if you are aware of others, feel free to answer here :
https://www.reddit.com/r/ledgerwallet/comments/7rd798/should_we_be_concerned_about_the_ledger/dsxls5e/

[2018-01-19 20:11] numero41 commented on #524
If we had a correct contact with the support, we could mention them a lot of details, but since they don't answer, it's very frustrating to try to figure out everything by ourselves :(

[2018-01-19 20:33] numero41 commented on #524
Ok, maybe this app thing is a lead. I saw on several forums and Ledger public forum that when their app didn't show any balance, they were asked to clear their app cache, or even uninstall/reinstall it.

Alexandre's only answer from the support to my ticket was to do so -because they had errors in their API-, and I just answered him that my issue was not related to the chrome app.

BUT that seems

[2018-01-19 20:43] numero41 commented on #524
I posted the idea here on reddit :
https://www.reddit.com/r/ledgerwallet/comments/7rd798/should_we_be_concerned_about_the_ledger/dsxragt/

[2018-01-19 20:44] numero41 commented on #416
Ok, maybe this app thing is a lead. I saw on several forums and Ledger public forum that when their app didn't show any balance, they were asked to clear their app cache, or even uninstall/reinstall it.

Alexandre's only answer from the support to my ticket was to do so -because they had errors in their API-, and I just answered him that my issue was not related to the chrome app.

BUT that seems

[2018-01-19 21:56] benno12345 commented on #578
Hi there,
I manage to integrate the tokens. Had a space in the script hash.

[2018-01-19 21:56] #578 closed

[2018-01-20 00:49] iLemon1 opened #579 "Login using the Ledger Nano S section becomes unresponsive when plugging in device."
All in the title. When I go to 'Login using the Ledger Nano S', then plugin the ledger, the Neon Wallet becomes unresponsive.

[2018-01-20 01:33] Lundborg1 commented on #579
Same problem here. Worked fine around 20:00 (CET +1), stopped working again at around 00:00 (CET +1). Tried reinstalling neon, didn't work.

[2018-01-20 11:25] seaside-crypto commented on #518
Scripthash function has been implemented with NEON 0.1.1. Issue can be closed.

[2018-01-20 11:25] #518 closed

[2018-01-20 14:10] velo84 commented on #571
It's fixed now. Thanks

[2018-01-20 14:10] #571 closed

[2018-01-20 14:31] bethmo245 opened #580 "neon wallet update question"
#where do you download the new version?  I have .0.9  and says warning out of date.  I just downloaded it last week.  go to the link and  does not work.

[2018-01-20 16:58] b3hemoth commented on #511
need access to qlc but still showing zero in neon/nano s... where are my coins? anyone have a fix for this?

[2018-01-20 17:11] FomoINC opened #581 "I updated to Neon wallet 0.1.1 and is using ledger nano s"
I cannot see my nep5 tokens, specifically DBC in the wallet.

It is available at my address if i check it manually but the wallet will not show any tokens.

Anyone have an idea why?

[2018-01-20 17:15] FomoINC commented on #566
can you guys see your tokens on 0.1.1 and macbook and ledger nano s?

[2018-01-20 17:18] rm107 opened #582 "can't see neo assets"
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2018-01-20 17:20] FomoINC commented on #562
is this resolved? can anyone see their tokens? i barely updated today and i can't see my dbc's or any  tokens.

[2018-01-20 17:20] rm107 commented on #581
That is my question as well.  I could see Nep5 coins in the earlier version 0.9.0 but not in the new version

[2018-01-20 17:47] mfoxgreen commented on #566
No.

[2018-01-20 17:50] jayk293 opened #583 "Token balance not appearing in 0.1.1"
After installing 0.1.1, I am unable to view any tokens and their amount.
All I see is the Token and Balance header, but no values.
I can confirm I have DBC using _neotracker_ but is not appearing in the wallet.

![screen shot 2018-01-20 at 17 50 25](https://user-images.githubusercontent.com/12047220/35186340-6caaecc8-fe0a-11e7-914b-ab80b29855f3.png)

Is this a problem for anyone else?

[2018-01-20 17:59] mindlapse commented on #480
+1

[2018-01-20 18:16] FomoINC commented on #583
did you even see the other tickets that were opened? i just asked the same question.  But yes we are all experiencing this.

[2018-01-20 18:28] mindlapse commented on #583
Everything seems good here - I installed the 0.1.1 version on my Mac and was able to see all balances, including my DBC tokens.  I also upgraded to 0.1.1 on Ubuntu and can see all balances there as well.

[2018-01-20 18:28] jayk293 commented on #583
Hi @FomoINC, Just had a look at your ticket. I see that you did ask the same question. Did not consider checking your ticket as the title did not allude to an issue with the tokens not appearing, but just an issue with the wallet and ledger, which is something I do not have an issue with in this update.

I am glad that its not just me with this issue!

[2018-01-20 19:25] FomoINC commented on #583
ok it is resolved now.

[2018-01-20 21:43] jayk293 commented on #583
I can see the tokens now. Closing issue.

[2018-01-20 21:43] #583 closed

[2018-01-20 22:28] gelinger777 opened #585 "NodeList"
Where exactly I need to edit, so that instead of the real chain , your neon-wallet will connect to the private chain nodes we have created ourselves?

[2018-01-21 01:50] cosmic-springs commented on #524
I sent 1 NEO with the intention of buying DBC the coins haven’t arrived in my wallet and the transaction is showing an invocation, I’m sure that means a lot more to you than me. Will I ever see my NEO or DBC coin again and if so, either would be great. Hope you can sort this out for me, I love the innovation and am willing to invest but things such as these make me realise how fragile it all is.
H

[2018-01-21 01:51] cosmic-springs commented on #524
I sent 1 NEO with the intention of buying DBC the coins haven’t arrived in my wallet and the transaction is showing an invocation, I’m sure that means a lot more to you than me. Will I ever see my NEO or DBC coin again and if so, either would be great. Hope you can sort this out for me, I love the innovation and am willing to invest but things such as these make me realise how fragile it all is.
H

[2018-01-21 09:43] Salzburger1970m commented on #428
Hello - I just have the same problem. I cant sed GAS out of my NEO Wallet
Version 0.1.1 connected via Ledger Nano S OS Win10Pro64.
But funny is that i can send the amount of 0.00000016 GAS or 0.00000001 - other amounts i tried dont work! Please help :-)

[2018-01-21 10:42] armanbcoin opened #587 "I just downloaded this wallet and "participated" got screwed"
#Why was this update made and that file added to participate if the ICO COIN SALE had already been over since before this update? why are you stealing like that man? bro cmon please im not rich like that I need my neo back. its only 2 but still man thas more to me than youknow! please someone make this right. please someone help me. man if it were me I would have done the same. but cmon please im