[2018-01-21 10:45] armanbcoin commented on #587
you guys are smart please someone has to know how to help me im begging you!
1 neo went to -
e24772187556f251b1689e463f1a9f3f
cd66b87df0784adc72df77d188064e6d

please im begging you guys

[2018-01-21 11:12] jhepkema commented on #587
Hi @armanbcoin, quick reminder, taken from the readme from this very repository:

Please take your issues up somewhere else. Issues are meant to improve the code, not for support. Like the text above states, if you want support you're better off asking in the #support channel of the CoZ Discord.

That being said, I feel for you and I'm sorry that you lost your NEO. For a next time, please don't sk

[2018-01-21 11:15] jhepkema commented on #580
Please ask support questions like these on [Discord](https://discord.gg/R8v48YA), in the #support channel.

In the sidebar of the official [NEO subreddit](https://reddit.com/r/neo), you can find the latest download link for the NEON wallet.

[2018-01-21 11:17] jhepkema commented on #564
Please ask questions such as these in the #support channel of the [NEO Discord](https://discord.gg/R8v48YA); there are more people available to help you there.

[2018-01-21 11:17] jhepkema commented on #535
This is a duplicate thread; please remove one.

[2018-01-21 11:21] jhepkema commented on #516
Please ask questions such as these in the #support channel of the [NEO Discord](https://discord.gg/R8v48YA); there are more people available to help you there.

Have you tried installing the newer wallet (version 0.1.1)?

[2018-01-21 14:39] cryptoking333 opened #588 "Transaction complete but not sent or received."
Im using version 0.7 i think i tried to claim gas it failed so i tried to send a transaction was failing at first i turned my vpn off and managed to get it to work . I signed transaction on the ledger then it said complete. But since then nothing has happened 3 hours later my balance hasn't gone down and also i sent to the exchange its not showing neither showing on the explorer.

[2018-01-21 17:33] tomocean22 commented on #428
For me, version 0.1.1 fixes the problem. I can now send GAS with the ledger nano

[2018-01-21 19:32] ronaldmannak opened #589 "Unable to send NEP5 tokens using a Ledger Nano S"
Sending NEP5 tokens like TNC consistently produces a Transaction Failed Error when trying to send the tokens to another account. (The tokens have been added to NEON and the balances are visible)

<img width="471" alt="screenshot 2018-01-18 12 18 36" src="https://user-images.githubusercontent.com/455476/35198101-7d62c8ee-fe9e-11e7-8217-248678047a4a.png">

[2018-01-21 20:05] AKHB66 opened #590 "Did I Lose my NEO's by buying QLC in the NEON wallet after the ICO has ended / completed?"
Today I noticed the possibility for buying some altcoins in my NEON Wallet.
So I made the buy transfer on QLC with some NEO's in my wallet.
Well the NEO's have been withdrawed on my balance but no QLC balance appears in the NEON wallet.
I found out the QLC ICO has been completed, could this be the reason I just lost my NEO's?

Can anyone help me to sole this issue please? Does anybody know if I re

[2018-01-21 21:33] harrybenc commented on #521
Hi there

I still did not see TNC in Neon Wallet 0.1.1
Do you plan to add this token?

Tks

[2018-01-21 21:46] chenshak commented on #428
I still have this problem (version 0.1.1).
Tried to send 0.00000001 GAS using my ledger many times and every time got 'transaction failed' message (don't got a message on the ledger to sign transaction).
Also, when clicking the Max button it fills 18 instead of 0.00000001 (although when clicking the Next button then on the next screen it shows the correct value 0.00000001).

[2018-01-21 22:07] ToeJamathon commented on #428
Likewise having this same problem :(

Tried with 0.1.1, 0.1.0 and 0.0.9 (I'd like to try with 0.0.7, but I can't seem to get the downloadable installer from: https://github.com/CityOfZion/neon-wallet/releases - if someone could help me find the installer for 0.0.7 that'd be great!)

Anyway, I've tested with the 3 versions above so far, and of course tried removing/reinstalling the NEO app from my

[2018-01-21 22:21] harrybenc commented on #589
I have the same issue with TNC tokens and I see this message:
"Sending NEP5 tokens requires holding at least 1 drop of GAS"
Please assist

[2018-01-21 22:45] ToeJamathon commented on #564
@GvidoKarlis I'm also having this exact same issue (and have tried all the same stuff you have).

_Any_ help would be much appreciated!

[2018-01-21 22:50] ToeJamathon commented on #517
I'm having this issue also. Neon wallet 0.1.1 + Ledger Nano S. I can send NEO from the wallet, but not GAS. How would I know if my home Internet is blocking the GAS transactions? As soon as I try to send the GAS, it just shows the red error, and doesn't transmit to the Ledger, so it seems like it immediately hits a wall.

[2018-01-21 23:10] rossrans commented on #589
I'm having the same issue with trying to send DBC. Could the city of Zion please update and correct this issue??

[2018-01-21 23:37] harrybenc commented on #589
I have just transfered some GAS to mywallet and it works now (after 2 trials)
I did not get charged for the transaction

[2018-01-22 00:03] comountainclimber commented on #580
@bethmo245 https://github.com/CityOfZion/neon-wallet/releases or neonwallet.com

[2018-01-22 00:53] alien35 opened #591 "After logging in with Ledger, it renders the loading screen endlessly"
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

I am using the latest version 0.1.1 on MAC
Steps to reproduce:
Click 'Login using a Ledger'

[2018-01-22 02:52] #591 closed

[2018-01-22 09:09] bitdom commented on #306
So i downloaded the wallet and sent neo and now it is stuck in the wallet . I tried to send it to an exchange but says transaction failed.....

[2018-01-22 09:10] bitdom commented on #306
My wallet is neon ... not sure what to do ...pretty scared that my coins are stuck

[2018-01-22 09:33] cryptoblack1 opened #593 "[URGENT] Need resolution to transfer NEP-5 coinS from Ledger - Neon wallet to Exchange"
Hello,

Serious issue for Ledger users here. There's no way of transferring Qlink, Deepbrain & Redpulse coins from your Neon wallet - ledger to an exchange. Neo tracker can not be used and essentially there will be many people with trapped funds if the error is not amended.

Can we clarify for everyone what is the amount of GAS needed to be held.

- Transaction failed message after asking to autho

[2018-01-22 11:14] thepauljones commented on #496
I'm having the same issue trying to send trinity, well preparing to, with version 0.1.1

[2018-01-22 12:12] cryptoking333 commented on #466
did anybody solve this i have updated to the new version 0.1 and cant claim gas or send neo just get a transaction failed doesn't even ask me to verify on the Ledger. Yesterday i signed the transaction but money didn't leave 24 hours later nothing is sent

[2018-01-22 12:51] Pmensah12 opened #594 "neon 0.1.1 not showing Token balances"
Hi i have just updated my neon wallet from 0.0.9 to 0.1.1 and now i cant see my DBC, QLC and RPX tokens. Can anyone help give some guidance?

[2018-01-22 13:56] numero41 commented on #524
@OrEagle97327
Did you make a post on Reddit about your issue?
If yes, could you point me to it, if not, would you mind make one, or add a commet on my common post?
Thanks

[2018-01-22 14:26] cosmic-springs commented on #524
Hi.

Thanks for contacting me, I hope you can help, a small problem compared to some but not to me.
I attempted to buy DBC coins with 1 Neo on  19/01/2018, 03:45:24

Transaction hash: c3bd44408ed16eace9851f89f35d30e48a2a372a5f5de746e042636664ea8de8

From wallet address: AU6GkGRt4jeESJnM56mz9uJiwacNMTHjzH

To wallet: AahTMWKL2q2ffJcPGVYoZsRcvcE21hjGaQ

If you could help me out I would be indebted.

[2018-01-22 14:34] OrEagle97327 commented on #524
@numero41  Just posted this to your Reddit post
__
I have felt Ledger needs to have a larger role in the Neon wallet issue. This helps us distinguish a common issue/solution. Hopefully we can work together to find the solutions needed make this industry work smoothly.
___
Thanks for all your input - I have been running out of ideas without you.

[2018-01-22 14:47] numero41 commented on #524
Ok, well our issues seem very identical, and the common thing is the Ledger...
As I said before, for me it seems related to a wrong derivation path set internally in the Ledger.
But we need some feedback from the support!!!
I am very motivated to solve my and your issues, because for me it's a lot of money lol... otherwise I would have give up, I feel so stressed, angry and upset these days...

[2018-01-22 14:54] cosmic-springs commented on #524
Mine is a small problem compared to some.
I attempted to buy DBC coins with 1 Neo on  19/01/2018, 03:45:24
Transaction hash: c3bd44408ed16eace9851f89f35d30e48a2a372a5f5de746e042636664ea8de8
From wallet address: AU6GkGRt4jeESJnM56mz9uJiwacNMTHjzH
To wallet: AahTMWKL2q2ffJcPGVYoZsRcvcE21hjGaQ
Neither arrived
Does Neo have any customer support or have we just been scammed??

[2018-01-22 15:33] OrEagle97327 commented on #524
@numero41  - The painful part of loss is watching exactly how much investment "shuddCuddaWudda"

Seem the issue could be: ..."phantom/hidden" wallets still open, when users think they have moved on.
Hopefully devs will incorporate "close wallet" more aggressively. (HoweverThatCouldBe)

While considering common ground, another issue to consider; ...Where these transactions come from.  My observatio

[2018-01-22 19:48] GvidoKarlis commented on #517
@stevesbrain i just tried, same conclusion

[2018-01-22 20:45] emeric17 commented on #510
Hi, I have the same issue but different token. I m tried many times to send some ETH onto Kucoin. Everything is fine onto the ledger, i m getting to confirm the transaction, then a message saying transaction confirmed. But nothing happens. My ETH balance onto Nano Ledger S stays the same. Tried to send onto Binance, nothing is happening. I downloaded the logs from Nano Ledger, I can see all my fai

[2018-01-22 22:49] stevesbrain commented on #510
@emeric17 Wrong support channel - this is for NEO, not ETH :)

[2018-01-22 23:04] stevesbrain commented on #589
@rossrans They certainly won't be stuck on there forever. At the very worst, you can always use the recovery generator and turn your seed into a WIF that you can use to login.

[2018-01-22 23:43] joeman205 commented on #428
This is such a problem. I am glad to see that other people are having it also.
I can't sent ANY gas from my ledger nano s to anywhere (specifically Binanace).
The new version of NEON wallet did NOT fix this. I have tried EVERY different way to type in a number to send.... PLEASE HELP!
Joe

[2018-01-23 00:57] stevesbrain commented on #428
@joeman205 @cryptoarmeen Do you guys have the same issue with testnet GAS?

[2018-01-23 02:34] Luke1899 commented on #593
Yes . This needs fixed ASAP. Its wrong not to have a functioning wallet that you can send tokens with. People lock in a lot of money with these tokens.....not being able to even transfer them can cost many people lots of money

[2018-01-23 02:37] Luke1899 commented on #589
Wishing this would get fixed too. We were told in Trinty it would be fixed after 1-2 days,..........a week ago

[2018-01-23 02:51] TechniumUnlimited commented on #423
Any update on this

[2018-01-23 05:04] armanbcoin commented on #587
thank you, I emailed tham after that. I appreciate everyones help and
input. I was having a shit day and freaking out over that.

On Sun, Jan 21, 2018 at 5:13 AM, Joris Hepkema <notifications@github.com>
wrote:

[2018-01-23 05:32] cryptoarmeen commented on #428
Yes same isue but with mainet GAS

Verstuurd vanaf mijn iPhone

Op 23 jan. 2018 om 01:57 heeft Steve Divskinsy <notifications@github.com<mailto:notifications@github.com>> het volgende geschreven:

@joeman205<https://github.com/joeman205> @cryptoarmeen<https://github.com/cryptoarmeen> Do you guys have the same issue with testnet GAS?

—
You are receiving this because you were mentioned.
Reply to th

[2018-01-23 06:54] rossrans commented on #589
I’ve found the solution..you have to delete and re-install the actual neo ledger app. So you’re looking for the neo ledger version 1.1 where you add the various coins. Worked like a charm. :)

[2018-01-23 07:01] ronaldmannak commented on #589
Yes, @rossrans' solution seems to work, someone on Telegram suggested the same. Delete and reinstall the Neo app from the Ledger using the Ledger Management software. After reinstalling, I had to disconnect and reconnect my Ledger a few times, but then it worked well.

[2018-01-23 07:01] #589 closed

[2018-01-23 07:35] vicraft18 opened #596 "NEON 0.1.1 testnet won't download new blocks"
![si 76 fjb9ntll0usch xp3](https://user-images.githubusercontent.com/34088375/35263192-c7aeee86-0052-11e8-9bc6-b5b551cf28fb.jpg)

Block stuck at 1045011 for 2 days already while mainnet is doing fine with block updates. Neo GUI had the same problem for testnet and they recently released a fix.

[2018-01-23 08:00] vicraft18 commented on #596
several hours later it finally download the newest block.

[2018-01-23 08:00] #596 closed

[2018-01-23 08:08] Pmensah12 commented on #594
helloo anyone willing to help?

[2018-01-23 08:44] cryptoblack1 opened #597 "[URGENT] Unable to send NEP-5 coins from Ledger - Neon Wallet to Exchange - Update Req"
Hello,

Serious issue for Ledger users here. There's no way of transferring Qlink, Deepbrain & Redpulse coins from your Neon wallet - ledger to an exchange. Neo tracker can not be used and essentially there will be many people with trapped funds if the error is not amended.

Can we clarify for everyone what is the amount of GAS needed to be held.

Transaction failed message after asking to authori

[2018-01-23 09:27] jhepkema commented on #587
Alright, best of luck, hope they get back to you.
Please close the issue so the list gets shorter :)

[2018-01-23 11:52] jonashaefele commented on #594
Same here, on logging in, I get two toasts:

**Success**
Received latest blockchain information.

and:
**Error**
Could not retrieve NEO/GAS balance

Updated from 0.0.7 that used to work great, then stopped showing the balance so I updated to 0.1.0 and then 0.1.1 both still not showing balance...

Where as checking my wallet address on https://neotracker.io still shows my balance just fine.

[2018-01-23 18:51] zenmonster76 commented on #423
Actually yesterday I was able to send 1 NEO from the Neon Wallet to an exchange, so perhaps all is good here now!  Thank you.  

    On Monday, January 22, 2018 9:51 PM, TechniumUnlimited <notifications@github.com> wrote:

 Any update on this—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-01-23 19:19] chenshak commented on #524
@OrEagle97327 Sorry to hear that. Just thinking out loud - is there any chance that just before sending funds to your 1st NEO address, you played with the ledger settings clicking on the 'temporary passphrase' option and entered something (maybe just something simple like 'a' or 'aa' which would result in showing you different addresses till next time your restarted your ledger?

[2018-01-24 03:29] japs1985 opened #598 "neon wallet transaction failed"
Hi, I just downloaded Neon wallet version 0.1.1 in my desktop. I sent my 1 Neo from an exchange to my wallet and every time I claimed my gas I encountered "Transaction failed" error and now I tried sending back the 1 Neo to an exchange but same error persists. Anyone with the same experience? :(

[2018-01-24 12:06] stevesbrain commented on #428
@cryptoarmeen I mean, is this *only* an issue with mainnet, or does it also happen on testnet? :)

[2018-01-24 12:12] cryptoarmeen commented on #428
Mine GAS is only on mainnet i dont have gas on testnet so i cant try :(

Verstuurd vanaf mijn iPhone

Op 24 jan. 2018 om 13:06 heeft Steve Divskinsy <notifications@github.com<mailto:notifications@github.com>> het volgende geschreven:

@cryptoarmeen<https://github.com/cryptoarmeen> I mean, is this only an issue with mainnet, or does it also happen on testnet? :)

—
You are receiving this because yo

[2018-01-24 13:10] mortyblack opened #599 "Can't claim GAS"
Last update haven't fixed problem with claiming GAS.
Transaction failed every time.
I try to uninstall and install app on my Mac, Linux and Windows and on Ledger Nano S.

[2018-01-24 14:52] cryptoinvestor100 opened #600 "Can't install. Image not recognized. Help."
<img width="372" alt="screen shot 2018-01-22 at 16 35 41" src="https://user-images.githubusercontent.com/35771743/35338598-9fcab5d6-011e-11e8-9dfd-4ef9ec66161c.png">

[2018-01-24 15:28] igormcoelho opened #601 "neon saving wallet multiple times (with the same name)"
I just created a wallet using neon, and after clicking "Save" for a second time (by mistake), it created another wallet with the same name (I can't tell the difference from the dropdown menu, but at least both are the same private key). My intention was just to update the information, not to create a second wallet with the same name. Another important point is to show at least a part of the public

[2018-01-24 17:48] tsaiDavid commented on #521
@LolaXIE07 - the "script hash" you included doesn't seem to be valid [correct me if I'm wrong, anyone]. It appears the Trinity contract address is:
`08e8c4400f1af2c20c28e0018f29535eb85d15b6`

https://neotracker.io/contract/08e8c4400f1af2c20c28e0018f29535eb85d15b6

@shawnmclean - I can help with this, would be happy to

[2018-01-24 17:53] tsaiDavid commented on #594
@Pmensah12 @jonashaefele - just for clarity's sake, what operating system?

I seem to get this problem intermittently on my Windows machine - upon hitting the refresh and re-logging in using my Ledger and giving the wallet a minute, it seems to reappear without a hitch.  I don't have any NEP5 tokens at all, so the balances are all 0, FYI.

[2018-01-24 22:17] adrianhara commented on #594
I have the same, 0.1.1 not showing any DBC coins, though they are there if i check on neotracker.

[2018-01-24 22:27] jonashaefele commented on #594
I'm running Mac OS. Tried it both on Sierra and High Sierra.
NEON Wallet versions 0.1.0 and 0.1.1
I updated the wallet to v0.1.1 so I could use the Ledger Hardware Wallet integration.

Got the errors above logging in with a private key (or encrypted key + passphrase) generated by version 0.0.6 of the wallet originally.

It also seems like it's not getting blocks (Blocks in the header doesn't show

[2018-01-24 22:31] joeman205 commented on #510
Same issue with. I can transfer it TO my ledger nano but not FROM my ledger to anywhere else

[2018-01-24 22:41] adrianhara commented on #581
same here, worked in 0.0.9

[2018-01-24 22:42] douglasdeodato commented on #594
got the same issue too, just upgraded to 0.1.1. I am using ledger nano.

in the first try, tokens not showing at all.

second try I turn off and turn on again the wallet and the tokens appeared for few seconds and disappeared and kept doing this for a while.

it is any bug on this version? I think I will downgrade, very disappointed .

[2018-01-24 22:56] adrianhara commented on #594
I got the appearing and then disappearing tokens issue too. They showed up briefly after some logins/logouts then just disapeared.

[2018-01-24 23:07] Gazby commented on #524
please, noob here needing help. i have the 0.0.7 wallet, use it with a nano s ledger and up till acouple days ago could see my balance. now i cant. it says block is 0.
my coins are still intact in the tracker, but what do i do to get my balance showing?

[2018-01-24 23:09] stevesbrain commented on #428
@cryptoarmeen What is your address? I'll send you some testnet gas so you can try :)

[2018-01-24 23:12] stevesbrain commented on #600
Have you verified the checksum is correct? Could be a corrupt download

[2018-01-24 23:20] joeman205 commented on #428
I've only used mainnet on NEON, my balances do not show up on testnet. I am still having the same issue though.

[2018-01-25 03:06] sgehrman opened #602 "Can't login with nano (latest build from dev branch)"
I tried to debug it for you, but the code is a mess.  React is way too complex and convoluted, I would rewrite the whole thing in VueJS or something reasonable.

ACCOUNT request action failed. Error: hexstring2ab expects a string
    at t.hexstring2ab (index.js:1)
    at Object.t.getPublicKeyEncoded (index.js:1)
    at accountActions.js:57
    at runCallEffect (proc.js:513)
    at runEffect (proc.

[2018-01-25 04:01] CHADLEYBCOX13 opened #603 "Cannot see Tokens Again"
Started having problems seeing tokens again

[2018-01-25 04:02] #603 closed

[2018-01-25 04:35] vbokser commented on #594
On my mac NEON clinet 0.1.1 no tokens showing up in the wallet.
they are on the blockchain on https://neotracker.io
sometimes they appear for a second and disappear as mentioned above,

[2018-01-25 11:10] beerphilipp commented on #594
same issue. MAC OS 10.13 + Ledger + NEON 0.1.1. No tokens showing at all

[2018-01-25 11:29] Dano890 commented on #599
I have the same problem. Any resolution? Been like this for 3 weeks now.

[2018-01-25 14:39] WorfTheDog opened #605 "Cannot send NEO or claim GAS with v 0.1.1. Tried both Ledger Nano S and a saved wallet."
When using the Ledger Nano S, it says Transaction Failed after I try to sign the first trx.

When using a separate saved wallet, it immediately says Transaction Failed.

I have uninstalled and reinstalled the NEO app on my ledger nano s.

Using Mac 10.11.6

[2018-01-25 15:08] OrEagle97327 commented on #524
@Gazby Hopefully someone here can help.  This is why I set up this thread. I am kind of a newbee myself.
My Neo is still unavailable for the time being, and possibly forever.

May I suggest you try to take notes, on every step you have done so we can try to replicate "what went wrong" so the devs here can help.

Your issue has a variation than mine, and others I have conferred with.
Have you been

[2018-01-25 19:32] lu84 commented on #605
I have the same problem. Using a MAC and a ledger nano S

[2018-01-25 23:14] superenart commented on #605
I have same problem on windows 10 (same with last 3 patches) / can't claim gas or send neo tokens

[2018-01-25 23:39] ruthvik23 commented on #605
Same exact issue - cannot claim Gas or send Neo from Ledger Nano S.

This is an incredibly scary issue and needs to get a response pretty quickly as I cannot access my funds at all.

[2018-01-26 01:29] zaryk commented on #417
getting this as well.  cursor changes while hover over areas indicating the input fields are there.

![image](https://user-images.githubusercontent.com/593015/35420948-57a8bfaa-020e-11e8-81ef-b88c2fbfae21.png)

[2018-01-26 03:40] lu84 commented on #594
#depose28 same problems same tools

[2018-01-26 06:55] Gazby commented on #524
@OrEagle97327 Thanks so much. update:, i later tried again and my coins showed up. So very thankful because thats the bulk of my portfolio right now....twas a right scare.
BUUUT now im sooo wary  of upgrading to a new version....i started with 0.07 and ledger s.
Ideas on how to upgrade without  losing wallet i what im looking for now

[2018-01-26 09:59] Harsh87Shah commented on #480
Same issue +1. I hope respected team is working on the fix.

[2018-01-26 11:52] cryptoinvestor100 commented on #600
Do you have a link to a proper download?

[2018-01-26 13:54] numero41 commented on #524
@chenshak @OrEagle97327
Somebody solved his problem (xrp wallet) with this, but for myself I never touched this option...

And the issue would appear ONLY if you reset your Ledger in between, right?
I tried a reset/restore of the device, but it wasn't working already before that.

[2018-01-26 14:12] OrEagle97327 commented on #524
@numero41 Your last post did not include a link.
I am not sure what xrp wallet solution was.

[2018-01-26 14:19] numero41 commented on #524
@OrEagle97327

He answered my post on reddit.
When he first used the Ledger, he set up a passphrase.
Then reset the Ledger, and forgot to set the passphrase again.
He reconnected his Ledger again > that lead to the same issue as us which is different public address.

And yesterday, he remembered that at the first setup he added a passphrase.
He entered it again, and found his first address.

He ex

[2018-01-26 14:25] OrEagle97327 commented on #524
I did "NOT" set up a pass phrase, unless by accident.

That is why I am wondering if Bip-39 can wildcard for passphrase.

[2018-01-26 14:35] numero41 commented on #524
I don't understand why users are left alone with no advices, here, on mew, or on Ledger support...
Nobody seems to care...

Did you see on my Mew ticket, I found an interesting file in my recovery data named "ledger-ethereum-chrome-logs-1515971263779.logs".

In this file I can see transactions listed at the same time I did my withdrawals, on the 14th of january.
Except that I wasn't doing any tran

[2018-01-26 20:03] cryptoblack1 opened #608 "Does Neon wallet team even listen?"
Genuine question lots of people unable to move alt nep 5 tokens from ledger wallet due to errors. When will this be resolved?

[2018-01-26 21:41] PMSNeofan opened #609 "I have 0.0.8 version of the Neo Wallet on Ledger and I would like to update it but don't know how to do it. Can you please help me? I have not been able to in spite of various attempts. Thanx in advance."
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2018-01-26 22:30] wchance opened #610 "Participate in Toke Sale"
I was able to click on participate in a token sale and actually sent 1 NEO to RHT.   RHT refunded the NEO.   They said they have no ICO Presale going on and that this option should not be available.

[2018-01-26 22:35] numero41 commented on #524
@OrEagle97327
Do you know if the other ones still have the issue? They don't seem very active... Maybe they didn't lose anything?

108 Neo is worth $15000 now...
I hate to see the account where my tokens are, maybe in 6 months it'll be worth $100k...

[2018-01-27 00:28] OrEagle97327 commented on #524
Others still have the issue, as well as me. Still hopping for the solution.

There are two that have more tied up than me.

I will donate my Neo to someone who solves this for all.

[2018-01-27 00:53] coranos commented on #524
So I have a solution in the works that should prevent this from happening in the future, but it's going to take a month or so to implement.

Nobody has done it before, so it's not something I can just plug in.

Here's the solution:
Sign the public key, and check the signature on the client side before using it.
It should be cryptographically impossible for the public key to be signed by the privat

[2018-01-27 04:23] haklhl commented on #453
@jonasrocket
I have a same issue, please help
https://snowypowers.github.io/ansy/   why this tool can't accept encrypted key？

[2018-01-27 05:12] haklhl commented on #453
I'm already solve this problem，by export&import wallet file(exchange encrypt key),     hahahaha....

[2018-01-27 06:18] stevesbrain commented on #600
@cryptoinvestor100 The official link is the proper one; just try redownloading it. It may have corrupted during the download process.

[2018-01-27 06:59] Marto15 commented on #510
Any way around this peeps? Quite fristrating

[2018-01-27 08:42] mforce commented on #593
@cryptoblack1, @Luke1899 Try updating the app on your Ledger Nano S, I was having the same issues. What I did is uninstall the App on the Nano S and install it back again. After that it started working again.

[2018-01-27 09:50] fartnipplegiblets commented on #600
I'm having the same issue as cryptoinvestor100 and I have tried downloading the dmg file many times

[2018-01-27 09:54] stevesbrain commented on #600
@fartnipplegiblets Did you verify the checksum? @cryptoinvestor100 never confirmed if he did or not.

[2018-01-27 10:01] fartnipplegiblets commented on #600
Hello. Thanks for getting back to me! I don’t know how to verify the checksum. I’ve never needed to do anything this technical before when opening a dmg file.

Jon Beinart  |  Gallery Director

Beinart Gallery <http://beinart.org/>

Melbourne, Australia  |  P +61 438 568 762 <tel:%2B61%20438%20568%20762>  |  E jon@beinart.org <mailto:jon@beinart.org>

Facebook <https://www.facebook.com/beinArtGall

[2018-01-27 10:03] fartnipplegiblets commented on #600
Hello. Thanks for getting back to me! I don’t know how to verify the checksum. I’ve never needed to do anything this technical before when opening a dmg file.

[2018-01-27 10:05] stevesbrain commented on #600
@fartnipplegiblets Are you at all familiar with the terminal? You'll need to open the terminal, then type the following:

[code]

You are hoping for it to say:

`814200bfe0523a387f89a71b27716b4f023359ff61053d824d46ba234919e036`

Let me know if you get stuck!

[2018-01-27 10:11] Marto15 commented on #510
Yeh trying to send RPX too exchange for desperate ethereal transfers, need some money for ico, if this could be rectified asap that'd be fantastic

[2018-01-27 10:12] fartnipplegiblets commented on #600
Thanks for that! I opened Terminal and followed the instrucitons and got this:

SHA256(Neon-0.1.1.Mac.dmg)= 77ee0d5863697405ff4c17ed38196b3eeb2ea7020779df986699abca12a14f5d

[2018-01-27 10:17] stevesbrain commented on #600
@fartnipplegiblets I can confirm that means the file did not download correctly. I've just downloaded the same file, and verified that the correct checksum was there for me.

This can happen for many different reasons - however, I suggest redownloading the file, and verify the checksum again - if it matches the one I'm posted, the file will work! If you need me to host a copy elsewhere, I can do t

[2018-01-27 10:30] fartnipplegiblets commented on #600
I've tried downloading it multiple times and this issue keeps recurring. I just tried another couple of times and checked it out on terminal and I'm still not getting the correct checksum. It would be greatly appreciated if you could host a copy for me to download. Thanks!

[2018-01-27 10:42] stevesbrain commented on #600
@fartnipplegiblets No worries - just uploading now! Will send you another message when ready.

[2018-01-27 10:47] stevesbrain commented on #600
@fartnipplegiblets I've uploaded it now - the link is:

https://f001.backblazeb2.com/file/public-downloads/neon-wallet/Neon-0.1.1.Mac.dmg

If this *still* doesn't work, let me know and I can upload it to my personal website. However, I'd prefer to use this to maintain some privacy if possible :)

[2018-01-27 11:55] stevesbrain commented on #600
@fartnipplegiblets Glad it worked! I haven't heard actually, but I do see that is the case. Hopefully they fix it up soon!

[2018-01-27 12:02] fartnipplegiblets commented on #600
I hope so too! I can't find any information about this suspension anywhere. Very strange!

[2018-01-27 12:03] stevesbrain commented on #600
Maybe worth sending them a support request, or tweet or something?

[2018-01-27 12:06] fartnipplegiblets commented on #600
I already sent them a support request. Fingers crossed!

[2018-01-27 15:13] jonnyfreesh commented on #608
yep me too. token balances dont display, NEO balance outdated, can't claim gas. apex token sale coming up in a couple days too. perfect timing right

[2018-01-27 18:13] nabilove commented on #610
I can't see my balance on windows 0.11 wallet can you! Wallet not syncing

[2018-01-27 18:23] nabilove commented on #608
I can't even see my balance  no block either ,wath about you guys

[2018-01-27 22:30] transformationlabs commented on #608
Do you have the latest firmware app within ledger: 1.1.1?
You need gas to send NEP-5 tokens.

[2018-01-27 22:52] nabilove commented on #594
Anybody found a fix I'm using windows 0.11 wallet no ledger getting same errors

[2018-01-28 02:16] jonnyfreesh commented on #608
Mine is working now. I'm not 100% if i have the latest ledger app version, how can I tell? And if I need to update that, I need to delete the ledger app and then re-install the new one right? Just to confirm (apologies if this is dumb), that won't delete the neo address on my ledger right?

[2018-01-28 03:55] twomilrichie opened #612 "neo gas"
Can't claim gas in neo wallet keep receiving error message "transaction failed" is anyone else having the same problem as I believe from previous posts this has been a ongoing issue
Could anyone please offer some assistance?
Thanks Twomilrichie

[2018-01-28 07:30] Marto15 opened #613 "hey! Sending Nep 5 tokens is non-existant with the ledger nano s, Any way of getting to the exchange? transaction keeps failing"
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2018-01-28 10:58] ohlastijn opened #614 "Installed NEON 0.1.1 - issue Block NaN"
Hi, I just installed the Neon Wallet and I'm able to connect it to the Ledger Nano. I've sent as a test 1 NEO from another wallet to my new wallet address. So far so good, but I'm not able to receive this Neo to my new wallet, the balance is still 0, **Block: NaN**. Fortunately I've verified my new public address on Neotracker and there I see my Neo - transactions 1: transfers: 0. (i'm using Windo

[2018-01-28 12:55] Ardakilic opened #615 "Windows Portable Edition (Feature Request)"
Hello,

I'm keeping my offline wallets in an encrypted flash drive, and use them regularly on more than one computers. So I'd appreciate if there could be a Windows portable edition (something like Electrum has), so I won't have to install on every machine I use.

I tried extracting app-amd64.rar from setup.exe, but I wonder if that'll work as portable.

I'd appreciate if this could be considered.

[2018-01-28 16:50] wchance commented on #610
I can see my NEO and GAS balance fine.

[2018-01-28 18:22] OrEagle97327 commented on #523
Is your Neo Issue solved?
Did you open a support ticket with Ledger?
Are you one of the people Caronas has on his support list?
Ledger has been in touch with my support ticket and I am making sure everyone involved knows.

[2018-01-28 18:37] Evgeny1986 commented on #523
OrEagle97327
Hello!
My problem is not solved. With no one contacted me. Maybe tech support knows about my problem.

[2018-01-28 18:45] Evgeny1986 commented on #523
Hello!
No my problem is not solved. With no one contacted me. May be my problem I do not know. I find it very difficult to navigate here as I badly know English.

"Did you open a support ticket with Ledger?"
And how to do it?

[2018-01-28 18:47] OrEagle97327 commented on #523
Do you have any contact with @coranos on this?

I opened a Ledger support ticket a month ago.  They are in touch with me today. I am getting all together in my response.

[2018-01-28 18:47] Evgeny1986 commented on #523
Hello!
No my problem is not solved. With no one contacted me. May be my problem I do not know. I find it very difficult to navigate here as I badly know English.
"Did you open a support ticket with Ledger?"
And how to do it?

[2018-01-28 18:57] Evgeny1986 commented on #523
OrEagle97327
I have no contact with @coranos.
He stands alone to write?

[2018-01-28 18:57] Evgeny1986 commented on #523
I have no contact with @coranos.
He stands alone to write?

[2018-01-28 19:01] coranos commented on #523
This isn't a ledger problem. I'd appreciate if you didn't tag me with every problem.

In this case his coins were transferred out of his account. So it's clearly not a ledger app problem, as the ledger app problem prevents transferring at all.

[2018-01-28 19:05] OrEagle97327 commented on #524
@lostis4d Did you ever solve your Neo issue?

[2018-01-28 19:08] Evgeny1986 commented on #523
It turns out that my wallet as been hacked because I coins never been transferred. And who do I contact if there is a theft?

[2018-01-28 19:08] coranos commented on #523
for theft, you contact the police.

[2018-01-28 19:11] Evgeny1986 commented on #523
It turns out that Neon wallet does not guarantee the safety of the coins?

[2018-01-28 19:13] coranos commented on #523
You may want to look at the license agreement.

https://raw.githubusercontent.com/CityOfZion/neon-wallet/dev/LICENSE.md

[2018-01-28 19:14] SeverMM commented on #594
Hi guys, posting to bump this, tokens no longer show up. They did so, sporadically at first, and now they won't show up at all. I'm not worried that they're not there, I can see them in the address just fine at NeoTracker, but NEON is currently unusable for tokens.

Keep up the good job guys, I trust you will address this critical issue soon.

[2018-01-28 19:18] Evgeny1986 commented on #523
I am disappointed in crypto. I thought cryptocurrency reliable if they get stolen, you can trace their journey and return.

[2018-01-28 19:23] coranos commented on #523
That's why you call the police.

[2018-01-28 19:23] forexpiphunter commented on #594
Same issue here,  they show up for few minutes and disappear.  I do see my tokens on blockchain address.  I transferred only small amount to test.  I hope they don't get lost...

[2018-01-28 20:45] jerrechen opened #616 "NEON Wallet Laptop Crash"
Hi, please help me out here. A few days ago, I had my laptop crashed on me and I had 22 NEO in my NEON Wallet. I did not save my private keys (my stupid fault, I know) I took out my harddrive but I could not find anything that resembles a private key I could use. I was accessing through Saved Wallet. I still know my Pass Phrase. If I repair my faulty computer, any chance I can open up NEON Wallet

[2018-01-28 23:59] Midnite1004 commented on #594
I am having the same problem. All tokens in Neon (via ledger) gone. Come on guys please resolve this issue. I have two ledger wallets and neon tokens are not visible in either.

[2018-01-29 02:23] rflight23 opened #617 "Token and Balances not showing up"
In the screenshot below, you can see that there are five tokens listed in the Manage Token field:
![screen shot 2018-01-29 at 10 18 19 am](https://user-images.githubusercontent.com/4447366/35490902-c923b820-04dd-11e8-83ca-eb63ac35423e.png)

However, when I log into my wallet, you can see that each coin is not listed nor is their respective balances - see below:
![screen shot 2018-01-29 at 10 18 06

[2018-01-29 03:27] danielalgra commented on #612
I have the same issue, I can't send to my Neon Wallet it states "Invalid address"
I cant pull out Neo or Gas from my wallet either, it states "Transaction Failed"

Please resolve issue.

[2018-01-29 03:35] willwynne76 commented on #594
I had the same issue starting last night with the version 0.1.1 Neon wallet.
Last night I noticed I had success switching to testnet and back, but even that was sporadic.
Its a bug boys, please kindly fix it.

[2018-01-29 03:48] willwynne76 commented on #594
Im having the same experience as you today.

Sent via the Samsung Galaxy S8+, an AT&T 4G LTE smartphone

-------- Original message --------
From: Datapotomus <notifications@github.com>
Date: 1/28/18 10:35 PM (GMT-05:00)
To: CityOfZion/neon-wallet <neon-wallet@noreply.github.com>
Cc: willwynne76 <willwynne@msn.com>, Comment <comment@noreply.github.com>
Subject: Re: [CityOfZion/neon-wallet] neon 0.1

[2018-01-29 04:25] BIMEnergy1978 commented on #617
I have the same problem, all my nep-5 tokens are not showing....... please advise..... need to withdraw to particepate in ICO

[2018-01-29 04:55] hvredevoort commented on #617
I see same issue this morning using Ledger Nano S and NEON 0.1.1 and before I added the TKY hash. Adding TKY hash did nothing for me either.

[2018-01-29 04:59] Couch7 commented on #594
I am having the same issue using windows 10 an a laptop. I sent a small amount of TNC tokens, to my NEON wallet, and nothing is showing. Prior to the update I could see zero balances for 4 other tokens, now those other tokens don't even show.

[2018-01-29 05:37] saltyskip opened #618 "Let Users Specify Node not only network"
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

For a variety of reasons nodes may be selected as a best node, but are still non responsive.

[2018-01-29 05:38] thepauljones commented on #617
Same here @BIMEnergy1978, this is a real shame.

[2018-01-29 06:08] superclarkan commented on #594
Same issue - I'm on MacOS and no token balances show up at all.  See attached screenshot
<img width="367" alt="screen shot 2018-01-28 at 10 04 51 pm" src="https://user-images.githubusercontent.com/3200348/35495821-bdb4fba4-0477-11e8-8b66-e476167439fb.png">

[2018-01-29 06:23] Evgeny1986 commented on #523
I think it will not help. The case will lead. But such cases in Russia, I think seriously will not be engaged.

--
DD Gjgjd

[2018-01-29 06:43] sp3 commented on #594
Same here - no tokens are rendered
<img width="239" alt="screenshot 2018-01-29 07 42 03" src="https://user-images.githubusercontent.com/391108/35496854-09f1c4e8-04c8-11e8-8634-f7f024b6e959.png">
MacOS 10.13.2 neon 0.1.1 :(

[2018-01-29 10:20] atcolombian commented on #617
I have the same issue, any update on this?

[2018-01-29 10:24] sandeeppoonia commented on #529
I am also having the same issue. Tried 0.0.9, 0.1.0 and 0.1.1 wallet. Please help.

[2018-01-29 10:31] Birkii commented on #529
try using the recovery site to get the WIF, and using the WIF to send the funds out.

https://coranos.github.io/neo/ledger-nano-s/recovery/

^ I used this link(OFFLINE) to get the wif... the i used the neotracker.io wallet to move my funds.

Make sure your not connected to the internet when you put your passphrase in to get your WIF.

[2018-01-29 11:05] iTarjei commented on #617
Same for ZPT. Tried 06, 07, 1.0, 1,1, mac, added ac116d4b8d4ca55e6b6d4ecce2192039b51cccc5,
ZPT is on neotracker, but not in neon.

[2018-01-29 11:58] ypascal commented on #598
Same here. All worked well, suddenly the program indicated "Transaction failed" after a gas claim and refused every subsequent action. I restarted, loaded from a WIF key, reinstalled the neon wallet... nothing to do. Ended up using neotracker.

[2018-01-29 12:18] wokem commented on #612
Having the same problem! Would love to get some help or comments on this... pretty lame. I can't transfer out any neo either.

[2018-01-29 12:55] Jodymcl commented on #594
Same issue here on Windows 10 PC.  Initially tokens were not appearing in neon 0.1.0 so updated to 0.1.1 but still not success.  Pls help in fixing this
Kind regards

[2018-01-29 12:57] Pmensah12 commented on #594
If this helps...mine now show every so often I think s long as they're in
the blockchain even if they're not displayed they're still there so you can
view them on neo tracker

On 29 Jan 2018 12:55 pm, "Jody" <notifications@github.com> wrote:

[2018-01-29 13:01] Jodymcl commented on #594
Thanks,  yes certainly still there and could check on https://neotracker.io  Looking to move some soon

[2018-01-29 13:12] alexgolfy commented on #617
same problem here..and the NEO & GAS balances are not updating to reflect the transactions..however, I can see the transaction on the NEON Tracker

[2018-01-29 13:17] hadv commented on #617
Cannot show the token and cannot claim GAS either :(

[2018-01-29 13:35] DrRedShift commented on #617
Yep, same issue here, nothing showing up, transaction verified.

[2018-01-29 13:41] hadv commented on #617
it seems that it stuck on the `1867982` block; latest block at the time of this post is `1,868,526`

[2018-01-29 13:44] alexgolfy commented on #617
Indeed

[2018-01-29 13:46] RenchChua commented on #612
Facing this issue too. I can't claim any GAS. Though I've been able to send some GAS out to Binance.

[2018-01-29 13:51] wokem commented on #612
Could you send any neo out too? I can’t send neo either. Haven’t tried sending gas. Pretty frustrating.

[2018-01-29 14:22] pacm92 commented on #617
Same problem. Still have a 0$ balance… and transaction verified on neoscan ?

[2018-01-29 14:44] hugoryder commented on #576
i'm having the same problem, but today I cant even claim gas without and error. I have balance on the blockchain but completely different on the neon wallet? Is this a general problem?

[2018-01-29 14:45] hugoryder commented on #617
same problem

[2018-01-29 14:45] ZedsterX commented on #599
Add another to the list. Is anyone looking at this?

[2018-01-29 14:46] hugoryder commented on #605
same issue, what do we do?

[2018-01-29 14:46] ZedsterX commented on #605
So we are not enough people complaining about this yet?

[2018-01-29 14:46] douglasdeodato commented on #594
are the developers aware of this issue? looks critical. it is already opened for 7 days, someone could ping them here? thanks.

[2018-01-29 14:50] hugoryder commented on #617
yes as hadv says its stuck on 1,867,982 block on my wallet too

[2018-01-29 14:52] Pmensah12 commented on #594
Ive tried but no response :-(

On Mon, Jan 29, 2018 at 2:46 PM, douglas deodato <notifications@github.com>
wrote:

[2018-01-29 15:03] sbglive commented on #508
Any news on this topic ? I am still having the issue after the update. It is quite annoying such a bug on a dedicated NEO wallet ... for more than 20 days.

[2018-01-29 15:04] sbglive commented on #617
Same here. Feels like the team is not in a rush to reply - a similar issue was opened on this topic 20 days ago.

[2018-01-29 15:05] sbglive commented on #608
Is there anybody from NEON team able to reply to all these opened topics about missing funds ?

[2018-01-29 15:06] christhorp commented on #598
Same here!

[2018-01-29 15:16] hadv commented on #617
I'm using neon with ledger nano s then now cannot export private key to use on another wallet on neo tracker 😢

[2018-01-29 15:20] hugoryder commented on #617
is there another neo app that could be used with the ledger s
ive got the same problem

[2018-01-29 15:22] hadv commented on #617
I still cannot find any neo wallet can be used with ledger nano s :(

[2018-01-29 15:31] jayvidgold opened #619 "Neon wallet 0.1.1 does not shown any tokens"
Hi,

Yesterday, I installed the latest and greatest version of the wallet and also added one custom token. Till yesterday it was visible though time to time the whole list used to vanish but today I don't see any tokens.

Help required at the earliest.

[2018-01-29 15:31] curatedcryptocurrencynews commented on #524
I just lost two (2) NEO...

https://github.com/neo-project/neo/issues/158

Hello,

I sent two (2) NEO from Binance to my Ledger Nano S wallet, however after approximately an hour, my balance is still not reflected on my NEO Ledger Nano S. When i check the scan, it shows that it was successfully sent and Binance shows a "successful" confirmation on their end as well.

Txid: e1aa2ceaabcd774d60fe2e65

[2018-01-29 15:32] rflight23 commented on #617
The weird thing is once in a while when I check NEON, the other token names
and their respective balances will appear, but they disappear shortly after
(usually within 10 seconds or so)

On Jan 29, 2018 23:22, "Tony Dang" <notifications@github.com> wrote:

[2018-01-29 15:32] esheds commented on #510
same here....cant transfer of claim gas....

[2018-01-29 15:40] d4designstudios commented on #529
I am currently having the same issue trying to claim gas.

[2018-01-29 15:48] livesloridefast commented on #619
I think it is failing to update. I transferred in tokens today, but the wallet shows yesterday's total.
online wallet / Neotracker.io show correct value. v0.1.1

[2018-01-29 15:53] d4designstudios commented on #612
Same problem here "Transaction failed"...  trying to claim gas.

[2018-01-29 16:02] curatedcryptocurrencynews commented on #617
same issue:

https://github.com/neo-project/neo/issues/158

retweet this tweet as well!!
twitter: https://twitter.com/curatedcoinnews/status/958002771977912321

[2018-01-29 16:04] arnaudds88 commented on #594
same here, mac , ledger and latest neon and nothing .... :(

[2018-01-29 16:06] jayvidgold commented on #619
I don't see any tokens, with old version at least it used to show me, NEO, QLC and RPX with 0 tokens, which was correct. in fact, I added tokens day before yesterday and now I don't see any tokens.

[2018-01-29 16:15] Baxeisindi commented on #594
I installed it yesterday and now not showing token :-(  What are the real alternatives before us ?
https://coinsutra.com/best-neo-wallets/

[2018-01-29 16:17] AndyReach commented on #529
I am having also the same issue since a few hours with Claiming GAS. Before this I had never issues claiming GAS. Using NEON Wallet version 0.1.1. Any help appreciated.

[2018-01-29 16:23] livesloridefast commented on #619
my wallet GAS is up to date but Claiming GAS now causes an error.
definitely something awry.

[2018-01-29 16:25] esheds opened #620 "Problem with Ledger Nano S & NEON Wallet"
Hi guys, since this morning I cant withdraw, deposit or claim gas using my NEON wallet and my Ledger Nano S. When I'm asked to confirm a transaction (clicking both buttons in the Ledger Nano S) I get a failed msg in the wallet. What's going on? can someone help?

[2018-01-29 16:26] pacm92 commented on #617
it's stuck in block 1.868.181… I've checked the public address, it's the same on Neoscan VS Neon wallet ?? Maybe just a kind of Neon Wallet "refresh" bug ?

[2018-01-29 16:26] esheds commented on #599
same problem here

[2018-01-29 16:29] esheds commented on #617
same problem here

[2018-01-29 16:32] curatedcryptocurrencynews commented on #619
I just started experiencing the same issue. Here are two posts touching on this topic:

1) https://github.com/neo-project/neo/issues/158
2)  https://github.com/kvhnuke/etherwallet/issues/1528

[2018-01-29 16:34] ggaabe commented on #529
Having the same issue. Gas shows up on neotracker but show up unclaimed on the 0.1.1 wallet, and then transaction fails when claim is attempted.

[2018-01-29 16:34] curatedcryptocurrencynews commented on #620
I've been experiencing the same issue today

https://github.com/neo-project/neo/issues/158

Twitter: https://twitter.com/curatedcoinnews/status/958002771977912321

[2018-01-29 16:38] curatedcryptocurrencynews opened #621 "NEO / Token Balance(s) missing or showing $0? -- Ledger Nano S Wallet NOT reflecting correct balance & GAS claim "error" received"
I sent two (2) NEO from Binance to my Ledger Nano S wallet, however after approximately an hour, my balance is still not reflected on my NEO Ledger Nano S. When i check the scan, it shows that it was successfully sent and Binance shows a "successful" confirmation on their end as well.

Txid: e1aa2ceaabcd774d60fe2e65938f950a315d1c18ca7a04dad986aa9fbbf17f6d
Link: https://neoscan.io/transaction/e1aa2

[2018-01-29 16:41] curatedcryptocurrencynews commented on #614
Same issue: https://github.com/CityOfZion/neon-wallet/issues/621

[2018-01-29 16:46] vladesca91 opened #622 "NEO unspent after 8 hours with NEON 1.1"
Hi, I sent today 5 NEO from one adress of my neon wallet to my ledger s adress with neon wallet. After 6 hours I can see the balance on neoscan but the tx is still unspent and not generating gas. What should I do?

[2018-01-29 16:47] nazimbeyy commented on #621
Again almost same as i sent 1 neo and blockchain shows its done but 0 neo on my neon wallet

[2018-01-29 16:47] curatedcryptocurrencynews commented on #622
There is a current issue with the wallet showing balances, claiming gas, etc..

See here: https://github.com/CityOfZion/neon-wallet/issues/621

[2018-01-29 16:48] nazimbeyy opened #623 "Neon wallet 0 balance"
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2018-01-29 16:49] issie81 commented on #619
My balance is totally blank nothing there, going to Neotracker i can see i have the tokens, something very wrong with 0.1.1 and alot of users are experiencing this

[2018-01-29 16:51] curatedcryptocurrencynews commented on #623
Same issue: https://github.com/CityOfZion/neon-wallet/issues/621

[2018-01-29 16:57] quangate commented on #529
i am having same issue here using Using NEON Wallet version 0.1.1. cannot claim gas nor can withdraw neo out of wallet to exchanges or different wallet . it just says transaction fails you do anything .help appreciated

[2018-01-29 16:57] curatedcryptocurrencynews commented on #621
I just refreshed my ledger nano wallet and now my block has rolled to 1,868,110.

Originally stuck on: 1,867,982
Now stuck on: 1,868,110

[2018-01-29 16:59] curatedcryptocurrencynews commented on #621
Originally stuck on: 1,867,982
Second refresh stuck on: 1,868,110

Now on block 1,868,173

[2018-01-29 17:05] przemas466 commented on #529
Hi  we are more and more I have the same problem  with NEON Wallet version 0.1.1. cannot  send  neo and claim gas _ transaction failed do sombody know allready answer what going on?

[2018-01-29 17:14] AndyReach commented on #529
Lots of users have the same issue today https://www.reddit.com/r/NEO/comments/6tl7ej/support_wallet_questions_neoneonweb_hardware/

[2018-01-29 17:17] Liurik commented on #529
i have the same problem using NEON Wallet version 0.1.1

[2018-01-29 17:26] jcrXO commented on #599
same problem here.

[2018-01-29 17:27] jcrXO commented on #612
Same problem here. Can't claim gas either.

[2018-01-29 17:32] curatedcryptocurrencynews commented on #621
FIXED!!!! Showing up now! :-)

[2018-01-29 17:32] curatedcryptocurrencynews commented on #623
Fixed now?

[2018-01-29 17:35] vinny76 commented on #508
on Mac I found I hadn't ejected the new dmg loader,when  I ejected the loader my DBC Tokens showed up

[2018-01-29 17:38] pacm92 commented on #617
Fixed ! It just appeared on Neon, so I've sent it back straight away to Binance

[2018-01-29 17:41] royale44 opened #624 "problem claiming gas, sending/receiving neo, sending/receiving RPX"
I'm using the Neon wallet 0.1.1 and when I try to claim gas or send neo, it comes back as transaction failed.. anyone else having this problem? it is currently 1/30/2018 @ 2:38am KST.

[2018-01-29 17:46] curatedcryptocurrencynews commented on #624
same issue: https://github.com/CityOfZion/neon-wallet/issues/621

[2018-01-29 17:52] mikel2005 commented on #605
I can see my transaction on the blockchain but not in my wallet please advise.

[2018-01-29 18:00] AndyReach commented on #529
Hi guys the issue has been solved by Developers I now can claim again GAS and sending out NEO from NEON Wallet with my Ledger Nano S. Thanks guys

[2018-01-29 18:02] curatedcryptocurrencynews commented on #624
I am now also able to claim GAS. Issue seems to be fully resolved for me.

[2018-01-29 18:04] Liurik commented on #529
ok now)))

[2018-01-29 19:20] nazimbeyy commented on #621
Fixed in the end =)

[2018-01-29 19:20] nazimbeyy commented on #623
Fixed in the end =)

[2018-01-29 20:25] OrEagle97327 commented on #524
@coranos @numero41
I finally checked my MEW.
All is well

[2018-01-29 21:19] nabilove commented on #623
nazimbeyy  wath di you do to fix issue please

[2018-01-29 21:35] jagjjb commented on #524
This is a shit company. My Nano S malfunctioned and over 2 weeks later this shit company has not responded. Do not trust them.

[2018-01-29 21:39] coranos commented on #524
Which company? Also you realize this is github, for defect tracking, not your own personal Facebook page.

[2018-01-29 21:45] numero41 commented on #524
A few more links referring to similar behaviors :

https://www.reddit.com/r/Wavesplatform/comments/7qpjkv/same_seed_different_wallet_address/
https://ethereum.stackexchange.com/questions/35062/myetherwallet-is-giving-me-another-address
https://github.com/kvhnuke/etherwallet/issues/573
https://github.com/kvhnuke/etherwallet/issues/360

[2018-01-29 21:46] jagjjb commented on #524
My mistake then and my apology. Clicked the link from Nano Ledger that popped this up. was not intentional.

[2018-01-29 21:49] coranos commented on #524
Ah ok :)

If you scroll up, you'll see I have already identified a fix for neon-wallet.

https://github.com/CityOfZion/neon-wallet/issues/524#issuecomment-360945038

it will not be quick, so the recommendation for NEO is to always send 1 NEO and claim gas on your ledger before sending any large amounts.

[2018-01-29 21:56] Stanley-Lim commented on #521
Hi all,

can anyone confirm whether the hash is correct for trinity token storage on NEON wallet?

Cheers,
Stan

[2018-01-29 21:58] numero41 commented on #524
@coranos
Will it be a fix to avoid further errors, or will it also be able to "reverse" the previous ones?

[2018-01-29 22:02] coranos commented on #524
@numero41  a fix for further errors. The previous errors appear to be irreversible.

[2018-01-29 22:05] numero41 commented on #524
Did you receive advises/recommandations from Ledger to code that fix?

[2018-01-29 22:08] coranos commented on #524
I've received advice on how to code the fix, yes.

https://github.com/LedgerHQ/blue-sample-apps/blob/master/blue-app-samplesign/demo.py#L49

It's covered in their example code, but their example is in python, and I'll have to port it to JavaScript.

Their example is how to validate a signature given a public key. If I sign the public key, then either the signature is invalid (and validation fails)

[2018-01-29 22:11] numero41 commented on #524
ok, that's what I thought.
well, I guess it won't be the end of the path for all the ones who lost a lot.

[2018-01-29 22:12] jagjjb commented on #524
Ive seen the fixes, but my issue seems to be the device itself. Ive been trying to get Ledger to address it for over 2 weeks. The reason I wound up on this site. On the Nano manager I get *Hardware Device error*

[2018-01-29 22:13] coranos commented on #524
Ok so *Hardware Device error* means your ledger nano is bad and you need to buy a new one or get them to ship you a replacement.

If you just want to get your coins out, you can use the recovery site to recover a WIF:

https://coranos.github.io/neo/ledger-nano-s/recovery/

[2018-01-29 22:17] jagjjb commented on #524
Correct! That's why Im so aggravated. Purchased directly from Ledger, paid additional charge for expedited shipping and weeks later I still hear nothing from their company.

Thank for the help!

[2018-01-29 22:36] stevesbrain commented on #616
@jerrechen What country are you in? I only ask because I do help/recovery in situations like this.

Aside from that, in what way did the laptop crash? What OS are you using? Which version of the wallet/app are you using? Can you see your other files properly?

[2018-01-29 22:38] numero41 commented on #616
@jerrechen
if you have passphrase and password, no need to repair your computer, it's very easy to get back into your wallet.

[2018-01-29 22:40] numero41 commented on #524
@coranos
This is very simple code, why do you say it's hard to implement?

[2018-01-29 22:46] stevesbrain commented on #524
@numero41 If it's simple for you, then please submit a PR and help out the project :)

[2018-01-29 23:01] numero41 commented on #524
:) well, I would love to!
but unfortunately I have way too much work currently, and I spend all my nights trying to figure out my issue with Mew...
hopefully, one day my remaining coins will worth enough to allow me to spend less time at work and more time on such exciting applications lol

hey, let me just clarify if it wasn't : I did say this example code is simple, but if coranos need to re-wri

[2018-01-29 23:07] LolaXIE07 commented on #521
Hi. When u add script hash , please delete the front first 2 digits'ox' and try again

| |
Lola Xie
邮箱：lolaxie_shanghai@163.com
|

签名由 网易邮箱大师 定制

On 01/29/2018 13:56, Stanley-Lim wrote:

Hi all,

can anyone confirm whether the hash is correct for trinity token storage on NEON wallet?

Cheers,
Stan

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub

[2018-01-29 23:32] joeman205 commented on #510
Still not working ladies and gents. All I want to do is move my GAS from my ledger nano s to binance. Anyone know how to do this??  Thanks!

[2018-01-29 23:41] OrEagle97327 commented on #524
I am excited you people know what you are talking about.

Sort of over my head - even though I had a more than basic computer background a couple dozen years ago.
____
I have found what looks to be a Neo Keystore file dated just about the time I downloaded Neon Wallet 0.0.7.  Think it is empty Neo wallet, but I do not know enough to try to access it.

I was thinking of asking one of you how to wil

[2018-01-29 23:56] numero41 commented on #524
You can use Agent Ransack for instance.
http://www.clubic.com/telecharger-fiche10751-agent-ransack.html

I found valuable information in sql files and blob files, browser cache, etc.
You can try to search at first your public address, or keyword "cipherparam", or the name of the wallet, etc.

[2018-01-30 00:01] stevesbrain commented on #524
@numero41 No worries at all - I wasn't trying to cause tensions either; just wanted to try and prevent this chat from turning into a thread where we end up "ripping on" the devs. I know sometimes one or two people will make a statement like the above, then a lot more people end up getting mad because the devs can't implement the claimed simple code quickly :)

I too wish you luck with your coins -

[2018-01-30 00:04] OrEagle97327 commented on #524
I have done some of the things you suggest. Wildcard search of address Neo went to (nothing)

Just wondering what kind of letter or words would be in a Neo Keystore file.

Eth Keystore files starts with "UTC" plus dated created (I think)

Then I will wildcard scan the hard drive and any thub drives I had at the time.

I am so simple I do not know how to use the trackers and the like.

[2018-01-30 00:09] numero41 commented on #524
That's far from my intention, on the contrary. I was juste curious...
I'm a dev for 20 years, I work for CG industry, I do python 9 hours a day and I love it lol
And I also know the difficult relationship dev/users sometimes. I have a lot of users, 30% of my time is solving bugs.

That's also why I am so involved in finding a solution for all of us.

If Ledger provides some code to assure full int

[2018-01-30 00:14] coranos commented on #524
I said "it will not be quick", not "it will be hard".

Like five lines of code, but you write one bug and the world comes breathing down your shoulders.

So, forgive me, but I want to make sure to test it thoroughly. T

his is fixing a bug that happened only 14 times between Oct 2017 and Jan 2018, odds of hitting it upwards of 1 in 40,000 given the number of ledgers sold. You are more likely to be

[2018-01-30 00:19] OrEagle97327 commented on #524
Radio Repair School 1968 - I learned - "Intermittent problems are hardest to diagnose."

Can anyone tell me what to wildcard search for Neon Keystore files?

[2018-01-30 00:23] numero41 commented on #524
Yes I understand your concerns, and I totally agree with you with taking it so seriously of course.
Apologies if I was misandertood.

Anyway, knowing the existence of the possibility of the bug, even so little, knowing how to prevent it, involves Ledger responsibility for me for now.
I just wait for now how it'll go in the next days / weeks to have a more accurate picture of all this.

[2018-01-30 00:32] rreuss79 commented on #621
same problem here:
txid: f5c670f63ab4cb5ba9a895ecb6105830ffc5b93a5e256452affdbe117516603c

now stuck on wallet , public adress: AHk7t8cKGDM2sARMFUw7F5zjPdqNCbnnjj

Do I wait or can I do something active ?  -
my transaction was a withdrawal from neon wallet 0.1.1 to binance neo deposit address:  AFtowZi6HdpNgSo1d2QiT2yJ4YtzFJRPBo

[2018-01-30 00:36] hadv commented on #617
yes, now the token appeared but the GAS claim seem still error.

[2018-01-30 00:41] jerrechen commented on #616
@stevesbrain I am from Singapore. I spilled water on the laptop and it it sort of cannot turn on anymore. :(
I am using Windows 10 and the version of NEON Wallet at that time was 0.09.

 When I opened the 'userWallet' or so called 'keys' .json file in AppData/Roaming/Neon/storage, inside was showing just this:
'{}' Now I am scared that I might have accidentally overwritten the .json file.

Pls adv

[2018-01-30 00:42] jerrechen commented on #616
@numero41
I have the passphrase. What do u mean by Password? Pls help. Thank you so much.

[2018-01-30 00:53] penobe commented on #524
I had same problem as described in OP on my Mac running OS X 10.11.6, and then (several hours later) installed the Neon wallet on a tablet running Windows 10 Pro, hooked up my Ledger Nano S, and the GAS showed up when I plugged in my Ledger to the Windows computer... WHEW!

[2018-01-30 01:02] #616 closed

[2018-01-30 01:07] stevesbrain commented on #616
@jerrechen Yeah, userWallet.json should have contente similar to the following:
`{"name":"userWallet","version":"1.0","scrypt":{"cost":16384,"blockSize":8,"parallel":8,"size":64},"accounts":[{"address":"ANLSY3HW7sBgPoXc6FQDvHKfUqxEg8LRcY","label":"Herman","isDefault":false,"lock":false,"key":"6PYKzhkt7d7QsbUU9n3SJMfTYyhGxK83zY4ijCH9Gfna6bfGMBvUGdAEJz","contract":{},"extra":null}],"extra":null}`

D

[2018-01-30 01:11] sgehrman commented on #624
same issue

[2018-01-30 01:12] sgehrman commented on #621
same problem

[2018-01-30 01:12] sgehrman commented on #620
same problem

[2018-01-30 01:36] jerrechen commented on #616
@stevesbrain
Yes. Anyway I just managed to retrieve my NEO! :D Apparently somehow my .json file got overwritten. I managed to recover the old file with the encrypted keys using a Data Recovery app. Anyway thank you so much for your replies. I sincerely appreciate it. 👍

[2018-01-30 01:40] rflight23 commented on #617
looks like the issue is resolved

[image: Inline image 1]

On Tue, Jan 30, 2018 at 8:36 AM, Tony Dang <notifications@github.com> wrote:

[2018-01-30 01:51] rreuss79 commented on #621
which wallet were you using ?

[2018-01-30 01:56] IraBerenhaus commented on #624
This is very scary that City of Zion provides a NEON wallet that doesn't work properly.  What does that say about their quality control process.  It's easy enough to check that every aspect of a wallet works including claiming GAS.  I'm having the same problem as everyone else and there are many people Reddit expressing the same issues with NEON Wallet 0.1.1

[2018-01-30 01:59] sgehrman commented on #624
The code should be rewritten. It's a mess and obviously not fixable since problems keep coming up. Is there a viable alternative to switch to?

[2018-01-30 02:13] hadv commented on #617
the token show but cannot send out :(

[2018-01-30 02:26] rreuss79 commented on #621
which wallet were you using? - and is it same adress like this one
AHk7t8cKGDM2sARMFUw7F5zjPdqNCbnnjj

2018-01-30 2:12 GMT+01:00 Steve Gehrman <notifications@github.com>:

[2018-01-30 02:29] stevesbrain commented on #616
@jerrechen Awesome, glad you were able to get it back; that would have been a dreadful feeling for a while! :)

[2018-01-30 02:54] stevesbrain commented on #620
Mine has done the same, but only on a proxied/filtered network. Tested today on an open/unfiltered network minutes later, and it works fine for me.

[2018-01-30 02:59] Thebigmeany commented on #529
this is still not working for me. "sending neo to yourself" "transaction failed"

[2018-01-30 03:07] stevesbrain commented on #624
@sgehrman As far as I know, there's no other lightweight wallet/solution available at this time.

[2018-01-30 03:08] stevesbrain commented on #624
@IraBerenhaus I don't believe it's an issue with the code - claiming, sending, etc all works. I think the issue is network related - either for those behind filters/proxies, or, perhaps the CoZ servers themselves at times experiencing connectivity/load issues.

[2018-01-30 03:14] stevesbrain commented on #529
@Thebigmeany Are you behind a proxy/internet filter? Are you using the latest version of the software?

[2018-01-30 06:17] hadv commented on #617
I have below error when sending out token/GAS

![neon-wallet-error](https://user-images.githubusercontent.com/941411/35551035-dd9580a8-05bf-11e8-9b23-3c33ee104699.png)

[2018-01-30 06:42] pacm92 commented on #617
I had a few "transaction failed" too, just start again (…and again) 'till it works

[2018-01-30 08:08] bbrkhan commented on #529
I had issues too, but then realized I was using a VPN. Disabling it made everything smooth.

[2018-01-30 10:36] psimone1982 opened #626 "Transfer NEO from wallet to Bifinex"
hallo, i sent my neos from wallet to bitfinex exchange platform 22 hours ago.
the confermations number continue to grown up but no one neos was transfer to the platform.
into the wallet the neos have been removed but i can't see on the exchange.
what i can do?

[2018-01-30 11:29] numero41 commented on #524
@OrEagle97327

You can search on your hard drive (most likely in the userData folder) for keywords such as :
blockSize, accounts, address.
This tool is cool :
http://www.clubic.com/telecharger-fiche10751-agent-ransack.html

Your keystore file contains these keywords, with associated values, those are the informations that the wallet app needs to decode your private key, and generate your public ad

[2018-01-30 12:53] hadv commented on #617
re-install neo on ledger nano s as following guide then it worked perfectly now 💯

[code]

[2018-01-30 14:23] numero41 commented on #524
@OrEagle97327 @coranos

Did you manage to forward the other people tickets ids to Ledger as Eric requested?

[2018-01-30 15:07] Totof-92 commented on #621
Hello,

I think I have the same issue...
No transaction appear into the software (sync with ledger nano s)

[2018-01-30 15:38] OrEagle97327 commented on #416
@d0ngit we need your Ledger Support ticket number.
We have Ledger working with us. They are gathering as much info as possible.

[2018-01-30 15:43] OrEagle97327 commented on #524
@d0ngit is the person whom had a past ticket. I have informed him on Discord, he is going to search for it (thinks it is expired).  Also left him a post here on GetHub, look for 416 to see.
He is the only one I know that filed a support ticket.
I and others have sent E-mail: contact@neo.org - zero response (located at bottom of Neo website)
https://neo.org/

[2018-01-30 16:06] numero41 commented on #524
It's important that they write down their issue as soon as possible.

I had an email from Eric today, they are willing to find a solution.
I have the feeling he is taking this very seriously and want the issues addressed to him directly.
He told me the support team is not involved anymore and that he is our interlocutor from now on.

But if people don't manifest themselves they won't be contacted

[2018-01-30 16:12] numero41 commented on #524
@penobe
I'm not sure your issue is the same, I think it's more likely related to the Ledger network issues.
Can you explain in a more detailed way what happened to you?

[2018-01-30 18:19] iotaaa commented on #529
Hi guys, I'm stuck on the same problem. I have:
updated NEON on desktop to latest version
deleted and reinstalled NEO on Ledger

I cant claim GAS or send NEO. Transaction failed. I have tried restarting PC. Tried various WiFi routes. Still no luck. Can we get an update on this? Thanks

[2018-01-30 19:36] billethekid opened #629 "Wy can i not send my Tokens out of my wallet !! Wen will this be solved ?"
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2018-01-30 21:10] olivergray24 opened #630 "Unable to claim gas - Neon v9 & Nano"
I've been unable to claim gas for about 1 week now with Neon v9 and Nano (100% failure rate) and have also had a high failure rate of sending neo and gas, getting the error Transaction Failure. I do not think this is a Win7 PC issue as I have zero trouble with a different wallet (non-Nano) using the same Neon v9 client instance when claiming gas and sending neo/gas. I do not believe it is a proble

[2018-01-30 22:03] rreuss79 commented on #621
beware of coin hijack on neotracker.io
Hijack wallet ID : AHk7t8cKGDM2sARMFUw7F5zjPdqNCbnnjj

[2018-01-30 22:15] MediaServe commented on #618
As a temporary and dirty workaround you could add the hosts to `/etc/hosts` and NEON will connect to your IP address. I've successfully used this during ICO to make NEON more reliable.

[code]

It would be a lot better if this was a setting in NEON of course.

[2018-01-30 23:14] tsaiDavid commented on #521
@LolaXIE07 @Stanley-Lim - Gotcha, I'll take care of it

[2018-01-31 00:01] mhuggins commented on #521
Users can add their own tokens through the settings screen now, so anyone can add TNC as long as they have version 0.1.0 or above.

[2018-01-31 01:15] Ejhfast opened #635 "Build neonwallet.com website and auto-deploy from source"
The neonwallet website is currently stored in compiled/built form. This means that changes to the website need to be built somewhere else and PR'd to master, or edited manually in the minified JS. We would like to change this to have a build pipleline directly in the project, such that the source for the website lives in the repo in a clean form. neon-js provides good inspiration here (look at how

[2018-01-31 01:47] cosmic-springs commented on #524
My 1 lost Neo mysteriously appeared in my wallet a couple of days ago. I am very grateful to whoever spent time recovering it. I think any platform will have teething problems, especially of this magnitude, i expect that all issues will be sorted eventually. The scale is immense and growing, a shame to waste developer time on resolving these issues but on the upside, i guess the more problems reso

[2018-01-31 03:45] stevesbrain opened #638 "New version claims wallet is out of date"
Hi all,

Just updated to 0.1.2 on Linux via the .deb file. The wallet has now started claiming it is out of date, and needs to be updated. I have confirmed via the releases page that 0.1.2 is definitely the latest version. Any indication of why this might be happening? Thanks!

[2018-01-31 04:18] hvson2010 commented on #509
![capture2](https://user-images.githubusercontent.com/35896422/35605012-56a24928-0678-11e8-9edc-253f66eccdc6.png)

I use laptop Dell and install neo app v0.1.0, then v0.1.1 and then v0.1.2 but I still met error "Error checking wallet version....". Please help me fix it :(

[2018-01-31 04:55] fanfareglobal commented on #524
Hello @OrEagle97327 @numero41,

This is my ticket id: #90507. I've sent this suport ticket to Ledger 2 months ago with no response then they closed my ticket!

![screen shot 2018-01-31 at 11 52 56](https://user-images.githubusercontent.com/35957591/35605788-a5207c78-067d-11e8-97e9-0c0cf73084a9.png)

[2018-01-31 04:58] d0ngit commented on #524
Hello @OrEagle97327 @numero41

This is my old ticket ID: #90507

I've sent this suport ticket to Ledger 2 months ago but have no response from them then they closed my ticket.

![screen shot 2018-01-31 at 11 52 56](https://user-images.githubusercontent.com/4480544/35605831-f968bb88-067d-11e8-9844-1ee3bc6e4db0.png)

[2018-01-31 05:36] cosmic-springs commented on #524
I am indeed not too bright. I didn’t realise NEO had a formal support mechanism. How would I submit a support ticket if I needed to?

[2018-01-31 05:37] stevesbrain commented on #524
@cosmic-springs That's a ticket to Ledger - not NEO :)

[2018-01-31 05:37] stevesbrain commented on #509
@hvson2010 I've opened a ticket for the same; #638

[2018-01-31 06:28] cosmic-springs commented on #524
No support then?? Oh dear!

[2018-01-31 06:55] brianlenz commented on #521
@mhuggins, just trying to understand how this will work: does this mean that every user who wants to view/transfer TNC will have to manually add the script hash to the Neon wallet? And therefore the same goes for any other new tokens? Just thinking about usability and how users will participate in new token sales and view the tokens in their wallet. It would be neat if everyone didn't have to manu

[2018-01-31 07:44] Marto15 opened #639 "Hey CoZ, Still unable to send Nep 5 too exchange with latest update"
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2018-01-31 09:36] numero41 commented on #524
@d0ngit

I'll send your ticket ID to Ledger.
But where are all the others??
They don't seem to want to recover their loss. Well I guess that's their problem now.

[2018-01-31 10:02] d0ngit commented on #524
@numero41

Let me know if you need any information from me. I'm willing to share with you and @OrEagle97327 the issue what i got!

Thanks

[2018-01-31 10:30] numero41 commented on #524
@d0ngit

For now I think the ticket you sent is clear, and I guess Ledger will take contact directly with you by mail.
If you have any answer you can share it here or maybe previously by email to tetsuo7000@gmail.com.

Thanks too

[2018-01-31 10:42] d0ngit commented on #524
OK @numero41
Actually, I've shared very details my issue in this thread: https://github.com/CityOfZion/neon-wallet/issues/416

Thanks

[2018-01-31 10:49] numero41 commented on #524
Yes I know this thread, and I already sent it to Ledger 2 days ago

[2018-01-31 12:02] OrEagle97327 commented on #524
@numero41 This is the only other Ledger ticket number, besides our two, I know of.
I have been attempting to follow up on the others, but so far, this is it.
thnx @d0ngit

[2018-01-31 12:26] Serak78 opened #640 "Unable to download recent neon wallet 0.1.2. DError message: "unspecified error""
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2018-01-31 16:09] el1748eth commented on #578
Anyone know what the script hash is for Qlc Token? They show on my wallet but are not displayed as an option to send out of the wallet. I have tried everything but deleting the hash and readding it.

[2018-01-31 21:03] dafrench57 commented on #529
Hi !
I've got the same issue... I'm trying to send ZPT from NEON 0.1.2 (using ledger to unlock wallet) to exchange but I've got a "Transaction Failed" every time... (I've got GAS)
Can we have an update about the issue ? Regards

[2018-01-31 21:09] iotaaa commented on #529
@dafrench57 I think you have to update neon to latest wallet.. I saw on discord they released a new version yesterday. I will try tomorrow.

[2018-01-31 21:14] dafrench57 commented on #529
@iotaaa Neon 0.1.2 is the latest version dude :) ! Just check the release page

[2018-01-31 22:29] tonyorso commented on #524
Hi, I had the same problem with the NEO wallet. Not with NEO tokens but with DeepBrain Chain tokens which can be stored in the NEO wallet. The tokens were transferred successfully from Binance to a certain public address given by the wallet and today they are gone and the public address is a different one. Do not know what to do... balance is 0.

[2018-01-31 22:37] numero41 commented on #524
Hi @tonyorso
Did you also use the Ledger?

@OrEagle97327
New similar issues on my thread github / Mew

[2018-01-31 22:42] tonyorso commented on #524
Sorry guys, just realized that my son transferred the DBC coins to his Ledger... my apologies. No problem here with DBC...

[2018-01-31 23:22] OrEagle97327 commented on #621
Have you solved your issue?

in the last couple of days, we have Ledger trying to be involved.

Looking for all to be on the list (hopefully with Ledger support number, if possible)

We have Eth, Neo and Xrp involved.

[2018-01-31 23:56] el1748eth commented on #480
I can’t send my Qlc out of Neon. I was able to send out my DBC moments ago. The issue is that the QLC token does not appear in the drop-down. I see the tokens but cannot send QLC out. I have done everything I can think of. delete wallet on both ledger and the computer. downgrade to an earlier version, upgrade to latest 1.2. Erase cookies and reboot the computer. I have left a comment on a reddit p

[2018-02-01 00:39] stevesbrain commented on #638
Appears they must have updated something server-side. This no longer occurs. Closing the ticket.

[2018-02-01 00:39] #638 closed

[2018-02-01 02:04] comountainclimber commented on #635
I propose the following...
1.) We remove `/NEON Website Design` and `/docs` from neon-wallet

2.) put `/NEON Website Design` into https://github.com/comountainclimber/neon-website

3.) Either A.) create a new repo under the coz repositories or B.) leverage what already exists in the repo above. Using github pages (which is already built into the deployment of the react application of the repo) we

[2018-02-01 02:44] alexdimella commented on #496
Guys I need some help here. Totally my fault, but I sent Trinity to my NEON wallet before I added the trinity hash code to add TNC token. I read earlier that all NEP-5 tokens are compatible with the wallet but had no idea about having to add the TNC hash until it was too late. Are all my Trinity tokens lost in that transaction or will it show up after adding the hash that adds the token to the NEO

[2018-02-01 02:45] maxkaplan commented on #417
I'm also getting the same error is Neon_0.1.2_amd64.Linux.deb

![image](https://user-images.githubusercontent.com/200634/35658575-dd28297a-06b6-11e8-8f82-e5d288d46c7c.png)

[2018-02-01 02:48] caizhiyuanrise commented on #496
P.S. What is the trinity Hash-Code.. have not added it my self yet ;)

[2018-02-01 02:52] alexdimella opened #641 "Sent Trinity to NEON before adding token's hash."
Hi guys, I need some help here. Totally my fault, but I sent Trinity to my NEON wallet before I added the trinity hash code to add TNC token. I read earlier that all NEP-5 tokens are compatible with the wallet but had no idea about having to add the TNC hash until it was too late. Are all my Trinity tokens lost in that transaction or will it show up after adding the hash that adds the token to the

[2018-02-01 03:01] chexx42 commented on #524
Just tried to transfer my NEO to Ledger Nano s from Bittrex, came up with error after about ten minutes saying the address I got from Ledger Nano "not valid" This was the public address I got from Ledger nano ATB4K6U47hnFC7r2aawY5R5BL1qECR9o1H   Now for a while I haven't been able to carry out the transaction due to Bittrex/NEO waiting for some updates to be carried out. took them over a week to s

[2018-02-01 03:06] alexdimella commented on #496
@caizhiyuanrise Thank you so much for your reply. The TNC hash is... 08e8c4400f1af2c20c28e0018f29535eb85d15b6

However, Trinity is not showing up on my Neo Tracker balance. But DBC and QLC tokens show up just fine. Thoughts?

[2018-02-01 03:16] caizhiyuanrise commented on #496
sometimes it does not show my RPX tokens or others...
1. Does it show the position as "0" balance, or does it not show the TNC position at all?
2. And what does the Neo-tracker say?

[2018-02-01 04:11] mhuggins commented on #641
As long as you can see your tokens at your address on the blockchain, then they are there.  You don't have to enter the scripthash into the NEON Wallet first.

[2018-02-01 04:11] #641 closed

[2018-02-01 04:33] coranos commented on #524
@chexx42 try using a paper wallet, then transferring to your ledger from the paper wallet.

Bittrex does their own thing, do what they say or ask them, not us :)

[2018-02-01 05:00] alexdimella commented on #641
@mhuggins Thank you so much for the reply. I don't see my Trinity Tokens at my NEO tracker address, But I do see DBC and QLC there. In my NEON wallet- I see both my DBC and QLC tokens but Trinity= 0.0000

Just to retrace my steps again for clarity...
1. Withdrew DBC tokens out of KuCoin, and into my Neon "Receive" address, worked perfectly.
2.) Withdrew QLC tokens out of KuCoin, and into my Neon "

[2018-02-01 05:07] mhuggins commented on #641
What transaction do they link to?

[2018-02-01 05:08] alexdimella commented on #496
Hi @caizhiyuanrise Just to retrace my steps again for clarity...
1. Withdrew DBC tokens out of KuCoin, and into my Neon "Receive" address, worked perfectly.
2.) Withdrew QLC tokens out of KuCoin, and into my Neon "Receive" address, worked perfectly.
3.) Withdrew TNC tokens out of KuCoin and into my Neon wallet with my Neon "Receive" address. After 3 hours no tokens received.
4.) Did some research

[2018-02-01 05:08] mhuggins commented on #640
Unfortunately there's not enough information provided to help.  Please refer to the Discord channel for support.  Thanks!

[2018-02-01 05:08] #640 closed

[2018-02-01 05:21] alexdimella commented on #641
@mhuggins The KuCoin image is a TNC transaction. The NEO Tracker image is from clicking my "Receive" address in my NEON wallet.

[2018-02-01 05:22] mhuggins commented on #641
I mean what is the transaction ID?

[2018-02-01 05:25] chexx42 commented on #524
I didn't think I was asking you anything? As I was researching my problem and found this thread and was just pointing out my experience. Otherwise why do you have the thread?

[2018-02-01 05:40] alexdimella commented on #641
@mhuggins How do I find it?

[2018-02-01 05:50] cryptomd commented on #620
i have tried everywhere to get an answer to this issue but just get blown off.  Clearly the developers have no idea

[2018-02-01 05:54] mhuggins commented on #641
Click the "view transaction" link in the screenshot you pasted earlier and copy/paste the URL.

[2018-02-01 05:56] mhuggins commented on #620
Unfortunately the Ledger is on backorder, which makes it hard for the full CoZ team to support.  There will be more support in the near future once they have more in stock to fulfill backorders.

[2018-02-01 06:35] caizhiyuanrise commented on #496
can you view the transaction (that blue text "view transaction"... what does this show?
As of on you address there are only the two transactions you mentioned. How many confirmations are on the TNC transaction? does not seem to have reached your address....

[2018-02-01 08:57] numero41 commented on #524
So to keep you updated, I had an email from Eric from Ledger.

He puts the entire responsibility of all these issues on Neo wallet devs.

For me, he assumes that it's Mew devs responsibility.

Yesterday someone had a similar issue as me with a withdraw from Coinbase, and he assumes it's Coinbase responsibility.

And so on.

[2018-02-01 09:59] AndyReach commented on #529
Update Neon 0.1.2 works perfect ;-)

[2018-02-01 11:15] cryptoarmeen commented on #428
please help me send gas from my neo wallet I use the latest 0.1.2 wallet but I still can not send gas. I always get the message transaction failed! i love NEO but they still can not fix this problem! I have all my NEO and GAS on my ledger nano s please help me!

[2018-02-01 11:18] cryptoarmeen commented on #428
@stevesbrain
I have my NEO and GAS on mainnet testnet is empty

[2018-02-01 11:25] cryptoarmeen commented on #339
can someone please help me download neo wallet 0.0.7

[2018-02-01 12:14] OrEagle97327 commented on #524
How many programers does it take to change a light bulb?
None. ...It is a hardware problem.

Eric, from Ledger, listen up!!
All hardware people blame the "software"
I agree; ...It is the "Ledger Manager"
Send me a Ledger Blue, and I will prove it.
(backlogged in orders)

Got the the guts to try it?

I am going to copy/paste this post directly to my email to Eric.

[2018-02-01 12:42] OrEagle97327 commented on #524
Well I did it.
The above post was copy/pasted to an email to Eric and included in the comments of the Ledger survey on costumer satisfaction.

Wonder if it will do any good?

[2018-02-01 13:00] alexdimella commented on #641
@mhuggins
![trans](https://user-images.githubusercontent.com/36021306/35679648-e225a546-0725-11e8-8f27-92263b906995.png)

[2018-02-01 13:05] OrEagle97327 commented on #524
@chexx42 Hopefully you can find the solution to your issue. I am not able to be the help you need, but this thread, set  up by me, is for people like you.  Try not to take Coranos comment personally.  He has been working on this so hard on our issue.  I hope he does not think we blame him.

@coranos I hear you are in San Francisco, this week. (Neo Devcon) I am 800 miles North. Come on by; I will p

[2018-02-01 13:11] Dan-Richards-1985 opened #642 "Suggestion: Neon Wallet over HTTPS intead of HTTP"
Hi,

I've noticed that the Neon wallet is using HTTP to query the api's of api.wallet.cityofzion.io and seed.cityofzion.io .
It creates several security concerns because the data is present as plain text between the Neon wallet and the server.
Is there an option to transmit the data via HTTPS for enhanced security?

[2018-02-01 13:13] numero41 commented on #524
@OrEagle97327
We'll see, I don't think it can do any bad lol...

Something new : as I told you yesterday, here you can find someone with the same issue on Ledger's public forum :
https://support.ledgerwallet.com/hc/en-us/community/posts/360000395733-Important-Funds-on-Ledger-Nano-is-NOT-Safe-?page=1
You can see that the guy says that he can't view my own post (is it the same for you?).

Another on

[2018-02-01 13:22] OrEagle97327 commented on #524
@numero41 Where can we go to make waves, to get attention?
A Reddit post was mentioned in a video about the lack of Ledger support.
Was it your?

[2018-02-01 13:34] numero41 commented on #524
It was a reddit post that took together all the current Ledger issues, including mine.
I'm not responsible for this particular post, and I disagree with the very aggressive tone of some people.
Anyway, it doesn't change the fact that they have to face their responsibilities.

I told Eric that if I had to wait several months, I will continue to try to find new people.
He answered : go on, it's your

[2018-02-01 13:40] OrEagle97327 commented on #524
We just have to keep at it.
I had gone into a give-up mode the day before you posted this thread.
We are closer to a solution than ever, with you and me comparing notes.
It is very difficult to consolidate the responses. Any suggestions?

[2018-02-01 13:49] numero41 commented on #524
A new strange post :
https://www.reddit.com/r/ledgerwallet/comments/7uezhw/hooked_up_new_nano_s_last_night_think_i_got/

I think we have to gather all the emails and make a mailing list.
mine is tetsuo75000@gmail.com

Oh, and did you see that there is one guy that came from nowhere claiming that he did a Raiblocks wallet in one week. I mention it because Coranos was working on it too. I am becomin

[2018-02-01 14:15] numero41 commented on #524
https://support.ledgerwallet.com/hc/en-us/community/posts/115007680753
https://support.ledgerwallet.com/hc/en-us/community/posts/115008469293
https://support.ledgerwallet.com/hc/en-us/community/posts/360000062474

[2018-02-01 14:51] OrEagle97327 commented on #524
Can someone give more information on "Raiblocks" as stated here.
As I was typing this; I also heard a video talking about Nano

[2018-02-01 14:56] numero41 commented on #524
I think the sync issues on Ledger's network might be related to our issues somehow.
Basically what people complain about is that they make transactions, and then going back to their account, balance disappeared.
After a few days/weeks, their balance finally re-appear, and if they named their wallet, the name is changed to "Recoverd account xxx".
So basically all these people using Ledgers apps don

[2018-02-01 15:02] alexdimella commented on #496
@caizhiyuanrise

https://neotracker.io/tx/90cbfee3eaa85dd3448349badd831bb0244199a0ddaf9a994d79f83ab1936ba0

[2018-02-01 15:06] alexdimella commented on #641
@mhuggins https://neotracker.io/tx/90cbfee3eaa85dd3448349badd831bb0244199a0ddaf9a994d79f83ab1936ba0

[2018-02-01 15:59] numero41 commented on #524
Issues with Ledger / Ark wallet :
https://github.com/ArkEcosystem/ark-desktop/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+ledger

[2018-02-01 16:10] jayrod1892 commented on #524
Similar Issues

On January 22 I tried to make a transaction using the Chrome Browser and the Chrome Applications My Ledger Ethereum Wallet.

I took several tutorials on how to set everything up and I made a transfer from COINBASE account to My Ledger LITECOIN Wallet and it was success and it showed up in my Ledger Wallet LITECOIN.

When I tried to transfer Ethereum from Coinbase to My Ledger Walle

[2018-02-01 16:21] Stanley-Lim commented on #521
Apparently, it cost 1 GAS to withdraw TNC from the NEON wallet? That is insane. Is there another option to get around this? Please advise.

@LolaXIE07 Is there other wallets for TNC that do not require fee for transactions? Please help.

This is inconvenience as you need tons of GAS just to transfer NEP-5 tokens back and forth to be safe.
Also, I lost half of my NEO tokens when sending tokens from

[2018-02-01 16:23] mhuggins commented on #521
@Stanley-Lim No, it does not cost GAS.  The GAS will be sent to your own address, but sending a token right now cannot be done without 0.00000001 GAS in your wallet.

[2018-02-01 16:27] Stanley-Lim commented on #521
@mhuggins thank you for the info. I just tried. Now, a bigger problem occured. I lost all my Trinity Tokens when I tried to sent it to Kucoin. Any advise?

[2018-02-01 16:27] mhuggins commented on #521
@brianlenz

Yes, this can be done through the settings screen in newer versions of NEON Wallet.

That's exactly why we did it this way.  We don't want to have to get a new release out for every single NEP-5 token that is launched.  This behavior is similar to other wallets such as MyEtherWallet.

[2018-02-01 16:28] mhuggins commented on #521
@Stanley-Lim That's not enough info to work from.  How did you send them?  What address did you send to?  Does the address you sent to match Kucoin?  What is the transaction ID?  How much time did you give Kucoin to notice the transaction in the blockchain?

[2018-02-01 16:37] Stanley-Lim commented on #521
@mhuggins Appreciate your help. The same way I send NEO tokens but indeed to my trinity wallet at Kucoin instead.

It only took a few minutes for NEO to be deposited and I could see the transaction history on the NEON wallet. For TNC nothing is shown in the transaction history in the wallet.
Now, I just checked the NEOtracker wallet and apparently the TNC are still shown there (but my NEO mentione

[2018-02-01 18:27] Stanley-Lim commented on #621
I sent NEO from NEON wallet to Kucoin and lost half of my tokens. Any advise what I can do?
I can see in the NEOTracker that it says "unspent". How can I solve this? or should I just wait?

[2018-02-01 20:19] mloots commented on #521
Hi all.

I sent 17 TNC twice yesterday to my Neon wallet. I gave it a day now, but the TNC balance in the wallet is still 0.00.

I can believe it arrived properly and is not lost in limbo, but the wallet does not show it... :(
I don't know if it helps: this is one of my transactions yesterday: 82135aca97a74fd6ebc769b3051851b9ac116a9302653442ad6fe3910d60a829

-Martijn

[2018-02-01 20:29] billethekid opened #645 "Fuck this NEO wallet you cant even take-out your GAS !!!!"
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2018-02-01 20:30] Stanley-Lim commented on #521
@mloots Did you add hash "08e8c4400f1af2c20c28e0018f29535eb85d15b6"?
else check your balance on Neotracker.

[2018-02-01 20:30] numero41 commented on #524
Thank you @jayrod1892

[2018-02-01 20:37] numero41 commented on #524
@jayrod1892
Can you try to answer these 3 posts mentioning your own issue?
I fear that my comments are blocked!!

https://support.ledgerwallet.com/hc/en-us/community/posts/360000482854-Linked-Nano-S-to-MEW-last-night-transferered-my-Ether-woke-up-and-all-my-tokens-have-transfered-out-I-think-

https://support.ledgerwallet.com/hc/en-us/community/posts/360000486893-MyEtherWallet-showing-zero-balance

[2018-02-01 20:39] mloots commented on #521
@Stanley-Lim Thanks for the reply. Yes; when I added the hash, the token TNC showed in the list of the wallet. Hmm, I sent it from Kucoin and it does not show in my balance on Neotracker. I don't know how to read the transaction details on there, I only see data in the invocation and verification scripts having some information.

[2018-02-01 20:47] Stanley-Lim commented on #521
@mloots When I send TNC tokens (also from Kucoin to Neon wallet), I can see the TNC transfer data under transfers and not transactions.

However, I lost a good portion of NEO tokens when I transfered my NEO from NEON to Kucoin. What I can tell is that it is somehow stucked in the system. Learning from other post, I have not seen people were able to retrieve their coins/tokens. Sadly enough.

[2018-02-01 20:49] JoeyVV commented on #510
Hi Guys, I'm having the same issues with withdrawal my RPX to kucoin. Seems that nobody knows what to do or solve this problem.
Hope we can fix this together and if somebody knows what to do please let us know!!

[2018-02-01 20:51] mloots commented on #521
@Stanley-Lim Okay, good thing I tried with just a small amount then. Can we conclude that the combination Kucoin/NEO is not optimal and other exchanges have no or less issues? Or is this more common in the NEO realm at the moment?

[2018-02-01 20:52] OrEagle97327 commented on #524
@numero41 @jayrod1892 ...Keep up the good work! ...Let us sort this out together.

Do we need a "...//gethub.com/ledgerwallet/issues..." thread?

[2018-02-01 20:55] numero41 commented on #524
That would be good indeed...
Or maybe a new Reddit one

[2018-02-01 20:56] numero41 commented on #524
So I went to all the xrp threads on Ledger's forum too, I found all these

Can someone take time to answer/question those?
Thanks, I need to sleep tonight...

https://support.ledgerwallet.com/hc/en-us/community/posts/360000073513-Wallet-Update-0-balance

https://support.ledgerwallet.com/hc/en-us/community/posts/360000063053-I-didn-t-receive-ripple-balance-in-my-account

https://support.ledgerwalle

[2018-02-01 20:57] numero41 commented on #524
Sorry guys but I'm done for tonight.

[2018-02-01 20:59] numero41 commented on #510
https://github.com/CityOfZion/neon-wallet/issues/524

[2018-02-01 20:59] numero41 commented on #524
https://github.com/CityOfZion/neon-wallet/issues/510

[2018-02-01 21:44] JoeyVV commented on #524
Seems that you guys have also some ignorant problems with the Ledger/Neon wallets.
Crazy things going on...
Funny part is my RPX do show up on my balance also, but when i want to withdrawal them to kucoin he give's me the Error 'Transaction failed'

Sometimes when i connect my ledger my balance don't show up, but after a couple of minutes they do.
Searching true my neotracker and hashcode my RPX i

[2018-02-01 21:52] mloots commented on #521
I moved it via ETH to gate.io exchange and withdraw from there. No issues now. All in all, it cost me TNC 100 in missing withdrawals and fees, but it had cost me the entire balance if I hadn't tried it first with small amounts... IMHO: just use gate.io for TNC.

[2018-02-01 21:57] Ejhfast commented on #635
this sounds good to me -- lets move the neon-website repo to the CoZ org? @comountainclimber I added you to the org, can you setup the repo there? we can then move the DNS

[2018-02-01 22:29] mhuggins commented on #635
I agree, sounds good to me.

[2018-02-01 22:30] Stanley-Lim opened #646 "NEO sent from NEON Wallet to Kucoin has not arrived"
Hi all,

I have sent NEO from my NEON Wallet ver. 0.1.2 to Kucoin wallet, but it has not arrived.

On Neotracker I see below.
https://neotracker.io/tx/b3b5c355d1ad33aa1d9be479e880f5ae91affba80ebb6f1887ac23b5db6917b6

The "Spent" has arrived, but "Unspent" are lost. Can anyone advise me what this means?
Can I retrieve my NEOs?

Any advise will be much appreciated.

Cheers,
Stan

## PLEASE NOTE

##

[2018-02-01 22:37] mhuggins commented on #645
For support using the software or concerns about the status of your funds, please go to the #support channel on the [NEO Smart Economy Discord Server](https://discord.cityofzion.io).

GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2018-02-01 22:37] #645 closed

[2018-02-01 22:39] mhuggins commented on #626
For support using the software or concerns about the status of your funds, please go to the #support channel on the [NEO Smart Economy Discord Server](https://discord.cityofzion.io).

GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2018-02-01 22:39] #626 closed

[2018-02-01 22:40] #623 closed

[2018-02-01 23:12] stevesbrain commented on #428
@cryptoarmeen 0.0.7 has been removed from available downloads unfortunately.

[2018-02-02 00:12] jayrod1892 commented on #524
Sorry been training all day today

Just saw all these emails

I’ll look through and see if there’s anything I can do to help

Sent from my iPhone

[2018-02-02 02:55] comountainclimber commented on #635
🎉  https://github.com/CityOfZion/neon-wallet-website and http://cityofzion.io/neon-wallet-website/
`npm run deploy` deploys the latest to that second url. DNS settings can be configured for the repo for neonwallet.com

[2018-02-02 06:07] brianlenz opened #647 "Token Sale Verification: TypeError: Cannot read property 'Script' of undefined"
We are doing some final testing of our ICO smart contract on the TestNet, and it looks like we've identified a bug with the "Participate in a token sale" tool. Submissions work just fine when verification is disabled, but they are failing 100% of the time in our tests when verification is enabled.  I'm confident the issue isn't that the actual verification is failing, as we can successfully execut

[2018-02-02 06:18] dvdschwrtz commented on #647
Support for verified ICOs is not 100% implemented in Neon wallet. We pushed a quick release for Zeepin and some other ICOs using the non-verification methods. I can get started working on finalizing support for the verified on my long flight tomorrow. I will be on vacation til the 11th but hopefully some other CoZ members can help pull everything together as well. I do not have a ledger with me un

[2018-02-02 06:42] brianlenz commented on #647
Thanks for the response, @dvdschwrtz! What's the general scope of remaining work for verification? Is the work described in an issue anywhere?

I may be able to try to help (though there will be a learning curve for me to get up to speed with how everything is working). If you have relevant commits to link to and notes/todos about what's left before you head off on vacation, I can take a crack at

[2018-02-02 06:58] brianlenz commented on #647
Oh, by the way, I have a Ledger I can test with, too.

[2018-02-02 07:53] dvdschwrtz commented on #647
Ok great, thanks. I will see how far I can get on my flight and then send you an update :)

[2018-02-02 07:54] dvdschwrtz commented on #647
There is no issues or todos but I will try and be helpful with detailed information if there is more work to do

[2018-02-02 11:06] DylanVanRonk commented on #524
My unresolved issue is after updating to ripple wallet 1.0.3 my balance went to ZERO and the address CHANGED.
I had initially only sent to ripple ledger created wallet rEa4EcGAMYPYeD6J1NaeABKhAwKWBvdRhg from binance and had never withdrawn from wallet.
After updating wallet to 1.0.3 my balance was ZERO and the wallet changed to rGSdve3scc7iw1nfs8FYoKyRH22mn8FXxR .
I tried using a different compute

[2018-02-02 11:08] dennish007 commented on #619
Tokens balance is updated every X seconds. Sometimes balance not shown (no tokens at all), sometimes balance is ok. This issue follows through when sending tokens. NEON says that there is no balance.
This is a real annoyance. Must fix.

[2018-02-02 11:24] numero41 commented on #524
I found many other people today on reddit and on the forum.
I 'm waiting for new ticket ids in order to send them all together  to Ledger.

[2018-02-02 14:23] numero41 commented on #524
Well I have some bad news.

These people didn't send a ticket to Ledger, and it seems like it's not possible anymore to send a bug ticket, I just can't find any link to the support now, only the public forum.

I can't post any comment on the forum, they are labeled as "pending approval", so no one is able to answer my questions.
Some posts are just labeled as "closed for comments" even if there is

[2018-02-02 14:23] mhuggins commented on #647
@brianlenz What is the date of your ICO that you're hoping for this to work?  There are some significant changes in the `dev` branch that we work on, and some other changes need to be addressed beyond just fixing this bug before we can safely release, so I want to make sure I can help coordinate around those changes.

[2018-02-02 14:46] numero41 commented on #524
https://www.reddit.com/r/MyEtherWallet/comments/7u6bpx/my_address_does_not_show_up_when_connecting_nano/

https://www.reddit.com/r/MyEtherWallet/comments/7u88e1/my_nano_ledger_s_shows_0_tron/

https://www.reddit.com/r/ethereumnoobies/comments/7ukb05/ethereum_to_ledger_nano_s_from_binance_failed/

[2018-02-02 14:56] OrEagle97327 commented on #524
You are posting here while I am posting your thread.

With us cross-posting, lets the devs know this is a Ledger issue, not individual wallets.

Keep it up!!!

[2018-02-02 15:37] brianlenz commented on #647
@mhuggins, we are planning to deploy the SC on Monday and start collecting our pre-sale contributions. The public sale opens Feb. 13. Thanks for your support!

[2018-02-02 16:26] JoeyVV commented on #624
Hi guys, I'm also having problems with withdrawal my RPX to exchange. It seems to be working until i push the button to send my RPX. i get error directly after sending  'Transaction failed'.
My balance showing the RPX but can't withdrawal.
Is this a Ledger problem or Neon wallet 1.2.1 problem?
and are the tokens lost or only no withdrawal?

And of course what to do? Nobody seems to know an solutio

[2018-02-02 16:27] JoeyVV commented on #624
PS: Tried several wallets before!

[2018-02-02 16:29] d0ngit commented on #524
Hello @OrEagle97327 @numero41 ,

Mr Eric (Ledger's CEO) just sent me an email. He asked for the status of my NEO currently. I've also replied to him and praying...

[2018-02-02 16:45] jayrod1892 commented on #524
Yea I saw many if the posted were closed out

I would like to think Eric will check in with us.

Sent from my iPhone

[2018-02-02 17:24] numero41 commented on #524
@jayrod1892 @OrEagle97327
Did you have any news from him via email since?

[2018-02-02 17:25] numero41 commented on #524
@d0ngit
May I ask you if you have a big amount of money locked out there?

[2018-02-02 17:30] numero41 commented on #524
This guy :

https://www.reddit.com/r/MyEtherWallet/comments/7u6bpx/my_address_does_not_show_up_when_connecting_nano/

just answered me on Reddit, I told him to join us here for now

[2018-02-02 17:44] numero41 commented on #524
We are also waiting for these guys.
**I already talked to them**, maybe some of you could add some comments to their posts.

https://support.ledgerwallet.com/hc/en-us/community/posts/360000486893-MyEtherWallet-showing-zero-balance-when-I-use-ledger-nano-s

https://support.ledgerwallet.com/hc/en-us/community/posts/360000395733-Important-Funds-on-Ledger-Nano-is-NOT-Safe-

https://www.reddit.com/r/le

[2018-02-02 18:20] OrEagle97327 commented on #524
No response to my email answering Eric's questions. Jan 28

[2018-02-02 18:25] d0ngit commented on #524
Hi @numero41 ,

Yes, my amount in NEO is quite big and i will do try my best to bring them back!

[2018-02-02 19:03] jayrod1892 commented on #524
Eric has not returned my email yet

I also corresponded with COINBASE and they said they will have an account specialist look into it.

When I last heard from Eric it sounded like he wanted to blame COINBASE for my issue

I don’t know what kind of insurance these companies have if any but is there a way to generate a claim.

Sent from my iPhone

[2018-02-02 19:27] numero41 commented on #524
Éric just sent me a mail to tell me they didn't have time to look at all the cases yet, and reminded me that it will take time to sort real issues from user errors (he previously talked about months and that most likely will lead to no responsibility from either sides).

Legally it's complicated for us and easy for them as the exact point of crypto transactions is to be untraceable and anonymous.

[2018-02-02 19:35] numero41 commented on #524
Also, we need to answer to the posts on Reddit, I know he reads them all (on Ledger subreddit).

**If you don't have a post for your own issue there, make one, it's THE BEST place where most of people meet and are listened to.**

**It's also our best chances to bring other cases to us.
For now it's the best thing to do, so please take some time each of you this weekend, make a post on reddit, and

[2018-02-02 19:37] numero41 commented on #524
https://www.reddit.com/r/ledgerwallet/

[2018-02-03 01:14] welcomyou commented on #638
Version 0.1.2 on Windows still get this problem

![image](https://user-images.githubusercontent.com/36091703/35761370-3ccc47da-08ba-11e8-87ba-79a9210a91e9.png)

[2018-02-03 01:49] dvdschwrtz commented on #647
@brianlenz I am hoping its an easy fix. can you please add this address to the list of verified senders? ALq7AWrhAueN6mJNqk6FHJjnsEoPRytLdW

[2018-02-03 01:51] dvdschwrtz commented on #647
PS: It was nice meeting you this past week. I am hoping that as narrative grows, they can become part of the CoZ community as well. Would be great to have your team involved in CoZ repos and activities :)

[2018-02-03 02:01] dvdschwrtz commented on #647
the .Script of undefined was an import error with the TxAttrUsage variable in neon-js. We have not needed it til now so have not caught this minor issue. I am hoping it works with this change but need to be verified to test

[2018-02-03 03:43] dvdschwrtz commented on #647
@brianlenz please let me know by pinging me through "@dvdschwrtz" when you have whitelisted my testing address so I can verify it is working for your token. Thanks.

[2018-02-03 03:49] brianlenz commented on #647
Thanks @dvdschwrtz! The sale ended on that SC, so I'm deploying a new SC for you to test with now. Will post back once it's up and you're whitelisted...

[2018-02-03 04:00] brianlenz commented on #647
OK, @dvdschwrtz, you should be able to test with our contract now here: `e7f761033ff4b2b39ba487a3b102b290ff3e36c2`. Let me know how it goes 👍 Thanks!

[2018-02-03 04:45] dvdschwrtz commented on #647
I fixed that issue and everything is looking good on my side after that fix. I am unable to get the verification to pass right now though. you can try pointing to this neon-js in your neon-wallet and test it as well. "neon-js":
      "git+https://github.com/dvdschwrtz/neon-js.git#0c8de6d727ca82e027809f5cb194accd72655136",

I can ask localhuman to take a quick look at this over the next few days po

[2018-02-03 05:00] dvdschwrtz commented on #647
@brianlenz I have confirmed that the latest package.json changes in the link above work correctly with the NEX template that is using verification. So I would like to review your smart contract

[2018-02-03 05:02] dvdschwrtz commented on #647
btw, as a user, if I send NEO to a smart contract that requires verification using the non-verification radio button it sends the NEO even if I am not whitelisted. Using the radio button for verification will block this from sending anything if the user is not whitelisted. we are going to move away from all non-verified options soon but for now this is a critical distinction that you need to clari

[2018-02-03 05:04] dvdschwrtz commented on #647
I am going to discord. bjornborg

[2018-02-03 05:04] brianlenz commented on #647
Sure thing! Project is here:

https://github.com/NarrativeNetwork/tokensale-neo-smartcontract

The script hash I sent you is running the `master` branch, with the only difference being the `original_owner` script hash.

The overall file structure of the contract is similar to the NEX template, but we've added new rules about contract phases, new functionality about minting of tokens, and new utili

[2018-02-03 05:37] Gazby commented on #524
Reading through this thread is quite worrying. We've got millions of ledgers being used globally. Ledger has GOT to address this, they cannot just shut complaints out.....its real money from so many users at stake here.Please those in touch with Eric whatsizname should keep at it. Well done

Sent from Yahoo Mail on Android

  On Wed, Jan 31, 2018 at 13:02, OrEagle<notifications@github.com> wrote:

[2018-02-03 07:09] dimxsum opened #651 "Blank Page when I click on manage wallet?"
Hi,

After updating when i click on manage my wallet i get a blank page. what is causing this? and how do I fix it?

![image](https://user-images.githubusercontent.com/36097652/35764060-5d63860a-0876-11e8-8c33-91a055007d48.png)

Thank you

[2018-02-03 09:45] saltyskip commented on #639
Is it TNC token?

[2018-02-03 11:35] numero41 commented on #524
https://www.reddit.com/r/Bitcoin/comments/7uwc1z/using_a_ledger_wallet_you_probably_believe_youre/?utm_source=reddit-android

[2018-02-03 15:38] jayrod1892 commented on #524
I just sent this to NBC via telegram

I don’t know if it will help but I’m planning on sending more messages to other media outlets

“Please help!  There is a large group of us who are using Ledger to store our Cryptocurrency and are loosing our “Coins” to errors and glitches caused by COINBASE and LEDGER. LEDGER is the maker of Ledger Nano S and the Ledger Wallets on the Chrome Browser.

Our conc

[2018-02-03 15:41] zulfh commented on #510
Guys I am having the same issue. I transferred NEO to kucoin from neon wallet and I don't see it in kucoin yet. It's been 1 hour. I was able to successfully transfer from Kucoin to neon though. Anyone else have the same issue ?

[2018-02-03 15:53] zulfh commented on #335
Guys I am having the same issue. I transferred NEO to kucoin from neon wallet and I don't see it in kucoin yet. It's been 1 hour. I was able to successfully transfer from Kucoin to neon though. Anyone else have the same issue ?

[2018-02-03 17:02] OrEagle97327 commented on #524
@numero41  I followed your link.  Whew; I am glad you techies are here. (lots to understand)

@jayrod1892 Be careful with Main Stream Media; ...they will change the narrative.  We want crypto to have a positive image.

[2018-02-03 17:23] numero41 commented on #524
@OrEagle97327
I agree, I just gave my opinion here :
https://www.reddit.com/r/btc/comments/7uqr9w/warning_to_any_new_users_thinking_about_hardware/dtoged4?utm_source=reddit-android

I don't intend give up on my money, but for now we need to be patient and to keep the contact with them as constructive as possible. I think it's to early to know how they'll deal with us.

[2018-02-03 17:33] zubik669 opened #652 "After clicking the trash bin icon in Manage Neon Settings, all wallets with same key were deleted."
Thanks for providing this wallet.
I'm using Neon wallet 0.1.2.

I accidentally reproduced 3x the issue #601: neon saving wallet multiple times (with the same name).
Now I got the idea to remove the extra 2 wallets. After clicking the trash bin icon in Manage Neon Settings, all three wallets were deleted.

Now, I'm able to recover the wallet with Passphrase and Encrypted Key, but I can't find how t

[2018-02-03 17:53] jayrod1892 commented on #524
Sorry for coming off a little aggressive. I just have a bad feeling about Ledger and it’s executives.  I’ll refrain from sending anymore to mainstream entities.
Sent from my iPhone

[2018-02-03 18:01] numero41 commented on #524
To be honest, I have no idea myself...
My idea is they might let us down, but I had the opportunity to talk to Eric orally, and he seemed very concerned, and good willing.
But they are a quite big company now, and company concerns don't always fit with ceo concerns...
I think they are waiting to see how many people have encountered this issue, and provide either a technical solution, either a fina

[2018-02-03 18:41] carlos696969 opened #653 "hi, i created 2 neon wallets and saved all the details e.g passphrase and keys but stupidly when icreated the second wallet i forgot my passphrase and didnt save the keys. i saved the wallet but cant access it. is there anything i can do as i have funds in it??"
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2018-02-03 19:40] mhuggins commented on #653
Unfortunately not.  You need to have the passphrase to decrypt the encrypted WIF or the WIF itself.  This is the basis of the security of a wallet address, so you will not be able to access the wallet without one or the other.

[2018-02-03 20:57] IISMASHII opened #655 "I have a neon wallet with Neo and DBC, how do I transfer that wallet address to a ledger nano s, so that I can use the ledger nano s to open the wallet"
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2018-02-03 21:08] #653 closed

[2018-02-03 21:49] nippernation commented on #641
If you sent from Kucoin join the club. It is an error with them and they are taking their time to resolve. Mack sure you raise a ticket with them if so....

[2018-02-03 22:44] niranjans commented on #429
I have the same issue. Cannot claim gas. Updated to the latest Neon version 0.1.2 but that did not fix this. Any suggestions?

[2018-02-03 23:59] OrEagle97327 commented on #524
I just posted a Reddit file, and already forgot which one it was.  (keeping attention on the issue)
Let me share here, for all, - the theme of that post.
--> Only use Ledger wallet on computer start-up (reBoot)
Nothing in the background, is the reason.

@jayrod1892 - Please proceed with what you feel is best. Make suggestions to me. All public attention as possible, is what it takes. MainStreamMed

[2018-02-04 00:19] alexdimella commented on #641
How do you raise a ticket with KuCoin? All I see is a support email
address... and they have not replied to me after two attempts.

Thanks,
Alex

On Sat, Feb 3, 2018 at 4:49 PM, nippernation <notifications@github.com>
wrote:

--
www.AlexDiMella.com

[2018-02-04 00:30] jayrod1892 commented on #524
I’ll post my Ledger experience on reddit this evening

Sent from my iPhone

[2018-02-04 01:16] gassand2004 commented on #641
I contacted support twice and talked with them through chat. Both times they said my funds are safe took all my info including hash, wallet address, and email and that was really about it other than sending them a few screen shots. I asked if they would be contacting me and they said just keep checking your wallet...binance is the best exchange out there by far and if they want to compete they nee

[2018-02-04 01:23] nippernation commented on #641
They appear to be on a day off today. Tomorrow (Singapore time) go to support and on the top right click human support. I’ll be doing the same as my transaction was on 1 Feb

[2018-02-04 02:56] chexx42 commented on #524
jayrod1892   Have you tracked your ETH from Coinbase to see if it's unspent ( I think it means you only see IN on Etherscan.io page and no OUT). From what I've been reading some Ledger owners are saying that the Public Key is changing, have you checked that the current  public key is the one that you used to send your ETH to the Ledger Nano.

If you can find the related key make a copy of it

Do y

[2018-02-04 03:26] jayrod1892 commented on #524
Chexx42

This is some awesome information!

I am pretty novice when It comes to most of this.  However I will try some of these suggestions.  Is there anywhere I can go for more of a step by step tutorial.

I checked EtherScan after the incident with my ledger and the funds went to a hybrid address of my current ETH wallet address.  The address the funds went to has no prior history.

Sent from my

[2018-02-04 07:24] chexx42 commented on #524
jayrod1892  It's very difficult to do a step by step tutorial, their are to many variables, from your computer/phone, exchanges, internet connection, wallet software, the crypto currencies are upgrading occasionally, sorting out one fault and putting another one in, in some cases.

Most exchanges are having a terrible time trying to upgrade their system and get more staff, because of the crypto ex

[2018-02-04 13:09] numero41 commented on #524
Hi guys,

Honestly I don't think there's any way to "bring back" the original address by ourselves.

All we have in common is that we saw/used the wrong address only once.
Since then it seems like we all have the same "new" address, which is in fact the one we were supposed to have from the beginning. It has been confirmed for me as for other ones by the bip39 tool.
What does this tool is quite si

[2018-02-04 13:48] OrEagle97327 commented on #524
@numero41  - This is very good detailed info.

I have sent you an email to you directly.

[2018-02-04 15:20] Branox commented on #524
Hi, I am new person with lost address from Ledger...
I sent TRX to MEW with Ledger Nano S, and when I want to check my balance after 1 week, Ledger didnt give me options to choose the same ETH address where I sent TRX last week... how is this possible???

I checked maybe 200 addresses from the list of Ledger in MEW and this address disappear so I cannot connect to this address...

[2018-02-04 15:23] numero41 commented on #524
@Branox
Are you sure you use the same derivation path? Did you try them all just in case?
Did you ever set a passphrase on the Ledger?

[2018-02-04 15:30] Branox commented on #524
@numero41
Yes,sure. Is it possibble to set Ledger without passphrase?...
This is the address to which I withdraw TRX from binance
0xf149eE429EA63afF9FCe34110ae993648A75B609.
It is strange that there was a credited EthLend 14 days ago...

[2018-02-04 15:55] jayrod1892 commented on #524
Ok thank you !

I definitely don’t want to compound the problem so I’ll make sure I reach out to someone better versed in this than I

Sent from my iPhone

[2018-02-04 16:38] numero41 commented on #524
@Branox
I was mentioning the advanced passphrase option in the security section on the device itself. It's a way to add an additional layer of security to your device.
But if you did this you'd remember as it's a complicated feature.

So I'd say, welcome on board!  lol
Thanks for your comment, hopefully it will be helpful for all.

@jayrod
Your issue might be the same, but also might be different!

[2018-02-04 16:43] numero41 commented on #524
@Branox
You didn't do the ethLend withdraw??

[2018-02-04 16:53] Branox commented on #524
@numero41
No, I didnt. Someone sent ethlend to mi lost address, strange...

[2018-02-04 17:48] olivergray24 commented on #630
Also tried the new version of Neon, 0.1.2, it seems to try harder & longer but still fails with "Claim failed" message.

[2018-02-04 21:36] tacamaniac commented on #524
I have a very similar issue with my ledger. I have made in/out transactions to my ledger nano s in the past with no issue, until recently. A couple of days ago I wanted to check my coins in my wallet (the last time I interacted with the nano was a couple weeks prior) and the device did not like my pin. And of course I entered the same pin 3 times which reset the device.

No problem as I restored t

[2018-02-04 21:40] numero41 commented on #524
@tacamabiac @Branox
I sent your issues to Eric, I guess he'll email you tonight or tomorrow.
Please keep us updated with his answers.

I am also waiting for at least 5 other people answers on reddit.

Good evening to all.

[2018-02-05 02:55] rasberrygreen opened #656 "Wallet name"
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2018-02-05 02:56] #656 closed

[2018-02-05 12:01] stevesbrain commented on #335
@zulfh Is it on the blockchain? If so, message Kucoin. If not, resend. Either way, not a lot of good replying to a closed issue - not many people will see it.

[2018-02-05 16:16] zulfh commented on #335
Hi Steve,

Thanks for reaching out. Yes I do see it on my kucoin wallet now. It just took some time to show up for some reason.

[2018-02-05 17:05] numero41 commented on #524
Does any one has news from Eric?
The Ledger forum had many complains today

[2018-02-05 17:16] jayrod1892 commented on #524
No word from Eric on my issue

I saw all the complaints

More than usual

Sent from my iPhone

[2018-02-05 17:39] numero41 commented on #524
I have a bad feeling, it seems like it's getting worse everyday, they didn't answer a single issue today.
Usually on Reddit there is stiVal and infiniteloope or murzika (Eric) answering, not a single answer today.

[2018-02-05 17:40] tacamaniac commented on #524
I have not heard anything yet.

[2018-02-05 18:09] comountainclimber commented on #635
@Ejhfast we can probably close this guy all we should need to do is update DNS settings on https://github.com/CityOfZion/neon-wallet-website

[2018-02-05 19:26] OrEagle97327 commented on #524
My contact with Ledger support tickets,  I had opened.

12/22/17 - "Here is your ticket ID: #103079"

First I had received a response from Alexandre,
Your request (103079) has been updated. To add additional comments, reply to this email.
" Alexandre (Ledger)Dec 26, 11:21 CET
Hello, ...This is a third party app integration. You need to see directly on their support website
Regards,...Ledger Custom

[2018-02-05 19:37] mhuggins commented on #651
This is hard to debug without more information.  Can you please provide more insight by running the app again, then...

1. Click `View` -> `Toggle Developer Tools`:

    ![screen shot 2018-02-05 at 1 34 15 pm](https://user-images.githubusercontent.com/169093/35824733-6ecf4514-0a79-11e8-8924-d2d52bd5a7f5.png)

2. Open the `Console` tab:

    ![screen shot 2018-02-05 at 1 36 00 pm](https://user-imag

[2018-02-05 19:41] numero41 commented on #524
As I told tacamaniac on reddit just now :

I feel so upset and angry tonight...

I already spent more than 100 hours so far on this, in addition to 45-50 hours a week job, and I even had to take 3 days off without pay because I was too tired.

This should be Ledger's job!! And now they don't even answer anymore, people are insulting me in pm on Reddit because I try to warn people.

I lose my money

[2018-02-05 20:07] OrEagle97327 commented on #524
We are pioneers; paving the way for others to follow.
As hard as it is we will endure.
@numero41 ...I would be absolutely nowhere without you.

The only way for me to ease the pain of my loss:
--Others have larger loss than mine
--It takes sacrifices to settle a frontier (wish they were not mine)
--I have learned a lot ...(degree in School of Hard Knox without student debt)
--Others have left a tr

[2018-02-05 20:15] OrEagle97327 commented on #524
Somewhere on Reddit I saw Ledger had received 75 million dollar grant for research.
(know so little, cannot find it again.)

About one of those, might cover some users losses.

[2018-02-05 20:16] numero41 commented on #524
Ok, I made a form to gather data, and each of you will be able to send to other people
Can you check if it works and if you have some suggestions?
https://docs.google.com/forms/d/e/1FAIpQLSfgEim2xICDBcpL6tL5q0_BKYCNevT5Q6-qVyegJhe4tdz6cw/viewform?usp=sf_link

[2018-02-05 20:20] OrEagle97327 commented on #524
Great form...
Where do we consolidate data?
How do we compare notes?

If we start a journal with cross references; hopefully we can pinpoint common ground/settings

[2018-02-05 20:31] OrEagle97327 commented on #524
Several edits to form needed, I filled it out as-is

[2018-02-05 20:52] numero41 commented on #524
Yes, you can only modify the form just after you have filled it.
You have to bookmark it at this moment to be able to modify it later.
https://www.quora.com/How-do-contributors-edit-their-responses-to-an-already-submitted-Google-Form

You'll be able to see the data, I need to add everyone as contributors, I'll do it whit the emails you fill from the form itself.

[2018-02-05 20:58] numero41 commented on #524
Results can be viewed here : https://docs.google.com/spreadsheets/d/1afBgZ5yvr6FHN1CBl2bSlJIEfbpNtHukQSqW731gXmE/edit?usp=sharing

[2018-02-05 21:30] numero41 commented on #524
Ok, it seems to work
Please take time to share the link to RELEVANT people!
Thank you.
https://docs.google.com/forms/d/e/1FAIpQLSfgEim2xICDBcpL6tL5q0_BKYCNevT5Q6-qVyegJhe4tdz6cw/viewform?usp=sf_link

[2018-02-05 21:38] numero41 commented on #524
@OrEagle97327
I removed your answer, you can fill the form when you'll have all the data

[2018-02-06 00:16] OrEagle97327 commented on #524
I now pick a time to reboot before using my Nano S.

[2018-02-06 03:24] brianlenz opened #658 "Verified Token Sale Contributions: Ledger Tx Signing Failing"
I'm not entirely sure where this issue lies, but token sale contributions with verification enabled are failing when using Ledger. If you don't use verification, it works perfectly.

With the fixes from @dvdschwrtz / @slipo for #647, verified transactions are otherwise working perfectly, so I believe this is the only outstanding issue remaining with verification.

[2018-02-06 05:12] alboogs opened #659 "Withdrew NEO tokens from Binance to Nano Ledger S. Showing ZERO BALANCE"
Hello, I recently withdrew my NEO tokens from Binance and sent it to my Nano Ledger S Neo Wallet. Binance had a confirmation saying it was sent. However, when I logged into my Nano Ledger S, it said ZERO BALANCE. It is because now I found out that I have a different NEO ADDRESS.  It was sent to my ORIGINAL NEO ADDRESS but it's no longer my current address when I log into my Nano Ledger. Why did my

[2018-02-06 06:31] numero41 commented on #659
Hello, is your issue the same as here?

https://github.com/CityOfZion/neon-wallet/issues/524

If so, you can fill this form, it will be analysed by Ledger support.

https://docs.google.com/forms/d/e/1FAIpQLSfgEim2xICDBcpL6tL5q0_BKYCNevT5Q6-qVyegJhe4tdz6cw/viewform?usp=sf_link

[2018-02-06 06:53] alboogs commented on #659
@numero41 Thank you! I filled out the online form and submitted. I hope we can get this issue resolved soon.

[2018-02-06 11:30] numero41 commented on #524
So for now only 5 people filled the form.
I sent the link to Eric yesterday, and even gave him admin rights to modify the questions if they want, but no answer from him so far.

[2018-02-06 11:42] KingVerso commented on #510
Same here....trying to deposit TKY to kucoin using neon 0.1.2 and it's not working (I am using a ledger nano s)

[2018-02-06 11:47] Jojoooo1 commented on #639
same with me

[2018-02-06 11:53] KingVerso commented on #620
Okay, after playing around this is what worked for me, open up ledger manager on your laptop/pc, then uninstall the neo wallet and reinstall it. Worked first time after doing this :) Let me know if this works for you!

[2018-02-06 12:24] OrEagle97327 commented on #659
My thread is #524.

Ledger wants to claim it is the software wallets.

We need to gather as many users, as possible. who lost tokens of any kind, in one list

This "undocumented feature" (bug) in the Ledger Nano S is causing users to loose assets.

When we show the same symptoms across several tokens, that takes it back to one common denominator. The hardware. The Ledger Nano S.

[2018-02-06 13:52] alboogs commented on #524
Thank you for opening up this trend. Hoping we can gather enough people who are encountering the same problem & have someone from Ledger and/or Nano help us resolve this issue. Please, if you are experiencing the same problem, to kindly fill out the online form.

[2018-02-06 14:22] derwen opened #660 "Neon Wallet 0.1.2 (and previous versions) - Can't claim GAS"
It's actually an issue for me since a few previous versions, I am not able to claim gas for weeks now. Everything else works normally, sending NEO and tokens, but when I claim gas and sign the first transaction it either fails or when "sign second transaction" comes on Neon, nothing happens on Ledger - it's stuck on "Wake up NEO". Tried reinstalling Neon, tried multiple Neon versions, tried reinst

[2018-02-06 14:30] Boobybandit commented on #510
Hi guys, just wanted to give an update on using the Neon wallet (v1.1.2) and Ledger. I succesfully transferred RPX from Kucoin and huobi to the Neon wallet (connected through Neo app on ledger), and I send some RPX back to kucoin and then withdrew again. Just wanted to post this update because last week my RPX was not visible in the Neon wallet (only Neoscan.io), and I could also not send RPX.

[2018-02-06 14:42] rolandmsun opened #661 "How can add new token "Trinity"?"
## PLEASE NOTE

I dont know how to add tokens like Trinity to be shown on the interface.  Could you please tell?

## For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage probl

[2018-02-06 21:18] numero41 commented on #524
8 people
going to bed now :)

[2018-02-06 21:35] Silvershad6w opened #662 "TKY token visible on neotracker, not on NEON , even after 24 hrs."
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

Using latest 0.1.2 version of neon with nano ledger s (also latest firmware and neo app

[2018-02-06 21:36] mhuggins commented on #662
Have you added the token's scriptHash on the wallet settings screen?

[2018-02-06 21:37] OrEagle97327 commented on #524
g9

On Tue, Feb 6, 2018 at 1:18 PM, DL <notifications@github.com> wrote:

[2018-02-06 21:39] Silvershad6w commented on #662
Yes I have added the correct scripthash. Tried removing it and adding it back on couple of times.
The weirdest thing is that I had 2 deposits. One of 100 TKY which was done on feb 2nd. And one of larger amount done yesterday (tx confirmed and visible on neotracker).

Only the first one shows up in Neon. Second one does not.
Both are available on neotracker though.
Something is seriously wrong, I h

[2018-02-06 22:04] alboogs commented on #524
Thanks again @numero41 @OrEagle97327 for being proactive. Hope we can create more buzz and get NEO and/or LEDGER's attention. #LetsStayPositive

[2018-02-06 22:15] alboogs commented on #524
Can you guys send me a link to where I can place a "ticket"? I mistakenly used the 'trend number' as my ticket number for the 'online form'. I haven't officially sent out a 'ticket compliant'. Thanks in advance.

[2018-02-07 01:46] ZedVon commented on #641
Same boat here guys. I tested by sending 10 TNC from KuCoin to NEON wallet was fine. Until i sent 3,400 TNC to my NEON wallet it has not showed up yet and it has been more than 18 hrs ago. Just sent an email to KuCoin, hopefully they can help me.

[2018-02-07 02:34] nippernation commented on #641
I have to get back to Kucoin again (for the second time) to relax the job.

My funds came through about 1 hour later.

Your funds should be safe. They are having issues on the exchange however, and it might take some time to get your tokens.

[2018-02-07 03:49] dimxsum commented on #651
hi, how do i do this on windows?

On Mon, Feb 5, 2018 at 12:37 PM, Matt Huggins <notifications@github.com>
wrote:

--
Brian Ngan

[2018-02-07 04:40] mhuggins commented on #651
Is there not a "View" menu in Windows?

[2018-02-07 04:41] mhuggins commented on #651
I look like you can press <kbd>F12</kbd> or <kbd>Ctrl</kbd> + <kbd>Shift</kbd> + <kbd>I</kbd>.

[2018-02-07 04:58] Volodymyr2929 opened #664 "Neon Ledger nano s problem"
I sent Trinity Network Credit (TNC) - tokens to Neon Ledger nano s wallet . The balance doesn't show !

[2018-02-07 05:03] quagmireccg opened #665 "TKY funds show perfectly fine on Neotracker, but does not on NEON"
Many users are experiencing the same problem with NEON 0.1.2 or lower version.

TKY tokens are visible perfectly on neotracker, but on NEON wallet they show up as 0 balance.

What is the root of this?

[2018-02-07 10:52] numero41 commented on #524
I don't find the link to submit a ticket.
It seems like they removed the ability to submit a ticket??

We don't have any answer from Ledger since they have access to the form.
I think now is time to begin research for legal advices / class action advices.

https://www.lexology.com/contributors/k-and-l-gates
http://www.classactionsreporter.com/class-action-settlements
https://bitcoinexchangeguide.c

[2018-02-07 10:55] numero41 commented on #524
http://bitcoinlawhub.com/

[2018-02-07 11:05] numero41 commented on #524
**Ok, I found for tickets, they can be submit here : **
https://support.ledgerwallet.com/hc/en-us/requests/new?flash_digest=cb0f35e5f89e7cc9dba7e56afc25e567784d7e9a&ticket_form_id=249345

**Ledger terms of use : **
https://www.ledgerwallet.com/terms

This is where it'es supposed to take us :
https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home.show&lng=EN

[2018-02-07 11:07] numero41 commented on #524
https://ec.europa.eu/consumers/odr/main/index.cfm?consumer-question1=Y&consumer-question2=Y&consumer-question3=Y&complaintType=3&event=main.complaints.new

[2018-02-07 11:10] numero41 commented on #524
The last link I provided is the one we have to fill

[2018-02-07 11:27] numero41 commented on #524
I made a new post on Reddit :
https://www.reddit.com/r/ledgerwallet/comments/7vvggg/for_those_who_dont_find_the_link_to_submit_a/

[2018-02-07 11:41] zulfh commented on #335
Hi Steve,

I am having another issue now. I had previously transferred TNC from Kucoin
to my NEON wallet without any issues. I did this last night again and it
doesn't show yet after 8 hours. The transaction confirmation just keeps
incrementing on the NEON tracker page.

Please advice.

Thanks

On Mon, Feb 5, 2018 at 11:16 AM, Zulfiqer Habeeb <zulf.habeeb@gmail.com>
wrote:

[2018-02-07 11:52] alboogs commented on #524
Thanks @numero41 ! If it's no trouble, is it possible you can edit my 'ticket number' entry? I just submitted one to ledger. Name: Albert - Ticket number: #131978

[2018-02-07 11:54] numero41 commented on #524
@alboogs
just did it

[2018-02-07 12:58] OrEagle97327 commented on #524
Please... Slow down...
This thread is set up to find common ground, to take us to a solution.
I do not see where anyone, intentionally set out to defraud me.
At most, I see, this only as a consumer complaint.
Who wants to be in the "Law Suit" business?
Take all talk of legal action to another thread.

We need to keep an open dialog. ...Legal action severs that relationship.
(you catch more flies w

[2018-02-07 13:24] numero41 commented on #524
Yes it's a only consumer complaint form.
For the other links, it's not about build a law suit, it's about having legal advices at least.
And law is not only about **intentionally** set out to defraud.
I surely don't want to do in law suit business, but for now I'd like Ledger to acknowledge that they had the form and that they'll use it. And they didn't.

Their non answer is to me a way to say tha

[2018-02-07 13:31] simossss commented on #662
I have the exact same problem.
TKY ticker shows in NEON after adding the hash, balance is 0. Neotracker shows balance.

[2018-02-07 13:34] numero41 commented on #662
Did you check that your public address is still the same you had at the time you made the transaction?

[2018-02-07 13:36] simossss commented on #662
Of course. As I said, the same address shows a balance on neotracker - which is correct - and 0 balance on NEON.

[2018-02-07 15:57] tacamaniac commented on #524
I did get a response from Eric via my Ledger support request.

He has indicated that my issue is not the same as numero41.

He asked me more details about my issue:

Q>- before resetting the Nano S, you connected many times to MEW and you always got access to your normal account
-My response - Before resetting my Nano S, I was interacting it with MEW several times. According to Etherscan, I made t

[2018-02-07 19:33] numero41 commented on #524
Tacamaniac had his issue solved, he somehow entered a wrong passphrase when he restored his Ledger (I think he'll explain in a more precise way later).

So for now, (without him) we are 10 to have filled the form.

[2018-02-07 20:08] sp3 commented on #665
This is a bug that currently a lot of people are facing against. Newest NEO Ledger app, NEON 0.1.2 - same scenario, tokens are visible on neotracker but the TKY account balance on NEON displays 0, that prevents every holder from moving their assets.

[2018-02-07 21:10] Volodymyr2929 commented on #665
Same with TNC tokens even worst ,tokens are not even visible on neotracker.

[2018-02-07 23:32] Silvershad6w commented on #665
Guys is any developer looking into this now ?

[2018-02-07 23:33] Silvershad6w commented on #662
Any updates?

[2018-02-08 00:08] stevesbrain commented on #335
@zulfh I always check the blockchain if in doubt. If it doesn't show on blockchain, then it's an issue with Kucoin (maybe taking a while to broadcast). If it does show on blockchain, but not on the NEON, then good news is the funds haven't been lost! Likely, in that case, it's possible NEON's blockchain servers are lagging behind (happens occasionally).

[2018-02-08 00:16] chexx42 commented on #524
Way to GO OrEagle97327   I doubt the people who are looking to sue have a lot of experience in this new technology?

Is their a list, preferably single line of basic problems users are having.

Have they actually lost NEO, ETH, etc, can they track it to see if it's been spent?

How many have found that their Public Address has changed, This is something I think Ledger needs to address

I personall

[2018-02-08 00:21] dimxsum commented on #651
hi,

I press those keys and nothing is poping up with a console or anything

On Tue, Feb 6, 2018 at 9:41 PM, Matt Huggins <notifications@github.com>
wrote:

--
Brian Ngan

[2018-02-08 00:23] zulfh commented on #335
How can I check on blockchain?

[2018-02-08 00:52] OrEagle97327 commented on #524
@chexx42 ...thank you for input

This thread was set up to find users with common problems. in search of solutions for all.

It started with my loss of 108 Neo using Neon wallet with Ledger Nano S
(note: .../CityofZion/neon-wallet... in url)
It has become a cross over post from Eth and xrp users
(seems there is no //gethub ... /Ledgerwallet/issues/...)
I am afraid most of the devs have us muted by

[2018-02-08 02:29] olingki opened #666 "NEON 0.1.2 - Unable to claim GAS and unable to withdraw NEO"
I am using NEON Wallet 0.1.2 and I am unable to perform the following actions:

1. To claim the GAS balance

2. To withdraw NEO from my NEON Wallet

I noted this is a very common issue...could somebody help to resolve...?

[2018-02-08 03:03] stevesbrain commented on #335
@zulfh I am not familiar with any of the tokens, so I'm not sure if this is normal - however, compare that to your last successful transaction, and see if it looks similar :)

[2018-02-08 03:20] zulfh commented on #335
Thanks Steve. I don’t see any difference. I have contacted Kucoin customer service for now.

[2018-02-08 03:21] stevesbrain commented on #335
No worries - sorry I can't provide more info. If you view your wallet, rather than the transaction, you may see the balance of any tokens listed there!

[2018-02-08 03:22] zulfh commented on #335
Yea. I see the other balances.

[2018-02-08 03:45] stevesbrain commented on #335
If you see no TNC listed there at all (including your previous successful ones) then I'd contact Kucoin, likewise if you see your previous transaction TNC but not your current, I'd contact Kucoin. It's only if you see all expected TNC that you don't need to contact Kucoin.

[2018-02-08 03:45] lulime opened #667 "cannot send tky tokens from neon wallet"
trying to send tky and zpt tokens from neon wallet, but tky or zpt are not on the asset dropdown.  I can write it but it automatically changes it to NEO.  I added the tokens and can see my balance in the wallet, but when I try to send any of them, it doesn't allow me.  I do have GAS, have the Neon wallet version 0.1.2, and use a nano ledger.

[2018-02-08 03:48] tacamaniac commented on #524
Just a quick update as it pertains to my issue. Apparently I must have rest my Nano S when I first got it and had kept the original 24 words as backup. But when I reset the Nano at that time I also took down the new 24 words.

Last week when I tried to gain access to my wallets, my PIN was not being accepted. So, after 3 attempts the device was reset and I had restored the device using the first s

[2018-02-08 03:54] zulfh commented on #335
I see everything except the one from last night. So I have contacted Kucoin.

[2018-02-08 03:55] stevesbrain commented on #335
No worries - hope it gets resolved!

[2018-02-08 08:23] chexx42 commented on #524
I have just realized that you can't get your private keys for NEO using Ian Colemans BIP39 tool.
NEO appears to me to be a bit more difficult to understand the tracking info. Where as Bitcoin is great and Ethereum need a bit of work, The crypto's have a long way to go to make it easier for users to track/trace their transfers

Update on NEO, I have found the "unspent"  bit on neotracker.io   once

[2018-02-08 08:58] OrEagle97327 commented on #524
@chexx42 Wha do you want sent to you?

[2018-02-08 09:07] chexx42 commented on #524
OrEagle97327  Seeing as I have found the keys on the list now just your firewall(s) are setup on your system

And have you tried resetting  your nano s, which probably means starting from scratch again like when you first had it. Hopefully making sure that the seed phrase is the original one, otherwise it's probably a pain to put it in by hand.  My idea is that it should check for all public keys

[2018-02-08 09:16] OrEagle97327 commented on #524
No; I have not reset my Nano S - too many assets
do I dare?

I use AVG Virus protect, not sure if it replaces Win10 firewall.

[2018-02-08 09:24] chexx42 commented on #524
OrEagle97327   do you have a second computer that's attached to the internet, that you can load Mew on and try loading your seed phrase on that.

I don't think Windows and AVG are the problem, you must have at least one other firewall in your system, ? Unless you have a old blue Shaw cable modem in Canada that puts the IP the Internet see's on your computer, most ISP's modems have a firewall, but

[2018-02-08 09:28] OrEagle97327 commented on #524
I have a second computer

My internet connection is DSL through phone company might have some sort of firewall

My issue is Neon Wallet

MEW still shows my assets.

[2018-02-08 09:35] chexx42 commented on #524
OrEagle97327   Ledger was recently suggesting you use MEW instead of the NEON Wallet to access the nano s, are you using both.

[2018-02-08 09:36] OrEagle97327 commented on #524
Mew access the eth and those tokens

Neon wallet requires Ledger manager to add Neo

[2018-02-08 09:38] OrEagle97327 commented on #524
The Ledger has it's own Eth wallet or MEW will access Eth in another wallet

Neo is not in MEW

[2018-02-08 10:05] numero41 commented on #524
Of course there are some transactions lol, just look at the "token transfert"/"view token" sections.
Dates/hours addresses/amounts match perfectly with my withdraws from Binance/Huobi.
And I already explained that I made 6 transferts, and that I was seeing them coming in my Mew account.

For my case I already reset the Nano. Same new address.
My firewall is window's 10 one, and antivirus Avast, bu

[2018-02-08 10:15] OrEagle97327 commented on #524
Sure wish I understood half of the information being discussed here.

[2018-02-08 10:29] chexx42 commented on #524
numero41 This Ether Public key you supplied has no transactions, you appear to have supplied the wrong one, I checked the current key you supplied as well that has zero transactions also.
try this link?
https://etherscan.io/address/0xbBeC195bA2AD7197e280A682c185af1a3e9c9D29

[2018-02-08 10:31] numero41 commented on #524
![capture](https://user-images.githubusercontent.com/26090120/35968253-9f450b56-0cc3-11e8-83b1-16ab4b5b716a.PNG)

[2018-02-08 10:37] chexx42 commented on #524
numero41, Yes I was right you have no ETHER

# From Reddit Select the correct ETH address from your wallet and then select the "Unlock Your Wallet" button. Make sure that this address has some funding. If it doesn't have funding, you wont be able to do transactions with the ETH or tokens. Try to send/fund the equivalent of $8-10.00 to that ETH address.

[2018-02-08 10:38] Niels1990 commented on #620
@KingVerso I tried to send CPX tokens, but it says: required 1 drop of GAS

What does that mean? And will my tokens be lost aftet uninstalling the neo app on my ledger?

I'm very scared about this whole situation...

[2018-02-08 10:42] numero41 commented on #524
The problem is not that I can't make transactions, the problem is that I can't **ACCESS** that address.
This address is not in the list.
I don't understand what your answer has to do with my issue.

[2018-02-08 11:06] chexx42 commented on #524
.numero41  As I understand it you didn't have any ETH so you shouldn't have been able to do any transactions.  once you acquire access to the public key you could try sending a little ETH to it. You may have to find a 24 bit wallet to sort it out, possibly putting your seed phrase in.

You should be able to find the private key using Ian Colemans BIP39 tool stand alone, not the web version as you

[2018-02-08 11:55] KingVerso commented on #620
@Niels1990 no ofc they won't be lost! I wouldn't reccomend it if it got your tokens lost! I did it myself and didn't lose a single thing!

[2018-02-08 12:27] shivamp1 commented on #529
Hi Guys, Ive got the latest version of neon wallet, Ive just uninstalled and reinstalled it as well, but it doesnt allow me to sent tokens out of my ledger nano. Last week it had allowed me to take out Neo but no Gas, no DBC, no RPX and no QLC, please help

[2018-02-08 13:20] numero41 commented on #524
@chexx42

1/ you don't need to have ETH on an address to be able to STORE erc20 tokens on this address
You need ETH to SEND the tokens.

2/ I don't understand why you keep mentioning an issue we would have that would not be able to make transactions.
I think you mixed our issues with the threads of Neo wallet, or issues that are reported many times on Reddit already.

**No one here mentioned anywh

[2018-02-08 15:39] Easaaaaaaaa commented on #665
same problem

[2018-02-08 18:16] buddhaman8 commented on #667
I am also unable to send my QLC tokens from my NEON wallet (0.1.2) I have GAS  but QLC isn't in the drop-down menu to send.....Any clues guys?

[2018-02-08 22:56] Sauron79 opened #669 "Cannot transfer TNC tokens from my NEON wallet"
Hello,

Though I can see my TNC tokens in my NEON wallet (I added them via "manage tokens" using the script hash), I am actually unable to transfer them. They don't show as available when I try to "transfer an asset" - please help. As it stands they are just stuck there.

[2018-02-09 02:21] chexx42 commented on #524
numero41 You obviously don't need ETH to store tokens, but you possibly need ETH to have the public key picked up when you put in the seed phrase in a new/reset wallet.

I would not assume that your missing key with no ETH and no ETH transactions in it should be at the top of the list, I had a similar problem with Bitcoin when using Jaxx and some my funded keys where still a few pages (20) down, s

[2018-02-09 03:51] comadaihiep92 opened #670 "Cannot transfer ZPT tokens from my NEON wallet."
Hi dev,
I can't send ZPT token. I just receive it.
How to fix it??
#ZPTtoken #errorsend

[2018-02-09 10:40] numero41 commented on #524
Hello @chexx42,

Thanks for youur inputs.

Yes the Bip39 tool always gives me the same bunch of addresses in the same order each time.
I generated a csv file with the 10000 first addresses but mine was there.
Eth and Bitcoin are different because Bitcoin wallets change the address at each transaction.
Eth wallets always use the first one by default, even if Leger+Mew allows us to use any of the li

[2018-02-09 18:24] dasbcjoker opened #671 "Neon 0.1.2 still shows Zero Balance"
Still experience Error: Could not retrieve NEO/GAS Balance

[2018-02-09 18:31] niemc82 commented on #387
Where do you download the actual NEON wallet?
I used this site
https://github.com/CityOfZion/neon-wallet/releases

is this the scammer?

[2018-02-09 18:42] Colljam commented on #387
Hey dude,

That link is legitimate, I believe.  The neon wallet isn’t the issue here, neon is a great wallet. The issue was with the neotracker website that me and the others here used, we should have known better I guess. If you do choose to use the neotracker.io wallet check the address and bookmark it. I believe we used a malicious phishing website neotracker .co (DO NOT USE THIS). Again, Neon

[2018-02-09 20:24] Laurentius26 commented on #529
@shivamp1 , same issue here. Latest Neon wallet version 0.1.2 with Ledger Nano. Sending GAS is not working. Very anoying as I have 10 GAS, a lot of money. :-( Huge bugger. Any help I could use as well.

[2018-02-09 21:48] HasselbladHasABad commented on #641
Hey, at least they're doing a good job at keeping us informed through all of this...oh shit wait, nope, they can't even respond to one of the many emails I've sent them over the past three days as my TNC is still missing.

I'll never us KuCoin again. I don't care if you have issues, but if you refuse to stay open and communicate those issues then you make me fucking nervous and I won't use you aga

[2018-02-09 23:34] ayanca opened #672 "Neo stolen from wallet"
I had 150 neo in my wallet,I use a ledger nano s to connect but my money were transferred to another account.How was it possible?now I can see it on neo tracker ,they appear on another adress and I can not take it.please help!!

[2018-02-09 23:36] numero41 commented on #672
Hello, it seems like the same issue as here

https://github.com/CityOfZion/neon-wallet/issues/524

you can check and, if yes please add a comment and fill this form :
https://docs.google.com/forms/d/e/1FAIpQLSfgEim2xICDBcpL6tL5q0_BKYCNevT5Q6-qVyegJhe4tdz6cw/viewform?usp=sf_link

[2018-02-09 23:51] ayanca commented on #659
How did you found out that you have a different adress? I have a similar problem...I withdrawal from binance 150 neo ,sent in to my neo ledger adress,my neo showed in there,but after a few hours my neo were transferred to another adress...I didn't made that transfer....but when I log in to ledger I have the same adress as I had before....is it possible that I ve been hacked or it's a bug??please h

[2018-02-10 00:30] ayanca commented on #672
But I have the same adress as before,when I log in ,my adress works fine,just my money were transferred to another adress.

[2018-02-10 07:48] jezzaN opened #673 "neon wallet 0.0.6 private key not working on versions after"
hi so i created my wallet on version 0.0.6 and have the private key and encrypted key written down. i also had it save to my wallet on my laptop but my laptop did an update and has forgotten my wallet on the neon wallet. my private key and encrypted key only work on version 0.0.6 but do not show my balance is there anyway i can get my computer to remember these files so i can access my wallet in a

[2018-02-10 09:54] brianlenz commented on #658
@dvdschwrtz / @slipo: I've spent some time looking into this. Here's what I believe to be the issue:

* In neon-wallet, `ledgerNanoSCreateSignatureAsync` properly calculates the signature and serializes the transaction, but it returns a `string`, not an `object`.
* In neon-js, `api.doInvoke` calls `signTx`, which then assigns the `signedTx` returned by the `signingFunction` to `config.tx`
* `attac

[2018-02-10 10:35] numero41 commented on #524
Hello guys,
Does anybody has news?

[2018-02-10 12:36] OrEagle97327 commented on #524
Nothing new from me, except someone responded to thread #523 but must have deleted post.
I have an email but nothing there to respond to.

My real world here.. is been taking my time.
spring in sprunging. ...building greenhouses, (420 friendly)

[2018-02-10 14:49] jayrod1892 commented on #524
Nothing new either

Sent from my iPhone

[2018-02-10 20:56] JanMooMoo commented on #621
To the Hacker AHk7t8cKGDM2sARMFUw7F5zjPdqNCbnnjj

If you are seeing this please give me back my Tokens im begging you.. 😭i am poor and  thats all i have... I am new to crypto and i saved money just to buy 3 neos to participate to token sale hoping that it could make my shitty life a little bit better, please im begging you i need it so much. You ptobabky don't need it but i really really do..  Tha

[2018-02-10 23:30] brianlenz commented on #658
This should be fixed in #674. Thanks @snowypowers!

[2018-02-11 02:37] jezzaN commented on #673
i will also give some neo to anyone that helps me fix this problem

[2018-02-11 03:27] marcelo-mason opened #675 "Ledger Nano S and NEON wallet. Not getting prompts on Ledger."
When I try to send or claim gas itt doesn't ask me to sign the tx on the Ledger it simply says "Transaction Failed" on NEON.  When I try another Ledger that one works fine.  I compared the firmware on both Ledgers and they match (1.3.1/1.1) so thats not it.  Also I tried to delete and re-install the NEO app in Ledger Manager, but this doesn't fix it.

Another thing that is happening is the Ledger

[2018-02-11 07:27] Laurentius26 commented on #428
Hi all, same issue. I use Neon desktop wallet v.0.1.2 with Ledger Nano S but GAS is stuck in the wallet. I can't send it, always getting 'transaction failed'. 10 GAS I have there, a lot of money for me. :-(

[2018-02-11 08:21] Cerv4ntez commented on #673
Hi jezzaN,
You can easily work around this problem. Create a new wallet with the most recent Neon Client. Write down all the key info, address and password. deinstall, install the 0.0.6 version which works with your wallet and transfer your funds to the new wallet. I did that when i moved to store my neo on my ledger.

[2018-02-11 08:24] jezzaN commented on #673
It does not show my balance on my 0.0.6 account tho and I have participated in an ico which got sent to my account when I had access through my pc wallet. What can I do to make it show my balance on the 0.0.6?

Sent from my iPhone

On 11 Feb 2018, at 17:51, Cerv4ntez <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi jezzaN,
You can easily work around this problem. Create a new

[2018-02-11 08:56] AdamGeeman commented on #453
I have this issue too. The tool asks for private key not encrypted. How did you solve by export and import wallet file?

[2018-02-11 09:48] AdamGeeman commented on #671
I have the same error when I log in.

[2018-02-11 10:55] zenderady commented on #665
This is happening to me too.. using ledger nano s. I see the block is far behind and would not update to the present one. I think this is why the balanace does not show up.. because the neon wallet did not reach the transfer block yet.

[2018-02-11 10:56] zenderady commented on #659
This is happening to me too.. using ledger nano s. I see the block is far behind and would not update to the present one. I think this is why the balanace does not show up.. because the neon wallet did not reach the transfer block yet.

[2018-02-11 11:08] Cerv4ntez commented on #673
check your address on neotracker, you can check your balance and all transactions there, simply search for your address (no private keys are ever needed to check the blockchain)

[2018-02-11 13:11] paullainchbury commented on #664
I have the same problem - Neon is not showing the correct balance.

[2018-02-11 14:37] OrEagle97327 commented on #659
We are asking users who lost tokens using the Ledger Nano S input here (any and all token)
https://docs.google.com/forms/d/e/1FAIpQLSfgEim2xICDBcpL6tL5q0_BKYCNevT5Q6-qVyegJhe4tdz6cw/viewform?usp=sf_link

Results can be viewed here : https://docs.google.com/spreadsheets/d/1afBgZ5yvr6FHN1CBl2bSlJIEfbpNtHukQSqW731gXmE/edit?usp=sharing

Anyone who has suggestions of where to go with this please give u

[2018-02-11 15:09] SirMaggot commented on #529
To send GAS, try to decrease the amount by 1 digit. (If you have 0.87654 GAS, send 0.87653)

[2018-02-11 15:18] shivamp1 commented on #529
Thanks but unfortunately reducing the number of digits does not appear to work. Could it be an issue with Macbooks?

[2018-02-11 15:39] SirMaggot commented on #529
@shivamp1 Sorry to hear that it didn't work for you. I just had 4 transactions failing from my Ledger
(Win 10), but after pressing "Max" and reduce it by 1 digit, the transaction worked.
I did logout from Neon (v0.12) a couple of times.

[2018-02-11 16:33] bobzilla1007 commented on #428
Hello everyone. I was having this issue with my ledger nano S. I could not SEND gas from it. I would get the red transaction error (couldn't sign)
I have found a way to get it working and I will share my experience hopefully it helps others.

The first step which I'm not sure was necessary but in the interest of accuracy I will list it.
1)Changed  block explorer in "manage neon settings" from NeoT

[2018-02-11 16:44] cryptoarmeen commented on #428
It worked thank you soo much friend!!

Verstuurd vanaf mijn iPhone

Op 11 feb. 2018 om 17:33 heeft bobzilla1007 <notifications@github.com<mailto:notifications@github.com>> het volgende geschreven:

Hello everyone. I was having this issue with my ledger nano S. I could not SEND gas from it. I would get the red transaction error (couldn't sign)
I have found a way to get it working and I will share m

[2018-02-11 16:57] AdamGeeman commented on #671
Just tried loading my wallet onto a different laptop and it worked fine - relieved.

[2018-02-11 17:24] Laurentius26 commented on #428
@bobzilla1007 , confirmed working, A bit of hazzle but it works. Thank you very much, thnak you all. :-)

[2018-02-11 19:05] jezzaN commented on #673
Yes I can see all that I have in my wallet on there but my private key doesn’t work on there either as that wallet was from 0.1.1 so what should I do now?

Sent from my iPhone

On 11 Feb 2018, at 20:38, Cerv4ntez <notifications@github.com<mailto:notifications@github.com>> wrote:

check your address on neotracker, you can check your balance and all transactions there, simply search for your address

[2018-02-11 19:26] Cerv4ntez commented on #673
are you sure you wrote the key and password down correctly? if you install the last version that worked for you, you should be able to transfer your funds to another wallet you own and thats working with the recent neon wallet. if there is no version that works with your key, there must be something wrong with your key

[2018-02-11 19:37] bobzilla1007 commented on #428
I'm glad it has helped.

Side note:
Since I posted this I have watched the price of gas start going sideways and down. Of course it couldn't be proven but I think everyone with this problem is now flooding the market and selling cheap.

Please people don't run out and sell off your gas cheap and out bid each other just because your excited to have access to your coins.  Now I wish I sold before I

[2018-02-11 19:38] jezzaN commented on #673
Ok say I have the key down wrong I have my public jay and password can I do anything with that?
Also my private key opens the 0.0.6 wallet just doesn’t show the balance

Sent from my iPhone

On 12 Feb 2018, at 04:56, Cerv4ntez <notifications@github.com<mailto:notifications@github.com>> wrote:

are you sure you wrote the key and password down correctly? if you install the last version that worked f

[2018-02-11 19:51] jezzaN commented on #673
Also when you hit save file when creating a new wallet where does that file get stored and what is the file type?

Sent from my iPhone

On 12 Feb 2018, at 04:56, Cerv4ntez <notifications@github.com<mailto:notifications@github.com>> wrote:

are you sure you wrote the key and password down correctly? if you install the last version that worked for you, you should be able to transfer your funds to an

[2018-02-11 19:52] cryptoarmeen commented on #428
Im not selling just want to move to binance !

Verstuurd vanaf mijn iPhone

Op 11 feb. 2018 om 20:38 heeft bobzilla1007 <notifications@github.com<mailto:notifications@github.com>> het volgende geschreven:

I'm glad it has helped.

Side note:
Since I posted this I have watched the price of gas start going sideways and down. Of course it couldn't be proven but I think everyone with this problem is n

[2018-02-11 20:44] Cerv4ntez commented on #673
that your key unlocks the old wallet is good news. i guess where the files get stored varies by platform used, good idea to figure that out and make a backup of those files. As for your key, this https://snowypowers.github.io/ansy/ might be able to help you to decrypt your key. Be careful though and do this offline. as far as i know this project is legit but you never know. So download the webpage

[2018-02-11 21:57] #306 closed

[2018-02-11 21:57] anfn101 commented on #367
NEON is not 32 bit and 32 bit support is not planned at this point.

[2018-02-11 21:57] #367 closed

[2018-02-11 21:57] #368 closed

[2018-02-11 21:58] #460 closed

[2018-02-11 21:58] #458 closed

[2018-02-11 21:59] anfn101 commented on #470
Try version 0.1.2

[2018-02-11 21:59] #470 closed

[2018-02-11 21:59] anfn101 commented on #146
NEP-5 support is in.

[2018-02-11 21:59] #146 closed

[2018-02-11 22:00] #322 closed

[2018-02-11 22:08] anfn101 commented on #466
Try version 0.1.2

[2018-02-11 22:08] #466 closed

[2018-02-11 22:08] anfn101 commented on #457
Github is used to report code issues. Any support can be found in the Discord #support channel.

[2018-02-11 22:08] #457 closed

[2018-02-11 22:09] anfn101 commented on #453
Github is used to report code issues. Any support can be found in the Discord #support channel.

[2018-02-11 22:09] #453 closed

[2018-02-11 22:10] anfn101 commented on #443
Github is used to report code issues. Any support can be found in the Discord #support channel. This is likely an exchange issue.

[2018-02-11 22:10] #443 closed

[2018-02-11 22:10] anfn101 commented on #439
Try latest version 0.1.2

[2018-02-11 22:10] #439 closed

[2018-02-11 22:10] #435 closed

[2018-02-11 22:10] #432 closed

[2018-02-11 22:11] anfn101 commented on #430
Try latest version 0.1.2

[2018-02-11 22:11] #430 closed

[2018-02-11 22:12] anfn101 commented on #429
Github is used to report code issues. Any support can be found in the Discord #support channel. Make sure your firewall is not the issue.

[2018-02-11 22:12] #429 closed

[2018-02-11 22:13] #423 closed

[2018-02-11 22:13] anfn101 commented on #418
Blue is not supported yet.

[2018-02-11 22:13] #418 closed

[2018-02-11 22:14] anfn101 commented on #416
Please consolidate in thread #524 . Also, Github is used to report code issues. Any support can be found in the Discord #support channel.

[2018-02-11 22:14] #416 closed

[2018-02-11 22:15] #428 closed

[2018-02-11 22:15] #279 closed

[2018-02-11 22:16] anfn101 commented on #357
@evgenyboxer Any update?

[2018-02-11 22:16] anfn101 commented on #414
Try latest version 0.1.2

[2018-02-11 22:16] #414 closed

[2018-02-11 22:16] anfn101 commented on #415
@shawnmclean Any update?

[2018-02-11 22:18] anfn101 commented on #480
There are occasional connectivity issues. You can check to see if the tokens are still in your address on Neotracker. Also note: Github is used to report code issues. Any support can be found in the Discord #support channel.

[2018-02-11 22:18] #480 closed

[2018-02-11 22:19] anfn101 commented on #481
Try version 0.1.2, and reinstall both the Neo app and Neon wallet. Make sure your firewall is not the issue. ALSO NOTE: Github is used to report code issues. Any support can be found in the Discord #support channel.

[2018-02-11 22:19] #481 closed

[2018-02-11 22:22] #502 closed

[2018-02-11 22:23] anfn101 commented on #503
@shawnmclean Do you know the state of this?

[2018-02-11 22:23] anfn101 commented on #504
Github is used to report code issues. Any support can be found in the Discord #support channel.

[2018-02-11 22:23] #504 closed

[2018-02-11 22:23] #505 closed

[2018-02-11 22:23] #506 closed

[2018-02-11 22:23] #507 closed

[2018-02-11 22:24] #508 closed

[2018-02-11 22:24] #509 closed

[2018-02-11 22:24] #510 closed

[2018-02-11 22:25] anfn101 commented on #511
Try latest version, 0.1.2

[2018-02-11 22:25] #511 closed

[2018-02-11 22:25] anfn101 commented on #515
The smallest amount you can have. Try 0.1.2. Also note: Github is used to report code issues. Any support can be found in the Discord #support channel.

[2018-02-11 22:25] #515 closed

[2018-02-11 22:25] #516 closed

[2018-02-11 22:25] #517 closed

[2018-02-11 22:26] #520 closed

[2018-02-11 22:26] anfn101 commented on #521
Github is used to report code issues. Any support can be found in the Discord #support channel.

[2018-02-11 22:26] #521 closed

[2018-02-11 22:26] #522 closed

[2018-02-11 22:26] #523 closed

[2018-02-11 22:28] #526 closed

[2018-02-11 22:30] anfn101 commented on #529
Try reinstalling both Ledger Neo app and Neon wallet. Make sure your firewall is not the issue. Also note: Github is used to report code issues. Any support can be found in the Discord #support channel.

[2018-02-11 22:30] #529 closed

[2018-02-11 22:30] anfn101 commented on #531
Any update? @shawnmclean

[2018-02-11 22:30] #535 closed

[2018-02-11 22:31] #537 closed

[2018-02-11 22:31] #540 closed

[2018-02-11 22:31] #543 closed

[2018-02-11 22:31] #554 closed

[2018-02-11 22:31] #561 closed

[2018-02-11 22:32] #562 closed

[2018-02-11 22:32] #563 closed

[2018-02-11 22:32] #564 closed

[2018-02-11 22:32] #565 closed

[2018-02-11 22:32] #566 closed

[2018-02-11 22:32] anfn101 commented on #570
Any update? @evgenyboxer

[2018-02-11 22:33] anfn101 commented on #576
Try latest Neon version. Also note: Github is used to report code issues. Any support can be found in the Discord #support channel.

[2018-02-11 22:33] #576 closed

[2018-02-11 22:33] #577 closed

[2018-02-11 22:34] anfn101 commented on #579
Make sure the Ledger Neo app is up to date and reinstalled. Also note: Github is used to report code issues. Any support can be found in the Discord #support channel.

[2018-02-11 22:34] #579 closed

[2018-02-11 22:34] #580 closed

[2018-02-11 22:34] #581 closed

[2018-02-11 22:34] #582 closed

[2018-02-11 22:34] chisleu commented on #543
Is there a PR for this?

[2018-02-11 22:34] anfn101 commented on #585
Github is used to report code issues. Any support can be found in the Discord #support or #dev channels.

[2018-02-11 22:34] #585 closed

[2018-02-11 22:36] #587 closed

[2018-02-11 22:36] #588 closed

[2018-02-11 22:36] anfn101 commented on #590
You can contact the QLC team.

[2018-02-11 22:36] #590 closed

[2018-02-11 22:37] #593 closed

[2018-02-11 22:37] #594 closed

[2018-02-11 22:38] anfn101 commented on #597
Make sure you have reinstalled both Ledger Neo apps and Neon wallet. ALSO NOTE: Github is used to report code issues. Any support can be found in the Discord #support channel.

[2018-02-11 22:38] #597 closed

[2018-02-11 22:38] #598 closed

[2018-02-11 22:38] #599 closed

[2018-02-11 22:38] #600 closed

[2018-02-11 22:39] #602 closed

[2018-02-11 22:39] anfn101 commented on #605
Github is used to report code issues. Any support can be found in the Discord #support channel.

[2018-02-11 22:39] #605 closed

[2018-02-11 22:39] #608 closed

[2018-02-11 22:40] #609 closed

[2018-02-11 22:40] #610 closed

[2018-02-11 22:40] #612 closed

[2018-02-11 22:40] #613 closed

[2018-02-11 22:40] #614 closed

[2018-02-11 22:41] #617 closed

[2018-02-11 22:41] #619 closed

[2018-02-11 22:41] anfn101 commented on #619
Try version 0.1.2

[2018-02-11 22:42] #620 closed

[2018-02-11 22:42] #621 closed

[2018-02-11 22:42] #622 closed

[2018-02-11 22:44] #624 closed

[2018-02-11 22:44] #629 closed

[2018-02-11 22:46] anfn101 commented on #630
Make sure to have both Ledger Neo app and Neon wallet reinstalled. Make sure there is no firewall issue. You can check on the status of your funds at Neoscan or Neotracker. Also note: Github is used to report code issues. Any support can be found in the Discord #support channel.

[2018-02-11 22:46] #630 closed

[2018-02-11 22:46] anfn101 commented on #635
Any update? @Ejhfast @comountainclimber

[2018-02-11 22:46] #639 closed

[2018-02-11 22:46] anfn101 commented on #642
Duplicate issue

[2018-02-11 22:46] #642 closed

[2018-02-11 22:47] #646 closed

[2018-02-11 22:49] anfn101 commented on #651
Try to reinstall the wallet. Also note: Github is used to report code issues. Any support can be found in the Discord #support channel.

[2018-02-11 22:49] #651 closed

[2018-02-11 22:50] #655 closed

[2018-02-11 22:50] anfn101 commented on #659
Please consolidate in thread #524 . Also note: Github is used to report code issues. Any support can be found in the Discord #support channel.

[2018-02-11 22:50] #659 closed

[2018-02-11 22:51] #661 closed

[2018-02-11 22:51] anfn101 commented on #664
Duplicate

[2018-02-11 22:51] #664 closed

[2018-02-11 22:52] anfn101 commented on #665
Duplicate

[2018-02-11 22:52] #665 closed

[2018-02-11 22:52] anfn101 commented on #666
Duplicate #660

[2018-02-11 22:52] #666 closed

[2018-02-11 22:52] livesloridefast commented on #619
0.1.2 works fine.

[2018-02-11 22:53] anfn101 commented on #667
Duplicate

[2018-02-11 22:53] #667 closed

[2018-02-11 22:53] anfn101 commented on #669
Duplicate

[2018-02-11 22:53] #669 closed

[2018-02-11 22:53] anfn101 commented on #670
Duplicate

[2018-02-11 22:53] #670 closed

[2018-02-11 22:53] #671 closed

[2018-02-11 22:54] #658 closed

[2018-02-11 22:55] anfn101 commented on #647
See #658

[2018-02-11 22:58] brianlenz commented on #647
FWIW, this is technically different than #658, which is Ledger-specific. This particular issue affected all verified contributions, including non-Ledger wallets. @dvdschwrtz did apply a fix to this through neon-js, though, so it should be fixed in the next Neon wallet release nonetheless.

[2018-02-11 23:05] lulime commented on #667
@anfn101  If it's duplicate, where can I find the answer?

[2018-02-11 23:09] mhuggins commented on #667
#662 is related to TKY

[2018-02-11 23:10] mhuggins commented on #647
@anfn101 @brianlenz I'm going to reopen this one in particular.  Brian's been active in Slack/Discord and has a strong grasp on the issues around this.

[2018-02-11 23:13] brianlenz commented on #647
Oh, sorry if I confused things. I do believe that this issue is resolved on the latest `master` after upgrading to neon-js 2.3.4 (courtesy of @dvdschwrtz and @snowypowers). I was just clarifying that this particular issue was a different problem (and thus had a different fix) than #658, which was Ledger-specific.

So to be completely clear: I believe that both this issue and #658 are resolved on t

[2018-02-11 23:16] comountainclimber commented on #635
@anfn101 If I can get the DNS settings from someone with that knowledge we will be all set

[2018-02-11 23:20] anfn101 commented on #647
Will close based on Brian's comment above...

[2018-02-11 23:20] #647 closed

[2018-02-11 23:25] mhuggins commented on #503
@anfn101 @shawnmclean This is a WIP as part of the `design-v2` branch.  See @asalib's mockups here: https://projects.invisionapp.com/share/PAFA74G3T#/screens/274898721

[2018-02-12 00:00] jezzaN commented on #673
Ok I will try that when I get home, I am using windows platform so what sort of file would it be?

Sent from my iPhone

On 12 Feb 2018, at 06:14, Cerv4ntez <notifications@github.com<mailto:notifications@github.com>> wrote:

that your key unlocks the old wallet is good news. i guess where the files get stored varies by platform used, good idea to figure that out and make a backup of those files. As

[2018-02-12 00:33] lulime commented on #667
That doesn't answer my question. I still have the same problem. Uninstalled and installed Neon again the newest version and nothing. Uninstalled and installed a previous version and nothing.

Sent from my iPhone

[2018-02-12 01:15] IraBerenhaus commented on #624
Alan,

It’s very nice that you closed this case, but is the problem solved?  It would be good to leave a comment explaining that the problem is resolved and what was done to resolve it.  Perhaps you issued has been resolved because you issued a new NEON wallet 0.1.2.  Perhaps the issue is solved because it’s a browser issue – although using Ledger, we can only use Chrome.  Perhaps the issue is sol

[2018-02-12 01:17] anfn101 commented on #624
Duplicate question (see #662)

[2018-02-12 06:35] AKHB66 commented on #590
I did contact QLC, even Susan Zhou, but they argue not to have received my payent/buy. And how can it be, because the QLC public adress was pretexted in my NEON wallet. So I am confused and just lost 2 NEO...

[2018-02-12 07:08] brianlenz commented on #662
@simossss, @Silvershad6w: I'm looking into this issue. Would either of you mind sharing your NEO addresses so I can take a further look?

[2018-02-12 07:08] brianlenz commented on #665
@zenderady, @Easaaaaaaaa, @Volodymyr2929, @quagmireccg: Would any of you who are still having this issue mind sharing your NEO address? I am doing some investigation into these 0 balance issues. Thanks!

[2018-02-12 07:10] brianlenz commented on #667
@lulime: I'm looking into this issue. Would you mind sharing your NEO address so I can take a further look? Thanks!

[2018-02-12 10:20] jezzaN commented on #673
So it just say private key not long enough on that website.
[image1.jpeg]
This is what comes up when I use the private key on 0.0.6 what else can I try to restore it?

Sent from my iPhone

On 12 Feb 2018, at 06:14, Cerv4ntez <notifications@github.com<mailto:notifications@github.com>> wrote:

that your key unlocks the old wallet is good news. i guess where the files get stored varies by platform us

[2018-02-12 10:56] jezzaN commented on #673
sorry i dont think you can see the image but all it show is my neon wallet with please update in red at the top and a green send button under it and thats it.

[2018-02-12 10:58] jezzaN commented on #673
i have my encypted key written down to but that doesn't seem to work on the later versions either

[2018-02-12 11:04] Cerv4ntez commented on #673
well, did you try to decrypt your key with ansy? a decrypted key should let you back into your wallet on all versions of neon

[2018-02-12 11:07] jezzaN commented on #673
so if it manages to decrypt it on 0.0.6 what do i do with it then to save it to the pc? and can i access my private key from there?

[2018-02-12 11:07] jezzaN commented on #673
how long shold it take to decrypt it? its been going a while now

[2018-02-12 11:09] Cerv4ntez commented on #673
i think it should decrypt it almost instantly

[2018-02-12 11:11] Cerv4ntez commented on #673
when you have your key decrypted you should be able to import it to recent versions of neon. i would advise against keeping it that way, as soon as you have control over your wallet again, consider reincrypting your key or getting yourself a ledger nano s for savekeeping

[2018-02-12 11:11] jezzaN commented on #673
well thats not happening :( its still trying anyway. Is there anything else i can try?

[2018-02-12 11:12] Cerv4ntez commented on #673
where is it stuck, in ansy or neon wallet?

[2018-02-12 11:12] stefanxg commented on #428
Problem:  I transferred 5 GAS to my (legder nana S) Neo wallet adress from Poloniex.
Nothing showed up ?  Transaction on Poloniex is completed normally.
Can somebody please give an advise ?  Thanx in advance.
Note: I  I transferred 7 Neo to my (legder nana S) Neo wallet adress from Bittrex, all oke!

[2018-02-12 11:13] jezzaN commented on #673
sorry i have only been trying in neon wallet what is ansy?

[2018-02-12 11:17] jezzaN commented on #673
i have tryied ansy with my private key not with my encrypted key tho

[2018-02-12 11:19] Cerv4ntez commented on #673
you have your key both encrypted and unencrypted? and both of them do not work?

[2018-02-12 11:19] stefanxg opened #679 "Transferred GAS to my (legder nana S) Neo wallet adress without succes ...."
Problem: I transferred 5 GAS to my (legder nana S) Neo wallet adress from Poloniex.
Nothing showed up 3 hours later... ? Transaction on Poloniex is completed normally.
Can somebody please give an advise ? Thanx in advance.
Note 1)  I transferred 7 Neo to my (legder nana S) Neo wallet adress from Bittrex, all oke!
Note 2) How can I use the gives TXID number (seen on my Poloniex withdrawel box), for

[2018-02-12 11:22] Cerv4ntez commented on #673
are you talking about a key or a password? from what i gathered you had an encrypted key(which may be incomplete) and a password used to decrypt it. i pointed you to ansy in order to enable you to decrypt your encrypted key with your password and use the decrypted key to import to a newer neon version

[2018-02-12 11:24] stefanxg commented on #679
ps:  Ledger nano S is it and latest versions were installed: Neon wallet and on the ledger.
+  for tracking the transfer of my GAS ?  (seem adress as Neo) .

[2018-02-12 11:29] jezzaN commented on #673
my private key is to short on ansy, i now my password/phase for sure. on ansy there isnt anywhere i can see to put my encrypted key in

[2018-02-12 11:31] Cerv4ntez commented on #673
you put the encrypted key where it says private key and also supply the password then press convert

[2018-02-12 11:35] Cerv4ntez commented on #673
jezzaN, there should be a userWallet.json file in c:\Users\(YOURUSERNAME)\AppData\Roaming/Neon/storage directory, back this up immediately to a safe place then open it with notepad, your encrypted key should be written down there

[2018-02-12 11:36] jezzaN commented on #673
na man that doesn't work either i have two wallet i created on the same version that have the same problem to

[2018-02-12 11:37] valdor27 commented on #679
Check the transaction status on https://neotracker.io/ by entering the TXID.

Check your wallet on neotracker.io too by entering the public address and check your balance.

[2018-02-12 11:48] jezzaN commented on #673
i had done an update on my computer and i wiped the wallet off my pc i then restored it and i dont think these files have came back, unless they are hidden very deep on the hard drive. is there any other thing i can try?

[2018-02-12 12:15] Cerv4ntez commented on #673
according to your story, you currently can login to neon wallet 0.0.6 but dont see your balance, therefore the files have to be currently on your computer
i hope you're not just trolling me, that would be very bad for your karma and my mojo

[2018-02-12 13:06] cosmic-springs opened #680 "Lost/stolen NEO?"
I have now lost 9 NEO and around 2000 DBC. They disappeared from my wallet and the NEO are showing in my transaction history (-9). However, no transaction was made by me?? It’s everything i had :(
Hash: 49774c05a3c7a7d9e90912f168e834077988f58f806441469f04bca0ffa3021c
Time: 07/02/2018, 17:17:19
Wallet: AU6GkGRt4jeESJnM56mz9uJiwacNMTHjzH

Have I been Hacked/Phished?
Is this just part of the mysterio

[2018-02-12 15:32] Easaaaaaaaa commented on #665
thanks a lot brian, but I found out that the problem was neotracker, and not yours :) thanks for your work!

[2018-02-12 15:32] shawnmclean commented on #415
To get #545 done, I need to work on how we do the builds. I'll look into this along with it. Will close if not possible.

[2018-02-12 15:59] sbglive commented on #675
Same issue here, NEON 0.1.2, NEO app 1.1.1

[2018-02-12 16:11] stefanxg commented on #679
@valdor27 , thanx I will do that and give some feedback later on!

[2018-02-12 17:20] slinkytronic commented on #432
Same problem here.  Seem to be stuck on an old block.  Synchronisation issue I guess then.  I'll keep trying to reload it and hopefully it'll synchronise at some point.  Frustrating to have my NEO inaccessible - when it normally transfers quickly between exchanges.  Hope the wallet continues to develop and synchronises more frequently in future.

[2018-02-12 17:24] slinkytronic opened #681 "Missing NEO transfer - Neon Wallet + Ledger Nano S synchronisation issue?"
Looks like the Neon wallet isn't synchronising with the MainNet - stuck on block 1917311.  I've tried rebooting, re-opening, resynching, refreshing and flicking between testnet and mainnet... but no NEO funds appearing and still stuck on the old block.

Worried about uninstalling and reinstalling, as there's no private key I can use to connect to the same wallet (as I logged in via my Ledger Nano

[2018-02-12 17:37] OrEagle97327 commented on #524
@anfn101 - Thank you for City of Zion maintenance.

Closing related issue threads; directing other users to one thread, helps all users work together.

This particular issue seems to cross over to the "/etherwallet/" of gethub.
The gethub community has given us the platform to work together for solutions.

[2018-02-12 18:46] jezzaN commented on #673
Not I am not trolling you I really want to get back into my wallet I spent my whole evening trying and i will try again to night is there a good program I can down load to find files or should it be fine in my computer?

Sent from my iPhone

On 12 Feb 2018, at 21:45, Cerv4ntez <notifications@github.com<mailto:notifications@github.com>> wrote:

according to your story, you currently can login to ne

[2018-02-12 19:50] stefanxg commented on #679
@valdor27 , thanx again, worked out by time ....took 6 hours the GAS in the neon wallet !?
Q: which link on neotracker.io. I see more opions ? And the first gave no info ....(so Q is for the next time ;-))

[2018-02-12 20:02] OrEagle97327 commented on #524
@numero41  - Has Eric given any input related to the "user affected form" we have posted?

Perhaps the people at Ledger could suggest questions to expand the form.

[2018-02-12 20:17] numero41 commented on #524
Hi Mel,

He just asked me to add a question at the beginning about having reset the Ledger before the moment when we saw the address change, because that was the issue for xcwb11 (when they reset the Ledger they forgot that he had put a passphrase before).

Tacamaniac solved his issue in about the same way, he just took the wrong passphrase when he setup his Ledger the second time.

That was last

[2018-02-12 21:29] Cerv4ntez commented on #673
No need to download any additional software, i told you where to look for it. You might have to turn on visibility of hidden files. Is there anyone you know and trust who is more tech savvy than you who might give you a hand with this? Since this is about your money you should handle this with appropriate care. While its true there are hackers and malware and technical faults of the software we ar

[2018-02-12 22:23] xpereta opened #682 "Which commit is used to build the 0.1.2 release in macOS?"
I used the commit bcb8a4c tagged as 0.1.2 in the releases of neon-wallet and version Neon-0.1.1 is built in the dist folder.

I have explored the branches and noticed that the last commit of the origin/release-0.1.1 branch builds as Neon-0.1.2.

Which commit should we use to replicate the builds published in the releases?

[2018-02-12 22:35] lulime commented on #667
Hi, I was able to use a friend’s laptop to send my tokens to an exchange. I can still give you my Neo address if that helps, but there are no tokens anymore.

Sent from my iPhone

[2018-02-12 22:37] brianlenz commented on #667
@lulime no that's OK. We're just looking for anybody else who is still experiencing the 0 balance issue in Neon wallet. Thanks anyway!

[2018-02-12 22:40] volkansahiner opened #683 "Neon Wallet 0.1.2 Participate Token Sale"
Friends i tried to buy NEO alts DBC, RPX, QLINK with 3 NEO by clicking participate token sale. MY 3 NEO gone but i didnt receive any token 3 NEO is a big money for me. i send transcations id. Ty for ur heps

https://neotracker.io/tx/6c308c79f0dce9f40b2ba63f04e6d76bceccc8ac1d6b250973d018faab08df76
https://neotracker.io/tx/5b930af9bde1342eca4bb24cc0f61aab3021c35a96166737acdd5974d6bffdc2
https://neot

[2018-02-13 00:07] Blckhd commented on #495
If you use nano must say yes on dev

[2018-02-13 02:18] mhuggins commented on #683
Those token sales ended long ago. You will have to reach out to RPX, DBC, and QLink individually to see if they can return your NEO.

[2018-02-13 02:18] #683 closed

[2018-02-13 02:57] stevesbrain commented on #681
@slinkytronic You can always use the coranos utility to generate your private WIF from your Ledger seed, however, there's no issue with uninstalling + reinstalling the Neon app, or the applet that lives on your Ledger, as the private key lives on the Ledger and never changes.

[2018-02-13 03:00] stevesbrain commented on #680
That transaction shows your 9 NEO being transferred to an address that was created less than 24 hours beforehand. That address has a lot of balance of a bunch of tokens. This isn't one of your exchange addresses is it?

[2018-02-13 03:15] cosmic-springs commented on #680
Sadly, its not my address/wallet, if it was i wouldn't be too bothered about 9 NEO. Yes i did log into neotracker.io (the correct link) because transfers from Kucoin haven't gone through after 3 days and i needed to check.
I am confident now that it's been nicked. My crypto days are over until it becomes a system with even basic security. There are too many dodgy things going on, not just hackers/

[2018-02-13 03:16] cosmic-springs commented on #680
No sign of the 1800 DBC coins but they are missing too.

[2018-02-13 03:38] GHuser357 opened #685 "Ledger Nano S + Neon 0.1.2 Windows 10 Can't send GAS"
When trying to send GAS, immediate "Error: Transaction Failed!", device screen remains "Wake Up, NEO..."

Tried every Neon version down to 0.7.0, on 2 computers, and reinstalling device app. No problem claiming GAS or Sending NEO.

Edit: 19 Feb 18
I had never tried sending an amount of GAS less than one (1).  It seems I can send any amount <1, but any amount that contains a non zero integer fails.

[2018-02-13 04:43] Marto15 opened #687 "bit beyond a joke now Coz this is a major issue, and its been like this for quite some time, can we get this fixed? cheers lads"
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2018-02-13 04:59] mhuggins commented on #687
There's no indication from your message what this issue is about.  Please note that there is a [Discord channel](https://discord.cityofzion.io/) for support questions, GitHub is intended for tracking code issues.

[2018-02-13 04:59] #687 closed

[2018-02-13 05:02] meyerchak opened #688 "Trinity (tnc) not showing balance"
Neon wallet 0.1.2
Nano Ledger s 1.3.1

The trinity (tnc) balance is not showing on neon wallet.
Transferred trinity from kucoin exchange to neon wallet through ledger nano s.
The transaction shows on the blockchain. Kucoin confirms.

Please update neon wallet for trinity (tnc) neo coins

Thank you

[2018-02-13 05:09] mhuggins commented on #688
Duplicate of #662.

[2018-02-13 05:10] #688 closed

[2018-02-13 05:25] stevesbrain commented on #680
@cosmic-springs I can understand you wanting to pull out; that's fair. However, it's not so much an issue with the security of the protocol/coin (which is solid), but rather the fact that it's a high-target/high-risk area. I.e. because the money is easier to steal due to not having to leave your seat + the irreversible nature of a transaction once made.

The issue of losing your coins usually boil

[2018-02-13 05:29] cosmic-springs commented on #680
You are absolutely right about all of the above @stevesbrain i hadn't had breakfast and i was pissed, we live and learn, I will definitely check the exchange idea though, Thanks ;)

[2018-02-13 05:29] stevesbrain commented on #680
No worries at all @cosmic-springs - hope your day improves :)

[2018-02-13 06:22] rwgalive commented on #675
I have the same problem, reinstalled both Neon wallet and NEO app on Nano S . I get a brief request to sign the device then it immediately displays the transaction failed message. I would appreciate advice.

[2018-02-13 07:13] ned-robinson commented on #685
I'm having the exact same issue. Claiming Gas or sending NEO works just fine. Can't send Gas though.

[2018-02-13 07:14] ned-robinson commented on #660
Why is this closed? The bug still exists. It should not be closed until it is fixed.

[2018-02-13 07:16] meyerchak commented on #688
thank you.
hash for trinity. Then it showed up in the wallet next to the other four coins with my balance in there

Thanks for your help

[2018-02-13 07:33] stoutlabs opened #691 "Neon Wallet Seems Frozen When Using With Ledger Nano S"
Nothing seems to happen when connecting my Ledger Nano S with Neon Wallet. (I have the NEO app installed via Ledger Manager.)

Sometimes I get the "Looking for USB Devices. Please plugin your device and login" message, but nothing ever happens... other than 'Wake Up, NEO...' on my Ledger's display.

1. I have tried starting the app on my Ledger first, before opening Neon Wallet.
2. I have tried st

[2018-02-13 08:22] KyleConstantin opened #692 "No token balance in NEON 0.1.3 using ledger"
I installed and reinstalled the NEO app from ledger app manager. I sent some RPX and some GAS to the ledger wallet through NEON.  The gas shows up but the RPX does not. The RPX transaction is fully viewable on the blockchain. I am using Mainnet and I have added the RPX contract hash to both mainnent and testnet.

I'm not sure what else to do. I assume this is some bug.

The whole time the ledger d

[2018-02-13 08:47] totalvm commented on #680
Sorry for your loss, I'll be closing the issue as it has nothing to do with the wallet itself

[2018-02-13 08:47] #680 closed

[2018-02-13 08:50] totalvm commented on #673
are you 100% sure you are using the right way to enter your key? I assume you tried every way to enter it?
Encrypted and Private.

The way to encrypt hasn't changed at all so your address should work

[2018-02-13 10:37] cryptorez opened #693 "NRV token visible on neotracker, not on NEON , 0 balance after 48hrs"
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2018-02-13 12:11] jezzaN commented on #673
so i have had a friend round to have a look at it he managed to find the new wallets that i have created but still couldn't find either of my two original wallets. yes i have tried the private key and encrypted key in both places. is there anything else i can try? im really not sure what happened to my pc when it did an update it seems to have lost alot of history files. is the anything i can do w

[2018-02-13 12:42] valdor27 opened #694 "[0.1.3] Warning message wallet outdated"
Hello, since I updated NEON wallet I get this Warning message whenever I open NEON 0.1.3 :

![capture](https://user-images.githubusercontent.com/32811219/36150369-c4e5a7ae-10c3-11e8-96ac-f29ecd52546b.JPG)

[2018-02-13 12:52] andandre commented on #694
Me to!

[2018-02-13 12:53] yunuseven138 commented on #694
Same here

[2018-02-13 13:42] klik6 opened #695 "Would it be possible to hide any coins that have zero in the wallet? i.e. RBX etc, and just show ones that have an amount inthem?"
## PLEASE NOTE

## For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

## GitHub issues are intended for tracking development tasks, not troubleshooting general usage problems.

[2018-02-13 16:44] numero41 commented on #524
I wrote to Eric today, hoping for news, but still no answer...

[2018-02-13 16:54] Cerv4ntez commented on #673
There is some related thread here where someone found his original wallet with data recovery software, you might try that. Public address and password alone wont get you anywhere i'm afraid

[2018-02-13 17:57] jayrod1892 commented on #524
Yea no news on my end either ...

Sent from my iPhone

[2018-02-13 18:09] OrEagle97327 commented on #524
My Ledger history :

1) march 2017 > purchase/first setup : 

2) 4/20/2017 > Ledger firmware update :
- I moved my coins from Ledger to Exodus before the update
- did the firmware update
- tried to restore from 24 word passphrase : FAILED
Never figured out why (one of my words did not match, my error?)
Reset and setup as new with new 24 word passphrase

3) 4/24/2017 > transferred assets back from

[2018-02-13 19:03] jezzaN commented on #673
Do you now what recovery software they used? If not what was the thread so I can ask the person what they used

Sent from my iPhone

On 14 Feb 2018, at 02:24, Cerv4ntez <notifications@github.com<mailto:notifications@github.com>> wrote:

There is some related thread here where someone found his original wallet with data recovery software, you might try that. Public address and password alone wont g

[2018-02-13 19:11] Cerv4ntez commented on #673
this is the thread:
https://github.com/CityOfZion/neon-wallet/issues/616
you need some tool to undelete the wallet that was overwritten, so when you have your recovery tool set up, look for .json files