[2018-11-22 18:14] #1715 closed

[2018-11-23 09:48] #1689 closed

[2018-11-24 00:21] #1709 closed, assigned to nobody

[2018-11-24 09:35] ranbena commented on #1718
Looking at the code, this error message will pop up due to release version data fetch failure - probably network or API problem. It will appear even for apps that _are_ up to date.

I suggest:
1. Suppressing the error message. The user can't do anything about it anyway.
2. Implementing retry mechanism (perhaps with [axios-retry](https://www.npmjs.com/package/axios-retry))
3. Considering remote err

[2018-11-24 15:06] comountainclimber commented on #1718
@ranbena I am on board with with #1 and #2 seeing as we currently have no remote error logging monitoring service in place lets hold off on #3 for now 👍

[2018-11-24 15:17] ranbena commented on #1718
Cool I'm on it

[2018-11-25 10:00] ranbena commented on #1318
I'll take this

[2018-11-26 14:41] #1718 closed

[2018-11-26 15:02] drptbl commented on #1640
@evgenyboxer @ranbena It seems that recent changes has introduced a regression which causes that wallets are still imported (even while error show up). I think that this has been introduced with #1716, I didn't see them on #1697 before. Please let me know if you want a new issue for this. I've decided to leave it here because it's a regression from work on this issue.

<img width="683" alt="screen

[2018-11-26 15:35] ranbena commented on #1640
10x @drptbl. Looking into it now.

[2018-11-26 16:02] ranbena commented on #1640
THE SHAME!
@drptbl 10x for noticing this. @evgenyboxer PR is out https://github.com/CityOfZion/neon-wallet/pull/1726.

[2018-11-27 00:13] #1702 closed

[2018-11-27 04:46] comountainclimber commented on #545
Closing this for now due to licensing requirements for auto update functionality in electron that we are not going to take on at this point in time.

[2018-11-27 04:46] #545 closed

[2018-11-27 04:48] comountainclimber commented on #1182
Fixed in v2.0.0

[2018-11-27 04:48] #1182 closed

[2018-11-27 04:49] comountainclimber commented on #415
Closing this due to inactivity and low priority...

[2018-11-27 04:49] #415 closed

[2018-11-27 04:50] comountainclimber commented on #1486
Please reach out to support on the official NEO discord if this is still an issue.

[2018-11-27 04:50] #1486 closed

[2018-11-27 04:50] comountainclimber commented on #1480
Fixed in v2.0.0

[2018-11-27 04:50] #1480 closed

[2018-11-27 04:51] comountainclimber commented on #1471
Resolved in v2.0.0

[2018-11-27 04:51] #1471 closed

[2018-11-27 04:52] comountainclimber commented on #1183
No longer an issue in v2.0.0

[2018-11-27 04:52] #1183 closed

[2018-11-27 04:54] comountainclimber commented on #1178
No longer an issue in v2.0.0
<img width="462" alt="screen shot 2018-11-26 at 9 54 01 pm" src="https://user-images.githubusercontent.com/13072035/49059377-d50c3b00-f1c5-11e8-9307-cb8e8950a654.png">

[2018-11-27 04:54] #1178 closed

[2018-11-27 04:55] comountainclimber commented on #1078
No longer an issue in v2.0.0

[2018-11-27 04:55] #1078 closed

[2018-11-27 04:55] comountainclimber commented on #952
Fixed in v2.0.0

[2018-11-27 04:55] #952 closed

[2018-11-27 04:56] comountainclimber commented on #861
Fixed in v2.0.0

[2018-11-27 04:56] #861 closed

[2018-11-27 04:56] #935 closed

[2018-11-27 05:02] comountainclimber commented on #1664
Closing this for now as the current implementation is by design... Will reopen if there is activity here or others feel strongly

[2018-11-27 05:02] #1664 closed

[2018-11-27 05:03] igormcoelho commented on #1480
Congratulation, NW 2.0 is amazing

[2018-11-27 05:03] comountainclimber commented on #833
Should be resolved (excluding periods of network instability) in v2.0.0 closing this issue for now

[2018-11-27 05:03] #833 closed

[2018-11-27 05:05] comountainclimber commented on #1665
Sorry did not mean to close this issue... Good find @osmirnov will add this to the project board for prioritization for 2.0.1

[2018-11-27 14:32] drptbl commented on #1640
Looks good now, thanks 👍.

[2018-11-27 14:32] #1640 closed

[2018-11-27 14:34] drptbl commented on #1649
Re-tested, looks good.

[2018-11-27 14:34] #1649 closed

[2018-11-27 14:39] drptbl commented on #1702
Tested, looks good.

[2018-11-27 14:43] drptbl commented on #1580
Looks good 👍 . Thanks :)

[2018-11-27 14:43] #1580 closed

[2018-11-27 15:11] drptbl opened #1729 "Infinite loader on MainNet node selection page"
**Wallet version or commit SHA:**
`dev` branch (c92b866)

**Environment:**
MacBook Pro (13-inch, 2017), macOS Mojave 10.14.1

**Reproduction steps:**
1. Start Neon Wallet
2. Login to any wallet
3. Click on "Settings" button in the left menu
4. Click on "Node selection" position in settings

**Screenshot/Video:**
https://i.imgur.com/ZD6corV.gifv

[2018-11-27 15:15] drptbl commented on #1700
Re-tested, looks good now.

[2018-11-27 15:15] #1700 closed

[2018-11-29 18:21] #1318 closed

[2018-12-02 17:32] ranbena commented on #1688
@drptbl Can you provide an STR?

[2018-12-02 18:54] Nikolaj-K opened #1737 "Make the key entering bar a tad more wide"
Version 2,
Windows 10,
Open private key entering method tab.
The private key mask bar is set to be a bit too short, so that it just does not show you the full private key when you enter them. As soon as you enter the last digits, the string displayed will shift so that you can't read the whole entered key at once.

This might somehow be system related, but minor improvement proposal: I'd suggest t

[2018-12-03 04:20] comountainclimber commented on #1719
Purchased LX on Switcheo and have been trying to repro this issue but not having any luck... Also audited the balance flow to make sure no duplicate requests are being made for balance info 😕

@DalderupMaurice is there any additional info you can supply?

<img width="467" alt="screen shot 2018-12-02 at 9 19 51 pm" src="https://user-images.githubusercontent.com/13072035/49352930-17c38c80-f678-11e8-

[2018-12-03 04:41] comountainclimber commented on #1737
Will take a look thanks for the suggestion @Nikolaj-K

[2018-12-03 15:57] comountainclimber commented on #1417
@igormcoelho any update on this? I would really like to get this in as part of a revamp of the neon-wallet tx UI/UX and think it would be a very valuable addition

[2018-12-03 16:18] ThomasLobker opened #1741 "NEON should broadcast transactions to multiple nodes"
When you transfer NEP-5 tokens, NEON will create a transaction and broadcast it to an RPC node. The node should add the transaction to the mempool and broadcast it to the rest of the network so it can eventually be added to the chain. When this is done, you will get the transaction hash from NEON and you have to assume that the RPC node is actually broadcasting the transaction throughout the NEO n

[2018-12-03 21:08] ranbena commented on #1582
I'm on this

[2018-12-03 21:09] ranbena commented on #1576
I'll handle this as part of work on #1582

[2018-12-04 20:39] Nimroht opened #1742 "Neon Send Bug Version2.0.0"
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
Neon-2.0.0.Windows

**Environment:**
Win 10 Pro (64 bit

[2018-12-05 09:52] ranbena opened #1743 "Code duplication - qr code scan implementations"
The `Send` modal and `LoginPrivateKey` container both use [Instascan](https://www.npmjs.com/package/instascan) and implement the same exact code.

It's suboptimal and requires some love.

[2018-12-05 15:48] comountainclimber commented on #1574
Closing this in favor of tracking here https://github.com/CityOfZion/neo-scan/issues/366

[2018-12-05 15:48] #1574 closed

[2018-12-05 15:52] comountainclimber opened #1747 "Fiat value for SOUL is not returning the correct amount"
Because there are multiple tokens with the ticker SOUL an * must be added to the symbol name in the request to crypto compare in order to return the correct value for the nep5 token coded in neon-wallet

[2018-12-06 01:12] #1743 closed

[2018-12-07 15:05] #1582 closed

[2018-12-07 19:23] Aesedai commented on #1700
Where can we get the updated exe for this? I'm still getting this error.

[2018-12-08 06:38] ranbena commented on #1665
@comountainclimber I looked into this:
The max amount is calculated under the assumption that the NEO amount won't be a fraction so "0.01" is calculated as "0".

Options:
1. Enforce whole numbers on NEO amount input fields.
2. Disable "max" button until amount fields are valid.
3. Calculate amount "0.1" as "1" instead of "0".

Looking at the code though, these won't be easy to implement.
My sugges

[2018-12-09 20:32] drptbl commented on #1700
@Aesedai it was not released yet.

[2018-12-10 22:34] mikeyrr opened #1749 "Neon Wallet 2.0.0 i cant send gas from Ledger Nano S wallet"
![untitled](https://user-images.githubusercontent.com/45774055/49765903-7dbaae80-fd1f-11e8-81e5-9d4edf2b6472.jpg)
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https:

[2018-12-10 23:10] drptbl commented on #1183
Tested, doesn't happen in v2 anymore.

[2018-12-10 23:11] drptbl commented on #952
Tested, fixed in v2.

[2018-12-11 19:39] drptbl commented on #1178
Re-tested, doesn't happen anymore.

[2018-12-11 19:52] drptbl commented on #1182
Re-tested, fixed in v2.

[2018-12-11 20:35] drptbl commented on #1576
I'm experiencing

[2018-12-11 20:39] drptbl commented on #1576
@ranbena @comountainclimber

**Video:**
https://i.imgur.com/0kcQWyU.gifv

On the video, you can see that wallet hangs for some time after first iteration of animation (wallet process hangs and is not responding for some time, 3-5 seconds). Doesn't matter how many times I try - it's always like this. I didn't see it before but also animation wasn't present before. Could it be that it's causing this

[2018-12-12 04:14] ranbena commented on #1576
I believe the hang time is individual and relies on hardware ([lightly discussed here](https://github.com/CityOfZion/neon-wallet/pull/1745#discussion_r239298606)). I also think it was most likely there before (can check with the current 2.0 version).

Since this is expected I would opt for a separate issue. I'll dig more and see if I can find a workaround.

[2018-12-12 10:22] ranbena commented on #1576
I dug some more, tried a different qr scanner, profiled the performance of simpler implementations - doesn't look the hang is fixable.

How about we show a non-animating "Loading WebCam" text instead?

[2018-12-12 17:16] comountainclimber commented on #1576
Isn't the hanging spinner due to the time set here https://github.com/CityOfZion/neon-wallet/blob/ff340cc636eca1165c056cddb86031794a1cd129/app/containers/App/Loading.js#L9?

[2018-12-14 09:29] CryptoSpartacus9 opened #1753 "Transaction time Neo to exchange"
Hello,

Yesterday I've send some NEO and GAS from my Neon wallet to an exchange. Unfortunatly I haven't received my fundings yet...Does somebody know the average transaction time for sending Tokens to an exchange?

I did this once before, and at that time it only took 3 minutes. Is there some kind of maintenance going on or am I missing something?

The transactions are shown on my Neon activity li

[2018-12-14 15:43] #1737 closed

[2018-12-14 15:43] comountainclimber commented on #1707
Fixed with https://github.com/CityOfZion/neon-wallet/pull/1740 will be available in next release

[2018-12-14 15:43] #1707 closed

[2018-12-14 17:53] ranbena commented on #1576
That's just a delay I put so at least the first cycle of the loading animation runs before it freezes :/ Detailed explanation [here](https://github.com/CityOfZion/neon-wallet/pull/1745#discussion_r239034834)

[2018-12-14 18:11] ranbena commented on #1576
@drptbl I've worked on my own implementation of the qr scanner to address this.
The freeze is still noticeable BUT webcam load time has decreased by 85% on my comp! I'm eager to see if how it performs on yours.

The version can be updated from my fork [ranbena/fix/qr-hang](https://github.com/ranbena/neon-wallet/tree/fix/qr-hang).

### This is a WIP
Known issues - preview fps is lower, preview dime

[2018-12-15 15:52] comountainclimber commented on #1747
fixed with https://github.com/CityOfZion/neon-wallet/pull/1751

[2018-12-15 15:52] #1747 closed

[2018-12-15 15:55] comountainclimber opened #1754 "enhancement: update linting and formatting rules"
Update eslint and prettier configs to support trailing commas, update and reformat the code base stems from https://github.com/CityOfZion/neon-wallet/pull/1750#discussion_r241705599 and https://medium.com/@nikgraf/why-you-should-enforce-dangling-commas-for-multiline-statements-d034c98e36f8

[2018-12-17 15:32] comountainclimber opened #1756 "Ledger: when you stay logged in with an unlocked ledger, at some point it will lock itself and neon wont work properly anymore"
**Wallet version or commit SHA:**
2.0.0

**Environment:**
(any)

**Prerequisites:**
Must have ledger

**Reproduction steps:**
Authenticate with ledger and leave open...

We should engineer a solution for logging a user out when their ledger becomes locked, unplugged etc.

[2018-12-17 20:07] Paynebutler2229 commented on #524
Just last month i lost over 8 BTC to a Bitcoin investment scheme hoping to make profit but this turned out to be a scam. I was so devastated by this situation and needed my BTC recovered, luckily for me a friend introduced me to a genius hacker who helped me recover all my Bitcoins somehow in just a day. If you need such help feel free to contact him via:
Email: BITCOINRETRIEVAL2018  GMAIL  COM
SM

[2018-12-17 21:15] comountainclimber commented on #524
@Paynebutler2229 you have been reported. This issue is being closed due to inactivity.

[2018-12-17 21:15] #524 closed

[2018-12-18 20:50] drptbl commented on #953
Fixed in v2.

[2018-12-18 21:13] drptbl commented on #1582
@ranbena Tested, everything works fine. The only thing is that when it fails on Linux, you're always linked to Ubuntu distro help page (even if you're on Debian for example). Still better than nothing 👍. Great job.

[2018-12-18 22:52] drptbl commented on #1747
Looks good. Fixed.

[2018-12-18 22:54] drptbl commented on #1743
Re-tested, everything seems fine after these changes. Good work.

[2018-12-18 22:57] drptbl commented on #1718
Implemented retry method works properly. It won't fix the issue completely, but for sure it will make it less visible (happen more rarely).

[2018-12-18 23:09] drptbl commented on #743
Re-tested, it's fixed.

[2018-12-18 23:09] #743 closed

[2018-12-19 12:49] ranbena commented on #1576
@drptbl thanks for giving this a try.
Actually, it seems you might be experiencing a different issue than the one you originally reported.

### Before everything!
This commit places a temp [visual effect on the video preview](https://imgur.com/a/rUs98ib) but it didn't appear on yours. Gotta make sure - are you certain the version tested includes [my fix](https://github.com/ranbena/neon-wallet/tree

[2018-12-24 20:33] comountainclimber commented on #1753
Closing this for now... Please visit NEO discord for additional support @CryptoSpartacus9

[2018-12-24 20:33] #1753 closed

[2018-12-24 20:34] comountainclimber commented on #1742
Closing this for now please reach out on NEO discord for additional support @Nimroht

[2018-12-24 20:34] #1742 closed

[2018-12-29 17:27] jd1mande opened #1767 "failed to load version 2.2"
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
e.g.: 0.2.3 or dcae88c

**Environment:**
e.g.: Win 10 H

[2018-12-29 17:32] jd1mande commented on #1767
failed to load version 2.2 on windows 7 this used to work and gas tokens were moved here.
will I be able to upload and install version or should I even try?

[2018-12-31 14:47] Kris191 commented on #129
Did this every get action-ed? i would be keen to use the wallet on my raspberry Pi with ledger support

[2019-01-03 18:44] canesin commented on #129
@Kris191 it is open source, could you try to build it for the Pi ? Unfortunately we have no testing env or demand to maintain Pi builds.

[2019-01-06 15:33] comountainclimber commented on #1767
There is no 2.2 so not sure what you are referring to... closing this for now

[2019-01-06 15:33] #1767 closed

[2019-01-06 15:37] comountainclimber commented on #1668
Closing this for now as the current functionality is to list the number of assets and number of recipients like you had suggested in your last comment. Feel free to comment if you think there are still enhancements to be made

[2019-01-06 15:37] #1668 closed

[2019-01-07 17:16] jd1mande commented on #1767
Maxwell:

I am reaching out for some help to get the neon wallet functioning. What I can see is that the neon set up file shows
0.2.2.  windows, it was installed on Sept. 12, 2017. When I open the neon wallet I get the Failed to load in the upper left corner
of the neon screen. have the Public address, the Encrypted address and the private key.

Can you provide some direction on how to address and

[2019-01-07 17:34] comountainclimber commented on #1767
Still not sure what you are referring to... Like I mentioned previously the most recent release is 2.0.0 not 0.2.2 please download the latest release

[2019-01-07 18:27] uvmetal opened #1773 "Feature Suggestion: Icons on Activity page are links to information about transaction type"
Navigate to the Activity tab.

The icons down the left side representing the transaction types (i.e., gas claim, invocation, contract, etc) should be clickable and link to an informational display that educates about the types of transactions. Where this link goes is open to discussion.  I like the suggestion made by @comountainclimber to link to an external site where they are all defined.

**Wal

[2019-01-07 18:30] uvmetal opened #1774 "Feature Suggestion: Column headers in Activity view"
Navigate to the Activity tab.

Having header names for the columns of information in the Activity tab would assist with understanding the data in the view.

**Wallet version or commit SHA:**
v2

**Environment:**
All

**Reproduction steps:**
NA

[2019-01-09 07:42] gilmourjack commented on #453
@jonasrocket you say that i can check for my decrypted private key on neon. how do i go about that so then i can follow the steps that you've provided? im a little confused and worried as i have about 45 neo at stake here

[2019-01-10 01:21] klik6 opened #1778 "Neon Wallet 2.0.0 blank sceeen after login"
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
e.g.: 0.2.3 or dcae88c

**Environment:**
e.g.: Win 10 H

[2019-01-10 01:29] sleepndevelop opened #1779 "Ledger issue: blank screen after pushing LOGIN"
**Wallet version or commit SHA:**
2.0.0

**Environment:**
Win 10 Home (64 bit)

**Prerequisites:**
- Have a Ledger
- Don't have any custom tokens added before running the wallet

**Reproduction steps:**
1. Start Neon Wallet
2. Click on "Ledger" button
3. Click on "Login" button

Then the wallet shows a white screen, while the Ledger thumb drive shows a ***very*** long key (is that my NEO public ke

[2019-01-10 03:37] Dan196 commented on #1778
Same for me.

[2019-01-10 03:48] Jesusmvp commented on #1778
Same me 4th...

[2019-01-10 04:25] pnwwolf opened #1782 "neon wallet not working"
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
e.g.: 0.2.3 or dcae88c

**Environment:**
e.g.: Win 10 H

[2019-01-10 04:30] tjosm commented on #1778
I'm having the same issue. Here's what Developer Tools show,
https://gyazo.com/0217d5e5c201bf460f325ab6e74910aa

[2019-01-10 04:31] tjosm commented on #1778
You're a stupid cunt.

[2019-01-10 04:43] MikeV19 commented on #1778
same.  log in then white screen with Neon in the left corner. What is the fix???

[2019-01-10 04:45] pnwwolf commented on #1778
fuck you faggot go choke on a dick hope you loose your neo stupid cunt

[2019-01-10 04:53] LONEBROHAN commented on #1778
Same here, and it was working fine earlier today, I can run 0.2.8 and see my funds but 2.0 goes blank,  tried it on my laptop too and same problem. I access with the ledger nano and v2.0 can not open

[2019-01-10 04:54] pnwwolf commented on #1778
update, still having problem but was able to send my neo to different address by clicking "activity" right after loging in and waiting for blockchain to update and then going to "send" however after clicking "wallet" it goes blank again.

[2019-01-10 04:55] #1782 closed

[2019-01-10 06:04] dezcool commented on #1779
Same.

[2019-01-10 06:05] comountainclimber commented on #1779
while I am still holding off until tomorrow morning to publish an official release feel free to download the binaries linked in the draft here https://github.com/CityOfZion/neon-wallet/releases/tag/untagged-52f55ace29c87a691ff1 which resolves the issue 👍

[2019-01-10 06:05] comountainclimber commented on #1778
while I am still holding off until tomorrow morning to publish an official release feel free to download the binaries linked in the draft here https://github.com/CityOfZion/neon-wallet/releases/tag/untagged-52f55ace29c87a691ff1 which resolves the issue 👍

[2019-01-10 06:05] dezcool commented on #1778
404

[2019-01-10 06:10] comountainclimber commented on #1778
Ahh so sorry draft releases are not public - my apologies. Will publish this shortly sorry about that

[2019-01-10 06:11] dezcool commented on #1778
All right. Cheers!

[2019-01-10 06:40] LONEBROHAN commented on #1778
NEON is currently not working due to issue with crypto compare API. You can either wait for a fix to be released, or use the O3 wallet http://o3.network/

[2019-01-10 06:42] Jesusmvp commented on #1778
I’m just gonna give it some time to resolve it self, I’ll be checking tomorrow in YouTube if anyone will talk about it, or just wait for the next latest Neon wallet release, we will see, anyone that figure this out first, please share thanks

[2019-01-10 08:10] steveclifton commented on #1779
Same here

[2019-01-10 09:05] jbdn16 commented on #1779
Same here, what is the solution? we must wait for a new wallet update for check our money?

[2019-01-10 09:17] tjosm commented on #1778
It's working now.

[2019-01-10 11:07] Dan196 commented on #1778
Mine is fixed. Thank you.

[2019-01-10 11:33] klik6 commented on #1778
Working for me too, thanks

[2019-01-10 11:33] #1778 closed

[2019-01-10 12:56] sleepndevelop commented on #1779
I think tomorrow they will release a new binary that will fix that. I've received an email from them.
Let's wait

[2019-01-10 15:12] #1779 closed

[2019-01-10 15:31] comountainclimber opened #1786 "Feature Suggestion: Implement Error Boundaries"
**Wallet version or commit SHA:**
2.0.0

**Environment:**
any

**Prerequisites:**
Add an error to the application that will raise an exception and cause the wallet to crash (white screen UI)

https://reactjs.org/docs/error-boundaries.html

We should leverage React 16 error boundaries on the dashboard. 1/09/18 Cryptocompare experienced an outage and their API was responding with a malformed respons

[2019-01-11 04:07] comountainclimber opened #1788 "Bug: Fix Broken Layout in Receive (dev)"
At some point the layout in the receive tab broke not sure how or when this popped up but it needs to be addressed before 2.1.0 can go out!

(currently on `dev`  branch)
<img width="1102" alt="screen shot 2019-01-10 at 9 05 58 pm" src="https://user-images.githubusercontent.com/13072035/51012698-b961b780-151b-11e9-9a26-dbf7800343b0.png">

[2019-01-12 03:48] alexmelro opened #1790 "wallet neon i cant not open"
good night, I have the neon wallet the last version, with some coins, and 2 days ago the wallet was with the image all white, after that, I could not enter the wallet because I just put my password, username, no let me put it, say no options, I happened to see and lost my private key to enter, what I do now, I hope you can help me ??
thanks and regards.
Antonio Oliveira

[2019-01-12 18:49] #1788 closed

[2019-01-12 18:50] comountainclimber commented on #1790
@alexmelro Please visit the official NEO discord for support

[2019-01-12 18:50] #1790 closed

[2019-01-12 18:50] #1625 closed

[2019-01-13 06:13] 98farhan94 opened #1792 "Cannot send NKN after updating to latest release (with a workaround)"
**Wallet version or commit SHA:**
v2.0 latest release

**Environment:**
macOS High Sierra

**Prerequisites:**
Update from old Neon wallet release (0.2.8) to new one. Use Ledger Nano S.

**Reproduction steps:**
1. Have old version of Neon wallet, add NKN token contract address.
2. Update to latest release.
3. Transactions will fail with insufficient balance warning even when there is balance.
4. Go

[2019-01-15 03:36] chinoster7u opened #1793 "Error Claiming Gas"
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
e.g.: 0.2.3 or dcae88c

**Environment:**
e.g.: Win 10 H

[2019-01-15 03:36] #1793 closed

[2019-01-16 00:22] tbeck860 commented on #1318
Fix tested successfully on Windows 10 Pro v1803 Build 17134.523
![1-15-2019 5-18-13 pm](https://user-images.githubusercontent.com/31013176/51218525-15e12000-18ea-11e9-9771-156edeada781.png)

[2019-01-22 23:29] luisalves73 opened #1794 "How to change password of Wallet in Mac?"
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

**Wallet version or commit SHA:**
v2.0.0

**Environment:**
Mac 10.14.2 (18C54)

**Prerequisites:**
not applicable

**Reproduction steps:**
not applicable

I want to know how do I change my password and or private key?

**Screenshots/Video:**
not applicable

[2019-01-22 23:42] #1794 closed

[2019-01-25 19:56] comountainclimber commented on #1685
https://github.com/CityOfZion/neon-wallet/issues/1749

[2019-01-25 19:56] comountainclimber commented on #1749
tracking here https://github.com/CityOfZion/neon-wallet/issues/1685

[2019-01-25 19:56] #1749 closed

[2019-01-25 19:59] comountainclimber commented on #1665
Closing this one for now

[2019-01-25 19:59] #1665 closed

[2019-01-25 19:59] comountainclimber commented on #1661
Closing this one for now as the fix has been merged to neon-js

[2019-01-25 19:59] #1661 closed

[2019-01-25 20:15] comountainclimber commented on #1792
https://github.com/CityOfZion/neon-wallet/issues/1414

[2019-01-25 20:15] #1792 closed

[2019-01-25 20:36] comountainclimber commented on #942
Closing this issue for now...

[2019-01-25 20:36] #942 closed

[2019-01-25 20:37] #1098 closed

[2019-01-25 20:38] comountainclimber commented on #954
Fixed in v2

[2019-01-25 20:38] #954 closed

[2019-01-25 20:42] comountainclimber commented on #947
Closing this for now as the address book is currently set up this way by design

[2019-01-25 20:42] #947 closed

[2019-01-25 20:44] comountainclimber commented on #832
Closing this issue for now due to inactivity...

[2019-01-25 20:44] #832 closed

[2019-01-25 20:45] comountainclimber commented on #749
Closing this issue due to inactivity...

[2019-01-25 20:45] #749 closed

[2019-01-25 20:46] comountainclimber commented on #748
Closing this issue due to inactivity and enhancements currently in v2

[2019-01-25 20:46] #748 closed

[2019-01-25 20:47] #1536 closed

[2019-01-29 10:53] cgme0698 commented on #1422
Frustrated.  Now I have version 2.0.0 of NEON Wallet, and settings no longer has a manage tokens feature, so I can't figure out how to delete script hashes.  Same problem as above.

"Error calculating claimable GAS: Block or transaction already exists and cannot be sent repeatedly"
Public address:  ATwiXn6j2GTzofympoj1z54Y2BaEkETkK4

[2019-01-30 23:01] himeywho commented on #737
i have not found a way to get an answer on dischord! There is no support for this wallet I was made to use to "safely" keep my NEO and due to a forced upgrade have NOTHING but someone telling me to go to dischord which has NO HELP and no way of finding it!

[2019-02-01 18:13] lllwvlvwlll commented on #743
# THIS IS JUST AN EXAMPLE WORKFLOW
Please Award:

@metachris : 500
@drptbl : 200

[2019-02-01 18:18] lllwvlvwlll commented on #743
(Presending to be @canesin )
@metachris https://neoscan.io/transaction/a11a5ac8ae835f75348b79640ae74424fced637e1ef89a1bd5e1d13e6d9faa16

@drptbl
https://neoscan.io/transaction/a11a5ac8ae835f75348b79640ae74424fced637e1ef89a1bd5e1d13e6d9faa16

[2019-02-03 16:49] comountainclimber commented on #1788
please award @phetter 100

[2019-02-03 16:52] comountainclimber commented on #1625
please award @phetter 200 👍

[2019-02-03 17:01] comountainclimber commented on #1703
Please award @phetter 100 🚀

[2019-02-03 17:06] comountainclimber opened #1796 "chore: remove unnecessary brackets"
JSX brackets were unnecessary committed to dev causing a defect in the UI

[2019-02-03 17:06] comountainclimber commented on #1796
https://github.com/CityOfZion/neon-wallet/pull/1776

[2019-02-03 17:06] #1796 closed

[2019-02-03 17:06] comountainclimber commented on #1796
Please award @DalderupMaurice 100 points 👍

[2019-02-03 17:08] comountainclimber commented on #1729
Please award:
@ranbena 200 points
@dvd-schwrtz 100 points
@evgenyboxer 100 points

[2019-02-03 17:13] comountainclimber commented on #1741
Please award @ranbena 100 and @evgenyboxer 100 for the code review here https://github.com/CityOfZion/neon-wallet/pull/1781 and here https://github.com/CityOfZion/neon-wallet/pull/1766

[2019-02-03 17:14] comountainclimber commented on #1318
Please award @tbeck860 100 🚀

[2019-02-04 18:57] jd1mande commented on #1767
Maxwell:

I have downloaded and installed 2.0 as suggested but now I cannot get my gas into the wallet.
The gas is sitting on my system  C: drive but I am lost now,
Any suggestion or directions on what to do now would be greatly appreciated.

Thank You,

John

________________________________
From: Maxwell Lasky <notifications@github.com>
Sent: Monday, January 7, 2019 10:34 AM
To: CityOfZion/neon-

[2019-02-04 19:02] comountainclimber commented on #1767
"The gas is sitting on my system C: drive" what does that even mean?

[2019-02-05 18:09] nspt09 commented on #1624
I recently downloaded the newest version of the Neon Wallet (2.0.0, Neon.AppImage). I am having the same problem as @DalderupMaurice. I am using Ubuntu 18.10.

[2019-02-05 19:01] nspt09 opened #1797 "Ledger login button gets disabled while NEO app is open on Ledger Nano S"
**Wallet version or commit SHA:**
Neon-2.0.0.Linux.AppImage

**Environment:**
Ubuntu 18.04.1 LTS

**Prerequisites:**
Own a Nano Ledger S

**Reproduction steps:**

1. Start Neon Wallet
2. Navigate to login using a Ledger
3. Insert Ledger & unlock with pincode
4. Open NEO app
5. DO NOT CLICK LOGIN --> WAIT approx. 2 seconds
6. Now you can see that the login button becomes disabled and you see a spin

[2019-02-06 16:04] avenuein opened #1798 "NEO Coin missing"
I sent  Neo Coin from client NEON wallet to exchange (bibox Neo wallet) . But not received Neo Coin from 2 days.. and exchange (bibox) customer support says  "your recharge is invalid after verification. Please check with the customer service of the sending platform"

NEO Transaction Hash ::
a2aa90c45fb0a46508fbc2d5d9651275a0ee3080211bce09ade19eb21933785d

[2019-02-08 16:18] colinclosser opened #1799 "USD price in wallet does not appropriately reflect actual market value of NEO"
Hi CoZ. This has been an issue for a couple of months now. Great work on 2.0.0 by the way. Colin

**Wallet version or commit SHA:**
2.0.0

**Environment:**
e.g.: Win 10 Pro (64 bit) Version 1809 Build 17763.292

**Prerequisites:**
none

**Reproduction steps:**
e.g.:
1. Start Neon Wallet
2. Observe listed price of NEO in USD
3. Make markets twice, selling NEO for BTC or other blue-chip crypto in a

[2019-02-08 16:43] comountainclimber commented on #1799
We use cryptocompare for global average prices the check the API and you will see we are referencing the correct data

[2019-02-08 16:43] #1799 closed

[2019-02-08 16:44] comountainclimber commented on #1799
https://min-api.cryptocompare.com/

[2019-02-08 16:44] #1798 closed

[2019-02-08 16:45] comountainclimber commented on #1798
This is not the appropriate place to ask for basic support please visit the official NEO discord for help

[2019-02-08 17:12] colinclosser commented on #1799
Yes, it's a tough issue. I'm aware that NEO has not had high volume fiat markets since the China ban. Hopefully the NEO ecosystem can get here in 5 years. I think the solution offered by this Bitcoin wallet is the gold standard.

Thank you for your time and consideration.

![bitcoin](https://user-images.githubusercontent.com/30250826/52493991-d03b0e80-2b9a-11e9-960d-8242280f56c5.png)

[2019-02-08 18:11] lllwvlvwlll commented on #1797
@eliastan

[2019-02-11 03:34] doczee opened #1800 "Neon Wallet 2.0.0 Goes Blank After Login on MacOs"
Wallet goes blank after login, MacOS Mojave 10.14.3 on MacBook Retina mid 2014

**Wallet version or commit SHA:**
Version 2.0.0

**Environment:**
MacOS Mojave 10.14.3

**Reproduction steps:**
1. Start Neon Wallet
2. Sign in Walled
3. Wallet goes blank

<img width="1094" alt="screen shot 2019-02-10 at 9 31 34 pm" src="https://user-images.githubusercontent.com/38846608/52545211-5ca42780-2d7b-11e9-9a

[2019-02-11 03:48] apply75 commented on #1800
also happening on my wallet with my hp laptop ..
.running windows 7
 64 bit version...intel i7

[2019-02-11 04:12] steveslatky commented on #1800
Had it happen on linux mint as well. So it is not an OS issue. It seemed to only start happening, sometime in the past 2 days. Since that was the last time I open Neon.

[2019-02-11 04:47] bryanlabchuk commented on #1800
windows 10 64 bit, same issue. login succeeds, app goes blank after loading wallet.

[2019-02-11 04:52] glschar commented on #1767
I have version 2.0.0 of the wallet. After I enter my password, the wallet screen starts to load and then goes blank. It worked fine the last time I used it 10 days ago. Any ideas on what I can try?

[2019-02-11 05:36] blockbasher commented on #1800
Same here on windows 10 64 bit.   Was working fine roughly 2-3 hours ago.  white screen after successful login

[2019-02-11 07:16] machr commented on #1800
Same issue after login with Ledger Nano. Downloaded and replaced an outdated version of Neon in /Applications/ from Github.

[2019-02-12 02:33] comountainclimber commented on #1800
This was due to an issue related to the API we rely on for pricing data has been fixed in 2.1.0 which is going though its final rounds of QA. Sorry for the inconvenience this may have caused!

[2019-02-12 02:33] #1800 closed

[2019-02-16 11:44] dennish007 opened #1802 "Unable to claim GAS with Neon 2.0"
**Wallet version or commit SHA:**
2.0.0

**Environment:**
Mac OSX 10.12.6

**Reproduction steps:**
1. Start Neon Wallet
2. Login
3. Claim GAS

System reaction:
Neon is claiming by spending all NEO (visible in transaction overview)
After that nothing happens, no GAS transfer
Claiming using neotracker.io works.

Might be address specific, so email me for the address if needed.

[2019-02-16 13:41] francisfrancisfrancisfrancisfrancis commented on #1749
I have the same issue with the neon wallet 2.0
cant send gas
"transaction to big for ledger to sign" Tried using decimals  30.0, 30.00 etc
Has the issue been resolved? the claim/comment is closed now.
What is the work around?
Thanks for any hints/tips

[2019-02-17 02:53] 12Solve opened #1803 "Wallet v.0.2.5 ends with blank screen and 'failed to load' message"
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
e.g.: 0.2.3 or dcae88c

**Environment:**
e.g.: Win 10 H

[2019-02-17 02:59] 12Solve opened #1804 "Failed to load wallet v 0.2.5"
**Wallet version or commit SHA:**
0.2.5

**Environment:**
Mac OS Mojave v 10.14.2

**Prerequisites:**
only thing which I think I changed before opening wallet is update to Mojave

**Reproduction steps:**

1. Start Neon Wallet
2. Get blank screen with 'failed to load'

Screenshot:
![schermafdruk 2019-02-17 06 57 32](https://user-images.githubusercontent.com/38307212/52907755-6220d680-3281-11e9-8df2

[2019-02-17 03:30] 12Solve commented on #1804
I removed the app with Cleanmymac X, downloaded latest version, logged in, and all good!

this can be closed

[2019-02-17 03:30] #1804 closed

[2019-02-17 03:31] #1803 closed

[2019-02-21 19:38] lllwvlvwlll commented on #1703
https://neoscan.io/transaction/6b84fb0383d72a0c6d71766c96ecf8591fa7f7a24914f0df6b86f473d2db8d3b

[2019-02-21 19:38] #1703 closed

[2019-02-21 19:40] lllwvlvwlll commented on #1796
https://neoscan.io/transaction/84e2516a7057a0ba76af64627668a6059fc9bf4160812afa47ede8c2f9deb62c

[2019-02-21 19:43] lllwvlvwlll commented on #1318
https://neoscan.io/transaction/220a87f0e9cedf43f05278182794d9c5f49ad6f144e9ebc7fb7aa4b5994c68d8

[2019-02-21 19:48] lllwvlvwlll commented on #1788
https://neoscan.io/transaction/fe4c1ab1b0bfacf82ac686e065e5fdef376bbf77bea6c560c4715c8be4ce9ad5

[2019-02-21 19:48] lllwvlvwlll commented on #1625
https://neoscan.io/transaction/4d9444405b926866f2001468a0d1f4766c1d61da91fb7a46e9d1c917f65ec938

[2019-02-21 21:36] lllwvlvwlll commented on #1741
https://neoscan.io/transaction/d24882f33f56a405c55ec93ea0306423ab06385e3d4937b735c06ea984d67b39

[2019-02-21 21:36] #1741 closed

[2019-02-21 21:38] lllwvlvwlll commented on #1729
https://neoscan.io/transaction/52a8ff627aa7c29e0b398f7e3026818a9e23b9adc1fcf6e2398da5ac029ee0e0

[2019-02-21 21:38] #1729 closed

[2019-02-25 00:54] comountainclimber commented on #1704
Confirmed this is no longer an issue

[2019-02-25 00:54] #1704 closed

[2019-02-25 00:55] comountainclimber commented on #1677
Fixed in 2.1.0

[2019-02-25 00:55] #1677 closed

[2019-02-25 18:58] nicholaspryan opened #1806 "Neon wallet not showing transfer"
Neon V2.0.0
IOS  10.11.6

I created a wallet and sent 1 NEO from Binance to test it and it worked fine.

I then sent another 40ish coins after copying and pasting an address from Neon.

When I have come back to neon awhile later there is no additional coins in the wallet.

I checked the activity and there is the other address in the activity log.

![screen shot 2019-02-25 at 16 14 41](https://user

[2019-02-25 19:01] fabwa commented on #1806
AJ****kjk is likely the binance wallet (1 NEO incoming) AV*****wz is there twice for a GAS claim (0 NEO tx and incoming GAS) - your 40NEO tx simply did not make it (yet). Check binance for a tx id.

[2019-02-25 19:01] #1806 closed

[2019-02-25 19:03] nicholaspryan commented on #1806
there is a TXid

[2019-02-25 19:03] nicholaspryan commented on #1806
its a good few hours ago

[2019-02-25 19:21] fabwa commented on #1806
did you check neoscan?

[2019-02-25 20:21] nicholaspryan commented on #1806
I just did but i don't know what i am looking at tbh. Im pretty fresh to this

[2019-02-25 22:38] nicholaspryan commented on #1806
surely. it should have come through now its been over 8 hours. I know there is a wait but i thought more like 1/2 hrs max

[2019-02-26 08:24] nicholaspryan opened #1807 "Neo wallet not showing transfer"
https://github.com/CityOfZion/neon-wallet/issues/1806

issue closed but not resolved yet Neo wallet not showing transfer after 24hrs

Neon V2.0.0
IOS 10.11.6

I created a wallet and sent 1 NEO from Binance to test it and it worked fine.

I then sent another 40ish coins after copying and pasting an address from Neon.

When I have come back to neon awhile later there is no additional coins in the wa

[2019-02-26 08:31] fabwa commented on #1807
Please share your public key or the tx id (which would reveal your public key as well). There is nothing wrong with the activity log you showed. As said before, you received 1 NEO from kjk (probably binance). The other 2 entries are from a GAS claim you made. There is no other incoming tx thus far. This seems not to be a Neon wallet issue..

[2019-02-26 08:41] nicholaspryan commented on #1807
fe644931d61e0c9b816074668d8a92636720091525881e6db67dddf6ed303ad3

[2019-02-26 08:42] nicholaspryan commented on #1807
Thank you

[2019-02-26 08:46] fabwa commented on #1807
This tx shows that 1 NEO was sent to AWVv4sscYYSNpzpnBuFpxBkQc1nwSsPsj9 and 10 NEO to AXqNoebjUK9uLzbeUBQGF48hKN5CJbGMWb. (https://neoscan.io/transaction/FE644931D61E0C9B816074668D8A92636720091525881E6DB67DDDF6ED303AD3).
It does not show the public address that is associated with your account from your screenshot. I am afraid we cannot help you here. Please contact binance support

[2019-02-26 12:36] #1807 closed

[2019-02-28 11:47] opensourcenewbie commented on #1471
I have a similar issue to @roryjob .  Fortunately I only sent 1 ONT as a test, but it's not showing up in Neon (2.0.0)

Any suggestions, please?

[2019-02-28 11:48] fabwa commented on #1471
Neon does not support ONT. Please use a compatible wallet.

[2019-02-28 12:10] opensourcenewbie commented on #1471
@fabwa   Thanks for your reply, and confirming that **the information on CoinCentral is incorrect / out of date**

"You can also receive ONT by holding NEO in any non-exchange wallet. Some of these wallets may not display ONT after the drop, but you “will nevertheless be able to retrieve ONT in a wallet that does not display ONT from a wallet which does display ONT”, for example, the Neon Wallet."

[2019-03-04 15:34] comountainclimber commented on #1688
Fixed in 2.1.0

[2019-03-04 15:34] #1688 closed

[2019-03-04 15:37] comountainclimber commented on #1576
Closing this issue for now as the original issue is resolved in 2.1.0

[2019-03-04 15:37] #1576 closed

[2019-03-04 15:40] comountainclimber commented on #1524
Closing this issue for now - unable to reproduce any issues related to this in 2.1.0... feel free to re open if there is still a problem!

[2019-03-04 15:40] #1524 closed

[2019-03-04 15:46] #1802 closed

[2019-03-04 15:47] comountainclimber commented on #1802
We are working on improving the GAS claim user experience - occasionally during times of network instability claims can fail

[2019-03-06 11:08] dennish007 commented on #1802
installed 2.1.0 and claim was now succesfull.

so consider this issue as ’solved indirectly’.

thanks.

[2019-03-10 18:15] bozack01 opened #1812 "Deposited ONT from Kucoin account and is not showin up in mu wallet."
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
e.g.: 0.2.3 or dcae88c

**Environment:**
e.g.: Win 10 H

[2019-03-13 06:36] boxofscraps opened #1813 "Your transaction is too big for the Ledger to sign"
Completely cannot send any GAS out of ledger wallet.  NEO and other assets were able to be transferred without any issues.

**Ledger Firmware version:**
1.4.2

**Wallet version or commit SHA:**
2.1.0

**Environment:**
Win 10 Education (64 bit) Version 1809 Build 17763.316

**Prerequisites:**
Don't have any custom tokens added before running the wallet

**Reproduction steps:**
1. Start Neon Wallet

[2019-03-13 08:33] saltyskip commented on #1813
https://utxo-manager.o3.app/

You can solve it with O3 using this app

[2019-03-13 12:49] SyndicateCrypto opened #1814 "RCPT token / Perhaps minted tokens, not showing up."
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
2.1.0

**Environment:**
e.g.: Win 10 Home (64 bit) Vers

[2019-03-13 21:16] vncoelho opened #1815 "[feature] Support to neo-cli UTXO and Claims tracking from new plugin"
Hi @comountainclimber, maa friend.
Good time in the DevCon, a great pleasure to meet you it was.
Congratulations for the great outstanding work you are all doing here.

With PR https://github.com/neo-project/neo-plugins/pull/52, we gonna be able to query UTXO and Claims direct from a neo-cli node.

I think it is good to have this feature on Neon-Wallet for a better experience.
Probably some nodes

[2019-03-13 23:03] vncoelho commented on #1695
We have some example of javascript code for that at https://github.com/NeoResearch/neocompiler-eco/tree/master/public/js/eco-scripts, I can select each part for you @ranbena. We also used that template for the neonjs.

[2019-03-14 05:40] #1813 closed

[2019-03-14 19:34] #1797 closed

[2019-03-15 13:59] comountainclimber commented on #1815
@vncoelho It was a pleasure/great time meeting you out Seattle! Was very impressed by the NEO research team booth and panel discussions!

Sorry for the delay in getting back to you - being able to query for UTXO and claim information from a neo-cli node would be a huge win for us as we could use the node directly for this info instead of relying on neoscan. Thank you so much for bringing this to m

[2019-03-15 14:00] comountainclimber commented on #1812
Please use the official NEO discord for support help https://discord.cityofzion.io

[2019-03-15 14:00] #1812 closed

[2019-03-17 22:29] tester2011 opened #1817 "Not an issue, but a big thumbs-up!"
I couldn't see any way to contact the author directly, so I thought I'd post here - obviously , please feel free to delete...

I have to say that Neon-wallet is how a crypto wallet should be done. I've used many over the years and many of them all force you to jump through hoops to get the simplest of things done.

So many other projects should take a long, hard look at this one and realise this i

[2019-03-18 15:41] comountainclimber commented on #1817
Thanks so much for the support and positive feedback @tester2011 ! If you have any feature suggestions or additional feedback be sure to let us know 😄

[2019-03-18 15:41] #1817 closed

[2019-03-25 20:43] Aldoray opened #1821 "I have upgraded to the new NEO Wallet and it is showing that my wallet is empty."
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
e.g.: 0.2.3 or dcae88c

**Environment:**
e.g.: Win 10 H

[2019-03-26 05:47] forbiddenartist commented on #1030
hello I just updated to the new neon wallet and all my NEO and Gas are gone
and it wont load assets please see pic
[image: image.png]

On Sun, Apr 29, 2018 at 12:42 PM Matt Huggins <notifications@github.com>
wrote:

--
"ThINK"

[2019-03-26 08:47] billycyn opened #1822 "NEO Wallet upgraded to 2.1.0.Windows but Total Wallet Value is set to Zero"
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
e.g.: Ledger Nano S - Firmware version 1.5.5

**Environ

[2019-03-26 14:05] comountainclimber commented on #1822
not enough information...

[2019-03-26 14:05] #1822 closed

[2019-03-26 14:05] comountainclimber commented on #1821
Not enough information (none at all)...

[2019-03-26 14:05] #1821 closed

[2019-03-28 19:02] comountainclimber opened #1823 "feature suggestion: NNN news feed on news tab in wallet"
NEO News Today provides an RSS feed of their articles - I propose adding this to the wallet under its own tab. Input from the community on design would be a nice to have however I think this implementation can be added without any outside UI design assistance. https://neonewstoday.com/feed/

[2019-03-28 19:04] comountainclimber opened #1824 "feature suggestion: Ability to hide pricing data"
A user should have the ability to hide fiat price values entirely from the application if they desire. This feature would add a new value under settings which would allow users to hide all fiat pricing data.

[2019-03-28 19:06] comountainclimber opened #1825 "feature suggestion: ability to submit a feature request / issue report from Neon"
There should be some way for users to submit bug reports or suggest features from within neon. It could be as simple as adding in a link to the GH issue creation page in settings....

[2019-03-28 19:07] comountainclimber opened #1826 "feature suggestion: wallet in"
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
e.g.: 0.2.3 or dcae88c

**Environment:**
e.g.: Win 10 H

[2019-03-28 19:09] comountainclimber opened #1827 "feature suggestion: wallet in "view only" mode for any address"
Adding a new feature to the authentication process which would allow a user to "view" any wallet on the network. Tabs like 'Send' and 'Token Sale' would be disabled in this state. Any other suggestions and ideas should be discussed here.

[2019-03-28 19:09] #1826 closed

[2019-03-30 00:42] comountainclimber commented on #1719
Closing this issue as I have not been able to replicate or seen this occur...

[2019-03-30 00:42] #1719 closed

[2019-03-30 00:46] comountainclimber opened #1829 "feature suggestion: API for dApp developers to interface with"
Placeholder issue for a discussion and updates regarding API development

[2019-03-31 01:20] tbeck860 commented on #1662
Tested successfully on 2.1.0.dev Windows 10 Pro build 17134.648 v1803
Invalid address error handling displayed

![3-30-2019 7-15-59 PM](https://user-images.githubusercontent.com/31013176/55283448-bf985080-5320-11e9-8072-87506c7d466a.png)

[2019-04-03 16:53] wowology opened #1830 "2 missing ONT tokens in NEO wallet"
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
v2.1.0

**Environment:**
Mac OS Mojave version 10.14.2

[2019-04-05 13:33] #1830 closed

[2019-04-05 13:34] comountainclimber commented on #1830
NEON supports NEO, GAS and nep5 tokens but does not support Ontology.

[2019-04-05 13:37] comountainclimber opened #1831 "feature suggestion: in app notification if calls to neoscan fail"
Because we rely on neoscan for UTXO balances in the event of instability users are unable to transfer assets on the NEO blockchain (however invoking smart contracts still works fine). Neon should provide feedback in the UI when it determines there might be an issue with neoscan - `balancesActions.js` would probably be the best place to make this determination however there are other options as wel

[2019-04-05 14:07] comountainclimber commented on #1662
Thanks for verifying @tbeck860 !

[2019-04-05 14:08] comountainclimber commented on #547
This feature is in the 2.2.0 release candidate. Closing for now 🎉

[2019-04-05 14:08] #547 closed

[2019-04-05 14:09] comountainclimber commented on #1662
This feature is in the 2.2.0 release candidate. Closing for now 🎉

[2019-04-05 14:09] #1662 closed

[2019-04-05 14:09] comountainclimber commented on #1786
This feature is in the 2.2.0 release candidate. Closing for now 🎉

[2019-04-05 14:09] #1786 closed

[2019-04-10 18:10] comountainclimber opened #1833 "feature suggestion: show block height in UI"
There should be some indicator of the current block height in the UI. (The code to wire this up has mostly already all been written and can be found in `blockHeightActions.js`)

One idea is to have this piece located above the Logout button however open to suggestions from the community.

[2019-04-10 18:13] comountainclimber opened #1834 "feature suggestion: ability to toggle "0 amount" transactions from the activity tab"
Offer the ability for users to be able to toggle 0 amount transactions from the activity view. Discussion around where to offer this switch and whether this feature should be added can be discussed here.

[2019-04-10 18:14] comountainclimber opened #1835 "feature suggestion: Claim button after success should update immediately"
Claim button after success notification should update as well immediately (stays grayed out with old gas amount)

[2019-04-11 12:51] phetter commented on #1621
I have a cople of things that have come up regarding this as I was looking at working on it:

1. If you go into settings and recover wallets (via NEP-6 file) it will pull a list of wallets that you can see under Manage Wallets, but you can't switch between them from there. I'd like to add a feature to the Manage Wallets page to switch to another wallet in the list. I propose we add an item to the

[2019-04-11 13:13] phetter commented on #1827
1. Watch Feature: I'd like to add a tab called "Watch"  under either "Receive" or "Contacts" that is a list of wallets and a concise overview of their holdings. A drill down would show full detail of holdings, last transaction time, link to all transactions on a third-party explorer, and offer more options such as "add to contacts", "remove watch", activity email alerts, etc.

2. "Contacts" page s

[2019-04-11 13:29] phetter commented on #1695
Is there any movement on this? I was planning to add multisign to neotools as a test and I could carry it over to this eventually.

This feature should be high priority to keep the wallet competitive with others in the space.

[2019-04-11 13:32] uvmetal opened #1837 "Feature Suggestion: Flash Status Message on Load Screen"
A message is flashed in red along the top if login fails, but no status that anything is occurring, or what is happening, is ever shown.

I propose a green status flash to say "logging in" or "decrypting" or whatever is relevant.

Thoughts?

[2019-04-11 14:38] vncoelho commented on #1695
I believe it is on the way, @phetter.
We have some javascript codes for this support, @comountainclimber:
https://github.com/NeoResearch/neocompiler-eco/blob/master/public/js/eco-scripts/rawMultiSigConversions.js

https://github.com/NeoResearch/neocompiler-eco/blob/af79b9ff09f711a2476e9090d7dabcdc80e9d701/public/js/eco-scripts/transfers_NeonJS.js#L83-L178

Neon-js also added some support.

We are

[2019-04-11 15:38] phetter commented on #1695
The code you provided here is great (https://github.com/NeoResearch/neocompiler-eco/blob/master/public/js/eco-scripts/rawMultiSigConversions.js). I will review further with plans to implement to neotools and neolink (these will be slow to happen as C.R.E.A.M.) :)

I like standard modules. <3

Thanks so much.

[2019-04-12 03:34] ranbena commented on #1695
Sry comrads. I am not on this assignment any more.

[2019-04-12 03:52] vncoelho commented on #1695
@comountainclimber

Time to go bouldering for a week and less snowboarding...kkkk ahauahah

check dylan https://cdn.discordapp.com/attachments/479084114629361675/565892228288086016/image0.jpg

[2019-04-20 14:12] 777poe opened #1840 "Binance confirmed my tranfet to my wallet of ONT. It never showed up in my wallet. It has been over two weeks?"
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
e.g.: 0.2.3 or dcae88c

**Environment:**
e.g.: Win 10 H

[2019-04-20 14:25] comountainclimber commented on #1840
Neon wallet does not support the ontology blockchain... Please us a wallet that does to access your tokens https://medium.com/ontologynetwork/ontology-ont-and-ontology-gas-ong-wallet-and-exchange-information-f030409132e4

[2019-04-20 14:25] #1840 closed

[2019-04-20 15:47] 777poe commented on #1840
I sent my ONT from Binance to my Neon Wallet. Is it lost or can I reclaim it? I have proof that I sent it but never received it. How can I retrieve it?

[2019-04-20 16:34] comountainclimber commented on #1840
Please read the comment above...

[2019-04-20 16:44] 777poe commented on #1840
I understand but did I lose it all? Why does the wallet not specifically have what can be transferred and what cannot be transferred.  The message reads; "Only send assets that are compatible with NEO blockchain. (NEO, Gas, etc...) What is the etc...? It never states to NOT send ONT. Did i lose it all?

[2019-04-20 16:54] comountainclimber commented on #1840
Please see #support in the official NEO discord for additional assistance...

it does that exactly in the quote you you pasted - the etc would be any smart contracts deployed on the NEO blockchain

[2019-04-26 05:53] BrunoAB1 opened #1841 "Send Transfer - SDUSD don't appear on exchange after sending ! founds lost"
I send 2 transfers, SDUSD from neon wallet to an exchange and both transactions didn't appear on exchange !!
I contacted exchange, they didn't see the transfers...
i had SDUSD on neon wallet, i used  script hash 7146278a76c33fc6bb870fcaa428e3cdb16809ac to add token.

Can someone help me pls ?

[2019-04-26 08:44] BrunoAB1 commented on #1841
HELP !
CAN SOME ONE HELP ME PLS ! NEON LOST ALL MY SDUSD !!!!

[2019-04-26 08:51] BrunoAB1 commented on #1841
I CAN'T FIND MY NEO BALANCE NOWHERE ! There is no transfer on history.
Same on swhitcheo i don't find my balance of neo and sdusd

[2019-04-26 11:36] BrunoAB1 commented on #1841
the sdusd i recieved from Switcheo appear on Neon but when i transfer some sdusd to another adress they desappear

they never appear on my reception adress and my balance ususd tokens on neon decrease !!!!

What's happening ??

[2019-04-26 14:38] comountainclimber commented on #1841
I reccomend reaching out to support in the official NEO discord as this does not seem to be an issue with neon itself. I will reopen this issue if this is not the case!

[2019-04-26 14:38] #1841 closed

[2019-05-02 16:57] comountainclimber opened #1842 "Flickering images in news feed"
Even though we load all the data in the RSS feed from NEO News Today we should paginate the images (infinite scroll) so that the image requests are only made for the articles in view. This will fix the bug depicted below...

Theres already an example of an infinite scroll UX set up in the application here and should be used for reference:
https://github.com/CityOfZion/neon-wallet/blob/dev/app/comp

[2019-05-09 20:30] AtHeartEngineer commented on #1103
Also having this issue, mac 10.14,  latest neon wallet, can't claim any gas.

[2019-05-13 21:38] comountainclimber opened #1846 "feature suggestion: offline signing"
Although seemingly very complicated user experience, neon should support the ability for users to sign transactions offline for future broadcast onto the network. Would like to open up the discussion around this feature in this thread

[2019-05-14 03:01] tylynne opened #1848 "neo not showing up in neon wallet"
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
e.g.: 0.2.3 or dcae88c

**Environment:**
e.g.: Win 10 H

[2019-05-14 03:02] tylynne commented on #1848
I downloaded the latest wallet 2.2.1 and now my neo and gas do not show up. what do I do?

[2019-05-17 03:52] aufache opened #1851 "Ontology not showing us"
Ive been depositing my ont to my neon wallet since august and have not seen it update. The address is correct. The ont explorer shows its in there. The neo explorers do not.

How can i move the invisible ONT to a different wallet??? Or at least make my funds visible.
Is my ontology gone?

I'm using my ledger with the neon wallet.

[2019-05-17 23:36] comountainclimber commented on #1851
This may be confusing but ONT is not a token on the NEO network please access your address on an ONT supporting wallet (like https://github.com/ontio/OWallet/releases or https://o3.network/)

[2019-05-17 23:36] #1851 closed

[2019-05-20 20:31] rafaboni commented on #1714
I have the same issue can someone help me to fix it?
 I'm using my ledger nano s!

[2019-05-20 20:46] rafaboni opened #1852 "Error: Block or transaction validation failed and failed gas claim"
**Wallet version or commit SHA:**
neon Version 2.2.1

**Environment:**
osx 10.13.6

no ccustom tockens

**Reproduction steps:**

1. Start Neon Wallet
2. Click on "claim" button
3. sign the transaction with my ledger nano s
4. error block or transaction already exist and cannot be sent repeatedly

i have been trying to claim gas but it just make sign 1 time when usually is twice and I tried again s

[2019-05-21 08:00] bopetfdl opened #1853 "show gas display different results"
**Environment:**
Server A: Ubuntu 18.10 (64 bit) neo 2.9.4
Server B: Ubuntu 18.10 (64 bit) neo 2.9.4

**Reproduction steps:**
1. Stop neo on Server A
2. Copy wallet.db3 file from A to B
3. Start A & B
4. Install plugins, download chain.zcc.zip and place the neo-cli root directory, restart B
5. After the synchronization is complete, and index completed(Server B)
6. execute "show gas" on A & B, but

[2019-05-21 09:40] crk84 commented on #1852
I have the exact same problem with Neon wallet: 1) Unable to send Neo. 2) Unable to claim Gas.
For sending Neo I have tried all the fee options from no fee to high fee.  It doesnt work.

[2019-05-21 14:34] comountainclimber commented on #1848
Please visit the official NEO discord for support help => https://discord.cityofzion.io

[2019-05-21 14:34] #1848 closed

[2019-05-21 14:36] comountainclimber opened #1854 "feature request: encrypted key qr scan login"
Just as users can scan a QR of a private key to login to neon they should also be able to use an encrypted key.

[2019-05-21 14:38] comountainclimber commented on #1852
There might have been some slight network instabilities causing this issue also attempting to broadcast the same transaction repeatedly can cause this problem. As of this morning all NEO sends and GAS claims are functioning exactly as expected so closing this on for now

[2019-05-21 14:38] #1852 closed

[2019-05-24 02:32] #1842 closed

[2019-05-28 02:26] comountainclimber opened #1862 "feature suggestion: We should render a QR for encrypted keys (without passwords)"
For consistency we should offer the ability for users to save a copy of a QR of their encrypted key (exactly how we provide address/private key) this will allow users to take advantage of the work completed here: https://github.com/CityOfZion/neon-wallet/pull/1855

[2019-05-28 02:53] comountainclimber commented on #1695
We are well on our way to supporting multi sig *signing* as I am currently almost done with being able to import a transaction object for offline signing... It should be mostly trivial to support signing for multi sig transactions via this flow.

Support for generating a multi sig account will come shortly after 😃

[2019-05-28 03:03] comountainclimber commented on #615
@Ardakilic Have you tried the export feature in settings? This should allow you to share data about shared accounts across devices (there is however a small UX issue that still needs work https://github.com/CityOfZion/neon-wallet/issues/1621)

[2019-05-28 03:05] comountainclimber commented on #1509
I am closing this issue for now as we will be unable to support automatic updates on all platforms in the near future

[2019-05-28 03:05] #1509 closed

[2019-05-28 03:07] comountainclimber commented on #1853
@bopetfdl perhaps you opened this issue in the wrong repo?

[2019-05-28 03:07] #1853 closed

[2019-05-30 19:35] canesin opened #1863 "Ability to import account using encrypted key"
Currently it is only possible to import a account using a WIF, that in itself presents a security risk as you have to copy the key or type the key in full. While not a strong protection copying the encrypted key is safer.

This feature is a regression as in NEON prior to v2 was possible to import a encrypted key account.

[2019-05-30 20:55] comountainclimber commented on #1863
Thanks for the feedback and opening this issue @canesin I will make sure it gets prioritized/fixed

[2019-06-05 16:01] Ardakilic commented on #615
@comountainclimber Hello, thanks, but exporting data is another thing. What I want to achieve is that just to doubleclick to app and run instantly, which I can do across devices. This way, I will be carrying the app on an encrypted flash drive and don't have to bother with installing etc.

But they, thanks for the heads-up, backup-restore will also be useful because I'm also accessing my wallet fr

[2019-06-06 14:57] jsquardo commented on #1833
I would love to tackle this issue if you want me to?! @comountainclimber

[2019-06-06 15:01] comountainclimber commented on #1833
That would be awesome @jsquardo ! I think the original idea was to have it somewhere in the SideBar component please let me know if you have any questions and I can help with anything and everything that pops up!

[2019-06-06 15:03] jsquardo commented on #1833
Ok awesome! Thank you so much.

[2019-06-06 17:07] berlinmaster opened #1868 "ledger security risk"
Hello guys,
when I login with my ledger into my wallet in Neonwallet and then when I logout and just put another ledger into my computer with another recovery word list, I can login into the same wallet, even though the ledger device is another one. only when I attempt to login a second time, then I cant access the same wallet with another ledger.

[2019-06-06 17:30] comountainclimber commented on #1868
@berlinmaster thanks for reporting! Rest assured you would not be able to sign and send transactions after using the other ledger device but I will go ahead and get this fixed

[2019-06-06 17:35] comountainclimber commented on #1833
@jsquardo

Something like this will get you the blockheight of the current node just so you know:

[code]

[2019-06-07 15:24] jsquardo commented on #1833
@comountainclimber

Ok thank you! I will get to work on it tonight for sure.

[2019-06-07 21:23] comountainclimber commented on #1695
https://github.com/CityOfZion/neon-wallet/pull/1867

[2019-06-08 01:26] xdays764 opened #1870 "Missing NEO and GAS"
I signed into my NEON account today and was met with blank pages. No NEO, GAS, or activity was present.
<img width="1100" alt="Screen Shot 2019-06-07 at 9 25 01 PM" src="https://user-images.githubusercontent.com/51498806/59140422-edc28e00-896a-11e9-818c-8babf1d0dcc3.png">

[2019-06-08 20:34] dauTT commented on #1863
Hi @canesin,
you are referring to this import? You would like to add an option to import encrypted key?

![image](https://user-images.githubusercontent.com/30392990/59152043-2df24100-8a3d-11e9-801a-8fce079373ca.png)

[2019-06-08 22:22] dauTT commented on #1854
Hi @comountainclimber,
Can I work on this issue?

[2019-06-09 02:30] dbglassman commented on #1870
[neo snap shot 6-8-19.docx](https://github.com/CityOfZion/neon-wallet/files/3269119/neo.snap.shot.6-8-19.docx)

having same problem all my neo and gas has vanished.  have had this problem before and then after a new update the problem resolves.  Or after rebooting computer.  Thus far I have not seen my assets in quite a while.  Concerned.  Anyone have a solution.

[2019-06-09 10:36] canesin commented on #1863
That is correct @dauTT !

[2019-06-09 11:53] JiraiyaTheSage commented on #1870
1. Check your address on the explorer and you'll see all assets are still in the wallet.

2. Select a different NODE and Neon will show the balance.

[2019-06-09 14:55] xdays764 commented on #1870
How do I select a different NODE?

[2019-06-10 18:27] dauTT commented on #1862
@comountainclimber,
the option to generate the QR (address/private key) is only possible after the **creation** or the **import** of a **wallet**. Where exactly do you want to add the option to generate the QR of encrypted key?

I believe we should add this option after :
1) `creation wallet`
2) `import wallet` (option encrypted key: #1863)
3) `Encrypt a key` (This option is available in the **set

[2019-06-10 22:10] JiraiyaTheSage commented on #1870
Log into your wallet, go to Settings then Node Selection. Select any from the top ones.

[2019-06-11 12:11] xdays764 commented on #1870
I changed the Node and still have nothing in my wallet.

[2019-06-11 14:11] comountainclimber commented on #1862
@dauTT that is exactly correct... Those would be the three places. Please note the work to scan the QR has already been completed here: https://github.com/CityOfZion/neon-wallet/pull/1855

[2019-06-11 14:12] comountainclimber commented on #1870
@xdays764 have you confirmed using a block explorer that that address actually has NEO?

[2019-06-11 14:15] xdays764 commented on #1870
I’m sorry, but I’m not sure how to go about doing this. Can you guide me?

[2019-06-11 14:24] xdays764 commented on #1870
I went to block explorer in settings and it was set to NEOSCAN

[2019-06-11 16:35] comountainclimber commented on #1870
Paste your public address here https://neoscan.io/ 😄

[2019-06-11 18:42] xdays764 commented on #1870
I did that and it does not bring up my account. I’m getting concerned that my account has somehow been drained.

[2019-06-11 19:23] dbglassman commented on #1870
I’m having the same problem. Tried putting my address in and nothing
happened.  Not sure 🤔 if using the explorer site correctly

On Tue, Jun 11, 2019 at 2:42 PM xdays764 <notifications@github.com> wrote:

[2019-06-11 21:17] #1870 closed

[2019-06-11 21:52] xdays764 commented on #1870
Am I to assume from you closing the thread that I have no hope of recovering my account? Surely, there must be some way of tracking the activity on my account.

[2019-06-11 21:54] dauTT commented on #1862
I would like to check the code changes that I have made on the `test` net.

How do you usually create a new wallet on the `test` net? When I run

`yarn dev >/dev/null`

neon wallet is connecting to the `main` net by default and the home page does not have any option to switch between `test` and `main`.

[2019-06-11 21:59] comountainclimber commented on #1870
As the issue template says:

```For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io``` this is not a software issue with Neon... NEO is a public blockchain it is extremely easy to see any and all activity associated with **any** wallet

[2019-06-11 22:02] comountainclimber commented on #1862
@dauTT A wallet address will "work" on both networks if created using neon

[2019-06-11 22:02] comountainclimber commented on #1862
For development purposes I recommend always using the command `yarn dev`

[2019-06-11 23:11] xdays764 commented on #1870
Ok, thank you.Sent from my Verizon, Samsung Galaxy smartphone
-------- Original message --------From: Maxwell Lasky <notifications@github.com> Date: 6/11/19  5:59 PM  (GMT-05:00) To: CityOfZion/neon-wallet <neon-wallet@noreply.github.com> Cc: xdays764 <pholahan1@gmail.com>, Mention <mention@noreply.github.com> Subject: Re: [CityOfZion/neon-wallet] Missing NEO and GAS (#1870) As the issue template

[2019-06-14 10:13] josephj11 opened #1871 "Can't Claim GAS any more"
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
2.2.1
**Environment:**
kubuntu 18.04
**Prerequisites:**

[2019-06-14 10:43] Johan89798 commented on #1871
I have exactly the same problem, tried to claim GAS after update of wallet to latest version, Same two error messages.

[2019-06-15 00:43] josephj11 commented on #1871
It recovered itself after a few hours, but it was disconcerting.

[2019-06-15 19:22] dauTT commented on #1863
@comountainclimber ,

FYI, I am working on this issue.

[2019-06-15 19:24] dauTT commented on #1854
@comountainclimber ,
we should probably close this issue to avoid confusion.

[2019-06-15 21:36] #1854 closed

[2019-06-17 01:45] comountainclimber commented on #1862
Taken care of in https://github.com/CityOfZion/neon-wallet/pull/1873

[2019-06-17 01:45] #1862 closed

[2019-06-17 17:28] vncoelho opened #1874 "Ledger Interaction"
I believe that there is a minor thing to be done regarding Ledger interaction.
The BIP's that specify deterministic wallet generation recommends that we should have one account and then keep generating addresses.

I mean:
Someone creates an account:
* A1: Temporary
* A2: Savings
* A3: My Pizza Company

Each time you receive any funds in any of these accounts, NEON wallet should give another addres

[2019-06-21 19:41] dauTT commented on #1825
@comountainclimber, FYI I am working on this issue.

[2019-06-21 19:49] brianlenz opened #1880 "Ledger Nano X Integration"
**Wallet version or commit SHA:**
2.2.1

**Environment:**
macOS 10.14.5

**Reproduction steps:**
1. Attempt a NEP-5 token transfer with a Ledger Nano X.
2. Confirm the transaction on the Ledger Nano X by scrolling through the details.

When attempting to view the details on the Ledger Nano X device, sometimes it will show "No info available" where it should show the destination address and transfe

[2019-06-23 15:44] CORPARU opened #1881 "Can't send GAS from wallet"
When sending a message is displayed:
OOPS! SOMETHING WENT WRONG.
Error: One of the Policy filters failed.

OS: Debian 9 (4.9.0-9-amd64 #1 SMP Debian 4.9.168-1+deb9u3 (2019-06-16) x86_64 GNU/Linux)

**Screenshot:**
[Screen](https://drive.google.com/open?id=1kGAh_2SGJmTTsOz9E8sbgZyiO3dEhtbX)

Everything else goes fine!

[2019-06-24 01:18] Lemoine05 opened #1883 "Neon - Saved Wallet Location"
Good morning,

I have recently migrated all files from from one computer to another (windows) including the Neon wallet.

I understand that the “saved” wallet is localised but that the “saved” wallet would also migrate over which is not the case.

I would like to understand if the saved wallet has migrated over but is hidden or still on the original computer.

Is there a way to locate the saved wa

[2019-06-24 01:20] jseagrave21 opened #1884 "Feature Suggestion: MainNet | TestNet Selection on Login Screen"
BLUF: I think you should be able to select mainnet or testnet from the login screen.

Background: While reviewing https://github.com/CityOfZion/neon-wallet/pull/1882, I wanted to enter a testnet address to login as watch only. I could not find a way to select mainnet or testnet from the home page. So, I entered a testnet wallet address to "WATCH" and initially thought something had gone wrong when

[2019-06-24 22:26] dauTT commented on #1621
@comountainclimber ,

Do you simple want to add a new tab, `Recover Wallet` on the `import wallet` page? The functionality  of `Recover Wallet` is the same as the one that we have in the `Settings` ?

![image](https://user-images.githubusercontent.com/30392990/60055821-2a1e1a00-96df-11e9-9c01-252ce582a37e.png)

![image](https://user-images.githubusercontent.com/30392990/60055961-9b5dcd00-96df-11e9

[2019-06-24 23:21] comountainclimber commented on #1621
<img width="1222" alt="Screen Shot 2019-06-24 at 7 21 00 PM" src="https://user-images.githubusercontent.com/13072035/60058147-4311d580-96b5-11e9-8dd9-029ceace393b.png">

[2019-06-24 23:22] comountainclimber commented on #1621
@dauTT I was thinking something like this let me know what you think

[2019-06-24 23:33] uvmetal commented on #1621
I kind of like this, but I still feel like recover and import are confusing. It seems it may be the use of the term "wallet". Importing a NEP6 versus importing a private key, etc, is where it gets ambiguous, imho.

[2019-06-24 23:34] uvmetal commented on #1621
Maybe some clarification along the lines of import wallet by file versus by key?

[2019-06-25 02:36] comountainclimber commented on #1883
@Lemoine05 on windows it should be located at `C:\Users\your_username\AppData\Roaming\Neon\storage\`

[2019-06-25 02:36] #1883 closed

[2019-06-25 02:38] comountainclimber commented on #1874
I am not sure about this... the more I think about the more I worry that bringing such a drastic change to the ledger UX in neon would really confuse our users

[2019-06-25 02:40] comountainclimber commented on #1881
We are looking into this thank you for reporting. For now you can attach a fee to the transaction you are attempting to make to get around this issue

[2019-06-25 02:41] vncoelho commented on #1874
That is true, my friend.
MEW in Live Mode is similar to the current implementation of Neon Wallet.
Lets just keep the idea in mind and see the future.

[2019-06-25 02:41] #1874 closed

[2019-06-25 02:41] comountainclimber commented on #1884
At this time I am not 100% sure I want to add any more changes to the "home" screen as there are advantages to keeping things simple but this or something like it is definitely worth considering

[2019-06-25 02:45] comountainclimber commented on #1871
Closing this in favor of consolidating here https://github.com/CityOfZion/neon-wallet/issues/1674

[2019-06-25 02:45] #1871 closed

[2019-06-25 02:45] comountainclimber commented on #1192
Closing this in favor of consolidating here #1674

[2019-06-25 02:45] #1192 closed

[2019-06-25 06:33] josephj11 commented on #1674
I have had this occur again (#1192).  If I just wait awhile, the problem goes away - but it still needs to be fixed.

[2019-06-25 18:56] djalb commented on #1408
I have the exact same issue. Bought ONT on Binance, sent to NEON wallet (correct address) and ONT "disappeared"
Wallet: ALz1XWLQV2RfX3P4pVdLL8mCqaH6BfJvyT
Tx hash: dbfae5c8e36011b14496e58ef1576404c60143ad06e9a5d186014a16c9180ac0

https://explorer.ont.io/address/ALz1XWLQV2RfX3P4pVdLL8mCqaH6BfJvyT/ALL/20/1

[2019-06-26 16:12] Cruiser107 commented on #1881
Hello,
i have the same problem.

OS: Win7 x64

Please fix :)

[2019-06-28 10:41] LILBEASTM opened #1887 "Bought ontology, still cant see it in my neon wallet."
I bought ontology coins, i still cant see them in my neon wallet, what do i do now?

[2019-06-28 19:59] dauTT commented on #1621
This feature is implemented. It depends on PR #1879. For simplicity, to avoid to resolve complex merge conflicts, we will submit a PR after PR #1879 is merged.

[2019-06-30 21:37] mm999222 commented on #783
I was trying to encrypt my private key in my NEON wallet (I move from NEO to NEON and logged into NEON with my private key) so I don't have to use my private key to log in, but I have this issue...

On the "Encrypt a Key screen" when I put my private key onto the private key box (and set my pass phrase) the button "Generate Encrypted Key" becomes inactive. If I leave my pass phrase in but remove m

[2019-07-04 22:26] dauTT commented on #1825
@comountainclimber ,

Something like this, is fine?

![Screencast-from-04 07 2019-23_58_32](https://user-images.githubusercontent.com/30392990/60689220-3cf0d580-9ebb-11e9-86b7-426cfd722d64.gif)

[2019-07-05 19:19] dauTT commented on #1824
@comountainclimber,
why do we want to implement this feature? What is the motivation behind it?

[2019-07-06 09:37] warwickchapman opened #1889 "Travala.com AVA Price not displaying"
**Wallet version or commit SHA:**
2.2.1

**Environment:**
MacOS 10.14.5 (18F132)

**Prerequisites:**
None

**Reproduction steps:**
e.g.:
1. Start Neon Wallet
2. Click on "Wallet" button
3. In "Token Balances" section, AVA is listed with "N/A" in price

AVA price information is readily available and has been for over 12 months: https://coinmarketcap.com/currencies/travala/

**Screenshots/Video:**
!

[2019-07-06 11:06] hal0x2328 commented on #1889
Apparently AVA is listed as "AVALA" on CryptoCompare, which is the API Neon uses to get pricing data, so the pricing data request for `AVA` returns no data. (They have a defunct ERC-20 token listed using the AVA symbol).

There may be other silent token symbol changes preventing other token prices from displaying, someone should do an audit and figure out how to add special handling to Neon to dea

[2019-07-07 14:01] Celia200 commented on #1881
I have the same issue even trying to attach a fee it will not send. please fix!!!

[2019-07-08 20:00] comountainclimber commented on #1889
Thanks for reporting @warwickchapman we will get this fixed

[2019-07-08 20:01] comountainclimber commented on #1887
Please see #support in the official NEO discord this is not an issue with neon-wallet

[2019-07-08 20:01] #1887 closed

[2019-07-08 20:02] comountainclimber commented on #1824
It is a feature request that has come up in the past... The motivation is that some users want to be able to access neon without thinking about fiat values still not sure what the exact UX/UI would look like on the dashboard in this case

[2019-07-08 20:05] comountainclimber commented on #1825
I like what you have done here @dauTT perhaps instead of adding an additional "link" to the settings page we can update the panel header from Community Support => Need Help? which will then render the page you set up. I also think that this page would look better using our modal component rather than having it be its own route

[2019-07-08 21:12] dauTT commented on #1825
I got the first part:

In regards to the second part:

,  we should render this new github issue page in a similar fashion as we do when we press the `Add Token` button. Is my understanding correct?

[code]
![image](https://user-images.githubusercontent.com/30392990/60842692-fc53cd80-a1d4-11e9-8baa-1fb2ce863b8f.png)

[2019-07-08 22:09] comountainclimber commented on #1825
Sorry I should have been more clear I meant here:
![Screen Shot 2019-07-08 at 4 09 04 PM](https://user-images.githubusercontent.com/13072035/60845836-be39b800-a19a-11e9-92eb-221d855855f5.png)

[2019-07-08 23:22] dauTT commented on #1825
Ok. What about this?

![Screencast-from-09 07 2019-01_13_24](https://user-images.githubusercontent.com/30392990/60848660-d126a980-a1e7-11e9-8bbc-263d9f92a1f8.gif)

[2019-07-09 15:03] comountainclimber commented on #1825
@dauTT that looks great! I think we can drop the "Community support =>" part but other than that looks good

[2019-07-09 16:58] comountainclimber commented on #1833
@jsquardo any update as to your progress on this feature?

[2019-07-09 21:35] dauTT commented on #1889
FYI, I am working on this.

[2019-07-09 22:46] comountainclimber commented on #1889
Awesome @dauTT 💪 💪

Just so you know an example of this already exists for SOUL as you can see in `pricesActions.js` https://github.com/CityOfZion/neon-wallet/blob/dev/app/actions/pricesActions.js#L10 I am ok with using this solution as a temporary work around until we can implement what @hal0x2328 was discussing

[2019-07-09 22:48] dauTT commented on #1863
@comountainclimber , we should probably close this issue. :+1:

[2019-07-09 22:50] dauTT commented on #1621
@comountainclimber , we should probably close this issue. :+1:

[2019-07-09 22:52] dauTT commented on #1889
Thanks for advice! :+1:

[2019-07-10 13:54] #1863 closed

[2019-07-10 13:54] #1846 closed

[2019-07-10 13:55] #1827 closed

[2019-07-10 13:55] #1823 closed

[2019-07-10 13:55] #1621 closed

[2019-07-11 01:23] tmlee commented on #1889
Have you considered the CoinGecko open API at https://www.coingecko.com/en/api ?

Price info can be obtained from
https://api.coingecko.com/api/v3/simple/price?ids=concierge-io&vs_currencies=usd,aud
It looks like id is different, may be due to a rebrand as list can be pulled over at https://api.coingecko.com/api/v3/coins/list

There is a support for contract address but it looks like its only for

[2019-07-11 14:48] carldex commented on #1881
Same issue here

I made several NEO / GAS / TOKENS transfers from the same address (paper Wallet) to the same one other address (Ledger Nano S).
But I do not know why, in the last attempt to transfer my last GAS  it does not transfer in any way ... it always gives error ... ("Error: One of the policy filter failed)

- First I tried to transfer the entire balance, including decimals, NOT SUBMITTED

[2019-07-15 10:01] raisezhang commented on #1829
Is there any progress on this?  Similar to scatter client.

[2019-07-21 12:36] psixoz-korvin opened #1897 "Error calculating claimable GAS: network error"
"Error calculating claimable GAS: network error" pressing the claim gas button
"Wallet version 2.2.1" Windows 10
No scrips used, Everything worked fine, no activity for last month and  then just happened this

Reproduction steps:
e.g.:
1. Start Neon Wallet
2. press claim gas
3. getting an error

Recent activity

![image](https://user-images.githubusercontent.com/53143629/61591284-9b14fc80-abcd-11e

[2019-07-25 19:53] dauTT commented on #1889
Thanks, @tmlee for the advice. But let see first if we can keep the existing setup by making a small adjustment before switching to a different service provider. :smile:

[2019-07-25 19:58] dauTT commented on #1889
@comountainclimber ,

I was testing the solution proposed by @hal0x2328, but I realize that www.cryptocompare.com does not track all the nep5 token. For instance, I can't find  `NEX`:

![image](https://user-images.githubusercontent.com/30392990/61904456-2de3cd00-af27-11e9-98c2-c104f2f87bf1.png)
Do I search in right place?

[2019-07-25 20:29] comountainclimber commented on #1889
I see it here https://www.cryptocompare.com/coins/nex/overview but not sure what the symbol is within their API

[2019-07-25 21:15] dauTT commented on #1889
Thanks, @comountainclimber. Let see if I can find the api symbol for NEX...

[2019-07-26 13:45] dauTT commented on #1889
Actually the NEX symbol does exist on the cryptocompare webpage:

![image](https://user-images.githubusercontent.com/30392990/61955555-92506c00-afbb-11e9-9222-a4cbde006866.png)

But we don't get any price via the api call:

https://min-api.cryptocompare.com/data/pricemultifull?fsyms=NEX&tsyms=USD

![image](https://user-images.githubusercontent.com/30392990/61955783-0b4fc380-afbc-11e9-82e4-54f35494

[2019-07-26 14:03] dauTT commented on #1889
I got the reply from CryptoCompare:

So we will need to adjust the api call to accomodate these cases as well and do a crypto fx conversion. :sweat_smile:

[2019-07-26 22:59] dauTT commented on #1889
@comountainclimber ,

What is the difference between ticker and token column? Can we just keep ticker column and drop the token one?

![image](https://user-images.githubusercontent.com/30392990/61985366-2eed2b00-b009-11e9-808b-e8e259c03f88.png)

[2019-07-27 20:18] dauTT commented on #1835
@comountainclimber,
Is this not a feature?

It stays like this for 5 minutes
![image](https://user-images.githubusercontent.com/30392990/61999157-982d7680-b0bb-11e9-8457-b31092a7eecd.png)

but afterwards the claim button changes to cyan color again:

![image](https://user-images.githubusercontent.com/30392990/61999177-d6c33100-b0bb-11e9-8fa9-02dbd482a245.png)

**Do you want the claim button to swi

[2019-07-30 17:16] hal0x2328 opened #1899 "Error when sending tokens from a balance with more than 16 significant digits"
**Wallet version or commit SHA:**
2.3.0

**Environment:**
OSX Mojave

**Prerequisites:**
Have greater than 10 million NEP-5 tokens with a 8-digit fraction (e.g. 10000000.00000001)

**Reproduction steps:**
1. Start Neon Wallet
2. Try to send any amount of the tokens where you have >10M in the wallet

Nothing happens in the GUI but the console log shows:
[code]

[2019-07-31 07:51] dauTT commented on #1899
Thank you @hal0x2328  for reporting! I will have a look at this issue.

[2019-08-01 22:24] dauTT commented on #871
FYI, I am working on this. We can leverage the nice work done by @nunojusto:  https://github.com/CityOfZion/neo-local

[2019-08-02 01:53] tester2011 opened #1900 "feature suggestion: Do we really need the 'Watch" login?"
Hi Guys,

Just exploring the latest version of Neon wallet.

Intrigued by the "Watch" login option, so I tried 'Watching' the Neon/COZ donation address...

Far too much access to the account - I can even create send transactions, unsigned obviously, but this seems to be asking for trouble. How hard would it be for a hacker to forge transaction signing - probably not that easy.

Still, I think it's

[2019-08-02 18:53] comountainclimber commented on #1900
If this was possible the entire blockchain would be compromised... I do not really understand what the issue you are trying to point out here is

This is all public information already...

[2019-08-02 18:53] #1900 closed

[2019-08-03 15:38] dauTT commented on #1899
@hal0x2328 ,

On Ubuntu, I did a transaction on test and didn't find have any problem the first time:

https://neoscan-testnet.io/transaction/F4B35EB82E2842E3122752D5726F6B33358DD527E024B30E9C8EB290E14F8249

![image](https://user-images.githubusercontent.com/30392990/62413784-551b5800-b613-11e9-8c6b-5ca40ea24567.png)

The second time, when I did the same transaction in the opposite direction I can

[2019-08-03 21:55] dauTT commented on #1899
The error happens exactly at this point:

https://github.com/CityOfZion/neon-wallet/blob/master/app/core/wallet.js#L73

[code]

Both `amount` and `balance` are of type number and same value, 100000000.00000001.

Currently we are using bignumber.js version 5.0.0, and this version has the limitation that we can not create a bignumber object from a number which has more than 15 significative digits:

[2019-08-03 21:58] dauTT commented on #1899
I will create a PR with option1 as it has the less impact possible on the code.

[2019-08-05 18:11] #1899 closed

[2019-08-06 15:54] comountainclimber commented on #1829
https://github.com/CityOfZion/neon-wallet/issues/1410

[2019-08-06 15:54] comountainclimber commented on #1829
@raisezhang there has been a little work done so far... is this something you are interested in working on?

[2019-08-06 15:54] comountainclimber commented on #1410
Closing in favor of consolidating here => https://github.com/CityOfZion/neon-wallet/issues/1829

[2019-08-06 15:54] #1410 closed

[2019-08-07 10:42] raisezhang commented on #1829
@comountainclimber

I can spend some time on weekends.    can I refer to scatter client for implementation?

[2019-08-08 18:58] comountainclimber commented on #1829
Sounds great! We should be referring to the (accepted) draft NEP standard for implementation details https://github.com/neo-project/proposals/pull/69

[2019-08-08 20:43] dauTT commented on #871
I need to make a detour and focus first on https://github.com/CityOfZion/neon-js/issues/455. :smile:

[2019-08-13 18:21] comountainclimber opened #1903 "bug: Gas claims should be disabled in "Watch" Mode"
**Wallet version or commit SHA:**
2.3.0

**Environment:**
Any

**Reproduction steps:**
e.g.:
1. Start Neon Wallet
2. Log in using "watch mode" to any address that has held NEO (will have the ability to claim GAS)
3. Attempt to claim GAS

Because claiming GAS without the ability to sign the transaction is impossible it will always fail. The button should be disabled with a tooltip that reads "Gas c

[2019-08-13 18:21] comountainclimber commented on #1889
Closing this as the fix has been merged into `dev` 🎉  - will be in the next release.

[2019-08-13 18:21] #1889 closed

[2019-08-14 06:38] warwickchapman commented on #1889
Thanks team!

[2019-08-19 13:12] gubanotorious opened #1905 "Unhandled error when wallet NEP5 balance has > 15 significant digits"
**Wallet version**
2.3.0

**Environment:**
Any (Win 10 Pro for screenshot)

**Prerequisites:**
Large NEP5 Token Balance - ie: 184089261.22210488

**Reproduction steps:**
1. Start Neon Wallet
2. Open Wallet with NEP5 with balance > 15 significant digits
2. Click on "Send" button
3. Select NEP5 to send, amount, address, with or without fee.
4. Click on "Send" and confirm / send

**UI Result**
Button

[2019-08-19 22:06] comountainclimber commented on #1905
This was actually resolved with this PR => https://github.com/CityOfZion/neon-wallet/pull/1901 will be out in the next release

[2019-08-19 22:06] #1905 closed

[2019-08-20 18:43] dauTT opened #1906 "Upgrade neon-js to latest version (v4.7.0?)"
Currently, neon-wallet is using [neon-js v3.11.9](https://github.com/CityOfZion/neon-wallet/blob/2.3.0/package.json#L72) has a dependency. I believe this version of neon-js is outdated and therefore it will beneficial to upgrade it to a new version v4.x.x. (As a side note, this upgrade is necessary, if we want to tackle issue [871](https://github.com/CityOfZion/neon-wallet/issues/871))

At this po

[2019-08-20 18:50] comountainclimber commented on #1906
While I think this is worth while I don't see why it is necessary in order to support private net development but maybe I am missing something... Couldn't we simply include a text input on the node selection page or something similar?

[2019-08-20 19:08] dauTT commented on #1906
It is not that simple. Here is the documentation on how to interact with a privnet:
http://cityofzion.io/neon-js/docs/en/guides/basic/privnet.html
and more discussion on this matter is here:
https://github.com/CityOfZion/neon-js/issues/455

[2019-08-20 19:15] comountainclimber commented on #1906
I see... Adding input for a custom node here would only work if that RPC node was connected to mainnet which would not accomplish what we are looking for.

I definitely support upgrading neon-js in neon if you are willing to pursue this work and can also help out with any blockers. Thanks @dauTT

[2019-08-20 19:36] dauTT commented on #1906
I am happy to work on this but in a few weeks from now, once we have the next release of neon-js with support for NEO3.

[2019-08-20 21:15] dauTT commented on #1903
FYI, I am working on this task.

[2019-08-22 03:32] MorganDream commented on #1906
@dauTT The release of NEO3 and neon-js for NEO3 is not decided yet. And don't worry, neon-js will have both NEO2 and NEO3 versions when release NEO3.

[2019-08-23 08:30] dauTT commented on #1906
Thanks, @MorganDream for the update. Right now, we are not in a hurry to upgrade neon-js as everything is working fine. So we don't mind to wait until we get a release of neon-js with support for NEO3. :smile:

[2019-08-25 02:19] taylor-cz commented on #1897
also having the same issue. Neon Wallet version 2.3.0

[2019-09-04 01:44] comountainclimber commented on #1884
Going to close this one for now will reopen/revisit if there is interest in the future

[2019-09-04 01:44] #1884 closed

[2019-09-04 02:32] g4usat opened #1910 "ONT transferred from Binance is not reflecting in my NEON wallet"
Hi, I've transferred ONT tokens from Binance to my Neon Wallet v 2.2.1 today. But, the wallet is not showing my transferred ONT. I had couple of ONT tokens earlier in the Neon wallet from a long time back as part of some airdrop and it's just showing only that. However, when I checked at ONT tracker https://explorer.ont.io/address/AYfsBpdRNW1WCUYjtoD1e2685E1FjDW4Cb/ALL/20/1 it's showing the old 2

[2019-09-04 03:35] #1833 closed

[2019-09-04 06:54] dauTT commented on #1910
Hi g4usat,

Fortunately NEO and ONT are using the same mechanism to generate public and private key. So, No worry, you didn't lose your tokens. You can access them via

1) O3 wallet, https://o3.network/
2) Native Ont wallet, https://github.com/ontio/owallet

**Currently neon-wallet is not supporting native ONT token**. The ONT tokens that are currently showing on your neon wallet are NEP5 tokens.

[2019-09-04 14:29] g4usat commented on #1910
Hi dauTT,
Great..Thanks for your information. I'll try the O3 wallet.

[2019-09-04 14:29] #1910 closed

[2019-09-04 18:42] comountainclimber commented on #1814
Closing this issue for lack of details and activity

[2019-09-04 18:42] #1814 closed

[2019-09-04 18:46] comountainclimber commented on #1684
This is no longer an issue as of 2.3.0:
1.) Add script hash for RPX `0xecc6b20d3ccac1ee9ef109af5a7cdb85706b1df9`
2.) Attempt Send

[2019-09-04 18:46] #1684 closed

[2019-09-04 18:48] comountainclimber commented on #1693
This issue has been sitting in the backlog for sometime... Going to close it for now and will revisit this if there is more interest. Thanks for the suggestion @the-ult

For now the list of active tokens is maintained in the neo-tokens repo which seems like it has been working well for the community thus far

[2019-09-04 18:48] #1693 closed

[2019-09-04 18:52] comountainclimber commented on #1604
I still would like to implement this feature set... For those interested more information about electron notifications can be found here https://electronjs.org/docs/tutorial/notifications

[2019-09-11 09:08] mbootsman commented on #1897
Same issue here.

[2019-09-11 17:19] patsage opened #1913 "neon wallet icon not openning"
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

****Win 10 Home (64 bit)  I CLICK ON THE NEON WALLET ICON AND IT JUST SAYS "FAILED TO LOA

[2019-09-11 22:13] alwayssaturday commented on #1913
Mac 10.13.6 (64 bit) I CLICK ON THE NEON WALLET ICON AND IT JUST SAYS "FAILED TO LOAD". I HAVE COINS IN MY WALLET . I HAVE DOWNLOADED A CURRENT WALLET BUT IT IS NOT LETTING ME IMPORT MY COINS.  I DO HAVE THE PVT CODE, THE PASS PHRASE AND ALSO A JSON FILE FOR THE OLD WALLET THAT REFUSES TO LOAD. I USED TO ACCESS MY WALLET WITH A LEDGER NANO THAT I STILL USE.

Wallet version or commit SHA:
NOT SURE

[2019-09-17 04:21] badgerpawz commented on #1897
+1

[2019-09-24 17:45] Paarhaas commented on #1897
Hetzelfde hier. Maar wat kunnen we er nu aan doen????

[2019-09-26 16:30] comountainclimber opened #1915 "[minor defect] Our \"
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
e.g.: 0.2.3 or dcae88c

**Environment:**
e.g.: Win 10 H

[2019-10-01 11:43] mbootsman commented on #1897
Just claimed GAS and it worked.
I didn't change anything.

[2019-10-20 09:14] jlxs99 opened #1916 "Cannot claim gas anymore! ..says block or transaction already exists??"
**Wallet version or commit SHA:**
neon 2.3.0

**Environment:**
masOS Mojave

**Prerequisites:**
have been using wallet successfully for over a year,  including claiming GAS

**Reproduction steps:**
1. I start the Neon Wallet and sign in with my ledger
2. click on "claim gas" button
3. sign the transaction 1 of 2 with my ledger nano s...
4.  then i get the error 'block or transaction already exist

[2019-10-21 09:22] #1916 closed

[2019-10-21 09:23] jlxs99 commented on #1916
issue resolved itself after a day

[2019-11-04 10:43] glitchyGhost opened #1918 "Sent ONT without GAS (hey, its an option!)"
**Wallet version or commit SHA:**
e.g.: 0.2.3 or dcae88c
2.3.0
**Environment:**
e.g.: Win 10 Home (64 bit) Version 1709 Build 16299.309
mac OSX Mojave
**Prerequisites:**
e.g.: Don't have any custom tokens added before running the wallet
None
**Reproduction steps:**
e.g.:
1. Start Neon Wallet
2. Click on "send"
3. Click on 'Send with zero fees"
4. Click send
5. 9 hours later, still no payment?

som

[2019-11-04 13:19] glitchyGhost commented on #1918
I've been informed its the old ONT, not Mainnet ONT.  Why doesn't Neon support the mainnet upgrades?  How on earth to I get the coins back, when they've been sent to a non-mainnet compatible wallet?  Thanks

[2019-11-04 14:07] comountainclimber commented on #1918
Neon only supports the NEO blockchain... If you are still need help please reach out in the official NEO discord for support

[2019-11-04 14:07] #1918 closed

[2019-11-04 17:35] glitchyGhost commented on #1918
If so, then how/why was I able to send other coins there?  I have several
others, including NEO?

Excuse my ignorance.

On Mon, Nov 4, 2019 at 2:07 PM Maxwell Lasky <notifications@github.com>
wrote:

[2019-11-06 10:44] dauTT commented on #1915
@comountainclimber ,

The data in the transaction history panel is coming essentially from this `neoscan` call:

https://github.com/CityOfZion/neon-wallet/blob/dev/app/actions/transactionHistoryActions.js#L88

[code]
and the output of the call looks as follow:

![image](https://user-images.githubusercontent.com/30392990/68291194-a2331e00-0089-11ea-8f01-0c97bd14d08d.png)

As you can see, the output

[2019-11-06 19:39] hal0x2328 opened #1919 "Feature suggestion: Support BIP39 wallet import"
Have the ability to input a BIP39 seed and choose a derivation path in order to import accounts created by Exodus/Ledger/paper wallets using the seed words.

[2019-11-18 22:03] matthieuvandiepen commented on #1881
Still an issue with sending GAS from wallets? I tried 4 different wallets, no luck to send GAS. Sending NEO works OK.

Sending NEO GAS is not posted on the blockchain. Same problem with every wallet I tried, so this seems to be problem on the NEO infrastructure

[2019-11-19 05:03] #1825 closed

[2019-11-19 05:04] comountainclimber commented on #1825
Closing this out due to inactivity and to focus on unrelated issues/feature work

[2019-11-19 05:04] #879 closed

[2019-11-19 05:05] comountainclimber commented on #879
This issue has been open for some time with little to no activity... Feel free to reopen if anyone in the community is interested in this initiative

[2019-11-19 05:11] comountainclimber commented on #1915
@dauTT that would definitely make things substantially easier for us but I think another possible solution could be to store a list of deprecated hashes and their corresponding symbols in a json file that gets imported locally

[2019-11-19 16:02] dauTT commented on #1915
Ok got it.

For testing purposes, do you have a public address where this problem is showing up?

[2019-12-17 20:41] comountainclimber opened #1924 "Remove storybook from the application entirely"
While it is a great tool for development, I am unaware of this library ever being used for testing or dev purposes within Neon. I advocate for the full removal of this dependency and its associated files.

[2019-12-30 14:56] djphresh opened #1926 "e:"?///////////////=="
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
e.g.: 0.2.3 or dcae88c

**Environment:**
e.g.: Win 10 H

[2019-12-30 14:56] djphresh opened #1927 "e:"?///////////////==0"
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
e.g.: 0.2.3 or dcae88c

**Environment:**
e.g.: Win 10 H

[2019-12-30 15:33] comountainclimber commented on #1926
If there is an issue please describe it rather than just pasting the issue template... If you need support please visit the NEO discord

[2019-12-30 15:33] #1926 closed

[2019-12-30 15:33] comountainclimber commented on #1927
If there is an issue please describe it rather than just pasting the issue template... If you need support please visit the NEO discord

[2019-12-30 15:33] #1927 closed

[2020-01-01 14:03] venzito05 opened #1928 "Stolen Neo"
Hello !This is my wallet - AS1mdMBTFsLUXcSZTn4ardENdBp8wakJqq !
On April 22, there was a transaction where someone stole all my Neo coins !
I already explained that I did not give anyone any password information! Besides the code, I also put in a password! No one but me knows her ! I didn't write it anywhere !
My coins were sent to this wallet - AUx8LswgigAMa4ZGEBinX1AvQAvE2LnEjd !!!
I had a few c

[2020-01-16 13:31] pinkynrg commented on #696
This should not be closed is still an issue on some computers... :(

[2020-01-27 22:58] #1928 closed

[2020-01-27 22:59] comountainclimber opened #1934 "Full ledger hardware support for Neo3"

[2020-01-27 23:03] comountainclimber opened #1935 "Internationalization"
Several community members have mentioned willing to contribute translations to the application. This issue is a placeholder for fully implementing that initiative from the development side.

[2020-01-27 23:05] comountainclimber commented on #357
Closing in favor of https://github.com/CityOfZion/neon-wallet/issues/1935

[2020-01-27 23:05] #357 closed

[2020-01-27 23:13] comountainclimber opened #1936 "Neon 3.0 - Cross chain support (Neo 2x and 3x in same app version)"
Creating this issue to open the discussion up to the community around whether or not it makes sense for Neon to support both networks from the same version.

From an engineering perspective and UX perspective it is a very challenging task to support both blockchains. The current proposal is to have Neon 3.0 have full support for the Neo3 ecosystem (with Neon 2.x still running on Neo 2.x chain).

[2020-01-27 23:18] comountainclimber commented on #1906
Is this still the plan for now? Also do you know the status of what still needs to be done in `v5.0.0-next.2` to make it feature complete with NEO3?

[2020-02-02 16:21] comountainclimber commented on #1935
The working list of translations can be found here: https://docs.google.com/spreadsheets/d/1SvMBx32Loo3k8FrJ1USZvqY5gbm5dPg1fbhWQ0h59Q4/edit#gid=0

[2020-02-05 05:51] TechMagy commented on #1881
Quick question.... How can this be closed if the issue has not been resolved? I've been trying to find out what the deal is with this for a while now

[2020-02-05 06:34] TechMagy opened #1937 "GAS Not Sending out of NEON Wallet ** regardless of fees selected **"
Hello Team!

I've encountered what sounds like a similar issue with the Neon Wallet (v2.4.0) which sends NEO fine, however, GAS won't send. This is with all fee options tested.

Test 1 - sending 10 GAS from NEON to Binance without a fee
![Test 1](https://user-images.githubusercontent.com/38993528/73581611-d9289c80-44dd-11ea-9827-8bf58284f46f.JPG)

Test 2 - sending 10 GAS from NEON to Binance with

[2020-02-05 22:18] lllwvlvwlll commented on #1937
As a work around, can you send a fraction of the gas to yourself first (consider trying 5 gas), then try sending the entire 10 gas?

@comountainclimber we should consider adding a 4th prioritization option for a custom amount.

[2020-02-06 10:36] matthieuvandiepen commented on #1881
Hello, later on I was able to send the Gas anyway, so the problem seems to be solved, thanks

[2020-02-06 19:10] TechMagy commented on #1881
@matthieuvandiepen How did you do that? What steps did you take? What version of Neon are you running. In another thread I've been told to try sending GAS to myself first to see if that unlocks the issue. Will report back in on how that goes later today.

See https://github.com/CityOfZion/neon-wallet/issues/1937

[2020-02-07 22:27] TechMagy commented on #1937
Hello Team!

A quick updated on the above. I created a new address to send GAS to inside the Neon wallet and attempted the 5 GAS to begin with. This yielded the same results as above.

For the purposes of capturing screenshots I recreated this transaction attempt using 1 GAS with the following:

Test 1 - sending 1 GAS from Primary NEON Wallet address (ending in 2xV) to New NOEN Wallet address (end

[2020-02-10 17:09] EdgeDLT commented on #1937
Hi @TechMagy. The error saying that the transaction being too big for the Ledger to sign implies that you have a large number of UTXOs, the easiest way to fix this is to send an amount that will minimize the number of UTXOs needed so that your Ledger is able to sign the transaction.

Let me guide you through a few steps to check and correct this. First, please hop on to a site that lets you post H

[2020-02-10 19:07] lllwvlvwlll opened #1938 "Update Neo and Gas logos"
Are part of the Neo rebrand initiative, the Neo and Gas logo were updated.  This issue covers the update of the asset logos in the wallet.

https://neo.org/presskit

[2020-02-16 03:34] #1938 closed

[2020-02-28 21:31] jags999 opened #1942 "Need help downloading latest version neon wallet"
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
e.g.: 0.2.3 or dcae88c

**Environment:**
e.g.: Win 10 H

[2020-02-29 00:43] comountainclimber commented on #1942
@jags999 what is the issue you are having?

[2020-02-29 22:26] jags999 commented on #1942
I finally got it figured out -thx!

________________________________
From: Maxwell Lasky <notifications@github.com>
Sent: Friday, February 28, 2020 4:43 PM
To: CityOfZion/neon-wallet <neon-wallet@noreply.github.com>
Cc: jags999 <jags999@msn.com>; Mention <mention@noreply.github.com>
Subject: Re: [CityOfZion/neon-wallet] Need help downloading latest version neon wallet (#1942)

@jags999<https://git

[2020-03-01 02:42] #1942 closed

[2020-03-03 02:54] huo33 opened #1943 "Ont is stuck in staking wallet"
My ONT is unstaked but cannot get ONT or ONG out to my wallet to transfer out. Please help
Thank you

[2020-03-09 12:55] B3artrax opened #1948 "Error code 403 in claiming GAS"
Tried multiple times claiming gas with ledger and wallet does not allow me to do so.

[2020-03-13 05:24] comountainclimber commented on #1943
Please visit the official NEO discord here for assistance https://discord.cityofzion.io

[2020-03-13 05:24] #1943 closed

[2020-03-13 05:25] comountainclimber commented on #1948
This should no longer be an issue closing this out for now

[2020-03-13 05:25] #1948 closed

[2020-03-20 21:39] comountainclimber opened #1951 "Update to latest versions of flow + react"
Placeholder for the work involved with updating these core dependencies of neon

[2020-03-23 17:15] #1924 closed

[2020-03-24 01:46] cosmic-springs commented on #781
Hi.

I was wondering if you could help me.
I sent 1 Ontology to my Neon wallet from Exodus wallet to test but it didn't arrive. Exodus helpline said that it had indeed been sent to the correct Neon address but it is not showing in my Neon wallet. Any idea why? The transaction hash was 803a1c4f4c90017739f54cb09f2dba7c6df4336bd49f04435d0cd57bad020646

Kind Regards,

Andy.

On 1 Mar 2018, at 12:58 AM

[2020-03-31 18:10] lllwvlvwlll opened #1954 "Update Copy on Activity view"
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
v0.8.0

**Environment:**
win 10

some description (for

[2020-03-31 18:29] lllwvlvwlll commented on #1954
disregard,

[2020-03-31 18:29] #1954 closed

[2020-04-05 22:38] #1951 closed

[2020-04-09 05:53] comountainclimber opened #1961 "Remove Spunky"
Placeholder for issue/discussion of `spunky` in neon

[2020-04-09 14:41] #1935 closed

[2020-04-09 17:35] lock9 opened #1963 "Pre Release 2.5.0 Portuguese translation review"
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
e.g.: 0.2.3 or dcae88c
Pre Release 2.5.0

**Environment

[2020-04-13 09:25] steven1227 opened #1966 "neon-wallet 2.5.0 Chinese translation error"
The exchange activities tab displays some Korean text, not Chinese

**Wallet version or commit SHA:**
2.5.0

**Screenshots/Video:**
<img width="1168" alt="Screenshot 2020-04-13 at 5 21 08 PM" src="https://user-images.githubusercontent.com/9437492/79109786-9cb1d080-7dab-11ea-9f4f-f1b77b843b44.png">

[2020-04-14 02:28] comountainclimber commented on #1966
Thanks @steven1227 should be resolved in the new release

[2020-04-14 02:28] #1966 closed

[2020-04-14 02:29] comountainclimber commented on #1963
Thanks @lock9 all of these except the last issue should be resolved feel free to reopen if you feel like this is critical

[2020-04-14 02:29] #1963 closed

[2020-04-24 02:47] lllwvlvwlll opened #1968 "INPUTPRIVATEPLACEHOLDER on Create Wallet View"
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
`v2.5.0`

**Environment:**
win 10

**Reproduction steps

[2020-05-20 22:57] devhawk opened #1970 "Logout button not accessible @ 150% scaling"
**Wallet version or commit SHA:**
Neon v2.5.0

**Environment:**
Win Pro 10 Version 1909 (OS Build 18363.836)
Lenovo X1 Carbon, 1920x1080, 150% Scaling (as recommended by HW manufacturer)

**Prerequisites:**
N/A

**Reproduction steps:**
e.g.:
1. Start Neon Wallet
2. Log into a wallet
3. Maximize Window

On my lenovo laptop, the Logout button is not visible unless I crank the scaling factor down fro

[2020-05-26 14:42] comountainclimber commented on #1970
Thanks @devhawk we will look into prioritizing this issue for the next release

[2020-05-26 14:45] comountainclimber opened #1971 "[feature request] - Allow users to add custom GAS fee amount"
In certain cases where users have large UTXO history, GAS fees exceed the currently selectable options... We should consider allowing users to add a custom fee amount

[2020-06-09 12:56] alex-96-eng commented on #1897
+1

[2020-06-15 07:49] wouterds opened #1973 "Error calculating claimable GAS: undefined"
Can't claim GAS using the latest version of the wallet. I'm connecting using a Ledger Nano S on macOS, there's 2 GAS to claim but I can't, it keeps failing.

**Wallet version or commit SHA:**
2.5.0

**Environment:**
macOS Catalina 10.15.5

**Reproduction steps:**
1. Start Neon Wallet
2. Click on "Claim GAS" button

**Screenshots/Video:**
![Screenshot 2020-06-15 at 09 46 58](https://user-images.git

[2020-06-23 09:53] CORPARU commented on #1881
OOPS! SOMETHING WENT WRONG...
Error: Based on the size of this transaction a fee of at least 0.05 GAS is required.
----------------------------------

The error began to repeat again!

I tried to reduce the amount of gas so that it was enough for sending, but it does not help.

[2020-06-23 09:57] CORPARU commented on #1881
I figured it out, it turns out the commission for sending gas has increased

[2020-06-23 09:57] #1881 closed

[2020-06-23 17:10] corollari opened #1974 "Status of neo scan api hosted on neonwallet.com"
Hi, I'm cleaning up monitor.cityofzion.io and found that there's some references to a neo scan api instance on http://testnet-api.neonwallet.com/v2/ which has been inactive for some time now. Are there any future plans for this service or can it be removed from the list of monitored servers?

[2020-07-11 05:25] comountainclimber commented on #1974
Sorry for the delay in responding to this issue... It can be removed from the list of monitored servers 👍 thanks for asking

[2020-07-11 05:25] #1974 closed

[2020-07-11 06:53] corollari commented on #1974
Thanks

[2020-07-28 07:42] yhamry opened #1976 "Failed to send funds using Ledger Nano S"
**Wallet version:**
v2.5.0

**Environment:**
MacOS Mojave (10.14.6)

**Reproduction steps:**
1. Start Neon Wallet
2. Log in using Ledger Wallet
3. Try to send assets on the Send tab.
4. Click on "Send assets without fee"
5. Click on Confirm & Send
6. Transaction fails - A Toast "Transaction Failed: undefined" is shown.

**Screenshots:**
![image](https://user-images.githubusercontent.com/22011158/8

[2020-07-31 10:41] williamting2793 opened #1977 "Error calculating claimable GAS"
Can't claim GAS using the latest version of the wallet. I'm connecting using a Ledger Nano S on windows, there's 2 GAS to claim but I can't, it keeps failing.

**Wallet version or commit SHA:**
2.5.0

**Environment:**
windows

**Reproduction steps:**
1. Start Neon Wallet
2. Click on "Claim GAS" button

**Screenshots/Video:**
![Capture](https://user-images.githubusercontent.com/69038747/89027627-64

[2020-08-01 20:59] Lordsen commented on #1897
+1 also on v2.5.0

[2020-08-02 01:12] user905 commented on #855
Still happening.

Wallet: v2.5.0.
Ledger Nano S, firmware: 1.6.0

[2020-08-02 19:57] Txzus opened #1979 "Cannot claim gas,"
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
v2.5.0

**Environment:**
Win 10 Pro(64 bit) Version 190

[2020-08-03 04:20] josephj11 commented on #1979
This is almost identical to #1977 .

[2020-08-04 00:04] Txzus commented on #1979
The day after I was able to successfully claim GAS (did not do anything), only clicked Claim GAS and it worked.

[2020-08-04 00:04] #1979 closed

[2020-08-09 23:21] hydex86 commented on #1973
+1, same issue with same configuration.

[2020-08-14 22:37] CapitanRedBeard commented on #1973
Also getting this

[2020-08-16 12:41] nicscal commented on #1973
Same issue with the same config

[2020-08-20 05:12] mhui commented on #1976
I tried it later and it worked. Might need to close ledger live too

[2020-08-20 05:12] mhui commented on #1973
I tried it later and it worked. Might need to close ledger live too

[2020-08-23 22:51] jgonfer commented on #1973
I also had the same issue, but tried what @mhui suggested and worked fine! 👍

Just closed `Ledger Live` and `NEON`, and then opened `NEON` again and tried to claim. All good now!

[2020-08-24 04:09] #1973 closed

[2020-08-31 08:38] foochuanyue opened #1980 "Unable to load"
My token Balances and System assets just show. "Failed to load. Retry or select a different node"

[2020-09-03 15:21] lllwvlvwlll opened #1981 "[Feat] Align style with new branding"
This feature covers updating to the templates for light and dark theme to align with the new COZ style guide.

[2020-09-03 15:22] lllwvlvwlll opened #1982 "[Feat] New Features Popup"
On update, users should be presented with a "new features" feed which presents users with new features and also communicates that an update has been installed.

[2020-09-03 15:52] lllwvlvwlll opened #1983 "[Feat] Mobile Wallet Onboarding"
This feature implements the `Mobile App` views to Neon Wallet.

[2020-09-03 15:54] lllwvlvwlll opened #1984 "[Feat] Over the Air Updates"
This feature implements over the air updates for the desktop wallet to improve the end user experience.

[2020-09-03 15:56] lllwvlvwlll opened #1985 "Neon Wallet v2.6.0 Release"
Discussion issue for Neon Wallet v2.6.0

[2020-09-03 16:19] lllwvlvwlll commented on #1985
This release includes the following features:
* Over the air updates (#1984)
* Mobile Wallet Onboarding (#1983)
* "New Features" overlay (#1982)
* Style Alignment (#1981)

[2020-09-12 11:57] samson467 opened #1988 "LOST ALL MY NEO IN NEON WALLET"
Hello

Today I logged in on my NEON wallet after 5 months break. I updated it . I noticed that all of my neo dissapeared. In the activity section there is a transaction of 25 neo sent to the other adress. I am sure that I didn`t make such transaction. I have never shared my private key or any data with anyone.

Does it mean that I my neo have been stolen ?

How was it possible?

Is there antything

[2020-09-12 13:11] MasterIDI commented on #1988
Hello

[2020-09-12 15:56] #1988 closed

[2020-09-30 20:46] AlekseiSmirnov opened #1989 "Issues with connection "Failed to load. Retry or select a different node.""
**Wallet version or commit SHA:**
2.5.0

**Environment:**
macOsCatalina 10.15.6

**Prerequisites:**
Problems with connection "Failed to load. Retry or select a different node."

**Reproduction steps:**
1. Start Neon Wallet
2. Log in to your wallet

I'm trying to transfer NEO from my wallet, but can't perform the transaction as there are some problems with connectivity. As I see from Discord, this

[2020-09-30 22:36] chephren commented on #1989
I have exactly the same issue. please resolve  this problem quickly or anyone with a solution to this, please share. Thanks.

[2020-10-01 13:12] comountainclimber commented on #1989
This should be resolved as of this morning sorry for the issues @chephren and @AlekseiSmirnov !

[2020-10-01 13:12] #1989 closed

[2020-10-03 19:02] atagliata opened #1990 "Missing Code Signature"
Neon just prompted me to download an update. I downloaded, installed, and relaunched the program. I immediately got a warning from Little Snitch (an app that monitors connections to my compouter) that says the "program has no code signature". I have enver seen this warning before, and am somewhat alarmed by it.

I don't if this is a problem unique to me, or if it affects everyone. At any rate, it

[2020-10-06 15:14] lllwvlvwlll opened #1991 "Release announcement for v2.6.0"
This issue will create a marketing release banner for neon v2.6.0.

[2020-10-08 14:56] lllwvlvwlll opened #1993 "V2.6.0 Release Notes"
Release notes and graphic need to be defined for the release which includes:
* Over-The-Air feature updates
* Integrations with Neon Mobile
* Improved notification system
* Design enhancements

@J-G-W can you provide a graphic for the feature release?

[2020-10-08 14:57] lllwvlvwlll commented on #1984
Will need to update CI workflow to push images to S3 on release.

[2020-10-08 15:01] lllwvlvwlll opened #1994 "Revised Desktop Icon"
Neon needs a revised desktop icon that aligns with the new brand.

[2020-10-13 04:47] cosmic-springs opened #1997 "Hi all. I sent 93 ONT from Exodus to my Neon wallet a few months ago, the transaction is showing in the blockchain as completed but it is not showing in my Neon wallet. Any ideas? Transaction hash: 21320c5d3df0b0712f1ed5f6357d079307ad8acbdd137e3a2e0c6126fa433902 Using Catalina OS"
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
e.g.: 0.2.3 or dcae88c

**Environment:**
e.g.: Win 10 H

[2020-10-18 04:12] comountainclimber opened #1999 "New rebranded MacOS install scren"
On MacOS we need mocks for the rebranded installer window see screen shot below

<img width="589" alt="Screen Shot 2020-10-17 at 10 09 47 PM" src="https://user-images.githubusercontent.com/13072035/96358562-c5ea4b00-10c5-11eb-80a0-a9c5dd58ad77.png">

[2020-10-20 11:52] J-G-W commented on #1999
Hey Max, this is what I'm thinking. I haven't used the actual wallet icon as I like the look of the isometric icon, both are synonymous with the brand but might be worth asking the team later. I've also gone for a dark background, let me know if this is a problem. I'm sending the sketch file to you now.
![image](https://user-images.githubusercontent.com/36457062/96582264-edfac980-12d2-11eb-8c06-96

[2020-10-20 12:50] J-G-W commented on #1994
![image](https://user-images.githubusercontent.com/36457062/96588161-33bb9000-12db-11eb-9dc0-c3861de92599.png)

[2020-10-28 11:23] willmeet commented on #524
do you lost your keystore of your android app ?

Then the simple solution >
http://www.technologymanias.com/2020/10/missing-or-lost-keystore-of-your.html

[2020-10-31 05:10] GoannaStew commented on #524
No mate I don’t think so I do not use android and have not lost any fundsj

Regards

[2020-11-02 19:44] #1984 closed

[2020-11-02 19:45] comountainclimber commented on #1990
Will be resolved in release 2.6.0

[2020-11-02 19:45] #1990 closed

[2020-11-02 21:52] #1994 closed

[2020-11-03 14:20] J-G-W commented on #1991
This is the place holder, we will want to update the main screen with relevant data (correct tokens, etc.) and description if someone can advise.

![image](https://user-images.githubusercontent.com/36457062/97996449-af3f3600-1ddf-11eb-9654-e5a99899e9e7.png)

[2020-11-04 14:25] lllwvlvwlll commented on #1991
For Copy:

* Over-The-Air feature updates
* Integrations with Neon Mobile
* Improved notification system
* Design enhancements

Can we also get a small version number on there?  Maybe a water mark in the bottom left?  `v2.6`

[2020-11-07 22:49] #1982 closed

[2020-11-16 00:31] rhinodavid commented on #1897
Same on 2.6.0 OS X

[2020-11-23 19:07] lllwvlvwlll opened #2024 "Register new coz nodes"
This issue covered the addition of three new nodes for Neo2:

* https://mainnet1.neo2.coz.io:443
* https://mainnet2.neo2.coz.io:443
* https://mainnet3.neo2.coz.io:443

[2020-11-24 15:22] tomasdev commented on #1980
Duplicate of #1989 -- should be fixed now.

[2020-11-24 17:40] #1999 closed

[2020-11-24 21:10] #2024 closed

[2020-11-30 17:53] h1tco1n opened #2030 "Impossible to send FLM"
Hi,
I can not send FLM :
"Oops! Something went wrong. Error : a network error has occurred. You don't have enough FLM.

it happens even before the confirmation on Ledger.
I can receive FLM. I can send Neo and Gas.

Thankx

**Wallet version or commit SHA:**
2.6.0

**Environment:**
Win 10 Home (64 bit)

[2020-12-01 01:41] #1993 closed

[2020-12-01 01:41] #1991 closed

[2020-12-01 01:41] #1985 closed

[2020-12-01 01:42] comountainclimber commented on #1980
https://github.com/CityOfZion/neon-wallet/pull/2028

[2020-12-01 01:42] #1980 closed

[2020-12-01 01:42] #1981 closed

[2020-12-01 01:43] comountainclimber commented on #2030
Thanks for opening this @h1tco1n we are taking a look 👀

[2020-12-02 13:44] tt1970 opened #2033 "NEON Wallet not working with the new SWTH on your wallet address"
NEON Wallet not working with the new SWTH on your wallet address
SWTH Contract: 3e09e602eeeb401a2fec8e8ea137d59aae54a139

**Wallet version or commit SHA:**
Version 2.6.1

**Environment:**
Windows 10 Pro for Workstations 2004 build 19041.630

**Prerequisites:**
Have some converted SWTH on Switcheo balance, none in wallet and connect your wallet to switcheo.exchange

**Reproduction steps:**
e.g.:
1.

[2020-12-02 14:32] KZFlyer opened #2034 "Failed to retrieve blockchain information - Ledger wallet"
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
neon wallet - v2.6.1

**Environment:**
Win 10 Pro versi

[2020-12-02 15:10] comountainclimber commented on #2034
Thanks for opening this issue we are actively working on resolving this

[2020-12-02 15:16] comountainclimber commented on #2034
@KZFlyer you should be able to access your balance info...

We will be releasing another patch shortly to handle edge cases breaking balance logic for the SWTH contract sorry for the inconvenience

[2020-12-02 15:16] #2034 closed

[2020-12-02 19:30] h1tco1n commented on #2030
@comountainclimber thank you.
I just downloaded the update 2.6.1 but the problem remains the same.

[2020-12-08 18:46] lllwvlvwlll commented on #2033
This is caused by a non-standard response time (int) from the token contract.  Resolution in Neon wallet will occur after support for NEP5 integer response types are are added to neon.js.
Blocked by https://github.com/CityOfZion/neon-js/issues/641

[2020-12-08 18:48] lllwvlvwlll commented on #1983
@comountainclimber was this view implemented in 2.6 (and disabled) or will it need to be added to 3.0?

[2020-12-10 13:19] happyjas opened #2036 "Cannot get into my neon wallet , old wallet was neon0.2.8.Mac through my Ledger"
[Please](url) complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
e.g.: 0.2.3 or dcae88c

**Environment:**
e.g.: W

[2020-12-16 15:40] kaazedebaaze opened #2038 "send asset without fee"
I have send SWTH from mine NEON wallet to the exchange whit the option, send asset without fee, did not arrived in exchange so is it lost or ther a way to get it back?

[2020-12-17 10:41] MLerasle commented on #1897
If you log in using a Ledger, ensure the Neo app is opened on your device because you will have to sign transactions.

[2020-12-17 21:00] sososoapy opened #2039 "trying to access ledger with neon"
I'm on windows 10 using neon wallet ver2.6.1  I haven't accessed my wallet since 2018 and tried to take a look today and can't seem to get it to load. The steps I've taken are run neon wallet, select ledger on the menu. I open my ledger and select neo. I get the message, "wake up neo" on the ledger and the neon wallet looks like its trying to load but gets stuck on that. I tried using the ledger l

[2020-12-19 02:48] wick55 opened #2040 "Sending ONT into NEON wallet, transaction on the blockchain confirmed but ONT balance unchanged."
Sending ONT into NEON wallet, transaction on the blockchain confirmed but ONT balance unchanged.

https://explorer.ont.io/transaction/3185581bd8e223e24c3490845ddc97e09721da20c871bebd344547de0d85a0c6

Confirmation on the blockchain.
ONT balance in NEON wallet unchanged.

[2020-12-19 02:59] wick55 commented on #1997
I have the same problem.. Confirmed on the blockchain, balance hasn't changed in the NEON wallet.

[2020-12-19 23:25] NEOneedHELP opened #2041 "LEDGER DEVICE ISSUE"
I downloaded the newest version of the NEON wallet - 2.6.1 - and when I went to check out the new wallet all of my coin were missing. Then, I noticed that my public address had completely changed. I use a Ledger device so I then attempted fetching other public address but the list seems to be infinite and I never came across my old address in all of my scanning. What should I do?

**Wallet version

[2020-12-20 05:57] #2041 closed

[2020-12-26 23:24] Coolsmith1980 opened #2042 "EFX Token price displayed in Neon Wallet does not match with market price"
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
Neon Wallet v2.6.1

**Environment:**
e.g.: Win 10 Home

[2021-01-06 04:45] noodles714 commented on #2040
@wick55 Funny thing that it happened to me to and there wasn't much out there for info.  Previous posters said to join discord but that was of no help.

What you need to do is create an O Wallet, take your neon private key and input it into the O Wallet and it will appear there.  The O Wallet is the same as Neon but for ONT.   You can claim gas and/or stake your ONT if you have over 500 for a high

[2021-01-06 05:03] wick55 commented on #2040
Thank you ill check it out. I appreciate the post :)

[2021-01-08 02:04] dtteo opened #2044 "Wallet hacked. Neo transferred out"
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
2.6.1

**Environment:**
Win 10 Home (64 bit) Version 17

[2021-01-08 16:09] PanderMusubi opened #2045 "Segmentation fault 2.6.1 for AppImage and .deb on Pop!_OS 20.10"
**Wallet version or commit SHA:**
2.6.1 and 2.6.0

**Environment:**
Pop!_OS 20.10 (Ubuntu 20.10)

**Prerequisites:**
n/a

**Reproduction steps:**
1. Download AppImage and run it
2. Result is `Segmentation fault (core dumped)`
3. Download and install .deb and run it
4. Result is `Segmentation fault (core dumped)`

Same for Neon.2.6.0.AppImage, however Neon-2.5.0-x86_64.Linux.AppImage does run on th

[2021-01-10 03:28] inspired4fr33 opened #2046 "Neon Sending out Assets."
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
v2.4.0

**Environment:**
MAC OS

**Prerequisites:**
can

[2021-01-12 10:57] GHutch51 opened #2047 "Neon wallet login to ledger - problems"
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
Neon Wallet 2.6.1

**Environment:**
Windows 10

**Prere

[2021-01-12 17:01] DeToxer commented on #2047
I have the same problem. The Neon wallet worked fine the last time i logged in (few months ago). Downloaded v2.6.1 and i am stuck in this blank page indefinitely. Neo team, please address this

[2021-01-12 17:20] GHutch51 commented on #2047
Thanks,

For me the problem also started with the download of the new version 2.6.1.

Good to see others have this issue.

On Tue, Jan 12, 2021 at 5:02 PM DeToxer <notifications@github.com> wrote:

[2021-01-12 18:23] DeToxer commented on #2047
From their support channel in discord they wrote this:
"Try opening your developer tools console in Neon (View->Toggle Developer Tools or Ctrl-Shift-i) and see if there is some error message in the console that might explain why it's not loading the view."

[2021-01-12 20:18] DeToxer commented on #2047
I finally managed to log in.

1. Try to login as you would normally with your ledger.
2. When the Neon Wallet goes blank, close the Neon Wallet and open it again (dont disconnect the ledger)
3. Open Neon Wallet again and navigate to the ledger login option. It will now say that you should navigate to Neo on your ledger and select it. Do that. The Neon Wallet will go blank again. Close Neon wallet

[2021-01-12 21:00] GHutch51 commented on #2047
Hi,

Thanks for the advice - glad you got in.

I tried it, but am still stuck at the  'connect and unlock ledger device'
stage with the 2 spinning arrows.  The Neon wallet does not go blank as you
describe, but just sits with spinning arrows for long time ?

I'll try again tomorrow with all the sequences again.

Not very confidence boosting in the Neon wallet at the moment.

On Tue, Jan 12, 2021 a

[2021-01-12 21:06] DeToxer commented on #2047
So when you type in your PIN in the ledger, the Neon Wallet doesn't go blank?

[2021-01-12 21:11] GHutch51 commented on #2047
Good news solved it just now...

I connected the ledger direct into laptop USB port rather than through an
extension with several different ports on it. They are all Dell devices,
but only works if connecting direct into the lap top and not via extension.

Lesson learnt - confidence in Neon wallet restored.

Thanks for your help with this, much appreciated.

On Tue, Jan 12, 2021 at 9:06 PM DeToxer

[2021-01-12 21:15] DeToxer commented on #2047
It might be some security feature perhaps?
Anways, glad you got in!

[2021-01-15 13:13] Woodehh opened #2050 "Translation error"
**Wallet version or commit SHA:**
2.6.1

**Environment:**
MacOS

**Prerequisites:**
None

**Reproduction steps:**
1. Start Neon Wallet
2. Try to unlock an wallet with the wrong password
3. When not set to English it will show the English description for: `Wrong Password or scrypt parameters!`

**Screenshots/Video:**
<img width="1312" alt="Schermafbeelding 2021-01-15 om 14 13 01" src="https://user-

[2021-01-20 01:44] comountainclimber commented on #2050
Thanks for opening! This error actually comes from within `neon-js` which currently does not support internationalization....

[2021-01-20 19:46] lllwvlvwlll commented on #1906
closing, no longer relevant.

[2021-01-20 19:46] #1906 closed

[2021-01-20 19:48] lllwvlvwlll commented on #1936
@comountainclimber can we close this out?

[2021-01-20 21:30] lllwvlvwlll opened #2055 "Polish in mobile app integration view"
This feature will finalize the mobile integration views for release.

[2021-01-26 22:49] gitinthetrunk opened #2056 "Cant claim gas or send Neo, Mac OS 11.1 (Big Sur)."
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io
<img width="677" alt="Screen Shot 2021-01-26 at 5 36 28 PM" src="https://user-images.githu

[2021-01-28 22:38] lllwvlvwlll opened #2058 "Ledger Nano X"
This is a stub feature for adding Ledger Nano X integration.

Relates to: https://github.com/CityOfZion/neon-wallet-mobile/issues/678

[2021-01-28 22:41] lllwvlvwlll opened #2059 "COZ Unified Login"
This is a feature stub covering SSO-like features for account synchronization across platforms.

Relates to https://github.com/CityOfZion/neon-wallet-mobile/issues/680

[2021-01-28 22:42] lllwvlvwlll opened #2060 "Global Aliasing"
This is a feature stub for global aliasing within the COZ tools.

Relates to https://github.com/CityOfZion/neon-wallet-mobile/issues/681

[2021-01-28 22:45] lllwvlvwlll opened #2061 "Claims"
This is a feature stub that covers the presentation of claims issued against an account.

[2021-01-29 03:37] lllwvlvwlll opened #2062 "Feature to append custom token script hashes"
Users should have the ability to add custom script hashes.

[2021-01-29 03:37] lllwvlvwlll opened #2063 "Update default explorer to dora"
The default explorer in neon wallet should be dora.

[2021-01-29 04:00] steven1227 commented on #2062
Agree. User can add the scriptHash and the symbol if it is not in the default list.

[2021-01-29 04:27] lllwvlvwlll opened #2064 "Register wrapped flamingo tokens"
Currently the wallet does not support wrapped flamingo tokens.  If a user has these in their wallet, they cannot transfer them which is a lock-out feature for a lot of users.  This feature will register the NEP5 wrapped tokens.

Example:

https://dora.coz.io/contract/0xf46719e2d16bf50cddcef9d4bbfece901f73cbb6

[2021-01-29 08:23] kt893 opened #2065 "Cant get into Wallet"
For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
Wallet 2.6.2

**Environment:**
OSX Catalina 10.15.7

Hello, long story short I haven't logged into my neon wallet since February 2018. And having moved several times the papers with pa

[2021-01-31 07:09] steven1227 commented on #2064
Awesome.

[2021-02-02 15:44] lllwvlvwlll opened #2066 "Update pricing approach to query dora as a fallback"
Crypto compare occasionally fails.  This enhancement will update our query logic to use the Dora pricing API as a fallback.

[2021-02-03 03:42] Maet57 commented on #2042
I have the same issue. As of today EFX is $0.028 on the exchanges (2.8cents). But is $0.13 in the NEON wallet (13 cents).
There has to be a glitch somewhere but how do we bring this to the attention of the NEON people?
![EFX Price](https://user-images.githubusercontent.com/78460289/106695057-ea931000-662d-11eb-92d9-591bcec888ae.JPG)

[2021-02-03 04:11] Maet57 commented on #2042
I also have the latest Windows version of NEON Wallet

[2021-02-03 21:41] #1961 closed

[2021-02-03 21:41] #1936 closed

[2021-02-03 21:41] #1919 closed

[2021-02-03 21:41] #1934 closed

[2021-02-03 21:41] #1983 closed

[2021-02-03 21:44] lllwvlvwlll opened #2067 "Global Navigation"
This epic covers implementation of global navigation

[2021-02-03 21:45] lllwvlvwlll opened #2068 "Account Creation and Login"
This epic covers account creation and login

[2021-02-03 21:47] lllwvlvwlll opened #2069 "Create Account View"
This issue covers the design for the account creation view

[2021-02-03 21:59] lllwvlvwlll opened #2070 "Handling of Forgotten Password"
This discussion covers the handling of the forgotten password routine within neon wallet desktop.

Currently I am under the impression that we will NOT have a `forgotten password` feature.

[2021-02-03 21:59] lllwvlvwlll opened #2071 "Migration Path"
This discussion topic covers the migration path from neon v2 to neon v3

[2021-02-04 00:16] #2040 closed

[2021-02-10 19:54] lllwvlvwlll opened #2072 "Portfolio Balance Card"
This epic covers the implementation of the Portfolio Balance Card on the Portfolio view.

[2021-02-10 19:55] lllwvlvwlll opened #2073 "Activity Card"
This epic covers the implementation of the Activity card on the Portfolio view.

[2021-02-10 20:01] lllwvlvwlll opened #2074 "Wallet List Card"
This epic implements the wallet list card in the Wallets view.

[2021-02-10 20:03] lllwvlvwlll opened #2075 "Wallet Balance Card"
This epic implements the Wallet Balance card.  Relates to #2072

[2021-02-10 21:34] lllwvlvwlll opened #2076 "Project Scaffolding"
This issue will cover generic project configuration

[2021-02-10 21:35] lllwvlvwlll opened #2077 "CI/CD"
This task will cover setup of CI/CD.  The tentative plan is to leverage as much of our existing configuration as possible.

[2021-02-10 21:38] lllwvlvwlll opened #2078 "Configure Major Deps"
configures react, redux, and asteroid

[2021-02-10 21:44] lllwvlvwlll opened #2079 "TS Project configuration"
This issue will update the project for typescript including linting, project build etc...

[2021-02-10 21:48] lllwvlvwlll opened #2080 "Login Designs"
This github issue covers the creation of the designs for the account creation and login workflows.

[2021-02-16 01:55] BenAlexanderAU opened #2081 "Deprecation of libappindicator in Debian"
**Environment:**

``$ cat /etc/debian_version && uname -a``
bullseye/sid
Linux zen 5.10.0-3-amd64 #1 SMP Debian 5.10.13-1 (2021-02-06) x86_64 GNU/Linux

**Reproduction steps:**

``$ sudo dpkg -i Neon.2.6.2.deb``
(Reading database ... 81183 files and directories currently installed.)
Preparing to unpack Neon.2.6.2.deb ...
Unpacking neon (2.6.2-7735) over (2.6.2-7735) ...
dpkg: dependency problems p

[2021-02-17 22:31] kidronin commented on #362
there is only one hit for s.getWIFFromPrivateKey for me.

I'm also trying to export my private key because I erroneously sent ONT to my NEON wallet and it isn't supported anymore, even though I can see it on the block explorer.

[2021-02-18 08:01] ixje commented on #362
The "workaround" comment was made years ago. It could very well be that in the latest version there is now only one call to that function. Perhaps try what you see on the first hit

[2021-02-22 06:32] wick55 opened #2082 "Cant send gas out of NEON"
I cant send any Gas out of the Neon Wallet.
Says transaction has failed because the amount is to large for my ledger to sign...
I have tried sending 1 Gas the same issue even with the highest transaction fee...

Anyone else had this issue ?

[2021-02-22 06:37] wick55 commented on #2082
Sorry i can only send 1 Gas at a time.. i have the latest update..

[2021-02-22 07:17] #2082 closed

[2021-02-22 07:18] wick55 commented on #2082
i worked it out hhaha sorry

[2021-02-22 14:27] Hamedpkh commented on #2030
I am having exactly similar problem. Any solutions?

Thanks

[2021-02-22 16:37] h1tco1n commented on #2030
I ended up extracting the private key from my Ledger wallet and imported it into Neoline.

[2021-02-22 16:53] Hamedpkh commented on #2030
Thank you. I'll try it out!

[2021-02-22 17:30] Hamedpkh commented on #2030
Thank you. It worked!

[2021-02-24 21:24] lllwvlvwlll opened #2084 "v2.6.3 Release Banner"
This issue will track against the release banner for v2.6.3
* Neon Mobile Integrations
* Flamingo token support
* Extended use of Dora the Explorer

[2021-02-24 21:52] lllwvlvwlll opened #2085 "Wallet import"
This feature considers how the users will import their legacy wallets (NEP2) into the new wallet format.

[2021-02-24 22:01] lllwvlvwlll opened #2086 "Wallet Backup"
This issue covers implementation of the wallet backup features.  When a user first creates a wallet, they should be prompted to backup their wallet.  They will also need to be presented with a workflow to handle this.

[2021-02-24 22:02] lllwvlvwlll opened #2087 "Designs for wallet backup prompt"
This issue covers the design implementation for wallet backup workflow.

[2021-02-24 22:04] lllwvlvwlll opened #2088 "Password Recovery Workflow"
This issue will cover the workflow considerations for password recovery

[2021-02-24 23:18] lllwvlvwlll opened #2089 "Workflow for UTXO buildup when using a ledger to claim gas"
In some cases, a user is unable to claim gas because of the UTXO buildup on their account.  This feature will automate the transfer workflow to relieve the issue for them automatically.

[2021-02-24 23:19] lllwvlvwlll opened #2090 "Designs for the UTXO buildup workflow"
This issue covers the designs for the Ledger gas claim workaround when a user has UTXO buildup.

[2021-02-25 19:45] beny912 opened #2091 "No confirmation on send or receive"
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
e.g.: 0.2.3 or dcae88c

**Environment:**
e.g.: Win 10 H

[2021-02-25 20:04] beny912 commented on #2091
NEON Wallet 2.6.2 latest version
Win 10 64 bit
GAS tokens in wallet
1. click send
2. Select GAS enter MAX enter public address of receiver
3. Hit Enter
4. Revive message to verify (there is no place to confirm and nothing happens)

![neon](https://user-images.githubusercontent.com/79664149/109210263-39861e00-7772-11eb-86bb-dcfda8e87f44.png)

[2021-02-25 20:04] #2091 closed

[2021-02-26 22:58] beny912 opened #2092 "No option on send for NEON wallet"
NEON wallet version 2.6.2
WIN 10 64 bit
I have GAS tokens

I click select gas
enter amount
enter recipient
hit enter
message says verify correct address
Nothing happens no option to continue

![neon](https://user-images.githubusercontent.com/79664149/109364159-cbb22300-7853-11eb-8ba7-d865f3179033.png)

[2021-03-02 20:18] comountainclimber opened #2094 "Copy update for mobile page"
We need to update the lorem ipsum below:

![Screen Shot 2021-03-02 at 1.16.48 PM.png](https://images.zenhubusercontent.com/60218d1a99afe4b68a456c99/346a6780-e13f-4158-874b-dc973832e2f1)

[2021-03-05 03:28] qvanphong opened #2095 "Replace icon names when hover in Activity"
This isn't a critical or important bugs, it's just a small UI problem.

**Wallet version or commit SHA:**
6.2.6

**Environment:**
Win 10 Home (64 bit)

**Prerequisites:**
Replace icon names to a better status information.
eg: 'Icon/Receive-Dark' -> 'Received'
'Icon/Claim' -> 'Claimed'

**Reproduction steps:**
1. Start Neon Wallet
2. Click on "Activity" button
3. Hover on Icons, they will show text

[2021-03-07 10:33] TOMTOM-NE0 opened #2096 "send neos from neon-save-wallet to ledger - how to do ?"
Hy everybody. I want to transfer my neos from my "save" neon-wallet to the ledger. but somehow i get confused because i cant sent or open both options at the same time, so i guess. anybody solved this problem? if i open save wallet i am not loged in with ledger and the other way around. how can i do it?

Please complete the form below. Any issue added that does not include these details will be cl

[2021-03-08 14:25] comountainclimber commented on #2092
The button to continue is right below the  dialogue and cut off from the screen shot @beny912

<img width="993" alt="Screen Shot 2021-03-08 at 7 25 15 AM" src="https://user-images.githubusercontent.com/13072035/110333945-727a8a00-7fdf-11eb-90b6-c63f310acb18.png">

[2021-03-08 14:25] #2092 closed

[2021-03-12 21:39] nicolaibaralmueller opened #2100 "Transfer AVA to Binance BEP2 MEMO"
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
2.6.2

**Environment:**
Windows 10 Pro

**Issue
How doe

[2021-03-14 03:09] waterunder21 opened #2101 "neon-wallet v2.6.2- Error: A network error has occurred."
**Wallet version or commit SHA:**
Wallet 2.6.2version

**Environment:**
e.g.: MacOS

**Oops! Something went wrong. Error : a network error has occurred. You don't have enough**

**Reproduction steps:**
e.g.:
0. I'm using NeonWallet V2.6.2 connected via Ledger Nano S
1. I'm able to connect to my Neon wallet and see all of my balances.
2. I wanted to Send Tokens to an Exchange
3. When I click confir

[2021-03-14 22:45] #2101 closed

[2021-03-14 22:45] waterunder21 commented on #2101
I used another computer and it worked.

[2021-03-18 19:40] lock9 opened #2103 "NW blank screen after leaving the app open for some time"
**Wallet version or commit SHA:**
2.6.2

**Environment:**
Win 10 Professional (64 bit)

**Reproduction steps:**
e.g.:
1. Start Neon Wallet
2. Minimize the app. Leave it there for one hour (not exactly sure how long, I'll try to investigate)
3. Maximize the app.

Some description (for ex. what happens after completing reproduction steps), e.g.:
The app will display a blank UI

**Screenshots/Video:*

[2021-03-22 09:45] rbndg commented on #2089
I'm encountering this issue, can we please fix this? I'm unable to claim GAS

[2021-04-06 15:21] comountainclimber opened #2107 "Add translations to new mobile export flow"

[2021-04-06 15:21] comountainclimber opened #2108 "Update links in mobile flow to point to the new app / google play store listings"

[2021-04-07 17:17] lllwvlvwlll opened #2109 "Broken links from activity page to dora"
Version: v2.6.2 Windows

On the activity page, slicking `View` on a transaction navigates out of app to:
 `https://dora.coz.io/transaction/{{txid}}`

We have changed the pathing and it should now be:
`https://dora.coz.io/transaction/neo2/mainnet/{{txid}}`

[2021-04-11 04:04] colinjj66 opened #2110 "Cannot send FLM tokens"
Wallet version 2.6.2
Windows 10 Home

Get error when trying to send out FLM tokens.Says OOPS! Something has gone wrong. Also, a red banner flashes for about 2 seconds near the top of the screen that says i have insufficient FLM for this transacton. FLM tokens do display in my wallet, along with price, (but total value of this position does not show in 'Total Market Value' Section.) I am only tryin

[2021-04-11 06:00] #2110 closed

[2021-04-11 17:57] omerverdi opened #2111 "stolen neo coins"
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
e.g.: 0.2.3 or dcae88c

**Environment:**
e.g.: Win 10 H

[2021-04-11 18:00] omerverdi commented on #2111
hi
i am using neon wallet with ledger nano s, i kept my seed words secret, but today my neo coins stolen.
![Ekran Görüntüsü (7)](https://user-images.githubusercontent.com/46425309/114315725-e3deb880-9b08-11eb-9093-ff99578778f4.png)
as u see AbziCLZh5a5BQp165v832knaLzNrjgkLGv address is the address that steal my coins.
can anyone help me

[2021-04-13 15:51] lpaparelli opened #2112 "NEO and GAS tokens disappeared after updating the wallet to its latest version"
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
e.g.: 0.2.3 or dcae88c

**Environment:**
e.g.: Win 10 H

[2021-04-13 16:57] azmigtele opened #2113 "Coins are not visible in the wallet with Ladger Nano X"
Good afternoon. Coins are no longer displayed in the wallet, your link does not work - https://discord.cityofzion.io

**Wallet version or commit SHA:**
e.g.:  v2.6.2

**Environment:**
e.g.: Win 7 64, service pack 1

Playback steps:

I go to my personal account in the software. There are no tokens. On the site, they are displayed that they are in the wallet.

See examples, screenshots
https://neotr

[2021-04-13 17:09] Rumblefish727 commented on #2113
I am having the exact same issue.

[2021-04-13 17:39] azmigtele commented on #2113
Error on the system side, please urgently fix the program or allow you to withdraw coins

[2021-04-13 17:41] comountainclimber commented on #2113
👋 we are actively working on this issue right now thank you for reporting

[2021-04-13 17:44] azmigtele commented on #2113
Super, thank you, we are waiting

[2021-04-13 19:04] pim059 opened #2114 "System Assets - Failed to load"
**Wallet version or commit SHA:**
v2.6.2

**Environment:**
Windows 10 Home (64 bit) Version 20H2 Build 19042.867

**Prerequisites:**
Can't access wallet funds, getting the message under system assets "Failed to load. Retry or select a different node."

**Reproduction steps:**
1. Start Neon Wallet (via Ledger)
2. Login to wallet

I'm trying to access my wallet to check my funds, but it seems to be

[2021-04-13 19:10] ARA1969 commented on #2114
Also having similar issues, logging in using password. NEO and GAS not showing, all other tokens present.

[2021-04-13 19:18] Joy-ks commented on #2114
Hello, same issues for me. NEO ans GAS not showing and also get this message: "Failed to load. Retry or select a different node."
When i try with the web wallet (https://neotracker.io/wallet) funds are there but it is impossible to claim GAS.

[2021-04-14 13:52] comountainclimber commented on #2114
Should be resolved as of yesterday...

[2021-04-14 13:52] #2114 closed

[2021-04-14 13:52] comountainclimber commented on #2113
Should be totally resolved as of yesterday

[2021-04-14 13:52] #2113 closed

[2021-04-16 16:30] phantasticalesh opened #2115 "Can't send GAS from NEON wallet 2.6.2"
Hi

is there still a problem with sending GAS from NEON wallet 2.6.2 to Binance? None of the options work. Whichever FEE option I choose I get this error:

Error: Based on the size of this transaction a fee of at least 0.33546000000000004 GAS is required.

I want to transfer 12 GAS and have 13.5

I don't get it

[2021-04-17 08:15] marshalleq commented on #855
Still happening, latest firmware of Nano S, latest Neon on Mac.  Will see if I can try something other than Neon as suggested above, because apparently in lieu of any care to fix this bug, other apps work.  Would suggest others look to same solution.

[2021-04-18 15:45] EdgeDLT commented on #2115
@phantasticalesh You probably have a lot of GAS UTXOs which are making the transaction size very big, thus needing a high fee. You can use a wallet that allows you to set the higher fee, or build a custom transaction that you sign and send from Neon.

If neither of those options sound appealing, you can also try send yourself a very small amount of GAS. Maybe 0.001 or even less to start. If it goe

[2021-04-18 16:36] phantasticalesh commented on #2115
What exactly is GAS UTXO?

[2021-04-18 17:53] phantasticalesh commented on #2115
I'm testing the strategy of sending 0.01 but that's it. It's the only amount I can send...did it 10 times already. no other amount goes through

[2021-04-18 20:51] EdgeDLT commented on #2115
A [UTXO](https://www.investopedia.com/terms/u/utxo.asp) is an unspent output. You don't really have a single GAS balance, but a number of unspent GAS outputs that combine to equal your total balance. If you have too many, the transaction built using them all will be too big and therefore have a big fee.

If you don't want to pay the fee, sending small transactions until you have consolidated all y

[2021-04-19 15:27] phantasticalesh commented on #2115
Well, after testing 20 times the only amount I can send is 0.001

[2021-04-19 17:10] phantasticalesh commented on #2115
finally, after god knows how many transactions it went through

[2021-04-19 17:10] #2115 closed

[2021-04-24 10:17] f0xterz opened #2116 "Invalid Checksum when trying to restore encrypted key"
I am having issues recovering an old NEON wallet, i have the encrypted key, but when inserted it says "invalid checksum". I am quite sure the key is correct because i used it in the pass to access this wallet multiple times, without any issue. Can someone please explain me if this is due to a wrong key (it doesn't say anything about the key being wrong, just invalid "checksum") or there's another

[2021-04-27 19:37] alex-96-eng commented on #855
+1

[2021-04-28 19:17] ABCaveman opened #2117 "How to access my neo from Neo Wallet v1.22"
Hi, so I haven't accessed my Neo wallet since 2016 or 2017. I was using version 1.22 for the Neo wallet on my phone.
I still have the JSON file for my wallet but it looks like it doesn't work with all the new Neon wallets.

When I log in to the old NEO wallet on my old phone, it also only shows astericks instead of my neo and gas balance.
Is there way for me to access my wallet's balance on the ne

[2021-04-28 19:20] comountainclimber opened #2118 "[N3] - Authentication"
placeholder issue for n3 authentication implementation (parity with existing authentication flow MVP)

Minimum A/C:
- Private key login
- Encrypted key login
- localstorage encrypted key login
- wallet creation

[2021-04-28 19:21] comountainclimber opened #2119 "N3 support"
an epic related to feature parity with n3 chain

[2021-04-28 19:25] comountainclimber opened #2120 "[N3] - Balance info / dashboard implementation"
placeholder issue for loading balance data from the dora API / neoscan

[2021-04-28 19:27] comountainclimber opened #2121 "[N3] - Send tokens"
Placeholder issue for wiring up the components to n3 balance info and being able to perform a transaction

[2021-04-28 19:28] comountainclimber opened #2122 "[N3] - Transaction history"
Placeholder issue for implementing the activity tab (including logic to load 'pending transactions')

[2021-04-28 19:29] comountainclimber opened #2123 "[N3] - Contacts"
Please perform all development work off of the `neon-3-II` branch which includes all the latest n3 code...

A/C:
- When authenticating with the N3 version of Neon, user should be able to use all the features that exist for Neo legacy in the N3 app
- The contacts are totally "fresh" and have nothing to do with existing legacy contacts
- All of the verification we use in the legacy version exists in

[2021-04-28 19:30] comountainclimber opened #2124 "[N3] - node selection / network settings implementation"
placeholder issue for the network settings and options that currently exist in app

[2021-04-28 19:31] comountainclimber opened #2125 "[N3] - Voting"
placeholder issue for implementation of voting UX

[2021-05-05 21:38] licjai commented on #2112
me encentro en un problema no se como resolver los dondos de la cuenta fueron retirados el dia 16 de marzo del presente año, con una extraña red de secuencia en retiros, para poder recuperarlos???

[2021-05-05 21:55] licjai commented on #2112
vor complete el siguiente formulario. Cualquier problema agregado que no incluya estos detalles se cerrará como "información insuficiente".

[2021-05-05 21:55] licjai commented on #2112
https://discord.cityofzion.io no me da acceso

[2021-05-06 16:01] mishyb613 commented on #2121
I am trying to send some neo tokens which are on my ledger but neon wallet keeps coming up with an error.

[2021-05-06 16:15] mishyb613 opened #2126 "Error trying to send tokens"
For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
V2.6.2

**Environment:**
MACBOOK PRO

**Prerequisites:**
CANNOT SEND ANY TOKENS FORM MY WALLET

**Reproduction steps:**

1. Start Neon Wallet
2. SELECT AMOUNT OF NEO TO SEND
2. PRESS S

[2021-05-10 20:06] Denjo159 opened #2132 "Neon Wallet does not show balance - Nothing else to see here!"
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
e.g.: 0.2.3 or dcae88c

--> 2.6.2

**Environment:**
e.g

[2021-05-10 21:44] #2132 closed

[2021-05-13 07:53] Mathias281990 opened #2133 "Neon wallet 0.07 vs tokens on public adress"
Goodmorning all,

I have an issue with the saved wallet I created several years ago. Version is NEON wallet 0.07.

When I log into my saved wallet all my NEON tokens en GAS are zero.

When I search for transactions on my public adress I can see there are still tokens stored in that adress. Can't also see any suspicious transactions my tokens would be stolen or transferred to another wallet.

Anyon

[2021-05-13 14:37] FIn63 commented on #416
This just happened to me 380 NEO lost
$40K lost in NEO
$1K lost in GAS

I sent the NEO to an address on the Ledger Nano S in 2018
I can see it in the blockchain
The address NEONWALLET gives me has changed

I can't find the old address anywhere

Is there anything that can be done????

[2021-05-13 15:16] OrEagle97327 commented on #416
I lost 108 NEO back in December 2017.  Because of the lack of support I
have moved away from holding any NEO at all.

This happens to other assets as well, so I feel the problem is in Ledger
code.  My best guess is a secret Ledger address was created without a
password to access it later.  Your assets are probably still on the Ledger
without the password.

With all the memory in our computers toda

[2021-05-13 18:12] FIn63 commented on #416
Thanks Mel – I doubt that I’ll be able to get my coins back – a lot of people lost coins with the 2018 Ledger firmware upgradeIf I find a solution (I won’t) I’ll let you know   Sent from Mail for Windows 10 From: OrEagleSent: Thursday, May 13, 2021 10:17 AMTo: CityOfZion/neon-walletCc: FIn63; CommentSubject: Re: [CityOfZion/neon-wallet] Neonwallet has changed my public address upon i connect it wi

[2021-05-22 11:51] trackmaxi commented on #2044
Hi, did you get anywhere with this? I had my NEON wallet hacked last year and lost 500 NEO and some other tokens that were in there, and I'd like to see how to follow up getting them back!

Thanks.....

[2021-06-22 22:00] comountainclimber opened #2135 "[wallet connect] - ability to view a list of currently connected dapps"
**Summary**
As a user of neon and wallet connect, I can see a list of all the currently connected dapps to my wallet on the dashboard.

**Designs:**
https://tools.avocode.com/comment/groups/f4aeb93f05d34ff79bcd8c094e302b2c?artboardOriginalId=5A098DC3-BCAA-4CF2-A65A-E77B9F580650&theme=light

**Acceptance criteria:**

In the Wallet page, users should see a new button at the top right corner, called

[2021-06-22 22:03] comountainclimber opened #2136 "[wallet connect] - ability to open and sign transactions in neon"
**Summary**
As a dapp user I want to be able to click a button that opens neon with a transaction ready for me to sign and relay back to the dapp

**Designs:**
1. https://tools.avocode.com/comment/groups/f4aeb93f05d34ff79bcd8c094e302b2c?artboardOriginalId=69AC3925-1026-45C2-91B5-90C4431CFA7D&theme=light

2. https://tools.avocode.com/comment/groups/f4aeb93f05d34ff79bcd8c094e302b2c?artboardOriginalI

[2021-06-23 17:13] thiagocbalducci opened #2137 "[Contacts] Implement improvements to Contact/Address registration process so it properly validates and persists Legacy and N3 records"
As of this moment, the system has no means of properly storing and differentiating Neo Legacy and Neo 3 contacts, even though we already have a version toggle available before logging in.

Our address validation process is also not prepared to validate Neo 3 addresses, currently validating only Neo Legacy addresses, no matter which value is set for our version toggle (Neo 3 or Neo Legacy).

We nee

[2021-06-23 17:55] thiagocbalducci opened #2138 "[Contacts] Implement improvements to Contact/Address listing so that it only presents records related to the Neo Version that is currently set in the app toggle"
As of this moment, the system has no means of properly differentiating Neo Legacy and Neo 3 contacts and addresses, even though we already have a version toggle available before logging in. Because of this, the contact page is always listing Neo Legacy records, even if the toggle is set to Neo 3.

We need to improve our Contact/Address listing process so that, depending on which value is currently

[2021-06-23 18:14] thiagocbalducci opened #2139 "[Contacts] Implement improvements to Dora activity link available for list items, so it directs the user to the appropriate link, as per Neo Version related to that record"
As of this moment, the system has no means of, upon receiving a click in the "Activity" button available for list items in our contact page, differentiating when it should redirect the user to a Neo 3 or Neo Legacy address activity link on Dora, even though we already have a version toggle available before logging in. Because of this, this user is always directed to a Neo Legacy mainNet address ac

[2021-06-25 12:55] melanke commented on #2135
A few more information about this issue that might be interesting:

- Coz already have a React Wallet App that has all features related to Wallet Connect to be used as reference. The main branch is fine, but I am linking this [not-merged branch](https://github.com/CityOfZion/web-wallet/tree/wcsdk) because I've separated the WC logic from other things on it. It uses a copy of a near future WcSdk fo

[2021-07-06 15:58] lllwvlvwlll opened #2147 "NW - [N3] - Ledger Integration"
This enhancement implements Ledger Nano S and X support for Neon desktop using a similar workflow as with Neo Legacy.  This feature is blocked by the Ledger Support initiative which is currently in-progress.

## Terms:
* Supported Hardware Wallets - Refers to the Ledger Nano S and Ledger Nano X hardware wallets
* Application - The Neon Wallet Desktop application

## Feature User Needs:
* UN01 - Th

[2021-07-10 20:16] cedracine commented on #1979
v2.6.2 windows nano X fw & app up to date, same problem for last 2 days, tried to set few different nodes manually, no success.
![neo gas](https://user-images.githubusercontent.com/53321805/125175433-4756b000-e1f6-11eb-8bbe-c1214793393f.JPG)

[2021-07-13 16:39] lllwvlvwlll opened #2148 "NW - Implement N3 migration support"
This feature implements N3 migration support for both keys stored in the wallet and ledger devices. Implementation can be done in parallel to #2147 , but completion is blocked until N3 ledger integration is complete.  The current proposal is to build out native support in Neon Wallet Desktop (as opposed to using WalletConnect or dAPI).

Workflow Link: https://lucid.app/lucidchart/invitations/accep

[2021-07-16 02:20] rssavietto opened #2149 "[wallet connect] - connecting with a dapp"
**Summary**
As a user of neon and wallet connect, I want to be able to connect to a dApp from my neon desktop wallet

**Designs:**
1. https://tools.avocode.com/comment/groups/f4aeb93f05d34ff79bcd8c094e302b2c?artboardOriginalId=69AC3925-1026-45C2-91B5-90C4431CFA7D&theme=light

2. https://tools.avocode.com/comment/groups/f4aeb93f05d34ff79bcd8c094e302b2c?artboardOriginalId=6847B4A0-47D9-47E2-856E-46E

[2021-07-16 08:18] gil commented on #2136
I believe you tagged the wrong person :)

[2021-07-16 17:43] rssavietto opened #2150 "[wallet connect] connecting with a dapp using deeplink"
**Summary**
As a dapp user I want to be able to connect with the wallet using a deeplink

**Designs:**

**Acceptance Criteria:**
- Users should be able to connect the dApp with our wallet, directly from the dApp using a deeplink (similar to a torrent magnet link)

[2021-07-16 19:52] lllwvlvwlll opened #2151 "N3 wallets do not persist on close"
Creating a wallet on the N3 application path (either through create or import) stores the wallet data in memory, but does not persist it to file.  Upon closing the application and opening it again, the wallet is not available from the drop down menu on either side (Neo Legacy or N3) or the application.

**Wallet version or commit SHA:**
v2.7.0

**Environment:**
MacOS BigSur

**Prerequisites:**
Non

[2021-07-27 14:29] rssavietto opened #2156 "NW - Wallet Connect integration"
This feature will implement WalletConnect functionality in Neon Wallet with the goal of allowing dApps to interface and securely request transaction signing from our users. Primary drivers for implementation are to enable wallet utility outside of our application like participating in Neo governance via the governance web portal.

## User Needs
1. The application shall have the ability to digest W

[2021-07-27 14:35] rssavietto opened #2157 "NW - Improvements to Contacts/Addresses to adopt both N3 and Neo Legacy blockchain version"

[2021-07-27 14:44] rssavietto commented on #2148
@picarodias Hi Fred, for now I'm turning this into an Epic as this may include multiple different issues under it. Please coordinate with Tyler if that's how it should be handled or not.

[2021-07-27 14:48] #2071 closed

[2021-07-27 14:48] rssavietto commented on #2071
Hi @lllwvlvwlll , I'm closing this issue as I believe the strategy for Neo Legacy to N3 migration has been already set.
@picarodias fyi

[2021-07-27 14:52] rssavietto commented on #2058
@lllwvlvwlll , @lock9  is this a duplication of #2147 ?
If so, I'd recommend closing this issue and tracking this effort on #2147, as it seems it comprehends the implementation of both ledgers.
@picarodias fyi

[2021-07-27 15:33] rssavietto commented on #2147
Hi @lllwvlvwlll I've tried finding the Ledger Support initiative issue on GitHub but I couldn't, do you have its number ? That way we can se it as a blocker for this one

[2021-07-29 05:07] Imrankshaikh2001 opened #2158 "Neo wallet"
My neo should have come to this address AG4SNT6pji4fxTmLpaccGqYiGD2v5UPeXA

[2021-08-02 16:44] #2151 closed

[2021-08-02 16:47] lllwvlvwlll opened #2159 "Release Banner for Neon Wallet Desktop and Mobile"
Implements a release banner for Neon Wallet Desktop which communicates that it now supports N3 support.

[2021-08-02 17:05] lllwvlvwlll opened #2160 "Update Wallet header to indicate protocol"
Enhances the wallet to add the protocol to the header:
* `Neo Legacy` || `Neo N3`

![image](https://user-images.githubusercontent.com/29798928/127898202-ecb1248b-e3d1-443d-a333-29085da89326.png)

[2021-08-02 17:09] lllwvlvwlll opened #2161 "Enhancements to the handling of fees to support N3 transactions"
Neo Legacy subsidizes transactions fees which allows users to bypass transaction fees in most scenarios.  This enhancement makes changes to the transaction(`send`) view to handle transaction feed calculation and input.

[2021-08-02 17:11] lllwvlvwlll opened #2162 "Wallet Release UAT"
User Acceptance Testing placeholder for N3 feature support.

[2021-08-03 23:52] lllwvlvwlll opened #2169 "Toggling Legacy/N3 does not reset the selected wallet"
If a wallet has been selected in the dropdown, toggling between the networks doesn't clear the wallet selection field on the main page.

Version: v2.7.3
Platform: Windows

[2021-08-03 23:58] lllwvlvwlll opened #2170 "Disable 'Mobile app` tab on N3 side of application"
Currently, the mobile wallet does not support N3.  To minimize user error, we should disable this navigation element on the N3 side of the application.

Version: 2.7.3
OS: Windows

[2021-08-04 00:02] lllwvlvwlll opened #2171 "Mobile App "download" buttons are unresponsive"
The apple and play store icons appear to be disabled.  They should navigate the user to the mobile store for download.

Version: 2.7.3
OS: Windows

[2021-08-04 00:16] lllwvlvwlll opened #2172 "Import wallet automatically goes to Legacy"
When importing a wallet file, the wallet is added to the neo legacy wallet list irrelevant of what the toggle is set to.

[2021-08-08 09:58] necunajevs opened #2176 "TRANSFER PROBLEM"
Hi. I would like send my EFX coins from my NEONWALLET to my Kucoin exchange address, but I can't because Kucoin EFX address ( kucoindoteos ) doesn't work with NEONWALLET and in the wallet no option where I can write MEMO, which one Kucoin exchange need. Could you help me please resolve this problem. I've attached screen shoots and below you can see my conversation with Kucoin team.

![Снимок экран

[2021-08-10 18:14] lllwvlvwlll opened #2178 "N3 side displays Legacy block height"
On the N3 side of the application, the displayed block height is for Neo Legacy.

Expected behavior is to display the N3 block height.

[2021-08-10 18:23] ioannistsil opened #2179 "How to delete saved wallet"
I found there is no delete wallet option in NEON wallet i made a test wallet and i would like to delete it

[2021-08-11 04:06] lllwvlvwlll opened #2181 "Collapse UTXO prior to migration if long"
In the situation where a user has built up a long UTXO chain (typically due to excessive claims), they will run into the following possible issues during migration:
1. Inability to sign transactions on ledger nano S due to hardware memory limitations
2. Inability to invoke the migration smart contract with a transaction fee below the 10 GAS subsidy.

This issue will be used to discuss an implement

[2021-08-11 06:15] superboyiii commented on #2181
1. sign transactions on ledger nano S due to hardware memory limitations

[2021-08-11 06:16] superboyiii commented on #2181
1. sign transactions on ledger nano S due to hardware memory limitations

[2021-08-11 06:28] superboyiii commented on #2181
Issue:
1. Sign transactions on ledger nano S due to hardware memory limitations
2. 1KB free transaction size limit for networkfee, additional length additional payment(tx.size > 1024, 0.001 per byte)
3. Max tx size limit: even some one would like to pay for additional size, he can't make a tx over 100KB.

Solution:
1. Not much amount: try make txs with a little UTXO input (no more than 10 input in

[2021-08-12 18:09] picarodias opened #2182 "Migration GAS Fee not working"
**Wallet version or commit SHA:**
2.7.5

**Environment:**
Win 10

**Prerequisites:**
- An account with enough GAS to cover Migration Fee.
- Some tokens to migrate.

**Reproduction steps:**
- Start Migration
- Try to Migrate less than 10 NEO or less than 20 GAS.
- Migration will not complete and error will show: "Not enough GAS to pay the transaction"

**Screenshots/Video:**

- Error when attemptin

[2021-08-12 18:33] picarodias opened #2183 "Migration History not Showing GAS Migration"
**Wallet version or commit SHA:**
2.7.5

**Environment:**
Win 10

**Prerequisites:**
- An account with GAS to migrate.

**Reproduction steps:**
1. Start Neon Wallet
2. Complete migration of GAS Tokens
3. Transactions won't show on Migration History List

**Screenshot:**
- Only NEO migration transactions show up in the history:
![image.png](https://images.zenhubusercontent.com/60143ce729dc0d5c5b913

[2021-08-12 18:38] picarodias opened #2184 "Migration "Call to Action Button" Missing from Home Screen"
**Wallet version or commit SHA:**
2.7.5

**Environment:**
Win 10

**Description**
There should be a Call to Action Migrate Button at the top of the Home Screen.

**Screenshots/Video:**
![image.png](https://images.zenhubusercontent.com/60143ce729dc0d5c5b91324f/4341cd8a-f376-480e-b17c-40db63ce8a79)e.g.: https://example.com/screenshot.png

[2021-08-12 18:43] picarodias opened #2185 "Migration History Colors unreadable in Light Theme"
**Wallet version or commit SHA:**
2.7.5

**Environment:**
Win 10

**Prerequisites:**
- An account with Migration History transactions to be displayed.

**Description**
The colors for Migration History list in Light Theme are unreadable.

**Screenshots/Video:**
![image.png](https://images.zenhubusercontent.com/60143ce729dc0d5c5b91324f/cbba6692-2592-4471-81d7-ff2bfb5a0224)

[2021-08-12 18:54] picarodias opened #2186 "Migration History transaction list not clear"
**Wallet version or commit SHA:**
2.7.5

**Environment:**
Win 10

**Description**
- It's not clear what the transactions displayed in Migration History list mean.
- There's also a receive icon in the first column that does nothing.

**Screenshots/Video:**
![image.png](https://images.zenhubusercontent.com/60143ce729dc0d5c5b91324f/30ad0df6-1fee-4447-84d6-b0fba5f82a37)

[2021-08-13 00:53] wrhwrhwrhsf opened #2187 "cli version"
when will the cli version of neon be released

[2021-08-13 16:48] thiagocbalducci opened #2188 "Define text to replace existing lorem ipsum in the migration process"
Currently, we have the following screens with temporary text placeholders, we need to define the text that should replace these:

![image.png](https://images.zenhubusercontent.com/605e3b46950e454a2484b7ad/2f23230f-6d1a-4c53-b5c0-6f0e74678657)

![image.png](https://images.zenhubusercontent.com/605e3b46950e454a2484b7ad/a5a16641-ca66-4f8d-8891-be6c28988ee1)

Sketch file with the complete flow:

[http

[2021-08-16 17:25] picarodias opened #2189 "Migration -> N3 Wallet Creation Confirmation Screen"
**Add an extra screen in the migration flow, after the actual creation of the N3 Wallet**

This screen is intended to give the user the opportunity to confirm they have access to the newly created N3 Wallet, ensuring they're safe about where they're migrating their tokens to before proceeding.

**After "Create an N3 Wallet" Screen:**
A confirmation page with the following info:
- Congratulations y

[2021-08-16 17:41] picarodias opened #2190 "Migration -> Confirm Button and Popup"
**Change the "Continue Button" currently in step 2 for a "Confirm Button", and add a popup or page with Migration Transaction details.**

**Confirm Migration Details**
- In step 2, before proceeding with Migation transactions, instead of "Continue", the button should read "Confirm".
- When clicking "Confirm" the user should be presented with a screen or popup, displaying the details of the migrati

[2021-08-17 17:00] picarodias commented on #2189
Wireframes:

https://lucid.app/lucidspark/53903947-25a7-464b-b9c1-ad8079c3b996/edit?referringApp=slack&shared=true#

[2021-08-17 17:00] picarodias commented on #2190
Wireframes:

https://lucid.app/lucidspark/53903947-25a7-464b-b9c1-ad8079c3b996/edit?referringApp=slack&shared=true#

[2021-08-19 17:28] picarodias opened #2191 "Add a remark to tag Neon Wallet Migration transactions."

[2021-08-23 16:41] thiagocbalducci commented on #2188
Seems to have been resolved in the latest build, we will double check and if that's the case, we will close this issue.

[2021-08-24 14:53] hal0x2328 opened #2192 "Encrypt a key option in settings only allows for legacy keys"
**Wallet version or commit SHA:**
e.g.: 2.7.5

**Environment:**
OSX 10.15.4

**Prerequisites:**
None

**Reproduction steps:**
1. Start Neon Wallet
2. Click on "Manage Neon settings" button
3. Click on "Encrypt a key" button
4. Enter a private key and passphrase and click "Generate Encrypted Key"
5. Log out of the current session
6. Switch the network toggle to N3 and try to log in with the newly-g

[2021-08-24 17:05] picarodias opened #2193 "Add a permanent remark to tag every transaction sent with Neon Wallet Desktop."
Neon Wallet Desktop vXX.XX

[2021-08-25 04:49] comountainclimber commented on #2192
Should be fixed in release `2.8.0`

[2021-08-25 04:49] comountainclimber commented on #2189
Feature added to release `2.8.0`

[2021-08-25 04:49] #2189 closed, assigned to comountainclimber, deanragnarok

[2021-08-25 04:49] #2186 closed, assigned to comountainclimber

[2021-08-25 04:49] comountainclimber commented on #2186
Feature added to release 2.8.0

[2021-08-25 04:50] #2188 closed, assigned to deanragnarok

[2021-08-25 04:50] #2191 closed, assigned to comountainclimber

[2021-08-25 04:50] #2190 closed, assigned to comountainclimber, deanragnarok

[2021-08-25 04:50] #2185 closed, assigned to comountainclimber

[2021-08-25 04:51] comountainclimber commented on #2178
Should be fixed in release `2.8.0`

[2021-08-25 18:44] lllwvlvwlll commented on #2178
verified as resolved in v2.8.0

[2021-08-25 18:44] #2178 closed, assigned to nobody

[2021-08-25 19:08] lllwvlvwlll commented on #2193
Resolved in v2.8.0

[2021-08-25 19:08] #2193 closed, assigned to nobody

[2021-08-25 19:57] lllwvlvwlll opened #2197 "Add "window management" features to windows and linux builds"
This feature implements "window management" features for windows and linux builds to align the application with the standard workflows of users.  Specifically, this enhancement will include a `minimize`, `maximize`, and `close` icon in the top-right of the application.

[2021-08-25 19:59] lllwvlvwlll commented on #2192
@hal0x2328 can you verify and close out the issue if the expected behavior is present?

[2021-08-25 20:01] lllwvlvwlll commented on #2181
The selected mitigation for this issue is informational if the migration address has UTXO buildup present.  This has been implemented in v2.8.0.

[2021-08-25 20:01] #2181 closed, assigned to nobody

[2021-08-25 20:17] lllwvlvwlll opened #2198 "Implement N3 migration support for ledger"
This enhancement will implement the ledger migration workflows in Neon Wallet.  This workflow can be accessed when clicking the `migration` icon on the navigation bar when a user has logged in with ledger. This feature will align to and reuse as much of the NEP2/Private Key workflow as possible.

## List of Terms
Supported Hardware Wallet - Nano Ledger S and Nano Ledger X
## User Needs
1. Users sh

[2021-08-25 20:19] lllwvlvwlll commented on #2198
This feature has a `finish-finish` blocked by #2147

[2021-08-25 20:22] lllwvlvwlll commented on #2058
Closing, Issue depreciated and superceded.

[2021-08-25 20:24] lllwvlvwlll commented on #2187
@wrhwrhwrhsf can you clarify your usecase?

[2021-08-25 20:25] lllwvlvwlll commented on #2184
This behavior has been superseded by implementation in the right hand nav bar.

[2021-08-25 20:25] #2184 closed, assigned to comountainclimber

[2021-08-25 20:26] lllwvlvwlll commented on #2183
Resolved in v2.8.0

[2021-08-25 20:26] #2183 closed, assigned to comountainclimber

[2021-08-25 20:26] lllwvlvwlll commented on #2182
resolved in v2.8.0

[2021-08-25 20:26] #2182 closed, assigned to comountainclimber

[2021-08-25 20:28] lllwvlvwlll commented on #2159
resolved

[2021-08-25 20:28] lllwvlvwlll commented on #2172
resolved in v2.8.0

[2021-08-25 22:18] hal0x2328 commented on #2192
Verified fixed.

[2021-08-25 22:18] #2192 closed, assigned to hal0x2328

[2021-08-26 09:41] mfoolady opened #2199 "where is close and minimize button"
**Wallet version or commit SHA:**
2.8.0

**Environment:**
Win 10 (64 bit)

**Prerequisites:**
Where is the close and minimize button????

**Screenshots/Video:**
![image](https://user-images.githubusercontent.com/59839339/130940482-0a05549d-4d57-43d8-b699-76e0ea41d7cd.png)

[2021-08-26 12:28] TechMagy commented on #1937
@EdgeDLT, thank you for your reply. Things have been crazy so it's been a while since I have checked in here. I ran the code above and got back 2427 lines of code with 602 that have values attributed to them. If I understand you correctly, I now need to group these into sets of similar values, e.g. "value": 0.00021294 could be bundled with "value": 0.00021756 and attempt to send a transaction of a

[2021-08-26 12:34] TechMagy commented on #1937
Looks like things are moving again in small amounts. Thank you!

[2021-08-27 09:57] ixje commented on #2147
@lllwvlvwlll To clarify; Is this supposed to co-exist with N2 ledger support? or is this to create a "one of" version that only supports N3 for passing the ledger review?

[2021-08-27 15:45] lllwvlvwlll commented on #2147
@ixje We need to enable the functionality in-parallel to the existing Legacy support. If you are able to add support to the authentication and signing features of the application, @comountainclimber will be able to intercept your work for the migration views.

[2021-08-27 15:48] lllwvlvwlll opened #2200 "[wallet connect] - Wallet Connect Designs"
This issue implements the designs for the Neon Wallet Wallet Connect feature.  Refer to the epic #2156 for relevant requirements and workflow.

[2021-08-27 15:50] lllwvlvwlll commented on #2157
Resolved in v2.7

[2021-08-27 16:17] J-G-W commented on #2200
![WC-01](https://user-images.githubusercontent.com/36457062/131157914-cae8da47-da38-4d08-8558-0eb6ddf980be.jpg)
![WC-02](https://user-images.githubusercontent.com/36457062/131157920-23b8c06b-cf36-4d2a-b4ab-170a5313d953.jpg)
![WC-03](https://user-images.githubusercontent.com/36457062/131157922-f3e0c294-40f3-42e1-8798-e78b6eb132b9.jpg)
![WC-04](https://user-images.githubusercontent.com/36457062/1311

[2021-08-28 11:37] hal0x2328 opened #2201 "Removing N3 wallet removes all legacy wallets"
**Wallet version or commit SHA:**
2.8.0

**Environment:**
OSX 10.15.4

**Prerequisites:**
At least one legacy wallet and more than one N3 wallet

**Reproduction steps:**
1. Start Neon Wallet
2. Log in to the N3 wallet you don't want to remove
3. Click on "Manage Wallets"
4. Click "Edit" on the N3 wallet you're not logged in
5. Click "Remove Wallet"
6. Confirm

After removing the N3 wallet, a toast

[2021-08-28 11:41] hal0x2328 opened #2202 "Feature: Make it possible to select any imported N3 wallet for migration"
When the mass migration starts users will likely want to migrate more tokens to addresses they previously created during the migration process using Neoline or O3, so they should be able to choose from any imported wallet address as the destination.

[2021-08-28 14:53] hal0x2328 opened #2203 "Migration dialog doesn't show the fee for migrating NEP-5 tokens"
**Wallet version or commit SHA:**
2.8.0

**Environment:**
OSX 10.14.5

**Prerequisites:**
Have some CGAS

**Reproduction steps:**
e.g.:
1. Start Neon Wallet
2. Log in to wallet that has some CGAS
3. Create N3 wallet if required
4. Click on "Select tokens to migrate"
5. Choose CGAS as the asset and 0.00000001 as the amount and click "Continue"

The migration dialog shows the transfer details but no

[2021-08-29 15:57] hocuspocus69 opened #2204 "Error Claiming GAS on N3 wallet"
everything ok...

[2021-08-30 12:03] josephj11 commented on #2199
Same problem on Linux. Have to use the desktop  to close the window.

[2021-08-30 20:22] hocuspocus69 opened #2209 "migration GAS never arrived"
everything ok

[2021-08-31 03:01] kinmya commented on #2203
User receives "warning" that GAS is required for migration of the cgas.   v2.8.1  (on Mac app)

[2021-08-31 11:47] #2209 closed, assigned to nobody

[2021-08-31 15:32] crypwalk7 opened #2210 "I can't migrate my GAS"
If I want to migrate GAS, then always comes this message! And yes I have left GAS for the fees! My NEO I have migrated without problems shortly before

I do not quite understand the problem!?

Message:

This migration transaction has an excessive number of UTXO inputs and will require extra GAS in fees. Consider sending all your (GAS|NEO) to yourself first in order to consolidate your UTXOs into a

[2021-08-31 16:11] lllwvlvwlll commented on #2204
@hocuspocus69 can you verify that this is the button you are clicking?  Your 2nd reproduction step does not align with the copy on the interface.

![image](https://user-images.githubusercontent.com/29798928/131538214-382688cb-f868-4013-badc-7b4a9ec36085.png)

[2021-08-31 16:35] J-G-W commented on #2198
![0 2 -ledger flow](https://user-images.githubusercontent.com/36457062/131541703-40e4986c-ea81-4046-b28d-80a051dbc1be.jpg)
![0 3 -ledger flow](https://user-images.githubusercontent.com/36457062/131541710-41141495-f91b-43c5-b969-25cf418d210c.jpg)
![0 4 -ledger flow](https://user-images.githubusercontent.com/36457062/131541713-78e654c8-7e9c-46a9-b349-6c90019462d3.jpg)
![0 5 -ledger flow](https://use

[2021-08-31 19:33] hocuspocus69 commented on #2204
this is the button i clicked today i retry and i can get GAS..

[2021-08-31 19:45] hocuspocus69 opened #2211 "wallet empty behind corporate firewall"
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
2.8.0

**Environment:**
windows 7

**Prerequisites:**
w

[2021-09-01 08:45] mfoolady commented on #2199
fixed with version 2.8.1

[2021-09-01 16:45] #2210 closed, assigned to nobody

[2021-09-01 16:55] lllwvlvwlll commented on #2201
resolved in v2.8.1

[2021-09-01 16:55] #2201 closed, assigned to comountainclimber

[2021-09-01 17:04] lllwvlvwlll opened #2212 "Migration modal review"
This task will include a review and possible revision to the models presented in the migration workflow.

[2021-09-01 17:08] lllwvlvwlll opened #2213 "Enhancement to migration wallet creation model (backup) [Design]"
This enhancement introduces a button on the wallet creation announcement model in the migration workflow which will present users with the "wallet backup" view.

[2021-09-01 17:08] lllwvlvwlll commented on #2213
@J-G-W could you provide a design for this enhancement?

[2021-09-01 17:48] lllwvlvwlll commented on #2200
Modal design for review.  @melanke @hal0x2328, @deanragnarok  do you have any thoughts on this?

fyi @J-G-W
![image](https://user-images.githubusercontent.com/29798928/131739903-ac644972-1701-4e6c-aeb5-c7f829057c0e.png)

@J-G-W for a reference, the fields in the `Request Details` section are referencing the `bidToken` method definition here:
https://dora.coz.io/contract/neo3/mainnet/0xcc638d55d99f

[2021-09-01 17:57] lllwvlvwlll commented on #2119
resolved in v2.7.6

[2021-09-01 17:57] #2119 closed

[2021-09-01 18:13] taanite opened #2214 "Migration tab missing"
migration tab missing on version 2.8.1 connecting to legacy wallet via nano x

[2021-09-01 19:12] taanite commented on #2198
I'm on version 2.8.1 and there is no migration tab on the side?

[2021-09-01 19:37] WilsonFlips commented on #2198
Same here.

[2021-09-01 20:20] lllwvlvwlll commented on #2198
@taanite @WilsonFlips This is an issue for feature implementation.  You will not have these views in v2.8.1 when logged in with a ledger because they have not been released yet.

[2021-09-01 20:22] lllwvlvwlll commented on #2214
Migration support (and the tab) are disabled when authenticating via ledger in v2.8.1 to prevent a poor user experience.  They will be implemented in #2198 and are planned for the next feature release.

[2021-09-01 20:23] #2214 closed, assigned to nobody

[2021-09-01 20:31] lllwvlvwlll opened #2216 "Announcement: Wallet Connect Breaking Change"
As part of the breaking change to the wallet connect, we will need to provide a public communication with the users. This breaking change will effect all existing wallet connect applications and make both aero and neon incompatible.

[2021-09-01 20:33] lllwvlvwlll opened #2217 "Wallet Connect Governance Integration"
This feature is a tracker for integration of Wallet Connect with the Neo N3 governance portal for aligned release with Wallet Connect support in the aero and neon desktop wallets.

[2021-09-01 20:34] lllwvlvwlll commented on #2204
I'm glad everything worked! I will close this issue out as not reproducible.  If the issue arises in the future, please reopen and post the error message you receive. Thanks!

[2021-09-01 20:34] #2204 closed, assigned to nobody

[2021-09-01 20:35] lllwvlvwlll commented on #2197
resolved in v2.8.1

[2021-09-01 20:35] #2197 closed, assigned to J-G-W

[2021-09-01 20:39] lllwvlvwlll commented on #2179
To delete an account, log into a different account, then navigate to `Manage Wallets` in the upper right corner.  You will have the ability to delete a wallet there.
![image](https://user-images.githubusercontent.com/29798928/131741705-b5c969d4-999a-4235-b163-085bcfd0db23.png)

[2021-09-01 20:39] #2179 closed, assigned to nobody

[2021-09-01 20:41] #2169 closed

[2021-09-01 20:41] #2162 closed

[2021-09-01 22:26] taanite commented on #2198
Thanks for the reply. For the Token Migration Incentive Program, the 1% bonus runs from Sept 1st to 14th. Will the migration tab for ledger x be released before the 14th?

[2021-09-02 18:28] lllwvlvwlll commented on #2148
Superceded by #2198

[2021-09-02 18:28] #2148 closed

[2021-09-02 18:31] lllwvlvwlll commented on #2198
@taanite You will have a way to migrate before the 14th with a ledger.

[2021-09-02 18:53] lllwvlvwlll opened #2218 "[N3] - Inability to send tokens"
Please complete the form below. Any issue added that does not include these details will be closed as "not enough information".

For support using the software or concerns about the status of your funds, please go to the #support channel on the NEO Smart Economy Discord Server - https://discord.cityofzion.io

**Wallet version or commit SHA:**
`v2.8.1`

**Environment:**
Win10

**Prerequisites:**
A

[2021-09-02 20:02] josephj11 commented on #2199
Close Window button is there and works in 2.8.1, but it's invisible in dark mode. Had to hover where I thought it should be to find it. Thanks for the fix, but the theme isn't quite right yet.
kubuntu 18.04 Breeze Dark desktop theme.

[2021-09-03 14:25] ixje opened #2219 "ledger panel not resetting when switching chain"
**Wallet version or commit SHA:**
7f262913c98eee5c30a55957ad2c565d733c5845

**Environment:**
linux/osx/windows

**Prerequisites:**
have a ledger

**Reproduction steps:**
e.g.:
1. open Ledger tab in N2 mode
2. open the ledger app such that we get an address
3. now switch to N3 mode. The data in the panel will not be refreshed and shows addresses for the wrong chain.

Same happens if you start with

[2021-09-03 14:27] ixje opened #2220 "ledger panel not recognizing ledger is connected until you open the app"
**Wallet version or commit SHA:**
7f262913c98eee5c30a55957ad2c565d733c5845

**Environment:**
linux/osx/windows

**Prerequisites:**
have a ledger

**Reproduction steps:**
e.g.:
1. open Ledger tab in N23mode
2. connect and unlock ledger (without opening the app).
3. you'll be stuck on the first step of the ledger panel ("connect ledger") until you actually open the app

[2021-09-03 14:28] ixje commented on #2219
The first one is an easy fix

assigned you because you said it was easy :P

[2021-09-03 14:28] ixje commented on #2220
@comountainclimber if you can tell me where the code is that decides if the app is connected or not I might be able to help.

[2021-09-03 14:56] lllwvlvwlll opened #2221 "Release Banner"
This task will cover a release banner for the new release of Neon Wallet which will include N3 ledger support as well as Ledger migration support.  We can use the standard template with the following bullets:

* Implements Ledger Nano S/X support for Neo N3
* Allows Ledger users to migrate from Neo Legacy to Neo N3

[2021-09-03 14:59] comountainclimber opened #2222 "Missing support for n3 ledger GAS claim"

[2021-09-03 15:00] lllwvlvwlll opened #2223 "Ledger Migration is Here Banner"
This task covers the creation of a banner announcing Migration for Ledger users in Neon Wallet.  It can use a special template and should have a bit more celebratory flair than our typical release banners (I am not sure if that helps with direction very well) . :)

[2021-09-03 17:23] lllwvlvwlll commented on #2220
This is reproducible on the legacy size of the application is appear to be a breaking change as a result of ledger firmware updates between `v1.6` and `v2.x`

[2021-09-03 20:28] lllwvlvwlll commented on #2222
resolved

[2021-09-03 20:28] #2222 closed, assigned to nobody

[2021-09-04 15:36] #2220 closed, assigned to lllwvlvwlll

[2021-09-04 20:50] lllwvlvwlll opened #2228 "[Ledger] Enhance Ledger Class"
This enhancement reimplements the feature for fetching additional keys from a ledger device, which was disabled as part of #2219 .
Currently, the authentication interface for ledger is extremely functional, hammering the connection open/close on every request.  This introduces an issue when trying to resolve multiple events at once (like checking ledger status and requesting additional keys).

The